<html lang="en" ng-app="StarterApp">

	<head>
		<meta name="viewport" content="initial-scale=1" />

		<link rel="stylesheet"
		href="lib/base/css/font-awesome.css">
		<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="css/proto.css">
		<link rel="stylesheet" href="lib/base/css/angular-material.min.css">
		<link rel="stylesheet" href="lib/base/css/googleapi.roboto.css">

	</head>
	<body layout="row" ng-controller="AppCtrl">

	

		<div layout="column" class="relative" layout-fill role="main">

			<md-toolbar ng-show="!showSearch">

				<!-- <div class="md-toolbar-tools">
				<md-button ng-click="toggleSidenav('left')" hide-gt-md
				aria-label="Menu"> <ng-md-icon icon="menu"></ng-md-icon>
				</md-button>

				<span flex></span>
				<md-button aria-label="Search" ng-click="showSearch = !showSearch">
				<ng-md-icon icon="search"></ng-md-icon> </md-button>

				<md-button aria-label="Open Settings"
				ng-click="showListBottomSheet($event)"> <ng-md-icon
				icon="more_vert"></ng-md-icon> </md-button>
				</div> -->

				<md-tabs md-stretch-tabs class="md-primary"
				md-selected="data.selectedIndex">
					<md-tab id="tab1"
					aria-controls="tab1-content">
						Home
					</md-tab>
					<md-tab id="tab2"
					aria-controls="tab2-content">
						About
					</md-tab>
				
				</md-tabs>
			</md-toolbar>

			<md-content flex md-scroll-y>
				<ui-view layout="column"
				layout-fill layout-padding>
					<div class="inset" hide-sm></div>
					<ng-switch on="data.selectedIndex" class="tabpanel-container">

		<div role="tabpanel" id="tab1-content" aria-labelledby="tab1"
						ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout-sm="column">
				
					
			<md-card flex-gt-sm="100" flex-gt-md="90">
		 			<md-card-content>
		 			<div layout="row" layout-align="center center">	
				<h1><b>A. P. J. Abdul Kalam Science Quiz Competition</b></h1>
			</div>	
			</md-card-content>
				</md-card>	
					

		<img src="images/images1.jpg" class="md-card-image" alt="image caption" style="width:100%;height:70%;">
			
			

				
			<marquee scrollamount="15" onmouseover='this.stop();' onmouseout='this.start();'>
			<div>
  			<md-grid-list md-cols-sm="1" md-cols-md="1" md-cols-gt-md="8" md-row-height="200px" md-gutter="14px" md-gutter-gt-sm="10px">
       	
    		
    		<md-grid-tile class="yellow" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
    		<img src="images/kalam-quote-01.jpg" alt="image caption" style="width:100%;height:90%;">
    		</md-grid-tile>
      		
      		<md-grid-tile class="yellow" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
    		<img src="images/kalam-quote-02.jpg" alt="image caption" style="width:100%;height:90%;">
    		</md-grid-tile>
    
    		<md-grid-tile class="yellow" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
    		<img src="images/kalam-quote-03.jpg" alt="image caption" style="width:100%;height:90%;">
    		</md-grid-tile>
    	
    		<md-grid-tile class="yellow" md-rowspan="1" md-colspan="2" md-colspan-sm="1">
    		<img src="images/kalam-quote-04.jpg" alt="image caption" style="width:100%;height:90%;">
    		</md-grid-tile>
    		
    		</md-grid-list>
			</div>
			</marquee>

			<md-card flex-gt-sm="100" flex-gt-md="90">
		 	<md-card-content>
			<div layout="row" layout-align="space-around center" layout-sm="column">
			
				<md-card flex-gt-sm="70" flex-gt-md="60">
		 			<md-card-content>
		
					<h1 align="center"><b>Instructions</b></h1>
					<ul>
						<p><li>This Online Quiz Contest program is aimed to encourage children to check their general knowledge and improve their performance & confidence</li></p>
						<p><li>Quiz Questions are arranged randomly on various topics fit in to General Knowledge, Current affairs, sports, History, Science & Technology,Mental ability, Culture, Heritage etc</li></p>
						<p><li>Participants can enter the quiz any number of times and only latest details will taken into the consideration for the contest</li></p>
						<p><li>Quiz questions will be changed once in every two months</li></p>
						<p><li>Winners will be published on this portal page and will be informed by e-mail (if provided).All the participants are requested to fill their correct details and insufficient details will not be taken ino the consideration.</li></p>
						<p><li>This quiz is opened to classes between 3rd class to 10th class only and is divided into three groups. Classes 3rd to 5th considered as one group,6th to 8th considered as second group and classes 9th and 10th considered as third group. All the three groups will have different set of quiz questions and each class carries different time duration.</li></p>
					
					</ul>
					</md-card-content>
				</md-card>	
				
				<md-card flex-gt-sm="50" flex-gt-md="40">
		 			<md-card-content>
		
					
						<form name="userForm"> 
						
						<div>
						<centre><h1><b>Register to participate in Quiz</b></h1></centre>
						</div>
						<div layout layout-sm="column">
							<md-input-container flex>
								 <label>Name</label> <input ng-model="user.firstName" placeholder="Placeholder text">
							 </md-input-container>
						</div>
						<div layout layout-sm="column">
							<md-input-container flex> 
								<label>Email Id</label> <input ng-model="theMax"> 
							</md-input-container>
						 </div>
						 <div layout layout-sm="column">
						 	 <md-input-container flex>
						 	  	<label>Contact no.</label> <input ng-model="user.contactno" placeholder="Placeholder text"> 
							 </md-input-container>
						</div> 
						<md-input-container flex> <label>Address</label> <textarea ng-model="user.message" columns="1" md-maxlength="150"></textarea> 
						</md-input-container> 
						
						<div layout="row" layout-align="center center" >
						<md-button class="md-raised">Submit</md-button>
						</div>
						
						</form> 
  
					
				
					</md-card-content>
				</md-card>	
				
						
			</div>	
			</md-card-content>
				</md-card>			
						

							

			</div>

						<div role="tabpanel" id="tab2-content" aria-labelledby="tab2"
						ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
						layout="column">

						



						</div>	

						
					</ng-switch>
				</ui-view>
				<div style="background-color: grey">
  		<div>2001 - 2015 © apjquiz.in All Rights Reserved.</div>
  		<div>Developed by Protostar Consulting Services</div>
  		</div>
		
			</md-content>
			
		
		
	
	</div>

		<md-toolbar class="md-hue-1" ng-show="showSearch">
			<div class="md-toolbar-tools">

				<md-button ng-click="showSearch = !showSearch" aria-label="Back">
					<ng-md-icon icon="arrow_back"></ng-md-icon>
				</md-button>
				<h3 flex="10">Back</h3>

				<md-input-container md-theme="input" flex>
					<label>&nbsp;</label>
					<input ng-model="search.who" placeholder="enter search">
				</md-input-container>

				<md-button aria-label="Search" ng-click="showSearch = !showSearch">
					<ng-md-icon icon="search"></ng-md-icon>
				</md-button>

				<md-button aria-label="Open Settings"
				ng-click="showListBottomSheet($event)">
					<ng-md-icon
					icon="more_vert"></ng-md-icon>
				</md-button>
			</div>

		</md-toolbar>


		<!-- <!-- Angular Material Dependencies -->

		<script src="lib/base/jquery.min.js"></script>
		<script src="lib/base/bootstrap.min.js"></script>
		<script src="lib/base/angular.min.js"></script>
		<script src="lib/base/angular-animate.min.js"></script>
		<script src="lib/base/angular-route.min.js"></script>
		<script src="lib/base/angular-aria.min.js"></script>
		<script src="lib/base/angular-resource.min.js"></script>
		<script src="lib/base/angular-messages.min.js"></script>
		<script src="lib/base/angular-material.min.js"></script>
		<script src="lib/base/angular-material-icons.min.js"></script>
		
	
		<!-- Index Controller -->
		<script src="index.ctr.js"></script>

	</body>
</html>
