
<h3>
	<u>Account Income</u>
</h3>
<md-content layout-padding>


<div layout layout-sm="column">
<!-- 	<md-input-container flex> <label>From </label> <input
		ng-model="accountIncome.fromDate" placeholder="From Date (dd-mm-yyyy)"
		ng-required="true"> </md-input-container>
	<md-input-container flex> <label>To </label> <input
		ng-model="accountIncome.toDate" placeholder="To Date (dd-mm-yyyy)"
		ng-required="true"> </md-input-container>
 -->		
		<md-datepicker ng-model="accountIncome.fromDate" md-placeholder="Enter From Date"></md-datepicker>	
		
		<md-datepicker ng-model="accountIncome.toDate" md-placeholder="Enter To Date"></md-datepicker>	
</div>


<div layout layout-sm="column">
	<section layout="row" layout-sm="column">
		<md-button class="md-raised md-primary" id="showAccountIncomme"
			ng-click="showAccountIncomme()">Show</md-button>
	</section>
</div>


<div id="allInvoices">
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Account Name" order-by="accountName"></th>
				<th name="Invoice ID" order-by="id"></th>
				<th name="Total" order-by="finalTotal"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="account in invoiceData track by $index | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
				<td>{{account.account.accountName}}</td>
				<td>{{account.id}}</td>
				<td>{{account.finalTotal}}</td>
			</tr>
		</tbody>

	</table>

	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{accounts.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>

<div id="filteredInvoices">
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Account Name" order-by="accountName"></th>
				<th name="Invoice ID" order-by="id"></th>
				<th name="Total" order-by="finalTotal"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="account in income.filteredData | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
				<td>{{account.account.accountName}}</td>
				<td>{{account.id}}</td>
				<td>{{account.finalTotal}}</td>

				<!-- <td>
					<table>
						<tr>
							<md-input-container flex> <input
								ng-model="income.filteredDataIncome" placeholder="Income Total">
							</md-input-container>
						</tr>
					</table>
				</td> -->
			</tr>
		</tbody>

	</table>

Filtered Record Total{{filteredDatatotal}}
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{accounts.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>
<h1>{{filteredDatatotal}}</h1>