
<div ng-cloak>
	<h3 class="md-display-10">Receivables</h3>
	<md-content> <md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Genaral List"> <md-content class="md-padding">
	<!-- <h3 class="md-display-10">Genaral</h3> -->

	<div>
		<section layout="row" layout-align="end end" flex>
			<md-button class="md-raised md-primary"
				ui-sref="account.accountReceivable">ADD NEW</md-button>
		</section>
	</div>
	<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>

	<div>

		<md-data-table-container>
		<table md-data-table md-row-select="selected" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Customer Name" order-by="customerName"></th>
					<th name="Due Date" order-by="invoiceDueDate"></th>
					<th name="Final Total" order-by="finalTotal"></th>
					<th name="Action"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="receivable in receivables | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">

					<td>{{receivable.customer.firstName}}</td>
					<td>{{receivable.invoiceDueDate | formatDate}}</td>
					<td>{{receivable.finalTotal}}</td>
					<td><section layout="row" layout-sm="column">
							<md-button class="md-raised md-primary"
								ui-sref="account.accountReceivable({selectedReceivableId: receivable.id})">
							Edit</md-button>
				</tr>
				<table>
					<tr>
						<td>Total : {{totalReceivable}}</td>

					</tr>
				</table>
			</tbody>
		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{receivables.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>
	</div>


	</md-content> </md-tab> <md-tab label="Date Wise"> <md-content class="md-padding">
	<!-- 	<h3 class="md-display-10">Day</h3> -->
	<div>

		<div layout layout-sm="column">
			<!-- 			<md-input-container flex> <label>Enter
				Date </label> <input ng-model="ReceivablesAtDate.atDate"
				placeholder="Enter Date" ng-required="true"> </md-input-container>
 -->
			<md-datepicker flex ng-model="atDate" md-placeholder="Select Date"></md-datepicker>
		</div>
		<div layout layout-sm="column">
			<section layout="row" layout-sm="column">
				<md-button class="md-raised md-primary" id="showReceivables"
					ng-click="getByDate(atDate)">Show</md-button>
			</section>
		</div>
		<md-data-table-container>
		<table md-data-table md-row-select="selected" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>

					<th name="Customer Name" order-by="customerName"></th>
					<th name="Due Date" order-by="invoiceDueDate"></th>
					<th name="Final Total" order-by="finalTotal"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="receivable in filteredListByDate | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">

					<td>{{receivable.customer.firstName}}</td>
					<td>{{receivable.invoiceDueDate | formatDate}}</td>
					<td>{{receivable.finalTotal}}</td>
				</tr>
				<table>
					<tr>
						<td>Total : {{totalReceivable}}</td>

					</tr>
				</table>
			</tbody>
		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{filteredListByDate.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>
	</div>
	</md-content> </md-tab> <md-tab label="Month Wise"> <md-content class="md-padding">
	<!-- 	<h3 class="md-display-10">Month</h3> -->
	<div>

		<div>
			<md-input-container flex> <md-select
				ng-model="month" placeholder="Select Month"
				ng-change="MonthsddlChange($index ,month)"> <md-option
				ng-value="month" ng-repeat="month in months">{{month }}</md-option>
			</md-select> </md-input-container>
		</div>

		<div layout layout-sm="column">
			<section layout="row" layout-sm="column">
				<md-button class="md-raised md-primary" id="getByMonth"
					ng-click="getByMonth(month)">Show</md-button>
			</section>
		</div>

		<md-data-table-container>
		<table md-data-table md-row-select="selected" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Invoice ID" order-by="id"></th>
					<th name="Customer Name" order-by="customerName"></th>
					<th name="Due Date" order-by="invoiceDueDate"></th>
					<th name="Final Total" order-by="finalTotal"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="receivable in filteredReceivablesMonth | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
					<td>{{receivable.id}}</td>
					<td>{{receivable.customer.firstName}}</td>
					<td>{{receivable.invoiceDueDate}}</td>
					<td>{{receivable.finalTotal}}</td>
				</tr>
				<table>
					<tr>
						<td>Total : {{totalReceivable}}</td>

					</tr>
				</table>
			</tbody>
		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{filteredReceivablesMonth.length}}
			md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
	</div>

	</md-content> </md-tab> <md-tab label="Between Two Dates"> <md-content
		class="md-padding"> <!-- 	<h3 class="md-display-10">Month</h3> -->
	<div>
		<div>
			<md-datepicker ng-model="from" md-placeholder="Select Date"></md-datepicker>

			<md-datepicker ng-model="to" md-placeholder="Select Date"></md-datepicker>
		</div>

		<div layout layout-sm="column">
			<section layout="row" layout-sm="column">
				<md-button class="md-raised md-primary" id="showReceivablesByMonth"
					ng-click="getBetweenTwoDates(from,to)">Show</md-button>
			</section>
		</div>
		<span style="color: red">{{errorMsg}}</span>
		<md-data-table-container>
		<table md-data-table md-row-select="selected" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Invoice ID" order-by="id"></th>
					<th name="Customer Name" order-by="customerName"></th>
					<th name="Final Total" order-by="finalTotal"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="payble in fRBetweenTwoDates | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
					<td>{{payble.id}}</td>
					<td>{{payble.customer.firstName}}</td>
					<td>{{payble.finalTotal}}</td>
				</tr>
			</tbody>
		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{fRBetweenTwoDates.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>
	</div>
	</md-content> </md-tab> </md-tabs> </md-content>

</div>
