
<md-content layout-padding>
<h3>
	<u>Create Account Receivable</u>
</h3>
<form name="payableForm">

	<h3>Account Receivable</h3>
	<div layout="row" layout-xs="column">

<!-- 		Customer Name:
		<md-input-container flex> <md-select
			ng-model="accountReveivable.customer" placeholder="Customer Name"
			ng-change="CustomerddlChange($index, selectedcustomerName)">
		<md-option ng-value="accountReveivable"
			ng-repeat="accountReveivable in customersforaccount">{{accountReveivable.customerName
		}}</md-option> </md-select> </md-input-container>
 -->
 
 	<md-autocomplete flex required
				md-input-name="autocompleteField"
				md-input-minlength="2"
				md-input-maxlength="18"
				md-no-cache=true
				md-selected-item="accountReveivable.customer"
				md-search-text="searchTextInput"
				md-items="item in querySearch(searchTextInput)"
				md-item-text="item.firstName"
				md-floating-label="Customer Name">
					<md-item-template>
						<span md-highlight-text="searchTextInput">{{item.firstName}}</span>
					</md-item-template>
					<div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
						<div ng-message="required">
							You <b>must</b> have a favorite state.
						</div>
						<div ng-message="minlength">
							Your entry is not long enough.
						</div>
						<div ng-message="maxlength">
							Your entry is too long.
						</div>
					</div>
				</md-autocomplete>
					
		<md-input-container flex> <label>Customer
			Email Id </label> <input ng-model="accountReveivable.customer.email"> </md-input-container>

		<md-input-container flex> <label>Mobile
			No. </label> <input ng-model="accountReveivable.customer.mobile" >
		</md-input-container>
		
		   		<md-datepicker flex ng-model="accountReveivable.receivableDate" md-placeholder="Recievable Date"></md-datepicker>	
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Invoice
			ID </label> <input ng-model="accountReveivable.invoiceId"> </md-input-container>
<!-- 
		<md-input-container flex> <label>Invoice
			Date </label> <input ng-model="accountReveivable.invoiceDate"> </md-input-container>
 -->
   		<md-datepicker flex ng-model="accountReveivable.invoiceDate" md-placeholder="Invoice Date"></md-datepicker>	
   	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Amount
			 </label> <input ng-model="accountReveivable.finalTotal">
		</md-input-container>

<!-- 		<md-input-container flex> <label>Due Date
			 </label> <input ng-model="accountReveivable.invoiceDueDate">
		</md-input-container>
 -->
    		<md-datepicker flex ng-model="accountReveivable.invoiceDueDate" md-placeholder="Invoice Due Date"></md-datepicker>	
    </div>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised md-primary"
			ng-disabled="custForm.$invalid" ng-click="addReceivable()">Add</md-button>
	</section>
</form>
</md-content>
