
<md-content layout-padding>

<h3 class="md-headline" ng-hide="accountReveivable.id">
	<b>Add Account Receivable</b>
</h3>
<h3 class="md-headline" ng-show="accountReveivable.id">
	<b>Edit Account Receivable</b>
</h3>
<form name="receivableForm">
[<span style="color: red;">Field Marked as asterik (*) are
		mandetory</span>]

	<div layout="row" layout-xs="column">
		<div layout="row" flex>
<!-- 		Customer Name:
		<md-input-container flex> <md-select
			ng-model="accountReveivable.customer" placeholder="Customer Name"
			ng-change="CustomerddlChange($index, selectedcustomerName)">
		<md-option ng-value="accountReveivable"
			ng-repeat="accountReveivable in customersforaccount">{{accountReveivable.customerName
		}}</md-option> </md-select> </md-input-container>
 -->
 			<span style="color: red;">*</span>
						
			<md-autocomplete flex required ng-model="accountReveivable.customer"
				md-input-name="autocompleteField" md-input-minlength="2"
				md-input-maxlength="18" md-no-cache=true
				md-selected-item="accountReveivable.customer"
				md-search-text="searchTextInput"
				md-items="item in querySearch(searchTextInput)"
				md-item-text="item.firstName" md-floating-label="Customer Name">
			<md-item-template> <span
				md-highlight-text="searchTextInput">{{item.firstName}}</span> </md-item-template>
			<div ng-messages="receivableForm.autocompleteField.$error"
				ng-if="receivableForm.autocompleteField.$touched">
				<div ng-message="required">
					You <b>must</b> have to enter Customer Name.
				</div>
				<div ng-message="minlength">Your entry is not long enough.</div>
				<div ng-message="maxlength">Your entry is too long.</div>
			</div>
			</md-autocomplete>
 					<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
				ng-click="addCustomer()" class="name"
				style="color: Green; height: 40px; width: 40px"></md-icon>
		</div>
		<md-input-container flex> <label>Customer
			Email Id </label> <input ng-model="accountReveivable.customer.email" disabled="disabled"> </md-input-container>

		<md-input-container flex> <label>Mobile
			No. </label> <input ng-model="accountReveivable.customer.mobile" disabled="disabled">
		</md-input-container>
		
<!-- 		   		<md-datepicker flex ng-model="accountReveivable.receivableDate" md-placeholder="Recievable Date"></md-datepicker>	 -->
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Invoice
			ID </label> <input ng-model="accountReveivable.invoiceId"> </md-input-container>
<!-- 
		<md-input-container flex> <label>Invoice
			Date </label> <input ng-model="accountReveivable.invoiceDate"> </md-input-container>
 -->
   		<md-datepicker flex ng-model="accountReveivable.invoiceDate" md-placeholder="Invoice Date"></md-datepicker>	
   	</div>

	<div layout="row" layout-xs="column">
<!-- 		<md-input-container flex> <label>Amount
			 </label> <input ng-model="accountReveivable.finalTotal">
		</md-input-container>
 -->		
		
				<md-input-container flex> <label>Amount <span
			style="color: red;">*</span>
		</label> <input ng-model="accountReveivable.finalTotal" name="finalTotal"
			ng-required="true">

		<div ng-messages="receivableForm.finalTotal.$error"
			ng-if="receivableForm.finalTotal.$submitted || receivableForm.finalTotal.$touched">
			<div ng-message="required">Please Enter Amount</div>
		</div>
		</md-input-container>

<!-- 		<md-input-container flex> <label>Due Date
			 </label> <input ng-model="accountReveivable.invoiceDueDate">
		</md-input-container>
 -->
    		<md-datepicker flex ng-model="accountReveivable.invoiceDueDate" md-placeholder="Invoice Due Date"></md-datepicker>	
    </div>

	<section layout="row" layout-sm="column" layout-align="left left"  ng-hide="accountReveivable.id">
		<md-button class="md-raised md-primary"
			ng-disabled="receivableForm.$invalid" ng-click="addReceivable()">Add</md-button>
	</section>
	
	<section layout="row" layout-sm="column" layout-align="left left" ng-hide="true" ng-show="accountReveivable.id">
		<md-button class="md-raised md-primary"
			ng-disabled="receivableForm.$invalid" ng-click="addReceivable()">Update</md-button>
	</section>
</form>
</md-content>
