<md-content>
<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>

				<section layout="row">

					<md-button ui-sref="student.add" class="md-icon-button"
						aria-label="More" ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

				</section>
			</div>

			<!-- Right Navigation Pane -->
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light"> <!--<h1 class="md-toolbar-tools">Sidenav Right</h1>-->
			</md-toolbar> <md-content layout-padding> <md-button
				ng-click="close()" class="md-primary"> Close Sidenav </md-button>

			<p hide-md show-gt-md>This shows the selected module
				links/actions.</p>

			<md-button href="customer.add" ng-click="close()" class="md-primary">
			Add Customer </md-button> <md-button href="customer.list" ng-click="close()"
				class="md-primary"> Customer List </md-button> </md-content> </md-sidenav>
		</section>

	</div>
	


	<div ui-view>This is a default page for stock module!</div>
	<!-- We'll also add some navigation: -->

	 <md-button ui-sref="account.accountAdd" class="md-primary">
	Add Account </md-button>
	 <md-button ui-sref="account.accountList" class="md-primary">
	Account List</md-button>
		 <md-button ui-sref="account.accountIncome" class="md-primary">
	Account Income By Dates</md-button>

	 <md-button ui-sref="account.accountPayable" class="md-primary">
	Account Payable</md-button>
	 <md-button ui-sref="account.accountPayableList" class="md-primary">
	Account PayableList</md-button>
		 <md-button ui-sref="account.accountReceivable" class="md-primary">
	Account Receivable</md-button>
	 <md-button ui-sref="account.accountReceivableList" class="md-primary">
	Account Receivable List</md-button>
</div>
</md-content>