
<md-content layout-padding>
<h3>
	<u>Account List</u>
</h3>
<!-- <div>
	<section layout="row" layout-align="end end" flex>
		<md-button class="md-raised md-primary" ng-click="back()">ADD
		NEW</md-button>
	</section>
</div>
 -->
<div layout layout-sm="column">
	<md-input-container flex> <label>Search</label> <input
		ng-model="searchText"> </md-input-container>
</div>
<div>
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Account Name" order-by="accountName"></th>
				<th name="Account No" order-by="accountNo"></th>
				<th name="Description" order-by="description"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="account in accounts | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">

				<td>{{account.accountName}}</td>
				<td>{{account.accountNo}}</td>
				<td>{{account.description}}</td>

				<td><section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="account.accountAdd({selectedAccountId: account.id})">
						Edit</md-button>
					</section></td>
				<td>
			</tr>

		</tbody>
	</table>

	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{accounts.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>