
<md-content layout-padding>
<h3>
	<u>Create Account Payable</u>
</h3>
<form name="payableForm">

	<h3>Account Payables</h3>
	<div layout="row" layout-xs="column">

<!-- 		Customer Name:
		<md-input-container flex> <md-select
			ng-model="accountPayable.customer" placeholder="Customer Name"
			ng-change="CustomerddlChange($index, selectedcustomerName)">
		<md-option ng-value="accountPayable"
			ng-repeat="accountPayable in customersforPayable">{{accountPayable.customerName
		}}</md-option> </md-select> </md-input-container>
 -->
 
 				<md-autocomplete flex required
				md-input-name="autocompleteField"
				md-input-minlength="2"
				md-input-maxlength="18"
				md-no-cache=true
				md-selected-item="accountPayable.customer"
				md-search-text="searchTextInput"
				md-items="item in querySearch(searchTextInput)"
				md-item-text="item.firstName"
				md-floating-label="Customer Name">
					<md-item-template>
						<span md-highlight-text="searchTextInput">{{item.firstName}}</span>
					</md-item-template>
					<div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
						<div ng-message="required">
							You <b>must</b> have a favorite state.
						</div>
						<div ng-message="minlength">
							Your entry is not long enough.
						</div>
						<div ng-message="maxlength">
							Your entry is too long.
						</div>
					</div>
				</md-autocomplete>
				
		<md-input-container flex> <label>Customer
			Email Id </label> <input ng-model="accountPayable.customer.email" disabled>
		</md-input-container>

		<md-input-container flex> <label>Mobile
			No.</label> <input ng-model="accountPayable.customer.mobile" disabled>
		</md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Invoice
			ID </label> <input ng-model="accountPayable.invoiceId"> </md-input-container>

<!-- 		<md-input-container flex> <label>Invoice
			Date </label> <input ng-model="accountPayable.invoiceDate"> </md-input-container>
 -->
 		Invoice Date:<md-datepicker flex ng-model="accountPayable.invoiceDate" md-placeholder="Select Date" ></md-datepicker>	
 	</div>

	<div layout="row" layout-xs="column">

		<md-input-container flex> <label>Amount
		 <span style="color: red;">*</span>
		</label> <input ng-model="accountPayable.finalTotal" name="finalTotal"
			ng-required="true" minlength="3">

		<div ng-messages="payableForm.finalTotal.$error"
			ng-if="payableForm.finalTotal.$submitted || payableForm.finalTotal.$touched">
			<div ng-message="required">Please Enter Amount</div>
		</div>
		</md-input-container>
<!-- 
		<md-input-container flex> <label>Invoice
			Due Date </label> <input ng-model="accountPayable.invoiceDueDate"> </md-input-container>
 -->
 		Invoice Due Date:<md-datepicker flex ng-model="accountPayable.invoiceDueDate" md-placeholder="Select Date"></md-datepicker>	
 	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Purchase
			Order ID </label> <input ng-model="accountPayable.purchaseOrderId"> </md-input-container>

<!-- 		<md-input-container flex> <label>Purchase
			Due Date </label> <input ng-model="accountPayable.purchaseOrderDate">
		</md-input-container>
 -->
 
  		PO Due Date:<md-datepicker flex ng-model="accountPayable.purchaseOrderDate" md-placeholder="Select Date" ng-required="false"></md-datepicker>	
  	</div>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised md-primary"
			ng-disabled="payableForm.$invalid" ng-click="addPayable()">Add</md-button>
	</section>
	[<span style="color: red;">Field Marked as asterik (*) are
		mandetory</span>]
</form>
</md-content>
