<section >
	<md-content layout-padding>
	
		
			<div layout="column" layout-align="centre centre" layout-wrap>
				<div  ng-repeat="item in Test.questions ">
					<div>
						<md-content flex layout-padding>
						<p>
							<b ng-bind-html="+ (item.quesId) +')'+ item.description"></b>
						</p>
						</md-content>
					</div>

					 <div>
					<p>Selected Value: <span class="radioValue">{{group1}}</span> </p>
				    <md-radio-group ng-model="group1">
				      <md-radio-button value="{{item.option1}}" class="md-primary">{{item.option1}}</md-radio-button>
				      <md-radio-button value="{{item.option2}}" class="md-primary"> {{item.option2}} </md-radio-button>
				      <md-radio-button value="{{item.option3}}" class="md-primary">{{item.option3}}</md-radio-button>
				      <md-radio-button value="{{item.option4}}" class="md-primary">{{item.option4}}</md-radio-button>
				    </md-radio-group>
				</div>
				</div>
			</div>

	</md-content>
</section>

