
<md-content layout-padding>
<div id="invoiceDiv">
	<form name="pOForm">
		[<span style="color: red;">Field Marked as asterik (*) are
			mandetory</span>]
		<div>
			<h3>
				<u>Purchase Order</u>
			</h3>
			<div layout="row" layout-align="center start"
				style="margin-top: 20px; margin-bottom: 20px;">
				<md-divider flex></md-divider>
			</div>

			<div layout="row" layout-xs="column">
				<div layout="row" flex>
					<span style="color: red;">*</span>
					<md-autocomplete flex required md-input-name="autocompleteField"
						md-input-minlength="2" md-input-maxlength="18" md-no-cache=true
						md-selected-item="pOObjEdit.supplier"
						md-search-text="searchTextInput"
						md-items="item in querySearch(searchTextInput)"
						md-item-text="item.supplierName" md-floating-label="Supplier Name">
					<md-item-template> <span
						md-highlight-text="searchTextInput">{{item.supplierName}}</span> </md-item-template>
					<div ng-messages="searchForm.autocompleteField.$error"
						ng-if="searchForm.autocompleteField.$touched">
						<div ng-message="required">
							You <b>must</b> have to enter Supplier Name.
						</div>
						<div ng-message="minlength">Your entry is not long enough.</div>
						<div ng-message="maxlength">Your entry is too long.</div>
					</div>
					</md-autocomplete>
					<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
						ng-click="addSupplier()" class="name"
						style="color: Green; height: 35px; width: 35px"></md-icon>

				</div>

				<span style="color: red;">*</span>
				<md-datepicker flex ng-model="pOObjEdit.poDueDate"
					md-placeholder="Select Due Date"></md-datepicker>
			</div>

			<div layout="row" layout-xs="column">
				<md-input-container flex> <label>To </label> <textarea
					ng-model="pOObjEdit.to" rows="4" cols="1"></textarea> </md-input-container>

				<md-input-container flex> <label>Ship
					To </label> <textarea ng-model="pOObjEdit.shipTo" rows="4" cols="1"></textarea>
				</md-input-container>
			</div>

			<div layout="row" layout-xs="column">

				<md-input-container flex> <label>Requisitioner
				</label> <input ng-model="pOObjEdit.requisitioner"> </md-input-container>

				<md-input-container flex> <label>Shipped
					Via </label> <input ng-model="pOObjEdit.shippedVia"> </md-input-container>
			</div>
			<div layout="row" layout-xs="column">
				<md-input-container flex> <label>F.O.B.Point
				</label> <input ng-model="pOObjEdit.fOBPoint"> </md-input-container>

				<md-input-container flex> <label>Terms
				</label> <input ng-model="pOObjEdit.terms"> </md-input-container>
			</div>

		</div>
		<div layout="row" layout-align="center start"
			style="margin-top: 20px; margin-bottom: 20px;">
			<md-divider flex></md-divider>
		</div>
		<span style="color: red">{{errorMsg}}</span>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Sr_No"></th>
					<th name="Item Name"></th>
					<th name="Quantity"></th>
					<th name="Price"></th>
					<th name="Total"></th>
					<th name="Actions"></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in pOObjEdit.pOLineItemList">

					<td>{{ item.srNo }}</td>

					<td><md-input-container flex> <md-select
							ng-model="selectedStockItem" placeholder="Item Name"
							ng-change="lineItemStockChange($index, selectedStockItem)">
						<md-option ng-value="item" ng-repeat="item in stockforPO">{{item.itemName
						}}</md-option> </md-select> </md-input-container></td>

					<td><md-input-container flex> <label>Quantity
						</label> <input ng-model="item.qty" type="number"
							ng-change="calSubTotal()"> </md-input-container></td>
					<td><md-input-container flex> <label>Price
						</label> <input ng-model="item.price" ng-change="calSubTotal()"></md-input-container></td>
					<td>  <b>{{item.qty * item.price}} </b></td>
					<td>
						<section layout="row" layout-sm="column">
							<md-button class="md-raised md-primary"
								ng-click="removeItem($index)">Remove Item</md-button>

						</section>

					</td>

				</tr>
				<tr>
					<td><span style="color: red;">*</span>
						<section layout="row" layout-sm="column" layout-align="left left">
							<md-button class="md-raised md-primary" ng-click="addItem()">Add
							Item</md-button>

						</section></td>
					<td></td>
					<td></td>
					<td><label><u>Sub Total</u> </label></td>
					<td><md-input-container flex> <b>{{pOObjEdit.subTotal}}</b>
						</md-input-container></td>
				</tr>
				<tr>
					<td><label><u>Tax Details</u> </label></td>
					<td></td>
					<td><md-input-container flex> <md-select
							ng-model="selectedTaxItem"
							placeholder="Tax Type"
							ng-change="lineItemTaxChange($index, selectedTaxItem)">

						<md-option ng-value="taxValue" ng-repeat="taxValue in taxforPO" ng-selected="taxValue.taxCodeName">{{taxValue.taxCodeName}}</md-option>
						</md-select> </md-input-container>						
						</td>

					<td> <label>Tax
						</label> <b> {{pOObjEdit.selectedTaxItem.taxPercenatge}}% </b> </td>

					<td><md-input-container flex> <b>{{pOObjEdit.taxTotal}}</b>
						</md-input-container></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Final Total</u> </label></td>
					<td><md-input-container flex> <b>
							{{pOObjEdit.finalTotal}}</b> </md-input-container></td>
				</tr>
				<tr>
					<td></td>

				</tr>
			</tbody>
		</table>

		<div layout layout-sm="column">
			<section layout="row" layout-sm="column">
				<md-button class="md-raised md-primary" id="updatePurchaseOrder"
					ng-disabled="pOForm.$invalid" ng-click="updatePurchaseOrder()">Update PO
				</md-button>
			</section>
		</div>
	</form>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe> </md-content>