<div class="md-toolbar-tools">
	<span flex></span>
	<!--<md-card>-->
	<section layout="row">

		<md-button class="md-icon-button md-accent"
			ng-click="printDiv('purchaseOerdeDiv')" aria-label="Favorite">
		<md-icon md-svg-icon="img/icons/print.svg"></md-icon> </md-button>

	</section>
	<!--</md-card>-->
</div>
</md-content>
<md-content>
<div id="purchaseOerdeDiv">
		<table ng-show="myValue" class="ng-hide">
			<tbody>
				<tr><td style="width: 20%"><img alt="Logo" src="img/images/protostar_logo_pix_313_132.jpg"></td>
					<td style="width: 60%">
						<h2 style= "color:green">Protostar Consulting Services</h2>						
					</td>
					<td style="width: 20%"><label style= "color:blue"><u>Address</u><br>E-101,
							Manimangar Appartment<br>Kasarwadi-414141.<br>Ph.(020)4141414.<br>info@protostar.co.in
					</label></td>
				</tr>
			</tbody>
		</table>
	<div layout="row" layout-align="center start"
		style="margin-top: 20px; margin-bottom: 20px;">
		<md-divider flex></md-divider>
	</div>

	<div>
		<table style="line-height: 20px;">

			<tbody>
				<tr>
					<td style="width: 20%"><b>P.O.No :</b>
						{{pODetail.id}}</td>
				</tr>
				<tr>
					<td style="width: 50%"  colspan="2"><label>To :</label><br>
						{{pODetail.to}}</td>
					<td style="width: 50%" colspan="3"><label>Ship To :</label><br>
						{{pODetail.shipTo}}</td>
				</tr>
				<tr>
					<td style="width: 20%"><label>P.O.Date :</label><br> {{pODetail.poDate}}</td>

					<td style="width: 20%"><label>Requisitioner :</label><br>
						{{pODetail.requisitioner}}</td>

					<td style="width: 20%"><label>Shipped Via :</label><br>
						{{pODetail.shippedVia}}</td>

					<td style="width: 20%"><label>F.O.B.Point :</label><br> {{pODetail.fOBPoint}}</td>

					<td style="width: 20%"><label>Terms :</label><br> {{pODetail.terms}}</td>


				</tr>

			</tbody>
		</table>
		<div layout="row" layout-align="center start"
			style="margin-top: 20px; margin-bottom: 20px;">
			<md-divider flex></md-divider>
		</div>
		<table>
			<thead>
				<tr>
					<th style="width: 3%">Sr.No.</th>
					<th style="width: 50%">Item Name</th>
					<th style="width: 10%">Quantity</th>
					<th style="width: 20%">Price</th>
					<th style="width: 17%">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="invoiceLineItem in pODetail.pOLineItemList">

					<td>{{ invoiceLineItem.srNo }}</td>
					<td>{{invoiceLineItem.itemName}}</td>
					<td>{{invoiceLineItem.qty}}</td>
					<td>{{invoiceLineItem.price}}</td>
					<td>{{invoiceLineItem.qty * invoiceLineItem.price}}</td>


				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Sub Total</u> </label></td>
					<td>{{pODetail.subTotal}}</td>
				</tr>

				<tr>
					<td>-</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td><label><u>Tax Details</u> </label></td>
					<td><md-input-container flex> <label>Tax
							Type </label> </md-input-container>{{pODetail.selectedTaxItem.taxCodeName}}</td>
					<td><md-input-container flex> <label>Tax
						</label> </md-input-container> {{pODetail.selectedTaxItem.taxPercenatge}}%</td>
					<td><md-input-container flex> <label>Tax
							Total </label> </md-input-container>{{pODetail.taxTotal}}</td>
				</tr>
				<tr>
					<td>-</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Final Total</u> </label></td>
					<td><md-input-container flex>
						{{pODetail.finalTotal}}</md-input-container></td>
				</tr>
				<tr>
					<td></td>

				</tr>
			</tbody>
		</table>
	</div>

	<b><u>Note</u>:</b>This is electronically generated invoice. <br>

	<iframe name="print_frame" width="0" height="0" frameborder="0"
		src="about:blank"></iframe>
</div>