<md-content layout-padding>
<!-- <div>
	<section layout="row" layout-align="end end" flex>
		<md-button class="md-raised md-primary" ng-click="back()">ADD
		NEW</md-button>
	</section>
</div>
 -->
<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
			
	</div>

<div>
	<md-data-table-container>
		<table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
				<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
			<th name="Supplier" order-by="supplierName"></th>
				<th name="PO Date" order-by="PODate"></th>
				<th name="Final Total" order-by="finalTotal"></th>

			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="pOItem in purchaseOrderList | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				<!-- <a ng-href="#/invoice.list/{{invoiceId.id}}">{{invoice.finalTotal}}</a> -->
				<td>{{pOItem.supplier.supplierName}}</td>
				<td>{{pOItem.poDate | formatDate}}</td>
				<td>{{pOItem.finalTotal}}</td>
				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="purchaseOrder.POview({selectedPONo: pOItem.id})">View PO</md-button>
					</section>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- 			<md-data-table-toolbar class="alternate" ng-show="selected.length">
			<div>{{selected.length}} {{selected.length > 1 ? 'billsItem' :
				'items'}} selected</div>
			<div>{{selected}}</div>
			</md-data-table-toolbar> 
 --> <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{invoiceData.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>
</md-content>