
<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			
			<div class="md-toolbar-tools">
				<span flex></span>

				<section layout="column">

					<div layout="row" layout-align="end start" layout-sm="column" >
						
					<md-button aria-label="Open Settings" ng-click="toggleRight()">
					<ng-md-icon icon="more_vert"></ng-md-icon> </md-button>

					</div>
				</section>
			</div>
			

			<!-- Right Navigation Pane -->
			
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right" layout="column"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Favourite Page Sub Menu</h1>
			</md-toolbar> <md-content layout-padding> <md-button
				ng-click="close()" class="md-primary"> Close Sidenav
			Right </md-button>
			
			<div layout="column" layout-align="start start">
			
			<md-button ui-sref="favourite.myBooks" ng-click="close()"
				class="md-primary">Books</md-button> 
				
			<md-button ui-sref="favourite.myPracticeExams" ng-click="close()"
				class="md-primary">Practice Exams</md-button> 

				
			<md-button ui-sref="favourite.practiceExamResultView({selectedStudEmail: curuser.email_id})" ng-click="close()" 
			class="md-primary">
				 Practise Exam Result
			</md-button>

			</div>

			</md-content> </md-sidenav>

		

	</div>

	<div ui-view>
	
		<div layout="column" layout-align="start start" >
		
			<md-button ui-sref="favourite.myBooks" ng-click="close()" 
				class="md-primary" hide-xs>Books</md-button>
				
			<md-button ui-sref="favourite.myPracticeExams" ng-click="close()" 
				class="md-primary" hide-xs>Practice Exams</md-button> 

				
			<md-button ui-sref="favourite.practiceExamResultView({selectedStudEmail: curuser.email_id})" ng-click="close()" 
			class="md-primary" hide-xs>
				Practise Exam Result
			</md-button>

		</div>
		
		
	</div>
	</section>

</div>
