
<md-content layout-padding>
<form name="changepassform">

	<div id="addField">

		<div layout layout-sm="column">
			<md-input-container flex> <label> Enter
				new Password </label> <span style="color: red"
				ng-show="changepassform.password.$error.required" class="mandatory">*</span>
			<input type="password" name="password" ng-model="password" ng-required="true">
			<div ng-messages="changepassform.password.$error"
				ng-if="changepassform.password.$touched">
				<div ng-message="required">Please Enter password.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Confirm
				password </label> <span style="color: red"
				ng-show="changepassform.confirmpassword.$error.required "class="mandatory">*</span>
				 <input type="password" name="confirmpassword"	ng-model="confirmpassword"  ng-required="true">
			<div ng-messages="changepassform.confirmpassword.$error"
				ng-if="changepassform.confirmpassword.$touched">
				<div ng-message="required">Please Enter Confirm password.</div>
			</div>
			</md-input-container>
		</div>
		
				<div ng-show="checkpass" style="color: red">Please Enter correct Confirm password.</div>
				<div ng-show="savemsg" style="color: red">password updated successfully updated.</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="changepass()"  ng-disabled="changepassform.$invalid">change
			password</md-button>

		</section>
	</div>
</form>
</md-content>