
<md-content layout-padding>
<form name="leadform">

	<div id="addField">
		<!-- <div layout layout-sm="column">
			<md-input-container flex> <label>User Id
			</label> <input ng-model="userL.id"> </md-input-container>
		</div> -->
		<div layout layout-sm="column">
			<md-input-container flex> <label>
				Email id </label> <input ng-model="userL.email_id"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				Name </label> <input ng-model="userL.firstName"> </md-input-container>
		</div>
		<div layout layout-sm="column">
		
			<md-input-container flex> <label>Last
				Name </label> <input ng-model="userL.lastName"> </md-input-container>
		</div>
		
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="updateuser()">Update</md-button>

		</section>
	</div>
</form>
</md-content>