<div ng-cloak>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Login with Google">
				<md-content class="md-padding">
					<h1 class="md-display-2">Login with Google Account</h1>
					<div>
						<google-plus-signin clientid="871660457189-1ishasdcqph3an1eu26262htusofo6v2"></google-plus-signin>
					</div>

				</md-content>
			</md-tab>
			<md-tab label="Loging with Facebook">
				<md-content class="md-padding">
					<h1 class="md-display-2">Loging with Facebook Account</h1>
					<p>
						Under dev...
					</p>
				</md-content>
			</md-tab>
			<md-tab label="Login with Prostudy Account">
				<md-content class="md-padding">
					<h1 class="md-display-2">Login with Prostudy Account</h1>
					<div>
						<md-input-container flex>
							<label>User Name</label>
							<input ng-model="tempUser.userName">
						</md-input-container>

						<md-input-container flex>
							<label>Password</label>
							<input ng-model="tempUser.pwd" type="password">
						</md-input-container>

						<md-button class="md-raised md-primary" ng-click="login()">
							LOGIN
						</md-button>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>