<div ng-cloak>
	<md-content> <md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Login with Google"> <md-content
		class="md-padding">
	<h1 class="md-display-2">Login with Google Account</h1>
	<div>
		<google-plus-signin
			clientid="871660457189-1ishasdcqph3an1eu26262htusofo6v2"></google-plus-signin>
	</div>
	</md-content> </md-tab> <md-tab label="Loging with Facebook"> <md-content
		class="md-padding">
	<h1 class="md-display-2">Loging with Facebook Account</h1>
	<p>Under dev...</p>
	</md-content> </md-tab> <md-tab label="Login with Prostudy Account"> <md-content
		class="md-padding">
	<h1 class="md-display-2">Login with Prostudy Account</h1>


	<form name="loginForm" ng-model="loginForm">
		<div layout="column" layout-align="center center">

			<md-input-container flex> <label>User
				Email-id<span style="color: red"
				ng-show="loginForm.email_id.$error.required" class="mandatory">*</span>
			</label> <input type="email" id="email_id" name="email_id"
				ng-model="tempUser.email_id" ng-required="true"
				ng-blur="checkExistEmail()">
			<div ng-messages="loginForm.email_id.$error"
				ng-if="loginForm.email_id.$submitted || loginForm.email_id.$touched ">
				<div ng-message="required">Please Enter Valid Email Id.</div>
				<div ng-show="errmsg !=null" ng-hide="errmsg">
					<span id="errmsg"></span>
				</div>
			</div>

			</md-input-container>

			<md-input-container flex> <label>Password<span
				style="color: red" ng-show="loginForm.password.$error.required"
				class="mandatory">*</span></label> <input ng-model="tempUser.password"
				type="password" name="password" id="password" ng-required="true">
			<div ng-messages="loginForm.password.$error"
				ng-if="loginForm.password.$submitted || loginForm.password.$touched">
				<div ng-message="required">Please Enter Correct Password.</div>
			</div>
			</md-input-container>

			<div layout="row" layout-align="centre centre" layout-sm="column">
				<md-button class="md-raised" ng-click="cancelButton()">Cancel</md-button>
				<md-button class="md-raised md-primary" ng-click="login()">
				LOGIN </md-button>
			</div>
		</div>
	</form>
	</section>
</div>



<!-- Right Navigation Pane -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2"
	md-component-id="right"> <md-toolbar
	class="md-theme-light">
<h1 class="md-toolbar-tools">Student Page Sub Menu</h1>
</md-toolbar> <md-content layout-padding> <md-button ng-click="close()"
	class="md-primary"> Close Sidenav Right </md-button>

<p hide-md show-gt-md>This shows the selected module links/actions.</p>
<md-button ng-click="close()" class="md-primary"> Current
Module Action 1 </md-button> <md-button ng-click="close()" class="md-primary">
Current Module Action 2 </md-button> <md-button ui-sref="institute.add"
	ng-click="close()" class="md-primary"> Add New Institute </md-button> <md-button
	ui-sref="institute.view" ng-click="close()" class="md-primary">
View Institute </md-button> </md-content> </md-sidenav>

</section>
</div>


<!-- 
	<div layout="column" layout-align="center center">

				 <span> <spanstyle: "color:red">{{loginMsg}}</span>
								
					<md-input-container flex>
      				<label>User Name</label>
      				<input ng-model="tempUser.userName">
    				</md-input-container>
    	
    				<md-input-container flex>
      				<label>Password</label>
     				<input ng-model="tempUser.pwd" type="password">
    				</md-input-container>
    				
					<md-button class="md-raised md-primary" ng-click="login()">LOGIN</md-button> 
	</div> -->

</div>


</md-content>
</md-tab>
</md-tabs>
</md-content>
</div>
