<div layout="column">
	
		<div layout-align="centre centre">
		
			<md-whiteframe class="md-whiteframe-9dp" flex="30" layout layout-align="center center">
		 	 <span>
				
					<md-input-container>
      				<label>Name</label>
      				<input ng-model="tempLogin.name">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>User Name</label>
      				<input ng-model="tempLogin.userName">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Email-Id</label>
      				<input ng-model="tempLogin.email_id">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Password</label>
     				<input ng-model="tempLogin.pwd1" type="password">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Confirm Password</label>
     				<input ng-model="tempLogin.pwd" type="password">
    				</md-input-container>
					
		 			 <div layout="row" layout-align="center end">
			 		 <md-button class="md-raised md-primary" ng-click="addLogin()">LOGIN</md-button> 
			 		 </div>
			 		 
			 		 </md-card-content>
			 </span>
		 	</md-whiteframe>
		 	
		 	
		 	
		 </div>
		 
		 


</div>
