<div layout="column">
	
		<div layout-align="centre centre">
		
			<md-whiteframe class="md-whiteframe-9dp" flex="30" layout layout-align="center center">
		 	 <span>
				
					
					<md-input-container>
      				<label>Name</label>
      				<input ng-model="tempUser.name">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>User Name</label>
      				<input ng-model="tempUser.userName">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Email-Id</label>
      				<input ng-model="tempUser.email_id">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Address</label>
      				<input ng-model="tempUser.address">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Contact</label>
      				<input ng-model="tempUser.contact">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Password</label>
     				<input ng-model="tempUser.pwd1" type="password">
    				</md-input-container>
    				
    				<md-input-container>
      				<label>Confirm Password</label>
     				<input ng-model="tempUser.pwd" type="password">
    				</md-input-container>
    				
    				<!-- <md-input-container flex> <md-select ng-model="tempUser.role" placeholder="User role">
					<md-option >Admin</md-option>
					<md-option >Student</md-option>
					<md-option >Teacher</md-option>
					</md-select> </md-input-container> -->
					
		 			 <div layout="row" layout-align="center end">
			 		 <md-button class="md-raised md-primary" ng-click="addUser()">LOGIN</md-button> 
			 		 </div>
			 		 
			 		 </md-card-content>
			 </span>
		 	</md-whiteframe>
		 	
		 	
		 	
		 </div>
		 
		 


</div>
