
		<div layout-align="centre centre">
		
			<md-whiteframe class="md-whiteframe-9dp" flex="30" layout layout-align="center center">
		 	 <span>
				
				<div layout="row" layout-align="center center">
			
				<div layout="column" layout-align="center center">
							
					<md-input-container flex>
      				<label>Business Name</label>
      				<input name="businessName" ng-model="business.businessName">
    				</md-input-container>
    				
    				<md-input-container flex>
    				<label>Admin Gmail id</label>
      				<input name="adminGmailId" ng-model="business.adminGmailId" disabled>
    				</md-input-container>
    				
    				<md-input-container flex>
      				<label>First Name</label>
      				<input name="adminFirstName" ng-model="business.adminFirstName" >
    				</md-input-container>
    				
    				<md-input-container flex>
      				<label>Last Name</label>
      				<input name="adminLastName" ng-model="business.adminLastName" >
    				</md-input-container>
    			</div>
    				    				
    			
    			</div>
    			
    			
		 			 <div layout="row" layout-align="center end">
			 		 <md-button class="md-raised md-primary" ng-click="updateBusiness()">Update User</md-button> 
			 		 </div>
			 		 
			 		 </md-card-content>
			 </span>
		 	</md-whiteframe>
		 	
		 	
		 	
		 </div>
		 
		 



