
		<div layout-align="centre centre">
		
		<!-- 	<md-whiteframe class="md-whiteframe-9dp" flex="30" layout layout-align="center center"> -->
		 	 <span>
				
			
			
				<div layout="column" ><!-- layout-align="center center" -->
							
					<md-input-container flex>
      				<label>Business Name</label>
      				<input name="businessName" ng-model="business.businessName">
    				</md-input-container>
    				</div>
    			<div layout="row" >
    				<md-input-container flex>
      				<label>Address 1</label>
      				<input name="address1" ng-model="business.address1" >
    				</md-input-container>
    				
    				<md-input-container flex>
      				<label>Address 2</label>
      				<input name="address2" ng-model="business.address2" >
    				</md-input-container>
    			</div>
    				    				
  	 <div layout="row" layout-align="center end">
			 		 <md-button class="md-raised md-primary" ng-click="updateBusiness()">Update User</md-button> 
			 		 </div>
			 		 
			 		 </md-card-content>
			 </span>
		 <!-- 	</md-whiteframe> -->
		 	
		 	
		 	
		 </div>
		 
		 



