
<md-content layout-padding>
<form name="addform">



	<!-- 		<span style="color: red">Your Account is {{business.accounttype.accountName}} you can create only {{business.accounttype.maxuser}} Number Of User </span> -->


	<section layout="row" layout-align="end end" flex>
		<md-button class="md-raised md-primary" id="uplodeExcel"
			ng-click="UplodeExcel($event)">UplodeExcel</md-button>
	</section>

	Organization id={{id}} <span id="hideSpan" style="color: red">Your
		Account exceed the user limit. Click to <a href="">Upgrade Account</a>
	</span>
	<div>

		<div flex-xs flex="50">
			<md-checkbox ng-model="user.isGoogleUser" ng-true-value="true"
				ng-false-value="false"> Is Google User </md-checkbox>

		</div>
		<div layout layout-xs="column">
			<md-input-container flex> <label
				ng-hide="user.isGoogleUser">User Name <span
				style="color: red" ng-show="addform.emailid.$error.required"
				class="mandatory">*</span></label> <label ng-show="user.isGoogleUser">Enter
				Email id <span style="color: red"
				ng-show="addform.emailid.$error.required" class="mandatory">*</span>
			</label> <input name="emailid" id="emailid" ng-model="user.email_id"
				ng-blur="Checkemail(user.email_id)" ng-pattern="/^.+@.+\..+$/"
				ng-required="true"> <span style="color: red">
				{{userexists}}</span>
			<div ng-messages="addform.emailid.$error"
				ng-if="addform.emailid.$submitted || addform.emailid.$touched ">
				<div ng-message="required">Please Enter Email Id.</div>
			</div>
			<span class="help-block" style="color: red"
				ng-show="((addform.emailid.$error.pattern) && addform.emailid.$dirty) ">
				Enter Valid Email Format </span> </md-input-container>

			<md-input-container flex ng-hide="user.isGoogleUser">
			<label>Enter Password</label> <span style="color: red"
				ng-show="addform.password.$error.required" class="mandatory">*</span>
			<input type="password" name="password" ng-model="user.password"
				ng-required="condition()">
			<div ng-messages="addform.password.$error"
				ng-if="addform.password.$touched">
				<div ng-message="required">Please Enter password.</div>
			</div>
			</md-input-container>



		</div>
		<div layout layout-xs="column">
			<md-input-container flex> <label>First
				Name <span style="color: red"
				ng-show="addform.fname.$error.required" class="mandatory">*</span>
			</label> <input id="fname" name="fname" ng-model="user.firstName"
				ng-required="true">
			<div ng-messages="addform.fname.$error"
				ng-if="addform.fname.$submitted || addform.fname.$touched">
				<div ng-message="required">Please Enter First Name.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Last
				Name <span style="color: red"
				ng-show="addform.lname.$error.required" class="mandatory">*</span>
			</label> <input id="lname" name="lname" ng-model="user.lastName"
				ng-required="true">
			<div ng-messages="addform.lname.$error"
				ng-if="addform.lname.$submitted || addform.lname.$touched">
				<div ng-message="required">Please Enter Last Name.</div>
			</div>
			</md-input-container>
		</div>
		<div layout="row" layout-xs="column" layout-align="end end">
			<a href='' ng-click='ShowHide()'>Bank Detail <lable
					ng-show="IsHidden">+</lable> <lable ng-hide="IsHidden">-</lable></a>
		</div>
		<div ng-hide="IsHidden">
			<div layout layout-xs="column">
				<md-input-container flex> <label>Bank
					Name <span style="color: red"
					ng-show="addform.bankName.$error.required" class="mandatory">*</span>
				</label> <input id="bankName" name="bankName" ng-model="BankDetail.bankName"
					ng-required="!IsHidden">
				<div ng-messages="addform.bankName.$error"
					ng-if="addform.bankName.$submitted || addform.bankName.$touched">
					<div ng-message="required">Please Enter Bank Name.</div>
				</div>
				</md-input-container>
				<md-input-container flex> <label>Branch Name <span style="color: red"
					ng-show="addform.branchName.$error.required" class="mandatory">*</span>
				</label> <input id="branchName" name="branchName"
					ng-model="BankDetail.branchName" ng-required="!IsHidden">
				<div ng-messages="addform.branchName.$error"
					ng-if="addform.branchName.$submitted || addform.branchName.$touched">
					<div ng-message="required">Please Enter Branch Name.</div>
				</div>
				</md-input-container>

			</div>
			<div layout layout-xs="column">
				<md-input-container flex> <label>bankAccountNo
					<span style="color: red"
					ng-show="addform.bankAccountNo.$error.required" class="mandatory">*</span>
				</label> <input id="bankAccountNo" name="bankAccountNo"
					ng-model="BankDetail.bankAccountNo" ng-required="!IsHidden">
				<div ng-messages="addform.bankAccountNo.$error"
					ng-if="addform.bankAccountNo.$submitted || addform.bankAccountNo.$touched">
					<div ng-message="required">Please Enter Bank Name.</div>
				</div>
				</md-input-container>
				<md-input-container flex> <label>Bank
					IFSC Code <span style="color: red"
					ng-show="addform.bankIfscCode.$error.required" class="mandatory">*</span>
				</label> <input id="bankIfscCode" name="bankIfscCode"
					ng-model="BankDetail.bankIfscCode" ng-required="!IsHidden">
				<div ng-messages="addform.bankIfscCode.$error"
					ng-if="addform.bankIfscCode.$submitted || addform.bankIfscCode.$touched">
					<div ng-message="required">Please Enter IFSC Code.</div>
				</div>
				</md-input-container>


			</div>

		</div>
		<b>Authority</b><br> <br>
		<div flex="100" flex-gt-sm="50" layout="column">
			<div>
				<fieldset class="standard">
					<!--  <legend></legend> -->
					<div layout="row" layout-wrap flex>
						<div flex="50" ng-repeat="item in items">
							<md-checkbox ng-checked="selection[$index]"
								ng-click="toggleSelection($index)"><!-- "" --> {{
							item }} </md-checkbox>
						</div>
					</div>
				</fieldset>
			</div>
		</div>


		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" id="adduser"
				ng-disabled="addform.$invalid" ng-click="checkDuplicateAndAddUser()">Add</md-button>
		</section>



	</div>




</form>
</md-content>