
<md-content layout-padding>
<form name="addform">


	Organization id={{id}}
	<!-- 		<span style="color: red">Your Account is {{business.accounttype.accountName}} you can create only {{business.accounttype.maxuser}} Number Of User </span> -->

	<span id="hideSpan" style="color: red">Your Account exceed the
		user limit. Click to <a href="">Upgrade Account</a>
	</span>
	<div>

		<div flex-xs flex="50">
			<md-checkbox ng-model="user.isGoogleUser" ng-true-value="true"
				ng-false-value="false"> Is Google User </md-checkbox>
		</div>
		<div layout layout-xs="column">
			<md-input-container flex> <label
				ng-hide="user.isGoogleUser">User Name </label> <label
				ng-show="user.isGoogleUser">Enter Email id</label> <span
				style="color: red" ng-show="addform.emailid.$error.required"
				class="mandatory">*</span> <input name="emailid" id="emailid"
				ng-model="user.email_id" ng-blur="Checkemail(user.email_id)"
				ng-pattern="/^.+@.+\..+$/" ng-required="true"> <span
				style="color: red"> {{userexists}}</span>
			<div ng-messages="addform.emailid.$error"
				ng-if="addform.emailid.$submitted || addform.emailid.$touched ">
				<div ng-message="required">Please Enter Email Id.</div>
			</div>
			<span class="help-block" style="color: red"
				ng-show="((addform.emailid.$error.pattern) && addform.emailid.$dirty) ">
				Enter Valid Email Format </span> </md-input-container>

			<md-input-container flex ng-hide="user.isGoogleUser">
			<label>Enter Password</label> <span style="color: red"
				ng-show="addform.password.$error.required" class="mandatory">*</span>
			<input type="password" name="password" ng-model="user.password"
				ng-required="condition()">
			<div ng-messages="addform.password.$error"
				ng-if="addform.password.$touched">
				<div ng-message="required">Please Enter password.</div>
			</div>
			</md-input-container>



		</div>
		<div layout layout-xs="column">
			<md-input-container flex> <label>First
				Name </label> <span style="color: red"
				ng-show="addform.fname.$error.required" class="mandatory">*</span> <input
				id="fname" name="fname" ng-model="user.firstName" ng-required="true">
			<div ng-messages="addform.fname.$error"
				ng-if="addform.fname.$submitted || addform.fname.$touched">
				<div ng-message="required">Please Enter First Name.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Last
				Name </label> <span style="color: red"
				ng-show="addform.lname.$error.required" class="mandatory">*</span> <input
				id="lname" name="lname" ng-model="user.lastName" ng-required="true">
			<div ng-messages="addform.lname.$error"
				ng-if="addform.lname.$submitted || addform.lname.$touched">
				<div ng-message="required">Please Enter Last Name.</div>
			</div>
			</md-input-container>
		</div>
		<b>Authority</b><br> <br>
		<!-- <div flex layout layout-xs="column">

			<div ng-repeat="item in items">
				<div class="action-checkbox">
					{{item}}
					<md-checkbox id="{{item}}" type="checkbox" value="{{item}}"
						ng-checked="selection.indexOf(item) > -1"
						ng-click="toggleSelection(item)"> <label for="{{item}}"></label>
					</md-checkbox>
				</div>
			</div>
		</div> -->

		<div flex="100" flex-gt-sm="50" layout="column">
			<div>
				<fieldset class="standard">
					<!--  <legend></legend> -->
					<div layout="row" layout-wrap flex>
						<div flex="50" ng-repeat="item in items">
							<md-checkbox ng-checked="selection[$index]"
								ng-click="toggleSelection($index)"><!-- "" --> {{
							item }} </md-checkbox>
						</div>
					</div>
				</fieldset>
			</div>
		</div>



		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" id="adduser"
				ng-disabled="addform.$invalid" ng-click="checkDuplicateAndAddUser()">Add</md-button>
		</section>

		<!-- <div id="authorize-div" style="display: none">
			<span>Authorize access to Gmail API</span>
			Button for the user to click to initiate auth sequence
			<button id="authorize-button" onclick="handleAuthClick(event)">
				Authorize</button>
		</div>
		<pre id="output"></pre> -->

	</div>




</form>
</md-content>