<md-content layout="column">
<div layout="row">
	<h3 class="md-headline">Current Saved Theme:</h3>
	<h3 class="md-subhead">{{theme | uppercase}}</h3>
</div>
<form name="ChangeTheme">

	<div>
		<span class="md-title">Change cpplication theme to one of the
			avaliable themes below</span>
	</div>
	<section layout="row" layout-wrap flex>
		<md-button ng-repeat="themeName in themeList"
			class="md-raised md-primary md-hue-2"
			ng-click="checkTheme(themeName)"> {{themeName}} </md-button>
	</section>
</form>

<div layout="row">
	<h3 class="md-headline">Current Selected Theme:</h3>
	<h3 class="md-subhead">{{theme | uppercase}}</h3>
</div>

<md-button class="md-raised md-primary md-hue-2" ng-click="saveTheme()">
Save This Theme </md-button> </md-content>