
<md-content layout-padding>
<form name="addform">

	<div id="addField">
		Organization id={{id}}
		
		 <div flex-xs flex="50">
          <md-checkbox ng-model="user.isGoogleUser"  ng-true-value="true" ng-false-value="false">
            Is Google User
          </md-checkbox>
        </div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Enter Email id/User Name </label>
			 <span style="color: red" ng-show="addform.emailid.$error.required" class="mandatory">*</span> 
			  <input name="emailid" ng-model="user.email_id" ng-required="true">
			 
			<div ng-messages="addform.emailid.$error"
			ng-if="addform.emailid.$submitted || addform.emailid.$touched">
			<div ng-message="required">Please Enter Gmail Id.</div>
		</div>
			  </md-input-container>
			
			<md-input-container flex ng-hide="user.isGoogleUser"> <label >Password	</label> 
			<input type="password" ng-model="user.password" > 
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				Name </label>  <span style="color: red" ng-show="addform.fname.$error.required" class="mandatory">*</span> 
				<input name="fname" ng-model="user.firstName" ng-required="true">
				<div ng-messages="addform.fname.$error"
			ng-if="addform.fname.$submitted || addform.fname.$touched">
			<div ng-message="required">Please Enter First Name.</div>
		</div>
				 </md-input-container>
			<md-input-container flex> <label>Last
				Name </label> 
				 <span style="color: red" ng-show="addform.lname.$error.required" class="mandatory">*</span> 
				<input name="lname" ng-model="user.lastName" ng-required="true">
				<div ng-messages="addform.lname.$error"
			ng-if="addform.lname.$submitted || addform.lname.$touched">
			<div ng-message="required">Please Enter Last Name.</div>
		</div>
				
				 </md-input-container>
		</div>
		<b>Authority</b><br> <br>
		<div layout layout-sm="column">

			<div ng-repeat="item in items">
				<div class="action-checkbox">
					<input id="{{item}}" type="checkbox" value="{{item}}"
						ng-checked="selection.indexOf(item) > -1"
						ng-click="toggleSelection(item)" /> <label for="{{item}}"></label>
					{{item}}
				</div>

			</div>
			<br> <br>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="adduser(business)">Add</md-button>
		</section>
	</div>
</form>
</md-content>