<section layout="row" layout-sm="column" layout-align="center center">

	<md-content layout-padding>
	<form name="myExamMathForm" ng-submit="submitButton()">

		<!-- <p align="center">
			<strong>ProtoStar ExamReport 2015 :</strong>
		</p>
		<p align="center">
			<strong>{{currentPage}} Out Of {{totalPages}}</strong>
		</p> -->



		<div layout="row">
			<span flex="50">
			<h3>Math Exam</h3>
			<strong>{{currentPage}} Out Of
					{{totalPages}}</strong></span>

			<div layout="row" layout-wrap class="colorNested">
				<div ng-repeat="i in buttonLimit(totalPages) track by $index">
					<md-button class="md-raised md-primary"
						ng-class="{ testClass: $index == currentPage }"
						ng-click="onButtonClick($index+1)">Page{{$index+1}}</md-button>
				</div>

			</div>

		</div>


		<!-- 		<div>count{{count}}</div>
		<div>currentPage{{currentPage}}</div> -->

		<div>
			<div layout="row" layout-wrap>
				<div flex="50" ng-repeat="question in array ">

					<md-input-container flex> <b>Q.{{(itemsPerPage*(currentPage-1))
						+($index+1)}} {{question.description}}</b> </md-input-container>

					<p>
						<i>{{question.note}}</i>
					</p>


					<md-checkbox ng-checked="exists(question, selected)"
						ng-click="toggle(question, selected)"> {{
					question.option1 }} </md-checkbox>
					<md-checkbox ng-checked="exists(question, selected)"
						ng-click="toggle(question, selected)"> {{
					question.option2 }} </md-checkbox>
					<md-checkbox ng-checked="exists(question, selected)"
						ng-click="toggle(question, selected)"> {{
					question.option3 }} </md-checkbox>
					<md-checkbox ng-checked="exists(question, selected)"
						ng-click="toggle(question, selected)"> {{
					question.option4 }} </md-checkbox>


				</div>
			</div>




			<!-- <div>Exam Report:-{{questions}}</div> -->


			<div layout layout-sm="column" ng-init="isDisabled = false">
				<md-button class="md-raised md-primary"
					ng-disabled="isDisabledPrevious" ng-model="isDisabledPrevious"
					ng-click="onPrevious()">previous</md-button>
				<md-button class="md-raised md-primary" ng-disabled="isDisabledNext"
					ng-model="isDisabledNext" ng-click="onNext()">next</md-button>

			</div>

		</div>
	</form>
	</md-content>
</section>

