<div layout="column" layout-padding>
	<md-content>
		<section>
			<md-subheader class="md-primary">	
				<h3 class="md-headline">New Student</h3>
			</md-subheader>
			<form name="userForm">
				<div layout="row" layout-sm="column">
					<div layout="column" flex>
						<md-input-container flex>
							<label>First
								name</label>
							<input ng-model="studentVM.firstName">
						</md-input-container>
						<md-input-container flex>
							<label>Last
								Name</label>
							<input ng-model="studentVM.lastName">
						</md-input-container>
						<md-input-container flex>
							<label> Mobile
								No</label>
							<input ng-model="studentVM.mobileNo">
						</md-input-container>
						<md-input-container flex>
							<label> Email</label>
							<input ng-model="studentVM.email">
						</md-input-container>
					</div>
					<div layout="column" flex>
						<md-input-container flex>
							<label>City</label>
							<input
							ng-model="studentVM.address.city">
						</md-input-container>
						<md-input-container flex>
							<label>State</label>
							<input
							ng-model="studentVM.address.state">
						</md-input-container>
						<md-input-container flex>
							<label>Postal
								Code</label>
							<input ng-model="studentVM.address.pin">
						</md-input-container>
						<md-input-container flex>
							<label>Postal
								Code</label>
							<input ng-model="studentVM.address.pin" readOnly>
						</md-input-container>
					</div>
				</div>

			</form>
			
		</section>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised">
				Cancel
			</md-button>
			<md-button class="md-raised md-primary" ng-click="addStudentToDB()">
				Submit
			</md-button>

		</section>
	</md-content>
</div>







	<div layout="row" layout-align="centre centre" layout-sm="column" flex>
	<md-input-container flex> <label>Admin Name</label> <input ng-model="admin_name"> </md-input-container>

	<md-input-container flex> <label>Admin Email-Id</label>
	<input ng-model="admin_email_id"> </md-input-container>

	<md-input-container flex> <label>Contact No</label> <input ng-model="admin_contact_no"> </md-input-container>
	<md-button class="md-raised md-primary" ng-click="addToAdminsList()">Add To AdminList </md-button>
</div>
<div>

		
