
<md-content layout-padding>
<div id="invoiceDiv">

	<form ng-submit="$event.preventDefault()" name="sOForm">
		[<span style="color: red;">Field Marked as asterik (*) are
			mandetory</span>]
		<div>
			<h3 class="md-headline">
				<u>Sales Order</u>
			</h3>

			<div layout="row" layout-xs="column">
				<div layout="row" flex>
					<span style="color: red;">*</span>

					<md-autocomplete flex required ng-model="salesOrder.customer"
						md-input-name="autocompleteField" md-input-minlength="2"
						md-input-maxlength="18" md-no-cache=true
						md-selected-item="salesOrder.customer"
						md-search-text="searchTextInput"
						md-items="item in querySearch(searchTextInput)"
						md-item-text="item.firstName" md-floating-label="Customer Name"
						ng-required="true"> <md-item-template>
					<span md-highlight-text="searchTextInput">{{item.firstName}}</span>
					</md-item-template>
					<div ng-messages="sOForm.autocompleteField.$error"
						ng-if="sOForm.autocompleteField.$touched">
						<div ng-message="required">
							You <b>must</b> have to enter Customer Name.
						</div>
						<div ng-message="minlength">Your entry is not long enough.</div>
						<div ng-message="maxlength">Your entry is too long.</div>
					</div>
					</md-autocomplete>
					<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
						ng-click="addCustomer()" class="name"
						style="color: Green; height: 40px; width: 40px"></md-icon>

				</div>
				<md-input-container flex> <label>Customer
					Referance ID </label> <input ng-model="salesOrder.customerRefId"> </md-input-container>
			</div>

			<div layout="row" layout-xs="column">

				<md-input-container flex> <label>To </label> <textarea
					name="to" ng-model="salesOrder.to"></textarea> </md-input-container>

				<md-input-container flex> <label>Ship
					To </label> <textarea name="shipTo" ng-model="salesOrder.shipTo"></textarea>
				</md-input-container>
			</div>

			<div layout="row" layout-xs="column">

				<md-input-container flex> <label>Sales
					Person </label> <input ng-model="salesOrder.salesPerson"> </md-input-container>

				<span style="color: red;">*</span>Delivery Date:
				<md-datepicker flex ng-model="salesOrder.deliveryDate"
					md-placeholder="Enter Delivery Date"></md-datepicker>
			</div>

			<div layout="row" layout-xs="column">
				<md-input-container flex> <label>Shipped
					Via </label> <input ng-model="salesOrder.shippedVia"> </md-input-container>

				<span style="color: red;">*</span>Quotation Date:
				<md-datepicker flex ng-model="salesOrder.quotationDate"
					md-placeholder="Enter Quotation Date"></md-datepicker>

			</div>


			<div layout="row" layout-xs="column">
				<md-input-container flex> <label>Shipping
					Terms </label> <input ng-model="salesOrder.shippingTerms"> </md-input-container>

				<span style="color: red;">*</span>Due Date:
				<md-datepicker flex ng-model="salesOrder.dueDate"
					md-placeholder="Enter Due Date"></md-datepicker>

			</div>

			<div layout="row" layout-xs="column" layout-align="start start">
				<md-input-container flex> <label>Payment
					Terms </label> <input ng-model="salesOrder.paymentTerms"> </md-input-container>


			</div>


			<span style="color: red">{{errorMsg}}</span>



			==================================================================================


			<h3>Services Provided</h3>
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="Sr_No" order-by="srNo"></th>
						<th name="Service Name" order-by="serviceName"></th>
						<th name="Quantity" order-by="qty"></th>
						<th name="Price" order-by="price"></th>
						<th name="Total" order-by="total"></th>
						<th name="Actions"></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="service in salesOrder.serviceLineItemList">

						<td>{{ service.srNo }}</td>
						<td><md-input-container flex> <label>Service
								Name </label> <input ng-model="service.serviceName"> </md-input-container></td>

						<td><md-input-container flex> <label>Quantity
							</label> <input ng-model="service.sQty" type="number"
								ng-blur="calServiceSubTotal()"> </md-input-container></td>
						<td><md-input-container flex> <input
								ng-model="service.sPrice" ng-change="calServiceSubTotal()"></md-input-container></td>
						<td><md-input-container flex> <b>{{service.sQty
								* service.sPrice | currency:"":"2"}} </b></td>
						<td><md-icon
								md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
								ng-click="removeService($index)" class="name"
								style="color: Green; height: 40px; width: 40px"></md-icon></td>


					</tr>

					<tr>
						<td><section layout="row" layout-sm="column"
								layout-align="left left">
								<md-button class="md-raised md-primary" ng-click="addService()">Add
								Service</md-button>
							</section></td>
						<td></td>
						<td></td>
						<td><label><u>Service Sub Total</u> </label></td>
						<td><md-input-container flex> <b>{{salesOrder.serviceSubTotal
								| currency:"":"2"}}</b> </md-input-container></td>

					</tr>

					<tr>
						<td><label><u>Services Tax</u> </label></td>
						<td></td>
						<td><md-input-container flex
								ng-hide="salesOrder.serviceLineItemList.length==0">
							<md-select ng-model="salesOrder.selectedServiceTax"
								placeholder="select Tax"
								ng-change="serviceTaxChange($index, selectedServiceTax, $event)">
							<md-option ng-value="taxValue" ng-repeat="taxValue in taxforSO">{{taxValue.taxCodeName}}</md-option>
							</md-select> </md-input-container></td>
						<td>{{salesOrder.selectedServiceTax.taxPercenatge}}</td>
						<td><md-input-container flex> <b>{{salesOrder.serviceTaxTotal
								| currency:"":"2"}}</b> </md-input-container></td>
						<td></td>

					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><label><u>Service Total</u> </label></td>
						<td><b>{{salesOrder.serviceTotal | currency:"":"2"}}</b></td>
						<td></td>

					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
				</tbody>
			</table>




			=====================================================================================



			<h3>Prouct/Item Sold</h3>
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="Sr_No" order-by="srNo"></th>
						<th name="Item Name" order-by="itemName"></th>
						<th name="Quantity" order-by="qty"></th>
						<th name="Price" order-by="price"></th>
						<th name="Total" order-by="total"></th>
						<th name="Actions"></th>
					</tr>
				</thead>

				<tbody>
					<tr
						ng-repeat="item in salesOrder.sOLineItemList| orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">

						<td>{{ item.srNo }}</td>
						<td><md-input-container flex> <md-select
								ng-model="selectedStockItem" placeholder="Item Name"
								ng-change="lineItemStockChange($index, selectedStockItem)">
							<md-option ng-value="item" ng-repeat="item in stockforPO">{{item.itemName
							}}</md-option> </md-select> </md-input-container></td>

						<td><md-input-container flex> <label>Quantity
							</label> <input ng-model="item.qty" type="number"
								ng-change="calSubTotal()"> </md-input-container></td>
						<td><md-input-container flex> <input
								ng-model="item.price" ng-change="calSubTotal()"></md-input-container></td>
						<td><b>{{item.qty * item.price | currency:"":"2"}} </b></td>

						<td><md-icon
								md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
								ng-click="removeItem($index)" class="name"
								style="color: Green; height: 40px; width: 40px"></md-icon></td>

					</tr>
					<tr>
						<td><span style="color: red;">*</span>
							<section layout="row" layout-sm="column" layout-align="left left">
								<md-button class="md-raised md-primary" ng-click="addItem()">Add
								Item</md-button>
							</section></td>
						<td></td>
						<td></td>
						<td><label><u>Product Sub Total</u> </label></td>
						<td><md-input-container flex> <b>{{salesOrder.productSubTotal
								| currency:"":"2"}}</b> </md-input-container></td>
						<td></td>

					</tr>
					<tr>
						<td><label><u>Tax Details</u> </label></td>
						<td></td>
						<td><md-input-container flex
								ng-hide="salesOrder.sOLineItemList.length==0">
							<md-select ng-model="salesOrder.selectedTaxItem"
								placeholder="Tax Type"
								ng-change="lineItemTaxChange($index, selectedTaxItem)">
							<md-option ng-value="taxValue" ng-repeat="taxValue in taxforSO">{{taxValue.taxCodeName}}</md-option>
							</md-select> </md-input-container></td>

						<!-- 						<td><md-input-container flex> <label>Item Name
						</label> <input ng-model="item.taxCodeName" 
							ng-change="calSubTotal()"> </md-input-container></td>	 -->
						<td><md-input-container flex> <label>Tax
								% </label> <b> <input
								ng-model="salesOrder.selectedTaxItem.taxPercenatge">
							</b> </md-input-container></td>
						<td><md-input-container flex> <b>{{salesOrder.productTaxTotal
								| currency:"":"2"}}</b> </md-input-container></td>
						<td></td>

					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><label><u>Product Total</u> </label></td>
						<td><md-input-container flex> <b>
								{{salesOrder.productTotal | currency:"":"2"}}</b> </md-input-container></td>
						<td></td>

					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><label><u>Final Total</u> </label></td>
						<td><md-input-container flex> <b>
								{{salesOrder.finalTotal | currency:"":"2"}}</b> </md-input-container></td>
						<td></td>

					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
				</tbody>
			</table>

		</div>

		<div layout layout-sm="column">
			<section layout="row" layout-sm="column">
				<md-button class="md-raised md-primary" id="addSalesOrder"
					ng-disabled="sOForm.$invalid" ng-click="addSalesOrder()">Create
				sales Order</md-button>
			</section>
		</div>

	</form>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe> </md-content>