
<md-content layout-padding>

<div>
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Sales Order No" order-by="salesOrderId"></th>
				<th name="Customer Name" order-by="customerName"></th>
				<th name="Quotation Date" order-by="quotationDate"></th>
				<th name="Sales Order Date" order-by="salesOrderDate"></th>
				<th name="Amount" order-by="finalTotal"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="sOList in salesOrderList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">

				<td>{{sOList.salesOrderId}}</td>
				<td>{{sOList.customerName.customerName}}</td>
				<td>{{sOList.quotationDate}}</td>
				<td>{{sOList.salesOrderDate}}</td>
				<td>{{sOList.finalTotal}}</td>
				<td><section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="salesOrder.view({selectedSOId: sOList.salesOrderId})">
						View SO</md-button>
					</section></td>
				<td>
			</tr>
		</tbody>
	</table>
	<!-- 		<md-data-table-toolbar class="alternate" ng-show="selected.length">
			<div>
				{{selected.length}} {{selected.length > 1 ? 'stockData' : 'stock'}} selected
			</div>
			<div>
				{{selected}}
			</div>
		</md-data-table-toolbar>
 --> <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{salesOrder.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>
<!-- vals: {{customers}}
<md-button ui-sref="customer.list" ng-click="getAllCustomers()" class="md-primary">
		Customer List in side List view --> </md-button> </md-content>