<h3 class="md-headline">Edit Scheduled Question</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<form name="questionEditForm" ng-model="questionEditForm"
	ng-submit="questionEditForm.$valid " novalidate>


	<div id="updateQuestion">

		<md-input-container flex> <label>Question
			Description<span style="color: red"
			ng-show="questionEditForm.description.$error.required"
			class="mandatory">*</span>
		</label>
		<div text-angular="" name="description"
			ng-model="question.description" ng-required="true"></div>
		<div ng-messages="questionEditForm.description.$error"
			ng-if="questionEditForm.description.$submitted || questionEditForm.description.$touched ">
			<div ng-message="required">Please Enter Question Description.</div>
		</div>
		</md-input-container>

		<div layout layout-sm="column" layout-xs="column">
			<md-input-container flex> <label>Category</label> <input
				ng-model="question.category"> </md-input-container>

		</div>

		<div layout layout-sm="column" layout-xs="column">
			<md-input-container flex>
			<div layout="row">
				<label>Option1<span style="color: red"
					ng-show="questionEditForm.option1.$error.required"
					class="mandatory">*</span></label> <input name="option1"
					ng-model="question.option1" ng-required="true">
				<md-checkbox ng-true-value="'option1'"
					ng-model="question.correctAns" ng-click=" "></md-checkbox>
				<div ng-messages="questionEditForm.option1.$error"
					ng-if="questionEditForm.option1.$submitted || questionEditForm.option1.$touched">
					<div ng-message="required">Please Enter Option 1.</div>
				</div>
			</div>
			</md-input-container>

			<md-input-container flex>
			<div layout="row">
				<label>Option2<span style="color: red"
					ng-show="questionEditForm.option2.$error.required"
					class="mandatory">*</span></label> <input name="option2" ng-required="true"
					ng-model="question.option2">
				<md-checkbox ng-true-value="'option2'"
					ng-model="question.correctAns" ng-click=" "></md-checkbox>
				<div ng-messages="questionEditForm.option2.$error"
					ng-if="questionEditForm.option2.$submitted || questionEditForm.option2.$touched">
					<div ng-message="required">Please Enter Option 2.</div>
				</div>
			</div>
			</md-input-container>
		</div>

		<div layout layout-xs="column">
			<md-input-container flex>
			<div layout="row">
				<label>Option3<span style="color: red"
					ng-show="questionEditForm.option3.$error.required"
					class="mandatory">*</span></label> <input name="option3" ng-required="true"
					ng-model="question.option3">
				<md-checkbox ng-true-value="'option3'"
					ng-model="question.correctAns" ng-click=" "></md-checkbox>
				<div ng-messages="questionEditForm.option3.$error"
					ng-if="questionEditForm.option3.$submitted || questionEditForm.option3.$touched">
					<div ng-message="required">Please Enter Option 3.</div>
				</div>
			</div>
			</md-input-container>

			<md-input-container flex>
			<div layout="row">
				<label>Option4<span style="color: red"
					ng-show="questionEditForm.option4.$error.required"
					class="mandatory">*</span></label> <input name="option4" ng-required="true"
					ng-model="question.option4">
				<md-checkbox ng-true-value="'option4'"
					ng-model="question.correctAns" ng-click=" "></md-checkbox>
				<div ng-messages="questionEditForm.option4.$error"
					ng-if="questionEditForm.option4.$submitted || questionEditForm.option4.$touched">
					<div ng-message="required">Please Enter Option 4.</div>
				</div>
			</div>
			</md-input-container>
		</div>

		<p>&nbsp;</p>
		<div layout="row" layout-align="center center">
			<md-button class="md-raised md-primary"
				ng-disabled="questionEditForm.$invalid"
				ng-click="updateQuestion(question)"> Update </md-button>

			<md-button class="md-raised" ng-click="cancelButton()">
			cancel </md-button>
		</div>
	</div>

</form>