<md-content>

	<div>
		<div class="input-group">
			<input class="form-control" ng-model="searchText" placeholder="Search" type="search" />
			<span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </span>
		</div>

		<md-data-table-container>
			<table md-data-table md-row-select="selected" md-progress="deferred">
				<thead md-order="query.order" md-trigger="onorderchange">
					<tr>
						<th name="Question Desc"   order-by="description"></th>
						<!--<th name="note" order-by="note"></th>-->
						<th name="option1"  order-by="option1"></th>
						<th name="option2"  order-by="option2"></th>
						<th name="option3"  order-by="option3"></th>
						<th name="option4"  order-by="option4"></th>
						<th numeric name="correctAns"  order-by="correctAns"></th>

					</tr>
				</thead>

				<tbody>
					<tr md-auto-select ng-repeat="teacher in questions | orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">
						<td>
						<div ng-hide="editingData[teacher.description]">
							{{teacher.description}}
						</div>
						<div ng-show="editingData[teacher.description]">
							<input type="text" ng-model="teacher.description" />
						</div></td>
						<!--
						<td>
												<div ng-hide="editingData[teacher.description]">
													{{teacher.note}}
												</div>
												<div ng-show="editingData[teacher.description]">
													<input type="text" ng-model="teacher.note" />
												</div></td>-->
						
						<td>
						<div ng-hide="editingData[teacher.description]">
							{{teacher.option1}}
						</div>
						<div ng-show="editingData[teacher.description]">
							<input type="text" ng-model="teacher.option1" />
						</div></td>
						<td>
						<div ng-hide="editingData[teacher.description]">
							{{teacher.option2}}
						</div>
						<div ng-show="editingData[teacher.description]">
							<input type="text" ng-model="teacher.option2" />
						</div></td>
						<td>
						<div ng-hide="editingData[teacher.description]">
							{{teacher.option3}}
						</div>
						<div ng-show="editingData[teacher.description]">
							<input type="text" ng-model="teacher.option3" />
						</div></td>
						<td>
						<div ng-hide="editingData[teacher.description]">
							{{teacher.option4}}
						</div>
						<div ng-show="editingData[teacher.description]">
							<input type="text" ng-model="teacher.option4" />
						</div></td>
						<td>
						<div ng-hide="editingData[teacher.description]">
							{{teacher.correctAns}}
						</div>
						<div ng-show="editingData[teacher.description]">
							<input type="text" ng-model="teacher.correctAns" />
						</div></td>
						<td>
						<button ng-hide="editingData[teacher.description]" ng-click="modify(teacher)">
							Modify
						</button>
						<button ng-show="editingData[teacher.description]" ng-click="update(teacher)">
							Update
						</button>
					</tr>
				</tbody>
			</table>
		
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total={{questions.length}} md-trigger="onpagechange"></md-data-table-pagination>
		
		<div layout layout-sm="column">
			<md-input-container flex>
				<label> Question</label>
				<input ng-model="question.description">
			</md-input-container>

			<md-input-container flex>
				<label>Note</label>
				<input ng-model="question.note">
			</md-input-container>

			<md-input-container flex>
				<label>Option1</label>
				<input ng-model="question.option1">
			</md-input-container>

			<md-input-container flex>
				<label>Option2</label>
				<input ng-model="question.option2">
			</md-input-container>

			<md-input-container flex>
				<label>Option3</label>
				<input ng-model="question.option3">
			</md-input-container>

			<md-input-container flex>
				<label>Option4</label>
				<input ng-model="question.option4">
			</md-input-container>

			<md-input-container flex>
				<label>Correct Ans.</label>
				<input ng-model="question.correctAns">
			</md-input-container>

			<md-input-container flex>
				<md-button class="md-raised md-primary">
					Update
				</md-button>
			</md-input-container>

		</div>

		<md-button class="md-raised md-primary" value="Add" ng-click="addQuestion(question)">
			Add
		</md-button>
		<md-button class="md-raised" ng-click="removeQuestion($index)">
			Remove
		</md-button>

	</div>
	</form>
</md-content>
