<md-data-table-toolbar>
	<h3 class="md-headline">Scheduled Exam : </h3>
	</md-data-table-toolbar>
<section>
	<md-content layout-padding>
	<div layout="column" layout-align="end end">
		<span style="color: red">Time left : {{counter}} </span> <label>
			<div ng-init="startTimer()">
		</label>
	</div>

	<div layout="row">
		<span flex="50"> <strong>{{currentPage}} Out Of
				{{totalPages}}</strong></span>

		<div layout="row" layout-wrap class="colorNested">
			<div ng-repeat="i in buttonLimit(totalPages) track by $index">
				<md-button class="md-raised md-primary"
					ng-click="onButtonClick($index+1)">Page{{$index+1}}</md-button>
					
			</div>

		</div>

	</div>
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div layout="row" layout-xs="column" layout-wrap>
		<div flex="50" ng-repeat="item in array">
			<div>
				<md-content flex layout-padding> <b
					ng-bind-html="+ (item.qId) +')'+ item.description"></b> </md-content>
			</div>

			<p>
				<i>{{item.note}}</i>
			</p>

			<div layout="column">
			
				<md-checkbox name="answer"
					ng-model="selected[$index + item.option1]"
					ng-click="toggleSelection($index,item.id,1)">
				{{item.option1 }}</md-checkbox>
				<md-checkbox name="answer"
					ng-model="selected[$index + item.option2]"
					ng-click="toggleSelection($index,item.id,2)">
				{{item.option2 }}</md-checkbox>
				<md-checkbox name="answer"
					ng-model="selected[$index + item.option3]"
					ng-click="toggleSelection($index,item.id,3)">
				{{item.option3 }}</md-checkbox>
				<md-checkbox name="answer"
					ng-model="selected[$index + item.option4]"
					ng-click="toggleSelection($index,item.id,4)">
				{{item.option4 }}</md-checkbox>

			
				
			</div>
		</div>
	</div>
	
	.......{{selection}}

	<p>&nbsp;</p>
	
	.......{{userAnsList}}

	<div layout-sm="column">
		<div layout="row" layout-align="center end">
			<div layout="row">
				<div layout-align="start end" ng-init="isDisabled = false">
					<md-button ng-disabled="isDisabledPrevious" ng-model="isDisabledPrevious"
						ng-click="onPrevious()"><ng-md-icon
						icon="skip_previous"></ng-md-icon> </md-button>
				</div>

				<div layout-align="start end">
					<md-button ng-disabled="isDisabledNext" ng-model="isDisabledNext"
						ng-click="onNext()"><ng-md-icon
						icon="skip_next"></ng-md-icon>  </md-button>

				</div>
			</div>
		</div>
		
		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<div layout="row" layout-align="center end">
			<md-button class="md-raised md-primary" ng-click="showConfirm($event)">submit</md-button>

		</div>
	</div>



	</md-content>
</section>


