<div id="studentListDiv">
	<h3 class="md-headline">Student List</h3>	

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search
			By Name</label> <input ng-model="searchByName"> </md-input-container>
	</div>
	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search Student</label> 
		</md-input-container>
	</div>
	<div>
		<md-data-table-container>
		<table md-data-table
			md-row-select="selectedstud"
			class="md-primary" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">

				<tr>
					<th order-by="firstName" name="Name" unit=""></th>
					<th order-by="email_id" name="Email-ID"></th>
					<th order-by="address" name="Address"></th>
					<th order-by="contact" name="Contact"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="student in students | orderBy: query.order | filter: searchByName | limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{student.firstName}} {{student.lastName}}</td>
					<td>{{student.email_id}}</td>
					<td>{{student.address}}</td>
					<td>{{student.contact}}</td>

				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{students.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</div>



<div ng-show="selectedstud.length > 0" >
<!-- id="assignExamDiv" ng-show="selectedstud > 0" -->
	<h3 class="md-headline">Scheduled Exams</h3>
	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search
			By Exam Title</label> <input ng-model="searchCategory"> </md-input-container>
	</div>

	<div>
		<md-data-table-container>
		<table md-data-table md-row-select="selectedScheduledExam"
			md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">
				<tr>

					<th order-by="examtitle" name="Exam Title"></th>
					<th order-by="desc" name="desc"></th>
					<th order-by="startdatentime" name="Start Date And Time"></th>
					<th order-by="enddatentime" name="End Date And Time"></th>
				</tr>
			</thead>
			<tbody>

				<tr md-auto-select
					ng-repeat="exam in scheduledExams | orderBy: query.order | filter: searchCategory | limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{exam.examtitle}}</td>
					<td>{{exam.desc}}</td>
					<td>{{exam.startdatentime | formatDate}}</td>
					<td>{{exam.enddatentime | formatDate}}</td>

				</tr>
			</tbody>
		</table>

		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{scheduledExams.length}} md-trigger="onpagechange"></md-data-table-pagination>


	</div>
	<!-- ng-show="selected.length" -->
	<md-button class="md-fab md-primary md-hue-2"  ng-show="selectedScheduledExam.length > 0"
		ng-click="assignScheduledExamToStudent()"><md-icon md-svg-src="img/icons/add.svg"></md-icon><md-tooltip>Assign Student to ScheduledExam</md-tooltip></md-button>
		
		
</div>
