<h3 class="md-headline">Add Scheduled Exam</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<form name="scheduledExamForm" ng-model="scheduledExamForm">

	<div layout="column" layout-xs="column">

		<div layout="row" layout-align="" layout-xs="column">

			<md-input-container flex> <label>Scheduled
				Exam Title<span style="color: red"
				ng-show="scheduledExamForm.examtitle.$error.required"
				class="mandatory">*</span>
			</label> <input name="examtitle" id="examtitle" ng-required="true"
				ng-model="tempScheduledExam.examtitle">
			<div ng-messages="scheduledExamForm.examtitle.$error"
				ng-if="scheduledExamForm.examtitle.$submitted || scheduledExamForm.examtitle.$touched">
				<div ng-message="required">Please Enter Scheduled Exam Title.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Description</label>
			<input name="desc" id="desc" ng-required="true"
				ng-model="tempScheduledExam.desc">
			<div ng-messages="scheduledExamForm.desc.$error"
				ng-if="scheduledExamForm.desc.$submitted || scheduledExamForm.desc.$touched">
				<div ng-message="required">Please Enter Description.</div>
			</div>
			</md-input-container>
		</div>
		<div layout="row" layout-align="" layout-xs="column">

			<md-input-container flex> <label>Start
				Date/Time</label> <input mdc-datetime-picker date="true" time="true"
				type="text" name="startdatentime" id="startdatentime"
				ng-required="true" placeholder="StartDateTime"
				max-date="tempScheduledExam.enddatentime"
				ng-model="tempScheduledExam.startdatentime">
			<div ng-messages="scheduledExamForm.startdatentime.$error"
				ng-if="scheduledExamForm.startdatentime.$submitted || scheduledExamForm.startdatentime.$touched">
				<div ng-message="required">Please Select Scheduled Exam End
					Date And Time.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>End
				Date/Time</label> <input mdc-datetime-picker date="true" time="true"
				type="text" name="enddatentime" id="enddatentime" ng-required="true"
				placeholder="EndDateTime"
				min-date="tempScheduledExam.startdatentime"
				ng-model="tempScheduledExam.enddatentime">
			<div ng-messages="scheduledExamForm.enddatentime.$error"
				ng-if="scheduledExamForm.enddatentime.$submitted || scheduledExamForm.enddatentime.$touched">
				<div ng-message="required">Please Select Scheduled Exam End
					Date And Time.</div>
			</div>
			</md-input-container>
		</div>
		<div layout="row" layout-align="" layout-xs="column">
			<md-input-container flex> <label>Duration
				in Minutes<span style="color: red"
				ng-show="scheduledExamForm.duration.$error.required"
				class="mandatory">*</span>
			</label> <md-select name="duration" ng-model="tempScheduledExam.duration"
				ng-required="true"> <md-option ng-value="dur"
				ng-repeat="dur in durations">{{dur}}</md-option> </md-select>
			<div ng-messages="scheduledExamForm.duration.$error"
				ng-if="scheduledExamForm.duration.$submitted || scheduledExamForm.duration.$touched">
				<div ng-message="required">Please Select Exam Duration.</div>
			</div>
			</md-input-container>

		</div>


		<p>&nbsp;</p>
		<div ng-show="selected==''">Select Questions To Adding into Your
			Scheduled Exam.</div>
		<p>&nbsp;</p>

		<md-data-table-container>
		<table md-data-table md-row-select="selected" md-progress="deferred"
			ng-required="true">
			<thead md-order="query.order" md-trigger="onorderchange">
				<tr>
					<th name="Question Desc" order-by="description"></th>

					<th name="Option1" order-by="option1"></th>
					<th name="Option2" order-by="option2"></th>
					<th name="Option3" order-by="option3"></th>
					<th name="Option4" order-by="option4"></th>
					<th numeric name="Answer" order-by="correctAns"></th>
				</tr>
			</thead>

			<tbody>
				<tr md-auto-select
					ng-repeat="question in questions | orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">
					<td ng-bind-html="question.description">{{question.description}}</td>

					<td>{{question.option1}}</td>
					<td>{{question.option2}}</td>
					<td>{{question.option3}}</td>
					<td>{{question.option4}}</td>
					<td>{{question.correctAns}}</td>

				</tr>
			</tbody>
		</table>

		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{questions.length}} md-trigger="onpagechange"></md-data-table-pagination>


		<div layout="row" layout-align="center end">
			<md-button class="md-raised md-primary" ng-click="addScheduledExam()"
				ng-disabled="scheduledExamForm.$invalid">Create
			scheduled Exam</md-button>
			<md-button class="md-raised" ng-click="cancelButton()">Cancel</md-button>

		</div>
</form>

