#logo{
	
	background: url(img/images/protostar_logo_pix_313_132.jpg) no-repeat 0 0
}

.circular {
	width: 60px;
	height: 60px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

	}