

<p>&nbsp;</p>
<p>&nbsp;</p>



<div layout="column" layout-align="centre centre" layout-xs="column" flex="50">

	<md-input-container> <label>Select
		Role</label> <md-select ng-model="RoleSecEntity.role" placeholder="User role">
	<md-option>Admin</md-option> <md-option>Student</md-option> <md-option>Teacher</md-option>
	</md-select> </md-input-container>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

    <div layout="row" layout-wrap flex>
            <div flex="50" ng-repeat="item in moduleList">
              <md-checkbox ng-checked="selected[$index]"  ng-click="toggleSelection($index)">
                {{ item }}
              </md-checkbox>
            </div>
     </div>
          
<p>&nbsp;</p>    

<md-button class="md-raised md-primary" ng-click="addRoleSec()">Save</md-button>
			
<p>&nbsp;</p>  
<p>&nbsp;</p>    

<div layout="column" layout-align="center center">

	<md-button class="md-raised md-primary" ng-click="showConfirm($event)">Submit</md-button>
</div>








