
<form name="changePwdForm" ng-model=changePwdForm layout-xs="column"
	layout-gt-sm="column">

	<md-card>
	<p>&nbsp;</p>
	<div layout="column" layout-align="centre centre" layout-xs="column">

		<div layout="row" layout-align="centre centre">
			<md-input-container flex> <label>New
				password<span style="color: red"
				ng-show="changePwdForm.newPassword.$error.required" class="mandatory">*</span>
			</label> <input name="newPassword" type="{{inputType1}}" ng-model="newPassword"
				ng-required="true">
			<div ng-messages="changePwdForm.newPassword.$error"
				ng-if="changePwdForm.newPassword.$submitted || changePwdForm.newPassword.$touched">
				<div ng-message="required">New Password</div>
			</div>
			</md-input-container>
			<md-icon md-svg-icon="img/icons/ic_visibility_black_24px.svg"
				ng-mouseover="showpass1()" ng-mouseleave="setpassinput1()"> <md-tooltip>Show
			Password</md-tooltip> </md-icon>
		</div>

		<div layout="row" layout-align="centre centre">
			<md-input-container flex> <label>Confirm
				password<span style="color: red"
				ng-show="changePwdForm.cPassword.$error.required" class="mandatory">*</span>
			</label> <input name="cPassword" type="{{inputType2}}" ng-model="cPassword"
				ng-required="true">
			<div ng-messages="changePwdForm.cPassword.$error"
				ng-if="changePwdForm.cPassword.$submitted || changePwdForm.cPassword.$touched">
				<div ng-message="required">Confirm new password</div>
			</div>
			</md-input-container>
			<md-icon md-svg-icon="img/icons/ic_visibility_black_24px.svg"
				ng-mouseover="showpass2()" ng-mouseleave="setpassinput2()"> <md-tooltip>Show
			Password</md-tooltip> </md-icon>
			
		</div>

		


	</div>
	<p>&nbsp;</p>
	<div layout="row" layout-align="center center">
		<md-button class="md-raised md-primary"
			ng-disabled="changePwdForm.$invalid" ng-click="updatePass()">Change
		Password</md-button>
	</div>
	
	
	</md-card>

</form>

