<h5>
	<b>Teacher's Information</b>
</h5>
<form name="instituteTeacherForm" ng-model="instituteTeacherForm">

	<div layout="column" layout-align="" layout-xs="column">

		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>First
				name<span style="color: red"
				ng-show="instituteTeacherForm.firstName.$error.required"
				class="mandatory">*</span>
			</label> <input ng-model="tempTeacher.firstName" name="firstName"
				ng-required="true">
			<div ng-messages="instituteTeacherForm.firstName.$error"
				ng-if="instituteTeacherForm.firstName.$submitted || instituteTeacherForm.firstName.$touched">
				<div ng-message="required">Please Enter Teacher FirstName.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Last
				name<span style="color: red"
				ng-show="instituteTeacherForm.lastName.$error.required"
				class="mandatory">*</span>
			</label> <input ng-model="tempTeacher.lastName" name="lastName"
				ng-required="true">
			<div ng-messages="instituteTeacherForm.lastName.$error"
				ng-if="instituteTeacherForm.lastName.$submitted || instituteTeacherForm.lastName.$touched">
				<div ng-message="required">Please Enter Teacher LastName.</div>
			</div>
			</md-input-container>

		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Address</label>
			<input name="address" ng-model="tempTeacher.address"> </md-input-container>

			<md-input-container flex> <label>Contact<span
				style="color: red"
				ng-show="instituteTeacherForm.contact.$error.required"
				class="mandatory">*</span></label> <input ng-model="tempTeacher.contact"
				type="number" name="contact" ng-required="true" ng-minlength="10"
				ng-maxlength="10">
			<div ng-messages="instituteTeacherForm.contact.$error"
				ng-if="instituteTeacherForm.contact.$submitted || instituteTeacherForm.contact.$touched">
				<div ng-message="required">Please Enter Contact.</div>
				<span class="help-block"
					ng-show="((instituteTeacherForm.contact.$error.minlength || instituteTeacherForm.contact.$error.maxlength) && instituteTeacherForm.contact.$dirty) ">Contact
					number should be 10 digits</span>
			</div>
			</md-input-container>
		</div>

	</div>


	<div layout="row" layout-xs="column">
	
		<md-input-container flex> <md-checkbox
			ng-model="tempTeacher.isGoogleUser" ng-true-value="true"
			ng-false-value="false">	<label>Is Google User</label></md-checkbox> </md-input-container>

		<md-input-container flex> <label>Email-id<span
			style="color: red"
			ng-show="instituteTeacherForm.email_id.$error.required"
			class="mandatory">*</span></label> <input ng-model="tempTeacher.email_id"
			type="email" name="email_id" ng-required="true">
		<div ng-messages="instituteTeacherForm.email_id.$error"
			ng-if="instituteTeacherForm.email_id.$submitted || instituteTeacherForm.email_id.$touched">
			<div ng-message="required">Please Enter Student Valid email_id.</div>
		</div>
		</md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex ng-hide="tempTeacher.isGoogleUser">
		<label>Password<span style="color: red"
			ng-show="instituteTeacherForm.password.$error.required"
			class="mandatory">*</span></label> <input name="password"
			ng-model="tempTeacher.password" type="password"
			ng-required="!tempTeacher.isGoogleUser">
		<div ng-messages="instituteTeacherForm.password.$error"
			ng-if="instituteTeacherForm.password.$submitted || instituteTeacherForm.password.$touched">
			<div ng-message="required">Please Enter Password.</div>
		</div>
		</md-input-container>

		<md-input-container ng-hide="tempTeacher.isGoogleUser" flex>
		<label>Confirm Password<span style="color: red"
			ng-show="instituteTeacherForm.Confirmpassword.$error.required"
			class="mandatory">*</span></label> <input name="Confirmpassword"
			type="Confirmpassword" ng-model="Confirmpassword"
			ng-required="!tempTeacher.isGoogleUser">

		<div ng-messages="instituteTeacherForm.Confirmpassword.$error"
			ng-if="instituteTeacherForm.Confirmpassword.$submitted || instituteTeacherForm.Confirmpassword.$touched">
			<div ng-message="required">Password do not match</div>
		</div>
		</md-input-container>
	</div>


	<div layout="row" layout-align="center center">
	
		<md-button class="md-raised md-primary"
			ng-disabled="instituteTeacherForm.$invalid"
			ng-click="addInstituteTeachers()">Add Teacher </md-button>

		<a ui-sref="institute.addStudents({currentInstID: currentInstID})"><md-button
				class="md-raised md-primary" ng-click="">Skip</md-button> </a>
	</div>


</form>