<html>
<head>
<title>Institute</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/lib/base/angular-material.min.css">
<link rel="stylesheet" href="/lib/base/googleapi.roboto.css">

<meta name="viewport" content="initial-scale=1" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" 	href="/lib/datatables-responsive/css/xeditable.css">
<link rel="stylesheet"	href="/lib/datatables-responsive/css/font-awesome.css">
<link rel="stylesheet"	href="/lib/datatables-responsive/css/jquery.dataTables.css">
<link rel="stylesheet"	href="/lib/datatables-responsive/css/datatables.bootstrap.css">
<link rel="stylesheet"	href="/lib/datatables-responsive/css/angular-datatables-main.css">
<link rel="stylesheet"	href="/lib/datatables-responsive/css/dataTables.tableTools.css">
<link rel="stylesheet"	href="/lib/datatables-responsive/css/dataTables.responsive.css">

<link rel="stylesheet" href="css/institute.css">

<meta name="viewport" content="initial-scale=1" />
</head>

<body ng-app="instituteApp" ng-controller="instituteCtr">

	<section layout="row" layout-sm="column" layout-align="center center">

		<!-- <div  style="display: none;" id="instituteForm"> -->
		
		
		<md-content layout-padding>
		<form name="myInstituteForm" ng-submit="myInstituteForm.$valid && myInstituteForm.$dirty ? addInstituteToDB() : return false;">
			<b>Institute</b>
			
			<!-- <md-input-container flex> <label>ID:</label>
			<input ng-model="institute.id"> </md-input-container>-->
				
			<md-input-container flex md-is-error="myInstituteForm.name.$invalid && (myInstituteForm.$submitted || myInstituteForm.name.$dirty)"> 
			   <label>Institute Name:</label>
			   <input  name="name" id="name" ng-required="true" ng-model="institute.name">
                  <div ng-messages="myInstituteForm.name.$error" ng-if="myInstituteForm.name.$submitted || myInstituteForm.name.$touched">
                      <div ng-message="required">Please enter name.</div>
                 </div> 
			</md-input-container>	
			 		
			<md-input-container flex md-is-error="myInstituteForm.email_id.$invalid && (myInstituteForm.$submitted ||myInstituteForm.email_id.$dirty)"> 
			    <label>Email ID(required)</label>
			    <input type="email"  name="email_id" id="email_id"  ng-model="institute.email_id" required> 
			    
			    <div ng-messages="myInstituteForm.email_id.$error" ng-if="myInstituteForm.email_id.$submitted || myInstituteForm.email_id.$touched">
                   <div ng-message="required">Please enter email-id.</div>
                   <div ng-message="myInstituteForm.email_id.$dirty && myInstituteForm.email_id.$error.email">Invalid Email address.</div>
                </div>
			 </md-input-container>
			
			<md-input-container flex md-is-error="myInstituteForm.phone_no.$invalid && (myInstituteForm.$submitted || myInstituteForm.phone_no.$dirty)"> 
			    <label>Phone No:</label>
			    <input type="number" name="phone_no" id="phone_no" ng-maxlength="4"  ng-minlength="4" ng-model="institute.phone_no"required>
			    <div ng-messages="myInstituteForm.phone_no.$error" ng-if="myInstituteForm.phone_no.$submitted || myInstituteForm.phone_no.$touched">
                     <div ng-message="required">Please enter mobile number.</div>
                     <div ng-message="myInstituteForm.phone_no.$invalid && myInstituteForm.phone_no.$error.$dirty"> only accept 10 digit number without +91. e.g 9900993311</div>
                </div> 
			 </md-input-container>
			
	
			 <md-input-container flex md-is-error="myInstituteForm.address.$invalid && (myInstituteForm.$submitted || myInstituteForm.address.$dirty)">
				     <label>Address:</label> 
				     <input name="address" id="address" ng-required="true" ng-model="institute.address">
				     <div ng-messages="myInstituteForm.address.$error" ng-if="myInstituteForm.address.$submitted || myInstituteForm.address.$touched">
					      <div ng-message="required">Please enter address.</div>
				     </div>
				</md-input-container>
		
        <div layout layout-sm="column">
			<md-button class="md-raised md-primary">submit</md-button>
			<md-button class="md-raised" ng-click="cancelButtonClick()">cancel</md-button>
			
			<!-- <md-button  class="md-raised md-primary" href="/app/cust/customer.list.html">Add Customer</md-button> -->
            <md-button  class="md-raised md-primary" href="/app/teacher/teacher.html">Add Teacher </md-button>
			<md-button  class="md-raised md-primary" href="/app/student/student.html">Add Student </md-button>
	   </div>
			
	</form>
</md-content>
<!-- </div> -->
</section>

	
	<!-- Angular Material Dependencies -->
	<script src="/lib/datatables-responsive/js/dataTables.responsive.js"></script>
	<script src="/lib/datatables-responsive/js/xeditable.js"></script>
	<script src="/lib/datatables-responsive/js/jquery.dataTables.js"></script>
	<script src="/lib/datatables-responsive/js/angular-datatables.js"></script>


	<!-- Angular Material Dependencies -->
	<script src="/lib/base/angular.min.js"></script>
	<script src="/lib/base/angular-animate.min.js"></script>
	<script src="/lib/base/angular-route.min.js"></script>
	<script src="/lib/base/angular-aria.min.js"></script>
	<script src="/lib/base/angular-messages.min.js"></script>
	<script src="/lib/base/angular-material.min.js"></script>
		<script src="js/institute.ctr.js"></script>
	<script src="/lib/base/googleapi.client.js"></script>
	
	<script>
	/* Init google endpoint API */
		window.onload = function() {
		  init(); 
		};
		
	
	</script>


</body>
</html>