<section>
	<form name="addSubjectForm" ng-model="addSubjectForm"
		ng-submit="addSubjectForm.$valid " novalidate>

		<div layout="column" layout-align="centre centre" layout-xs="column">

			<md-input-container
				md-is-error="addSubjectForm.name.$invalid && (addSubjectForm.$submitted || addSubjectForm.name.$dirty )">
			<label>Enter Subject name<span style="color: red"
				ng-show="addSubjectForm.name.$error.required" class="mandatory">*</span></label>

			<input name="name" id="name" ng-required="true" ng-model="name">
			</md-input-container>

			<div ng-messages="addSubjectForm.name.$error"
				ng-if="addSubjectForm.name.$submitted || addSubjectForm.name.$touched ">
				<div ng-message="required">Please Enter subject.</div>

			</div>
		</div>

		<div layout="row" layout-align="centre centre" layout-xs="column">
			<md-button class="md-raised md-primary"
				ng-disabled="addSubjectForm.$invalid" ng-click="addSubjects()">Add
			Subject</md-button>
		</div>



		<div>

			<h5>
				<b>Select Subject before Adding.</b>
			</h5>

			<md-data-table-container>
			<table md-data-table class="md-primary"
				md-row-select="selectedSubjects" md-progress="deferred">
				<thead>
					<tr>
						<th order-by="name" name="Subject Name"></th>

					</tr>
				</thead>
				<tbody>
					<tr md-auto-select
						ng-repeat="subject in subjectList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: searchText"">
						<td>{{subject.name}}</td>

					</tr>
				</tbody>
			</table>
			<md-data-table-pagination md-limit="query.limit" md-page="query.page"
				md-total={{subjects.length}} md-trigger="onpagechange"></md-data-table-pagination>
			</md-data-table-container>
		</div>

		<div layout="row" layout-align="end end" layout-sm="column" flex>

			<md-button class="md-raised md-primary" ng-show="flag3 == true"
				ng-disabled="selectedSubjects.length==0"
				ng-click="showsubConfirm($event)">Add
			Subjects </md-button>
			
			<md-button class="md-raised md-primary" ng-show="flag3 == false"
				ng-disabled="selectedSubjects.length==0"
				ng-click="addInstituteSubjects()">Add
			Subjects </md-button>


		</div>
	</form>
</section>