<section>
	<form name="addStandardForm" ng-model="addStandardForm"
		ng-submit="addStandardForm.$valid " novalidate>


		<div layout="column" layout-align="centre centre" layout-xs="column">

			<md-input-container
				md-is-error="addStandardForm.name.$invalid && (addStandardForm.$submitted || addStandardForm.name.$dirty )">
			<label>Enter Standard name<span style="color: red"
				ng-show="addStandardForm.name.$error.required" class="mandatory">*</span></label>

			<input name="name" id="name" ng-required="true" ng-model="standard.name">
				
			<div ng-messages="addStandardForm.name.$error"
				ng-if="addStandardForm.name.$submitted || addStandardForm.name.$touched ">
				<div ng-message="required">Please Enter Standard.</div>
				
			</div>
			</md-input-container>
		</div>



		<div layout="row" layout-align="end end" layout-xs="column" flex>
			<md-button class="md-raised md-primary" ng-disabled="addStandardForm.$invalid"
				ng-click="addInstituteStandards({currentInstID: currentInstID})">Add
			Standard </md-button>


		</div>
	</form>
</section>

