
<h3 class="md-headline">New Institute</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div layout="column" layout-align="space-around center"
	layout-sm="column">


	<div layout="row" layout-sm="column">
		<div flex="80">
			<md-input-container> <label>Institute
				Name</label> <input ng-model="tempInstitute.name"> </md-input-container>
		</div>

		<div flex="80">
			<md-input-container> <label>Institute
				Description</label> <input ng-model="tempInstitute.desc"> </md-input-container>
		</div>
	</div>


	<div layout="row" layout-sm="column">
		<md-input-container flex="80"> <label>Institute
			Address</label> <input ng-model="tempInstitute.address"> </md-input-container>

		<md-input-container flex="80"> <label>Contact
			No</label> <input ng-model="tempInstitute.phone_no"> </md-input-container>
	</div>

</div>

<div layout="row" layout-align="center center" layout-sm="column">
	<md-button class="md-raised md-primary" ng-click="addInstitute()">Add
	Institute </md-button>

</div>





