
<div layout="row" layout-sm="column">
	<div layout="column" flex>		
		<md-input-container flex> <label>Institute Name</label> <input
			ng-model="Institute.instituteId" readonly> </md-input-container>		
		<md-input-container flex> <label>Institute Name</label> <input
			ng-model="Institute.name"> </md-input-container>

		<md-input-container flex> <label>Institute Description</label>
		<input ng-model="Institute.desc"> </md-input-container>
		
			<md-input-container flex> <label>Institute Address</label>
		<input ng-model="Institute.address"> </md-input-container>
		
		<md-input-container flex> <label>Phone No</label> <input
			ng-model="Institute.phone_no"> </md-input-container>
		
		<md-input-container flex> <label>User first Name</label> <input
			ng-model="Institute.user_fname"> </md-input-container>
	
		<md-input-container flex> <label>User Last Name</label> <input
			ng-model="Institute.user_lname"> </md-input-container>
			
		<md-input-container flex> <label>User Email-Id</label> <input
			ng-model="Institute.user_email_id"> </md-input-container>
			
		<md-input-container flex> <label>User Contact No</label> <input
			ng-model="Institute.user_contact_no"> </md-input-container>
		
		<div layout="row" layout-align="end end" layout-sm="column"> 
		<md-button class="md-raised md-primary" ng-click="editInstitute()">Update Institute </md-button>
 
	</div>
		</div>
</div>



