<h3 class="md-headline">Standard List</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<md-input-container flex> <label>Search By
	Standard</label> <input ng-model="searchCategory"> </md-input-container>
	
<div ng-init="viewStandardByInstitute()">
	<md-content layout-padding> <md-data-table-container>
	<table md-data-table  md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				
				<th name="STANDARD NAME" order-by="name"></th>


			</tr>
		</thead>
		<tbody>
			<tr md-auto-select
				ng-repeat="standard in viewstdList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: {name: searchCategory}"
				data-ng-class="{danger:!standard.active}">

				
				<td><span data-ng-hide="editMode">{{standard.name}}</span> <input
					type="text" data-ng-show="editMode" data-ng-model="standard.name" 
					data-ng-required /></td>

				<td><md-button ng-show="flag==true"
						ui-sref="institute.view.view_divisions({selectedStdID : standard.id, selectedStdName : standard.name})"
						><md-icon md-svg-src="img/icons/view.svg"></md-icon> <md-tooltip>View Divisions </md-tooltip></md-button></td>
						
				<td><md-button ng-show="flag==false"
						ui-sref="institute.list_view.view_divisions({selectedStdID : standard.id, selectedStdName : standard.name})"
						><md-icon md-svg-src="img/icons/view.svg"></md-icon> <md-tooltip>View Divisions </md-tooltip></md-button></td>

						
				<td ng-show="flag==true"><a ui-sref="institute.view.view_standards({selectedStdID: standard.id})"><md-button data-ng-hide="editMode"
						data-ng-click="editMode = true;editStd(standard)"
						 ng-show="false"><md-icon md-svg-src="img/icons/edit.svg"></md-icon> <md-tooltip>Edit </md-tooltip> </md-button> </a></td>
						
				<td ng-show="flag==false"><a ui-sref="institute.list_view.view_standards({selectedStdID: standard.id})"><md-button data-ng-hide="editMode"
						data-ng-click="editMode = true;editStd(standard)"
						 ng-show="false"><md-icon md-svg-src="img/icons/edit.svg"></md-icon> <md-tooltip>Edit </md-tooltip> </md-button> </a></td>
						
				

				<td><md-button data-ng-show="editMode"
						data-ng-click="editMode = false; updateStandard()"><md-icon md-svg-src="img/icons/save.svg"></md-icon> <md-tooltip>Save </md-tooltip></md-button></td>


				<td><md-button type="submit" data-ng-show="editMode"
					data-ng-click="editMode = false; cancel()"><md-icon md-svg-src="img/icons/cancel.svg"></md-icon> <md-tooltip>Cancel </md-tooltip></md-button></td>
			</tr>
		</tbody>
	</table>


	
	 <md-data-table-pagination
		md-limit="query.limit" md-page="query.page"
		md-total={{viewstdList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container> 
	
	<md-button ng-show="flag==true" ui-sref="institute.view.view_standards.addstandards"
		class="md-fab md-primary md-hue-2"><md-icon
				md-svg-src="img/icons/add.svg"></md-icon> <md-tooltip>Add
			Standard</md-tooltip></md-button>
		
	<md-button ng-show="flag==false" ui-sref="institute.list_view.view_standards.addstandards"
		class="md-fab md-primary md-hue-2"><md-icon
				md-svg-src="img/icons/add.svg"></md-icon> <md-tooltip>Add
			Standard</md-tooltip></md-button>
		
		
	<div ui-view></div>
	</md-content>
</div>

