
<h3 class="md-headline">New Institute</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div layout="column" layout-padding	layout-xs="column">

<form name="instituteForm" ng-model="instituteForm">
	<div layout="row" layout-xs="column" flex>
	
			<md-input-container  flex> <label>Institute
				Name<span style="color:red" ng-show="instituteForm.name.$error.required" class="mandatory">*</span></label> <input  name="name" ng-model="tempInstitute.name" ng-required="true"> 
					<div ng-messages="instituteForm.name.$error"
						ng-if="instituteForm.name.$submitted || instituteForm.name.$touched">
						<div ng-message="required">Please Enter Institute Name.</div>
					</div></md-input-container>
	
					<md-input-container  flex> <label>Institute
				Description<span style="color:red" ng-show="instituteForm.desc.$error.required" class="mandatory">*</span></label> <input  name=" desc" ng-model="tempInstitute.desc" ng-required="true"><div ng-messages="instituteForm.desc.$error"
						ng-if="instituteForm.desc.$submitted || instituteForm.desc.$touched">
						<div ng-message="required">Please Enter Institute Description.</div>
					</div> </md-input-container>
	</div>


	<div layout="row" layout-xs="column" flex>
		<md-input-container  flex> <label>Institute
			Address<span style="color:red" ng-show="instituteForm.address.$error.required" class="mandatory">*</span></label> <input name="address" ng-model="tempInstitute.address" ng-required="true"><div ng-messages="instituteForm.address.$error"
						ng-if="instituteForm.address.$submitted || instituteForm.address.$touched">
						<div ng-message="required">Please Enter Institute Address.</div>
					</div> </md-input-container>

		<md-input-container flex> <label>Contact
			No<span style="color:red" ng-show="instituteForm.phone_no.$error.required" class="mandatory">*</span></label> <input  type="number" name="phone_no" ng-model="tempInstitute.phone_no" ng-minlength="10" ng-maxlength="10" ng-required="true"><div ng-messages="instituteForm.phone_no.$error"
						ng-if="instituteForm.phone_no.$submitted || instituteForm.phone_no.$touched">
						<div ng-message="required">Please Enter Institute Phone_no.</div>
						<span class="help-block"
				ng-show="((instituteForm.phone_no.$error.minlength || instituteForm.phone_no.$error.maxlength) && instituteForm.phone_no.$dirty) ">Phone Number should be 10 digits</span>
					</div> </md-input-container>
	</div>
</form>
</div>

<div layout="row" layout-align="center center" layout-xs="column">
	
	<a ui-sref="institute.addAdmins"><md-button
			class="md-raised md-primary" ng-click="addInstitute()" ng-disabled="instituteForm.$invalid">Add Institute </md-button> </a>
			
	<!-- <md-button class="md-raised md-primary" ng-click="showAlert($event)" ng-disabled="instituteForm.$invalid">Add
	Institute </md-button> -->
	
	<md-button class="md-raised " ng-click="cancelButton()">Cancel</md-button>

</div>





