<p>&nbsp;</p>
<p>&nbsp;</p>

<h2 class="md-headline">
	Student List
</h2>

<p>&nbsp;</p>

<div layout="row" layout-align="center center">
	<b>Standard : {{selectedStdName}}</b>
	  >>
	<b>Division : {{selectedDivName}}</b>
	  >>
	<b>Subject : {{selectedSubName}}</b>
</div>

<p>&nbsp;</p>


<div layout="column">

	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th order-by="id" name="Student ID" unit=""></th>
				<th order-by="Name" name="Name" unit=""></th>
				<th order-by="email_id" name="Email-ID"></th>
				<th order-by="address" name="Address"></th>
				<th order-by="contact" name="Contact"></th>

			</tr>
		</thead>
		<tbody>
			<tr md-auto-select
				ng-repeat="student in studentListBySubject track by $index | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: searchText">
				<td>{{student.id}}</td>
				<td>{{student.firstName}} {{student.lastName}}</td>
				<td>{{student.email_id}}</td>
				<td>{{student.address}}</td>
				<td>{{student.contact}}</td>
				<td><a ui-sref="institute.view.editUser({selectedID : student.id})"><md-button
							class="md-raised md-primary" ng-click="">Edit</md-button></a></td>
				<td><a ui-sref="institute.view.viewUser({selectedID : student.id})"><md-button
							class="md-raised md-primary" ng-click="">View</md-button></a></td>
			</tr>
		</tbody>
	</table>
	</md-data-table-container>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{students.length}} md-trigger="onpagechange"></md-data-table-pagination>


</div>



<div>

<!-- <a ui-sref="institute.view.studentByStd.addstudentsByStd({currentInstID: curUser.instituteID})"><md-button
					class="md-raised md-primary" ng-click="test()">Add Students</md-button> </a>
					
</div> -->
