<md-content layout-padding>
<form>

	<h3 class="md-headline">Institute List</h3>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<md-input-container flex> <label>Search By
		Institute name</label> <input ng-model="searchCategory"> </md-input-container>

	<div>

		<md-data-table-container>
		<table md-data-table md-row-select="selected" md-progress="deferred"
			ng-click="disable()">
			<thead md-order="query.order" md-trigger="onorderchange">
				<tr>
					<th name="INSTITUTE NAME" order-by="name"></th>
					<th name="DESCRIPTION" order-by="desc"></th>
					<th name="CONTACT NO" order-by="phone_no"></th>
					<th name="ADDRESS" order-by="address"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="institute in institutes  | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit  | filter: {name: searchCategory}">
					<td>{{institute.name}}</td>
					<td>{{institute.desc}}</td>
					<td>{{institute.phone_no}}</td>
					<td>{{institute.address}}</td>
					<!-- <td><a
						ui-sref="institute.list_view({selectedInstituteID: institute.id,  previousState : { name : institute.list }})"><md-button
								class="md-raised md-primary" ng-click="">VIEW</md-button> </a></td>  -->


				</tr>
			</tbody>

		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{institutes.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>

		<div layout="row" layout-align="center center">
			<a
				ui-sref="institute.list_view({selectedInstituteID: selected[0].id})"><md-button
					ng-show="selected.length > 0" class="md-raised md-primary"
					ng-click="">VIEW</md-button> </a>

		</div>
		
	</div>
	
</form>
</md-content>
