
<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			
			<div class="md-toolbar-tools">
				<span flex></span>

				<section layout="column">
			<md-button class="md-icon-button" aria-label="prev" ng-click="back()">
			<md-tooltip> go back </md-tooltip> <md-icon
				md-svg-icon="img/icons/ic_reply_black_24px.svg"
				aria-label="Prev State"></md-icon> </md-button>
					<div layout="row" layout-align="end start" layout-sm="column" >
						
					
					<md-button aria-label="Open Settings" ng-click="toggleRight()">
					<ng-md-icon icon="more_vert"></ng-md-icon> </md-button>

					</div>
				</section>
			</div>
			

			<!-- Right Navigation Pane -->
			
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right" layout="column"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Institute Page Sub Menu</h1>
			</md-toolbar> <md-content layout-padding> <md-button
				ng-click="close()" class="md-primary"> Close Sidenav
			Right </md-button>
			
			<div layout="column" layout-align="start start">
			<md-button ui-sref="institute.addInfo"
				ng-click="close()"  class="md-primary">Institute Registration
			</md-button>
			 
			<md-button ui-sref="institute.list" ng-click="close()" 
				class="md-primary">Institute List</md-button> 
				
			<md-button ui-sref="institute.view()" ng-click="close()"
				class="md-primary">Institute View</md-button> 
			</div>

			</md-content> </md-sidenav>

		

	</div>

	<div ui-view>
	
		<div layout="column" layout-align="start start">
		
			<md-button ui-sref="institute.addInfo" ng-click="close()"
				class="md-primary" hide-xs>Institute Registration</md-button>
				
				<md-button ui-sref="institute.list" ng-click="close()" 
				class="md-primary" hide-xs>Institute List</md-button> 
				
				<md-button ui-sref="institute.view()" ng-click="close()"
							class="md-primary" hide-xs>Institute View</md-button>
		

			
		</div>
		
		
	</div>
	</section>

</div>
