<h3 class="md-headline">Admin's Information</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<form name="instituteAdminForm" ng-model=instituteAdminForm
	layout-xs="column" layout-gt-sm="column">

	<div layout="column" layout-align="" layout-xs="column">

		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>First
				name<span style="color: red"
				ng-show="instituteAdminForm.firstName.$error.required"
				class="mandatory">*</span>
			</label> <input name="firstName" ng-model="tempAdmin.firstName" id="firstName"
				ng-required="true">
			<div ng-messages="instituteAdminForm.firstName.$error"
				ng-if="instituteAdminForm.firstName.$submitted || instituteAdminForm.firstName.$touched">
				<div ng-message="required">Please Enter Admin FirstName.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Last
				name<span style="color: red"
				ng-show="instituteAdminForm.lastName.$error.required"
				class="mandatory">*</span>
			</label> <input name="lastName" ng-model="tempAdmin.lastName" id="lastName"
				ng-required="true">
			<div ng-messages="instituteAdminForm.lastName.$error"
				ng-if="instituteAdminForm.lastName.$submitted || instituteAdminForm.lastName.$touched">
				<div ng-message="required">Please Enter Admin LastName.</div>
			</div>
			</md-input-container>

		</div>

		<div layout="row" layout-align="centre centre" layout-xs="column">


			<md-input-container flex> <label>Address</label>
			<input name="address " ng-model="tempAdmin.address" id="address"> </md-input-container>

			<md-input-container flex> <label>Contact<span
				style="color: red"
				ng-show="instituteAdminForm.contact.$error.required"
				class="mandatory">*</span></label> <input type="number" name="contact" id="contact"
				ng-model="tempAdmin.contact" ng-required="true" ng-minlength="10"
				ng-maxlength="10">
			<div ng-messages="instituteAdminForm.contact.$error"
				ng-if="instituteAdminForm.contact.$submitted || instituteAdminForm.contact.$touched">
				<div ng-message="required">Please Enter Contact.</div>
				<span class="help-block"
					ng-show="((instituteAdminForm.contact.$error.minlength || instituteAdminForm.contact.$error.maxlength) && instituteAdminForm.contact.$dirty) ">Contact
					number should be 10 digits</span>
			</div>
			</md-input-container>
		</div>
	</div>

	<div layout="row" layout-xs="column">
	
		<md-input-container flex><md-checkbox
			ng-model="tempAdmin.isGoogleUser" ng-true-value="true" 
			ng-false-value="false"><label>Is Google User</label> </md-checkbox> </md-input-container>

		<md-input-container flex> <label>Email-id<span
			style="color: red"
			ng-show="instituteAdminForm.email_id.$error.required"
			class="mandatory">*</span></label> <input type="email" name="email_id" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
			ng-blur="checkUserAlreadyExist(tempAdmin.email_id)"
			ng-model="tempAdmin.email_id" ng-required="true">
		<div ng-messages="instituteAdminForm.email_id.$error"
			ng-if="instituteAdminForm.email_id.$submitted || instituteAdminForm.email_id.$touched">
			<div ng-message="required">Email-Id should not Empty.</div>
			<div ng-message="pattern">Please Enter Valid Email-Id.</div>
		</div>
		<span style="color: red" id="error">{{error}}</span> 
		</md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container ng-hide="tempAdmin.isGoogleUser" flex>
		<label>Password<span style="color: red"
			ng-show="instituteAdminForm.password.$error.required"
			class="mandatory">*</span></label> <input name="password" type="password" id="password"
			ng-model="tempAdmin.password" ng-required="!tempAdmin.isGoogleUser" ng-blur="checkConfirmPassword(tempAdmin.password, tempAdmin.confirmpassword)">
		<div ng-messages="instituteAdminForm.password.$error"
			ng-if="instituteAdminForm.password.$submitted || instituteAdminForm.password.$touched">
			<div ng-message="required">Please Enter Password.</div>
		</div>
		</md-input-container>

		<md-input-container ng-hide="tempAdmin.isGoogleUser" flex>
		<label>Confirm Password<span style="color: red"
			ng-show="instituteAdminForm.Confirmpassword.$error.required"
			class="mandatory">*</span></label> <input name="Confirmpassword" id="Confirmpassword"
			type="password" ng-model="tempAdmin.confirmpassword"
			ng-required="!tempAdmin.isGoogleUser"  ng-blur="checkConfirmPassword(tempAdmin.password, tempAdmin.confirmpassword)">
		
		<div ng-messages="instituteAdminForm.Confirmpassword.$error"
			ng-if="instituteAdminForm.Confirmpassword.$submitted || instituteAdminForm.Confirmpassword.$touched">
			<div ng-message="required">Please Enter Confirm Password.</div>
		</div>
		<span style="color: red" id="err" ng-show=" tempAdmin.confirmpassword">{{checkConfirmPassword(tempAdmin.password, tempAdmin.confirmpassword)}}</span> 
		</md-input-container>
	</div>
	</div>


	<div layout="row" layout-align="center center">
	
	
		<md-button class="md-raised md-primary" ng-show="flag3==true" id="addButton"
			ng-disabled="instituteAdminForm.$invalid"
			ng-click="addInstituteAdmins()">Add Admin to Institute</md-button>
	
		 <md-button class="md-raised md-primary" ng-show="flag4==true" id="addButton"
			ng-disabled="instituteAdminForm.$invalid"
			ng-click="addInstituteAdmins()">Add Admins to Institute</md-button>
			
		<!-- <a ui-sref="institute.addTeachers({currentInstID: currentInstID})"><md-button ng-show="flag==true"
					class="md-raised md-primary" ng-click="">Skip</md-button> </a> -->
					
	</div>

</form>

