
<div layout="row" layout-sm="column">
	<div layout="column" flex>
				
		<md-input-container flex> <label>Fill Institute Details </label>  </md-input-container>
		
		<md-input-container flex> <label>Institute ID</label> <input
			ng-model="tempInstitute.instituteId"> </md-input-container>
				
		<md-input-container flex> <label>Institute Name</label> <input
			ng-model="tempInstitute.name"> </md-input-container>

		<md-input-container flex> <label>Institute Description</label>
		<input ng-model="tempInstitute.desc"> </md-input-container>
		
			<md-input-container flex> <label>Institute Address</label>
		<input ng-model="tempInstitute.address"> </md-input-container>
		
		<md-input-container flex> <label>Phone No</label> <input
			ng-model="tempInstitute.phone_no"> </md-input-container>
		
		<md-input-container flex> <label>User first Name</label> <input
			ng-model="tempInstitute.user_fname"> </md-input-container>
	
		<md-input-container flex> <label>User Last Name</label> <input
			ng-model="tempInstitute.user_lname"> </md-input-container>
			
		<md-input-container flex> <label>User Email-Id</label> <input
			ng-model="tempInstitute.user_email_id"> </md-input-container>
			
		<md-input-container flex> <label>User Contact No</label> <input
			ng-model="tempInstitute.user_contact_no"> </md-input-container>
		
		<div layout="row" layout-align="end end" layout-sm="column"> 
		<md-button class="md-raised md-primary" ng-click="addInstitute()">Add Institute </md-button>

	</div>
		</div>
</div>



