<h3 class="md-headline">Edit Institute</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div>


	<div>
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>

	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
					<th name="INSTITUTE NAME" order-by="name"></th>
					<th name="EMAIL-ID" order-by="user_email_id"></th>
					<th name="CCONTACT NO" order-by="user_contact_no"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="institute in institutes  | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: searchText">

				<td>
					<div ng-hide="editingData[institute.name]">
						{{institute.name}}</div>
					<div ng-show="editingData[institute.name]">
						<md-input-container flex> <input
							ng-model="institute.name" /> </md-input-container>
					</div>
				</td>

				<td>
					<div ng-hide="editingData[institute.name]">
						{{institute.user_email_id}}</div>
					<div ng-show="editingData[institute.name]">
						<md-input-container flex> <input
							ng-model="institute.email_id" /> </md-input-container>
					</div>
				</td>

				<td>
					<div ng-hide="editingData[institute.name]">
						{{institute.user_contact_no}}</div>
					<div ng-show="editingData[institute.name]">
						<md-input-container flex> <input
							ng-model="institute.phone_no" /> </md-input-container>
					</div>
				</td>

				<td><md-button aria-label="Modify Row"
						ng-hide="editingData[institute.name]" ng-click="modify(institute)">
					<ng-md-icon icon="edit"></ng-md-icon> </md-button> 
					<md-button aria-label="Save Row" ng-show="editingData[institute.name]"
						ng-click="update(institute)"> <ng-md-icon icon="save"></ng-md-icon>
					</md-button></td>

				<td><md-button ng-click="removeInstitute($index)">
					<ng-md-icon icon="delete"></ng-md-icon></md-button></td>
			</tr>
		</tbody>
	</table>
	
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{institutes.length}} md-trigger="onpagechange"></md-data-table-pagination>

	</md-data-table-container>


</div>


