<html lang="en" ng-app="StarterApp">

	<head>
		<meta name="viewport" content="initial-scale=1" />

		<link rel="stylesheet"
		href="lib/base/css/font-awesome.css">
		<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
		<link rel="stylesheet" href="css/proto.css">
		<link rel="stylesheet" href="lib/base/css/angular-material.min.css">
		<link rel="stylesheet" href="lib/base/css/googleapi.roboto.css">

	</head>
	<body layout="row" ng-controller="AppCtrl">

		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2"
		md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
			<md-toolbar class="md-tall md-hue-2">
				<span flex></span>
				<div >
					<img src="images/protostar_logo_pix_313_132.jpg" alt="logo" style="float: left;width:100%;height:100%;">
					<hr>					
				</div>
				
		</md-sidenav>

		<div layout="column" class="relative" layout-fill role="main">

			<md-toolbar ng-show="!showSearch">

				<!-- <div class="md-toolbar-tools">
				<md-button ng-click="toggleSidenav('left')" hide-gt-md
				aria-label="Menu"> <ng-md-icon icon="menu"></ng-md-icon>
				</md-button>

				<span flex></span>
				<md-button aria-label="Search" ng-click="showSearch = !showSearch">
				<ng-md-icon icon="search"></ng-md-icon> </md-button>

				<md-button aria-label="Open Settings"
				ng-click="showListBottomSheet($event)"> <ng-md-icon
				icon="more_vert"></ng-md-icon> </md-button>
				</div> -->

				<md-tabs md-stretch-tabs class="md-primary"
				md-selected="data.selectedIndex">
					<md-tab id="tab1"
					aria-controls="tab1-content">
						Home
					</md-tab>
					<md-tab id="tab2"
					aria-controls="tab2-content">
						About
					</md-tab>
					<md-tab id="tab3"
					aria-controls="tab3-content">
						Services
					</md-tab>
					<md-tab id="tab4"
					aria-controls="tab4-content">
						Google Partner
					</md-tab>
					<md-tab id="tab5"
					aria-controls="tab5-content">
						Contacts
					</md-tab>
					<md-tab id="tab6"
					aria-controls="tab6-content">
						Become Re-Seller
					</md-tab>
				</md-tabs>
			</md-toolbar>

			<md-content flex md-scroll-y>
				<ui-view layout="column"
				layout-fill layout-padding>
					<div class="inset" hide-sm></div>
					<ng-switch on="data.selectedIndex" class="tabpanel-container">

						<div role="tabpanel" id="tab1-content" aria-labelledby="tab1"
						ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout-sm="column">

							<div layout="row" layout-align="center start" layout-sm="column">
								<img src="images/background.jpg" alt="logo" style="float: left;width:98%;height:40%;">
							</div>

							<div layout="row" layout-align="space-around end" layout-sm="column">

								<div layout-align-sm="centre" >
									<img src="images/product.jpg" alt="logo" style="float: left;width:300px;height:200px;">

									<md-button ng-click="">
										Software Product Development
									</md-button>
								</div>

								<div layout-align-sm="centre" >
									<img src="images/itservice.jpg" alt="logo" style="float: left;width:300px;height:200px;">

									<md-button layout-align-sm="centre" ng-click="">
										IT Services
									</md-button>
								</div>

								<div layout-align-sm="centre" >
									<img src="images/g_app.jpg" alt="logo" style="float: left;width:300px;height:200px;">

									<md-button layout-align-sm="centre" ng-click="">
										Google Apps for Work
									</md-button>
								</div>

							</div>

							<div layout="row" layout-align="center end" >
								<md-card flex-gt-sm="90" flex-gt-md="80">
									<md-card-content>
										<h2 align="center"><b>Go Google, Work Smartly</b></h2>
										<md-tab-body>

											<p layout="row" layout-align="center center">
												Professional email, online storage, shared calendars, video meetings and more. Built for business, designed for teams.
												work files in Drive, access them from any device and share them instantly with teammates.
												No more sending attachments or merging different versions.
												More than 5 million businesses have gone Google.
											</p>

										</md-tab-body>
									</md-card-content>
								</md-card>
							</div>

							<div layout="row" layout-align="space-between end" layout-sm="column">

								<md-card flex-gt-sm="50" flex-gt-md="40">
									<md-card-content>
										<img src="images/time2.jpg" class="md-card-image" alt="image caption" width:100px;height:50px;>
										<h2 align="center"><b>Your Employees At Work Aways</b></h2>
										<p>
											Equip your employees with the best tools for work. Let them work the way they live.
											<br>
										</p>
										<div layout="row" layout-align="center end">
											<md-button class="md-raised md-primary">
												read more
											</md-button>
										</div>
									</md-card-content>
								</md-card>

								<md-card flex-gt-sm="50" flex-gt-md="40">
									<md-card-content>
										<img src="images/quality1.jpg" class="md-card-image" alt="image caption">
										<h2 align="center"><b>The Highest Quality Services</b></h2>
										<p>
											Our expert Technical Support team is available 24/7 to work with you to resolve all your issues.
											<br>
										</p>
										<div layout="row" layout-align="center end">
											<md-button class="md-raised md-primary">
												read more
											</md-button>
										</div>
									</md-card-content>
								</md-card>

							</div>

							<div layout="row" layout-align="center end" layout-sm="column">

								<md-card flex-gt-sm="100" flex-gt-md="80">
									<md-card-content>

										<h1 align="center"><b>What Clients Say</b></h1>
										<p align="center">
											Protostar have always delivered an extremely positive experience, whether this be deploying cloud apps, sharing ideas surrounding technology or delivering requested services and support. I would have no hesitation in recommending the services provided by Protostar.
										</p>
										<h2 align="center"> Dr. Amol Lawande - Manager </h2>
										<h2 align="center"> Amclin Life Sciences, <a href="#">www.amclin.com </a></h2>
									</md-card-content>
								</md-card>

							</div>

							<div layout="row" layout-align="center end">
								<h3>FOLLOW PROTOSTAR</h3>
							</div>
							<div layout="row" layout-align="center end">

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-facebook" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-linkedin" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-twitter" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-google-plus" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

							</div>

						</div>

						<div role="tabpanel" id="tab2-content" aria-labelledby="tab2"
						ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"
						layout="column">

							<md-card flex-gt-sm="90" flex-gt-md="80">
								<md-card-content>
									<div layout-sm="column">
										<img src="images/1.jpg" class="md-card-image" alt="image caption" width:100px;height:50px;>
									</div>

									<h2 align="center"><b>Protostar Consulting Services</b></h2>
									<p>
										Protostar is a technology Start-up Company specializing in software product development and technology services.
										We take pride in helping our customers work with latest, evolving and affordable technology solutions. We have industry's best and brightest software engineers and technology consultants whose expertise spans from niche technologies, to the most advanced next generation BPM & Analytics, Cloud, Social and Mobile technologies.
									</p>

								</md-card-content>
							</md-card>

							<md-card flex-gt-sm="90" flex-gt-md="80">
								<md-card-content>
									<div layout-sm="column">
										<img src="images/about6.jpg" class="md-card-image" alt="image caption" width:100px;height:50px;>
									</div>
									<h2 align="center"><b>Vision</b></h2>
									<p>
										Make IT affordable to businesses and institutes of all sizes.
									</p>

								</md-card-content>
							</md-card>

							<md-card flex-gt-sm="90" flex-gt-md="80">
								<md-card-content>
									<div layout-sm="column">
										<img src="images/about2.jpg" class="md-card-image" alt="image caption" width:100px;height:50px;>
									</div>
									<h2 align="center"><b>Mission</b></h2>
									<p>
										Apply affordable technology to small and medium businesses and institutes to improve their efficiency and effectiveness.
									</p>

								</md-card-content>
							</md-card>

							<md-card flex-gt-sm="90" flex-gt-md="80">
								<md-card-content>
									<div layout-sm="column">
										<img src="images/about1.png" class="md-card-image" alt="image caption" width:100px;height:50px;>
									</div>
									<h2 align="center"><b>Values</b></h2>
									<p>
										<ol>
											<li>
												Be a persistent partner to our customers in their journey to success
											</li>
											<li>
												Always follow a win-win approach with all stakeholders
											</li>
											<li>
												Believe in the team work, and that every employee is the supreme asset of the company
											</li>
											<li>
												Be the best in whatever we do
											</li>
										</ol>

									</p>

								</md-card-content>
							</md-card>

							<div layout="row" layout-align="center end">
								<h3>FOLLOW PROTOSTAR</h3>
							</div>
							<div layout="row" layout-align="center end">

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-facebook" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-linkedin" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-twitter" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-google-plus" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

							</div>

						</div>

						<div role="tabpanel" id="tab3-content" aria-labelledby="tab3"
						ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"
						layout="column" >

							<h2><b>Product Development</b></h2>
							<div layout="row" layout-sm="column">
								<div flex>
									<img src="images/develop.png" alt="logo" style="float: left;width:400px;height:300px;">
								</div>
								<div flex>
									We have enterprise and utility products developed on Cloud environments. We provide end to end product development services.
									We also develop innovative and next generation IT products in association with our partners.
								</div>
							</div>

							<h2><b>IT Services</b></h2>
							<div layout="row" layout-sm="column">
								<div  flex>
									<img src="images/services.png" alt="logo" style="float: left;width:400px;height:300px;">
								</div>
								<div flex>
									We provide all kind of IT services to Small and Medium enterprises. We serve IT needs end to end as a trusted partner to our clients.
									We have deep expertise in IT Software Development, IT Consulting, Advisory Services, Domain Registration, Website Designing, and IT Trainings.
								</div>
							</div>

							<h2><b>Google Apps</b></h2>
							<div layout="row" layout-sm="column">
								<div flex>
									<img src="images/apps.png" alt="logo" style="float: left;width:400px;height:300px;">
								</div>
								<div flex>
									We are part of Google Apps Reseller Program and helping local and international businesses and institutes acquire and put Google Applications to use.
									Google Apps are designed for improving efficiency and effectiveness of any size organization. It provides best in class collaboration and communication services in the world today.
								</div>
							</div>

							<div layout="row" layout-align="center end">
								<h3>FOLLOW PROTOSTAR</h3>
							</div>

							<div layout="row" layout-align="center end">

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-facebook" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-linkedin" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-twitter" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-google-plus" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

							</div>

						</div>

						<div role="tabpanel" id="tab4-content" aria-labelledby="tab4"
						ng-switch-when="3" md-swipe-left="next()" md-swipe-right="previous()"
						layout-sm="column">

							<div layout="column" layout-align="center" layout-sm="column">
								<div style="background-color:#808080;height: 200px;" flex="60">
									<div layout="row" layout-align="center center" layout-sm="column">
										<img src="images/google_apps.jpg" alt="logo" style="float: left;width:380px;height:200px;">
									</div>
								</div>
							</div>

							<div layout="column" layout-align="center center" layout-sm="column">
								<md-card flex>
									<md-card-content>
										<div layout="row" layout-align="start start" layout-sm="column">

											<md-card flex-gt-sm="70" flex-gt-md="60">
												<md-card-content>
													<h2>What is Google For Work?</h2>
													<p>
														Google for Work is a service from Google that provides customizable enterprise versions of several Google products using a domain name provided by the customer. It features several Web applications with similar functionality to traditional office suites, including Gmail, Hangouts, Google Calendar, Drive, Docs, Sheets, Slides, Groups, News, Play, Sites, and Vault.
													</p>
													<p>
														Google for work is a very influential yet uncomplicated tool to run any business, irrespective of its range-big or small. Google hosts all these tools to enable the user to reduce IT costs and maintenance costs. When a small busineess decides to move on Google For Work, it is said that the organization has taken the best ever step to become productive and fruitful enough to run the business successfully. Employees of that particular organization will begin to know the facts and potential of this powerful tool.
													</p>
													<p>
														Using Google For Work, the organization gets more customized email addresses, calendar, Mobile email and IM access. No additional software or hardware is required to access it. It's default spam filtering is considered to be the leading filter in the whole industry. 99.9% uptime is guaranteed in Google For Work with 24/7 email and phone support. It's setup is available for small businesses, education, government and also non-profit organizations.
													</p>

												</md-card-content>
											</md-card>

											<div flex-gt-sm="50" flex-gt-md="40">

												<div layout="row" layout-align="center start">
													<h1><b>Learn more about Google Apps</b></h1>
												</div>

												<md-card flex-gt-sm="30" flex-gt-md="25">
													<md-card-content>
														<div>
															<md-whiteframe class="md-whiteframe-6dp" flex="20" layout layout-align="center center">
																<img src="images/mail.jpg" alt="logo" style="float: left;width:150px;height:100px;">
																<span><strong>Mail -</strong> The backbone of Google Apps, this application handles your email beautifully with plenty of GBs in your inbox to spare. </span>
															</md-whiteframe>
														</div>
													</md-card-content>
												</md-card>

												<md-card flex-gt-sm="30" flex-gt-md="25">
													<md-card-content>
														<div>
															<md-whiteframe class="md-whiteframe-6dp" flex="20" layout layout-align="center center">
																<img src="images/calender.jpg" alt="logo" style="float: left;width:150px;height:100px;">
																<span><strong>Calendar -</strong>Everyone has busy schedules and the Google Apps calendar is the perfect key to organization.</span>
															</md-whiteframe>
														</div>
													</md-card-content>
												</md-card>

												<md-card flex-gt-sm="30" flex-gt-md="25">
													<md-card-content>
														<div>
															<md-whiteframe class="md-whiteframe-6dp" flex="20" layout layout-align="center center">
																<img src="images/docs.png" alt="logo" style="float: left;width:150px;height:100px;">
																<span><strong>Docs -</strong>Document management through Google Docs is simply brilliant. Share documents to staff easily and securely.</span>
															</md-whiteframe>
														</div>
													</md-card-content>
												</md-card>

												<md-card flex-gt-sm="30" flex-gt-md="25">
													<md-card-content>
														<div>
															<md-whiteframe class="md-whiteframe-6dp" flex="20" layout layout-align="center center">
																<img src="images/site1.png" alt="logo" style="float: left;width:150px;height:100px;">
																<span><strong>Sites -</strong>Versatile for intranet and websites, Google Sites is a user-friendly web platform with plenty of options.</span>
															</md-whiteframe>
														</div>
													</md-card-content>
												</md-card>
											</div>

										</div>
									</md-card-content>
								</md-card>
							</div>

							<div layout="row" layout-align="center end">
								<h3>FOLLOW PROTOSTAR</h3>
							</div>

							<div layout="row" layout-align="center end" >

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-facebook" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-linkedin" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-twitter" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-google-plus" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

							</div>

						</div>

						<div role="tabpanel" id="tab5-content" aria-labelledby="tab4"
						ng-switch-when="4" md-swipe-left="next()" md-swipe-right="previous()"
						layout-sm="column">

							<div layout="row" layout-align="center start">
								<md-card flex-gt-sm="60" flex-gt-md="50">
									<md-card-content>
										<h2><b>Contact Info</b></h2>
										Protostar Consulting Services,
										<br>
										E-101, Manimangal Building,
										<br>
										Near Siddharth Motors,Old Pune Mumbai Road,
										<br>
										Kasarwadi, Pune, Maharashtra,PIN-411034
										<br>

										<br>

										Telephone: 020-30688468, Direct: +91 9922923988
										<br>
										E-mail: info@protostar.co.in
										<br>

									</md-card-content>
								</md-card>
							</div>

							<div layout="row" layout-align="center end">
								<h3>FOLLOW PROTOSTAR</h3>
							</div>

							<div layout="row" layout-align="center end">

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-facebook" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-linkedin" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-twitter" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-google-plus" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

							</div>

							<div layout="row" layout-align="end end" layout-sm="column">
								<md-button class="md-raised md-primary" ng-click="showAdd($event)">
									Contact Form
								</md-button>
							</div>

						</div>

						<div role="tabpanel" id="tab6-content" aria-labelledby="tab5"
						ng-switch-when="5" md-swipe-left="next()" md-swipe-right="previous()"
						layout-sm="column">

							<div layout="row" layout-align="center start">
								<md-card flex-gt-sm="60" flex-gt-md="50">
									<md-card-content>
										<h2><b>Contact Info</b></h2>
										Protostar Consulting Services,
										<br>
										E-101, Manimangal Building,
										<br>
										Near Siddharth Motors,Old Pune Mumbai Road,
										<br>
										Kasarwadi, Pune, Maharashtra,PIN-411034
										<br>

										<br>

										Telephone: 020-30688468, Direct: +91 9922923988
										<br>
										E-mail: info@protostar.co.in
										<br>

									</md-card-content>
								</md-card>
							</div>

							<div layout="row" layout-align="center end">
								<h3>FOLLOW PROTOSTAR</h3>
							</div>
							<div layout="row" layout-align="center end">

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-facebook" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-linkedin" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-twitter" class="fa s64" style="color:#0000ff; width:30px;height:20px;"></md-icon>

								</md-button>

								<md-button class="md-fab">
									<md-icon md-font-icon="fa-google-plus" class="fa s64" style="color:#0000ff;width:30px;height:20px;" ></md-icon>

								</md-button>

							</div>

							<div layout="row" layout-align="end end" layout-sm="column">
								<md-button class="md-raised md-primary" ng-click="showReseller($event)">
									Apply Online
								</md-button>
							</div>

					</ng-switch>
				</ui-view>
			</md-content>
		</div>

		<md-toolbar class="md-hue-1" ng-show="showSearch">
			<div class="md-toolbar-tools">

				<md-button ng-click="showSearch = !showSearch" aria-label="Back">
					<ng-md-icon icon="arrow_back"></ng-md-icon>
				</md-button>
				<h3 flex="10">Back</h3>

				<md-input-container md-theme="input" flex>
					<label>&nbsp;</label>
					<input ng-model="search.who" placeholder="enter search">
				</md-input-container>

				<md-button aria-label="Search" ng-click="showSearch = !showSearch">
					<ng-md-icon icon="search"></ng-md-icon>
				</md-button>

				<md-button aria-label="Open Settings"
				ng-click="showListBottomSheet($event)">
					<ng-md-icon
					icon="more_vert"></ng-md-icon>
				</md-button>
			</div>

		</md-toolbar>

		<footer>
			<div layout="row" layout-align="center end">

				<p>
					© 2015 | Protostar Consulting Services. All rights reserved.
					<br>
					The trademarks are of respective companies.
					<br>
					Website designed by <a href="#"> www.protostarcs.com</a>
				</p>

			</div>
		</footer>

		<!-- <!-- Angular Material Dependencies -->

		<script src="lib/base/jquery.min.js"></script>
		<script src="lib/base/bootstrap.min.js"></script>
		<script src="lib/base/angular.min.js"></script>
		<script src="lib/base/angular-animate.min.js"></script>
		<script src="lib/base/angular-route.min.js"></script>
		<script src="lib/base/angular-aria.min.js"></script>
		<script src="lib/base/angular-resource.min.js"></script>
		<script src="lib/base/angular-messages.min.js"></script>
		<script src="lib/base/angular-material.min.js"></script>
		<script src="lib/base/angular-material-icons.min.js"></script>

		<!-- Index Controller -->
		<script src="index.ctr.js"></script>

	</body>
</html>
