
		<div layout-align="centre centre">
		
			<md-whiteframe class="md-whiteframe-9dp" flex="30" layout layout-align="center center">
		 	 <span>
				
				<div layout="row" layout-align="center center">
			
				<div layout="column" layout-align="center center">
							<md-input-container flex>
						<b>CREATE BUSINESS ACCOUNT</b>
						</md-input-container>
					<md-input-container flex>
      				<label>Enter Name</label>
      				<input ng-model="business.businessName">
    				</md-input-container>
    				
    				<md-input-container flex>
    				<label>Admin Gmail id</label>
      				<input ng-model="business.adminGmailId">
    				</md-input-container>
    				
    				<md-input-container flex>
      				<label>First Name</label>
      				<input ng-model="business.adminFirstName">
    				</md-input-container>
    				
    				<md-input-container flex>
      				<label>Last Name</label>
      				<input ng-model="business.adminLastName">
    				</md-input-container>
    			</div>
    				    				
    			
    			</div>
    			
    			<!-- <div layout="column" layout-align="center center">
    				<md-input-container flex> <md-select ng-model="tempUser.gender" placeholder="Gender">
					<md-option>Male</md-option>
					<md-option>Female</md-option>
					</md-select> </md-input-container>
				</div> -->
    				
    				
    				<!-- <md-input-container flex> <md-select ng-model="tempUser.role" placeholder="User role">
					<md-option >Admin</md-option>
					<md-option >Student</md-option>
					<md-option >Teacher</md-option>
					</md-select> </md-input-container> -->
					
		 			 <div layout="row" layout-align="center end">
			 		 <md-button class="md-raised md-primary" ng-click="addBusiness()">Register</md-button> 
			 		 </div>
			 		 
			 		 </md-card-content>
			 </span>
		 	</md-whiteframe>
		 	
		 	
		 	
		 </div>
		 
		 



