
<md-content layout-padding>
<form name="Signin" ng-model="Signin">

	<!-- <div id="addField"> -->
	<div layout layout-sm="column">
		<md-input-container flex> <b>CREATE BUSINESS
			ACCOUNT</b> </md-input-container>
	</div>
	<div layout layout-sm="column">
		<md-input-container
			md-is-error="Signin.businessName.$invalid && (Signin.$submitted || Signin.businessName.$dirty)"
			flex> <label>Enter Business Name</label> <span
			style="color: red" ng-show="Signin.businessName.$error.required"
			class="mandatory">*</span> <input name="businessName"
			ng-model="business.businessName" ng-required="true">
			
		<div ng-messages="Signin.businessName.$error"
			ng-if="Signin.businessName.$submitted || Signin.businessName.$touched">
			<div ng-message="required">Please Enter Business Name.</div>
		</div>
		</md-input-container>
	<md-input-container flex >
		 Is Google User
		<md-checkbox ng-model="business.isGoogleUser" ng-true-value="true"
			ng-false-value="false"> </md-checkbox>
		</md-input-container>	
	</div>
	<div layout layout-xs="column">

		<md-input-container
			md-is-error="Signin.adminGmailId.$invalid && (Signin.$submitted || Signin.adminGmailId.$dirty)"
			flex> <label>Admin Gmail Email id</label> <span
			style="color: red" ng-show="Signin.adminGmailId.$error.required"
			class="mandatory">*</span> <input type="text" name="adminGmailId" id="adminGmailId"
			ng-model="business.adminGmailId" ng-blur="Checkemail(business.adminGmailId)" ng-required="true"><span
			style="color: red" >{{userexists}}</span>
		<div ng-messages="Signin.adminGmailId.$error"
			ng-if="Signin.adminGmailId.$submitted || Signin.adminGmailId.$touched">
			<div ng-message="required">Please Enter Gmail Id.</div>
		</div>
		</md-input-container>

		<md-input-container flex ng-hide="business.isGoogleUser">
		<label>Enter Password</label> <span style="color: red"
			ng-show="Signin.password.$error.required" class="mandatory">*</span>
		<input type="password" name="password" ng-model="business.password"
			ng-required="condition()">

		<div ng-messages="Signin.password.$error"
			ng-if="Signin.password.$touched">
			<div ng-message="required">Please Enter password.</div>
		</div>
		</md-input-container>
	</div>
	<div layout layout-sm="column">

		<md-input-container
			md-is-error="Signin.adminFirstName.$invalid && (Signin.$submitted || Signin.adminFirstName.$dirty)"
			flex> <label>First Name</label> <span
			style="color: red" ng-show="Signin.adminFirstName.$error.required"
			class="mandatory">*</span> <input name="adminFirstName"
			ng-model="business.adminFirstName" ng-required="true">
		<div ng-messages="Signin.adminFirstName.$error"
			ng-if="Signin.adminFirstName.$touched">
			<div ng-message="required">Please Enter First Name.</div>
		</div>

	
		</md-input-container>

		<md-input-container
			md-is-error="Signin.adminLastName.$invalid && (Signin.$submitted || Signin.adminLastName.$dirty)"
			flex> <label>Last Name</label> <span
			style="color: red" ng-show="Signin.adminLastName.$error.required"
			class="mandatory">*</span> <input name="adminLastName"
			ng-model="business.adminLastName" ng-required="true">

		<div ng-messages="Signin.adminLastName.$error"
			ng-if="Signin.adminLastName.$touched">
			<div ng-message="required">Please Enter Last Name.</div>
		</div>

		</md-input-container>
	</div>
 <div layout layout-sm="column">
		<md-input-container flex> <md-select
			name="selectedaccount" placeholder="accounttype"
			ng-model="accounttype" ng-required="true"> <md-option
			value={{list.id}} ng-repeat="list in accountlist" ng-selected="$first">
		{{list.accountName}} ( {{list.description}} ) </md-option> </md-select>
		  <div ng-messages="Signin.selectedaccount.$error"
				ng-if="Signin.selectedaccount.$submitted || Signin.selectedaccount.$touched">
				<div ng-message="required">select Account Type.</div>
			</div>  </md-input-container>
	</div> 

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised md-primary" ng-disabled="Signin.$invalid" 
			ng-click="addBusiness()">Register</md-button>

	</section>
	<!-- 	</div> -->
</form>
</md-content>
























<!-- 





<div layout-align="centre centre">

	<md-whiteframe class="md-whiteframe-9dp" flex="30" layout
		layout-align="center center"> <span>



		<div layout="column" layout-align="center center">
			<md-input-container flex> <b>CREATE BUSINESS
				ACCOUNT</b> </md-input-container>
			<md-input-container flex> <label>Enter
				Business Name</label> <input ng-model="business.businessName"> </md-input-container>

			<md-input-container flex> <label>Admin
				Gmail Email id</label> <input ng-model="business.adminGmailId"> 	<div flex-xs flex="50">
			<md-checkbox ng-model="user.isGoogleUser" ng-true-value="true"
				ng-false-value="false"> Is Google User </md-checkbox> </div>
			</md-input-container>
			<md-input-container flex ng-hide="user.isGoogleUser">
			<label>Password </label> <input type="password"
				ng-model="business.password"> </md-input-container>
			<md-input-container flex> <label>First
				Name</label> <input ng-model="business.adminFirstName"> </md-input-container>

			<md-input-container flex> <label>Last
				Name</label> <input ng-model="business.adminLastName"> </md-input-container>
		</div>



		<div layout="row" layout-align="center end">
			<md-button class="md-raised md-primary" ng-click="addBusiness()">Register</md-button>
		</div> </md-card-content>
	</span> </md-whiteframe>



</div> -->





