<h3 class="md-headline" ng-hide="partnerSchool.id">Add Partner
	School</h3>

<h3 class="md-headline" ng-show="partnerSchool.id">Edit Partner
	School</h3>
<form name="partnerSchoolForm">

	<div layout="column" layout-xs="column">

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label> Name <span
				style="color: red;">*</span>
			</label> <input ng-model="partnerSchool.schoolName" name="schoolName"
				ng-required="true" minlength="3">

			<div ng-messages="partnerSchoolForm.schoolName.$error"
				ng-if="partnerSchoolForm.schoolName.$submitted || partnerSchoolForm.schoolName.$touched">
				<div ng-message="required">Please Enter School Name</div>
				<div ng-message="minlength">Please Enter more thar 3 character</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Level<span
				style="color: red" ng-show="partnerSchoolForm.level.$error.required"
				class="mandatory">*</span></label> <md-select name="level"
				ng-model="partnerSchool.pSLevel" "
						ng-required="true">
			<md-option ng-value="pSLevel"
				ng-repeat="pSLevel in partnerSchoolLevels">{{pSLevel}}</md-option> </md-select>
			<div ng-messages="partnerSchoolForm.level.$error"
				ng-if="partnerSchoolForm.level.$submitted || partnerSchoolForm.level.$touched">
				<div ng-message="required">Please Select Board.</div>
			</div>
			</md-input-container>
		</div>

		<h3 class="md-subhead">Address</h3>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Line1 <span
				style="color: red;">*</span></label> <input name="line1" id="line1"
				ng-model="partnerSchool.address.line1" ng-required="true">
			<div ng-messages="partnerSchoolForm.line1.$error"
				ng-if="partnerSchoolForm.line1.$submitted || partnerSchoolForm.line1.$touched">
				<div ng-message="required">Please Enter Address Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Line2</label> <input
				name="line2" ng-model="partnerSchool.address.line2"> </md-input-container>
		</div>
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>State <span
				style="color: red;">*</span></label> <input name="state" id="state"
				ng-model="partnerSchool.address.state" ng-required="true">
			<div ng-messages="partnerSchoolForm.state.$error"
				ng-if="partnerSchoolForm.state.$submitted || partnerSchoolForm.state.$touched">
				<div ng-message="required">Please Enter State Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Country</label>
			<input name="country" ng-model="partnerSchool.address.country">
			</md-input-container>


		</div>
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>City <span
				style="color: red;">*</span></label> <input name="city" id="city"
				ng-model="partnerSchool.address.city" ng-required="true">
			<div ng-messages="partnerSchoolForm.city.$error"
				ng-if="partnerSchoolForm.city.$submitted || partnerSchoolForm.city.$touched">
				<div ng-message="required">Please Enter City Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Pin</label> <input
				name="pin" ng-model="partnerSchool.address.pin"> </md-input-container>
		</div>

		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>
				Primary Contact <span style="color: red;">*</span>
			</label> <input ng-model="partnerSchool.primaryContact" name="primaryContact"
				ng-required="true" minlength="3">

			<div ng-messages="partnerSchoolForm.primaryContact.$error"
				ng-if="partnerSchoolForm.primaryContact.$submitted || partnerSchoolForm.primaryContact.$touched">
				<div ng-message="required">Please Enter Primary Contact</div>
				<div ng-message="minlength">Please Enter more thar 3 character</div>
			</div>
			</md-input-container>
		</div>
	</div>

	<div layout="row" layout-xs="column">
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button ng-disabled="partnerSchoolForm.$invalid"
				class="md-raised md-primary" ng-hide="partnerSchool.id"
				ng-click="addPartnerSchool()">Add</md-button>
		</section>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button ng-disabled="partnerSchoolForm.$invalid"
				class="md-raised md-primary" ng-hide="partnerSchool.id == null"
				ng-click="addPartnerSchool()">Update</md-button>
		</section>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised" ng-click="cancelButton()">Cancel</md-button>
		</section>
	</div>

</form>
