<h3 class="md-headline">Partner School List</h3>
<section layout="row" layout-align="end end" flex>
<md-button class="md-raised md-primary" id="downloadExcel"
			ng-click="downloadData()">Download School Data
			<md-tooltip>
			download Bulk Partners Schools Data</md-tooltip>
			</md-button>
		<md-button class="md-raised md-primary" id="uplodeExcel"
			ng-click="UplodeExcel($event)">UplodeExcel
			<md-tooltip>
			Add Bulk Partners Schools</md-tooltip>
			</md-button>
	</section>

<div>
	<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
	<md-content> <md-data-table-container>

	<table md-data-table md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>

				<th name="School Name" order-by="schoolName"></th>
				<th name="Discription" order-by="desc"></th>
				<th name="Address" order-by="address.city"></th>
				<th name="Form Number" order-by="formNumber"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="pSchool in pSchoolList  | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: searchText ">
				<td>{{pSchool.schoolName}}</td>
				<td>{{pSchool.desc}}</td>
				<td>{{pSchool.address.city}}</td>
				<td>{{pSchool.formNumber}}</td>
				<td>
				<md-button class="md-raised md-primary"
							ui-sref="partnerSchool.addPartnerSchool({selectedPSchoolId: pSchool.id})">
						Edit</md-button>
				
				<!-- <a
					ui-sref="partnerSchool.addPartnerSchool({selectedPSchoolId: pSchool.id})"><md-button>
						<md-icon md-svg-src="img/icons/edit.svg"></md-icon> <md-tooltip>Edit
						</md-tooltip></md-button></a> --></td>


			</tr>
		</tbody>

	</table>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{pSchoolList.length}} md-trigger="onpagechange"></md-data-table-pagination>

	</md-data-table-container>
</div>

