

<div class="md-toolbar-tools">
	<span flex></span>
	<!--<md-card>-->
	<section layout="row">

		<md-button class="md-icon-button md-accent"
			ng-click="printSalSlipDiv('bookDetailDiv')" aria-label="Favorite">
		<md-icon md-svg-icon="img/icons/print.svg"></md-icon> </md-button>

	</section>
	<!--</md-card>-->
</div>
<div id="bookDetailDiv">
	<div style="width: 30%;">
		<h3 class="md-title">Address</h3>

		<p class="md-subhead">
			To,<br>{{schoolName}},<br> {{add.line1}} {{add.line2}},<br> {{add.city}}
			{{add.state}},<br> {{add.country}} {{add.pin}}.
		</p>

	</div>
	<div align="center">
		<h3 class="md-title">Item Details</h3>
	</div>
	<div>
		<table style="width:100%">
			<tr >

				<td width=20% name="Standard">Standard</td>
				<td width=50% name="Book Name">Book Name</td>
				<td width=10% name="Fees">Fees</td>
				<td width=10% name="Total Student">Total Student</td>
				<td width=10% name="Total Fees">Total Fees</td>
			</tr>
		</table>
	</div>
	<hr>
	<div>
		<table style="width:100%">
			<tr ng-repeat="test in BookDetail track by $index  ">
				<td width=20%>{{test.standard}}</td>
				<td width=50%><md-select ng-model="bookName"> <md-option
						ng-value="book.id" ng-repeat="book in bookStocks "
						ng-if="book.id==test.bookName">{{book.bookName}}({{book.bookMedium}})</md-option>
					</md-select></td>
				<td width=10% align="right">{{test.bookPrise}}</td>
				<td width=10% align="right">{{test.totalStud}}</td>
				<td width=10% align="right">{{test.totalFees}}</td>


			</tr>

		</table>
	</div>
	<hr>
	<div>
		<table>
			<tr>
				<td>Total :-</td>
				<td>{{bookSummary.total}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>20% Amount for Institute :-</td>
				<td>{{bookSummary.amtForInst20per}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>80% Amount for GRF :-</td>
				<td>{{bookSummary.amtForGRF80per}}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<!-- 	</tbody> -->

		</table>
	</div>
</div>

<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe>

