 <md-content layout-padding>
	<section layout="row" layout-align="end end" flex>
	<md-button class="md-raised md-primary" id="uplodeExcel"
		ng-click="UplodeExcel($event)">UplodeExcel</md-button>
	</section>
	
	<div class="md-headline"><u>Add Account Group</u></div>
	<form name="accGrp">
	
		[<span style="color: red;">Field Marked as asterik (*) are mandetory</span>]
	

	<div layout layout-sm="column">
		<md-input-container flex>
		<label>Enter Account Group Name <span style="color: red;">*</span></label>
		<input type="text" ng-model="tempAccountGrp.groupName" name="grpName" ng-required="true">
		
		<div ng-messages="accGrp.grpName.$error" ng-if="accGrp.grpName.$submitted || accGrp.grpName.$touched">
			<div ng-message="required">Please Enter Account Group Name</div>
			</div>
		</md-input-container>
	
		<md-input-container flex>
		<label>Enter Description<span style="color: red;">*</span></label>
		<input type="text" ng-model="tempAccountGrp.description" name="descrip" ng-required="true">
		
		<div ng-messages="accGrp.descrip.$error" ng-if="accGrp.descrip.$submitted || accGrp.descrip.$touched">
			<div ng-message="required">Please Enter Description</div>
			</div>
		
		</md-input-container>
	</div>
	<div layout layout-sm="column">
		<md-input-container flex>
		<label>Enter Order No <span style="color: red;">*</span></label>
		<input type="number" ng-model="tempAccountGrp.displayOrderNo" name="orderNo" ng-required="true">
			
		<div ng-messages="accGrp.orderNo.$error" ng-if="accGrp.orderNo.$submitted || accGrp.orderNo.$touched">
			<div ng-message="required">Please Enter Order Number</div>
			</div>
		</md-input-container>
	</div>
<section layout="row" layout-sm="column" layout-align="center center">
	<md-button class="md-raised md-primary" ng-disabled="accGrp.$invalid || accGrp.$pristine || accGrp.$touched"
	 ng-click="addAccountGroup()">Add</md-button>
	
	<md-button class="md-raised md-primary" ng-click="cancelBtn()">Cancel</md-button>
	</section>
	
	</form>
</md-content>



