<div layout="column">
	<div>
		<section layout="row">
			<div class="md-toolbar-tools">
				<md-button hide-xs ui-sref="accounting.account_add2" ng-click="close()"
					class="md-primary"> Add Account</md-button>
					
				<md-button hide-xs ui-sref="accounting.accountlist" ng-click="close()"
					class="md-primary"> Account List</md-button>


				<md-button hide-xs ui-sref="accounting.accountGroupAdd" class="md-primary">Add Account Group</md-button>

				<md-button hide-xs ui-sref="accounting.accountGroupList" class="md-primary"> Account Group List</md-button>

					
				<md-button ui-sref="accounting.addGeneralEntry"	class="md-primary">Add Account General Entry</md-button>	
					
			</div>

			<div class="md-toolbar-tools">
				<span flex></span>
				<md-card>
				<section layout="row">
					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

				</section>
				</md-card>
			</div>


			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Accounting </h1>
			
			</md-toolbar>
			<md-button show-xs ui-sref="accounting.account_add2" ng-click="close()"	class="md-primary"> Add Account</md-button>
					
				<md-button show-xs ui-sref="accounting.accountlist" ng-click="close()"	class="md-primary"> Account List</md-button>

				<md-button show-xs ui-sref="accounting.accountGroupAdd" class="md-primary">Add Account Group</md-button>

				<md-button show-xs ui-sref="accounting.accountGroupList" class="md-primary"> Account Group List</md-button>
			
			
			
			 <!-- 			Sidenav Buttons --> </md-sidenav>
		</section>

	</div>
	<div ui-view></div>
</div>