<md-content>
<div><h3><u>Account Group List</u></h3></div>

<section layout="row" layout-align="end end" flex>
	<md-button class="md-raised md-primary" id="uplodeExcel"
		ng-click="UplodeExcel($event)">UplodeExcel</md-button>
	</section>
<br>
<br>
<div>
<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
          <div class="md-toolbar-tools">
            <span>Account Group List</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="getList(true)">
              <md-icon md-svg-src="img/icons/ic_refresh_24px.svg">refresh</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
          <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'Groups' : 'Group'}} selected</span>
          </div>
        </md-toolbar>
        
	<md-data-table-container>
			<table md-data-table md-row-select="selected" md-progress="deferred">
				<thead md-order="query.order" md-trigger="onorderchange">
					<tr>
					<th name="Group Name" order-by="groupName"></th>
					<th name="Description" order-by="description"></th>
					<th name="Order No" order-by="displayOrderNo"></th>
					</tr>
				</thead>

				<tbody>
					<tr md-auto-select ng-repeat="acc in List | orderBy:query.order | limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{acc.groupName}}</td>
					<td>{{acc.description}}</td>
					<td>{{acc.displayOrderNo}}</td>
						
							
					 <td>
						<section layout="row" layout-sm="column">
						<md-button ui-sref="accounting.accountGroupEdit({record:acc})" ng-click="close()" class="md-fab md-primary md-hue-2">
						<md-icon md-svg-src="img/icons/edit.svg"></md-icon>
						</md-button>
						</section>
						</td>	
						<td>
						 <section>
							<md-button class="md-fab md-primary md-hue-2" ng-click="deleteAccountGrp(acc.id)">
							<md-icon md-svg-src="img/icons/remove.svg"></md-icon>
							</md-button>
						</section>
						</td>	
										
					</tr>
				</tbody>
		
			</table>


		<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total={{questions.length}} md-trigger="onpagechange"></md-data-table-pagination>
			</md-data-table-container>



</div>

</div>
</md-content>