
<md-content layout-padding>

<h3 class="md-headline">
	<u>Add General Account Entry</u>
</h3>

<form name="generalEntryForm">
	[<span style="color: red;">Field Marked as asterik (*) are
		mandetory</span>]

	<div layout layout-sm="column">
		<md-input-container flex> <label>Date</label> <input
			name="date" id="date" ng-model="tempGeneralEntry.date" readonly>
		</md-input-container>

	</div>


	<div layout layout-sm="column">

		<md-input-container flex> <label> Choose
			DebitAccount<span style="color: red;">*</span>
		</label> <md-select name="debitAcc" ng-model="debitAccount"
			ng-required="true"> <md-option ng-value="account"
			ng-repeat="account in accounts">{{account.accountName}}</md-option> </md-select>


		<div ng-messages="generalEntryForm.debitAcc.$error"
			ng-if="generalEntryForm.debitAcc.$submitted || generalEntryForm.debitAcc.$touched">
			<div ng-message="required">Please Choose Debit Account</div>
		</div>
		</md-input-container>


		<md-input-container flex> <label> Choose
			CreditAccount<span style="color: red;">*</span>
		</label> <md-select name="creditAcc"
			ng-model="creditAccount" ng-required="true">
		<md-option ng-value="account" ng-repeat="account in accounts">{{account.accountName}}</md-option>
		</md-select>

		<div ng-messages="generalEntryForm.creditAcc.$error"
			ng-if="generalEntryForm.creditAcc.$submitted || generalEntryForm.creditAcc.$touched">
			<div ng-message="required">Please Choose Credit Account</div>
		</div>
		</md-input-container>


	</div>
	<div layout layout-sm="column">
		<md-input-container flex> <label>Narration</label>
		<input name="narration" id="narration"
			ng-model="tempGeneralEntry.narration" ng-required="true">
		<div ng-messages="generalEntryForm.narration.$error"
			ng-if="generalEntryForm.narration.$submitted || generalEntryForm.narration.$touched">
			<div ng-message="required">Please Enter Narration</div>
		</div>
		</md-input-container>

		<md-input-container flex> <label>Amount</label> <input type="number"
			name="amount" id="amount" ng-model="tempGeneralEntry.amount"
			ng-required="true">

		<div ng-messages="generalEntryForm.amount.$error"
			ng-if="generalEntryForm.amount.$submitted || generalEntryForm.amount.$touched">
			<div ng-message="required">Please Enter Account</div>
		</div>
		</md-input-container>

	</div>
	<div layout="row" layout-align="center center">
		<md-button class="md-raised md-primary" name="btn"
			ng-disabled="generalEntryForm.$invalid" ng-click="addGeneralEntry()">Add
		general Entry</md-button>
		<md-button class="md-raised md-primary" ng-click="cancelButton()">Cancel</md-button>

	</div>



	<!-- <section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised md-primary"
			ng-disabled="generalEntryForm.$invalid" ng-click="">Add
		general Entry</md-button>
	</section>
	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised md-primary" ng-click="cancelButton()">Cancel</md-button>
	</section> -->
</form>
</md-content>
