

<md-content layout-padding>

<div>
	<md-data-table-container>
	<div >
<section layout="row" layout-align="end end" flex>
	<md-button class="md-raised md-primary"
	ui-sref="crm.addcontact">ADD NEW Contact</md-button>
</section>
</div>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
			<th name="Cid" order-by="Cid" ></th>
		    	<th name="fName" order-by="fName"></th>
				<th name="lName" order-by="lName"></th>
				<th name="status" order-by="status"></th>
				<th name="phone" order-by="Phone"></th>
				<th name="Email" order-by="Email"></th>
			    <th name="View" order-by="view"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="contact in contacts | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
				<td>{{contact.cid}}</td>
				<td>{{contact.fName}}</td>
				<td>{{contact.lName}}</td>
				<td>{{contact.status}}</td>
				<td>{{contact.phone}}</td>
				<td>{{contact.email}}</td> 
				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="crm.viewContact({selectedcontactNo: contact.cid})">View Contact</md-button>
					</section>
	     		</td>
			</tr>
		</tbody>
	</table>
 
 <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{contacts.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>

<!-- vals: {{customers}}
<md-button ui-sref="customer.list" ng-click="getAllemp()" class="md-primary">
		Customer List in side List view 
	</md-button>-->

</md-content>