
<md-content layout-padding>
<form name="contactform">

	<div id="addField">
	<div layout layout-sm="column">
			<md-input-container flex> <label>Contact Id</label> <input
				ng-model="contactL.cid" disabled> </md-input-container>
				</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First Name</label> <input
				ng-model="contactL.fName" > </md-input-container>

			<md-input-container flex> <label>Last
				Name </label> <input ng-model="contactL.lName"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Status
			</label> <input ng-model="contactL.status"> </md-input-container>
			<md-input-container flex> <label>Phone </label>
			<input ng-model="contactL.phone"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Email </label>
			<input ng-model="contactL.email"> </md-input-container>
		</div>
		<h4><b>Reference</b></h4>
		<div layout layout-sm="column">
			<md-input-container flex> <label>user Id
			</label> <input ng-model="contactL.uid"> </md-input-container>
			<md-input-container flex> <label>Supplier </label>
			<input ng-model="contactL.supp"> </md-input-container>
		</div><div layout layout-sm="column">
			<md-input-container flex> <label>Customer
			</label> <input ng-model="contactL.cust"> </md-input-container>
			<md-input-container flex> <label>Sales Partner </label>
			<input ng-model="contactL.salespartner"> </md-input-container>
		</div>
	
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="updatecontact()">Update</md-button>

		</section>
	</div>
</form>
</md-content>