
<md-content layout-padding>
<form name="contactform">

		
		
	<div id="addField">
	
	
<div layout="column" >
			<div layout-gt-sm="row">
			<md-autocomplete flex required
				md-input-name="autocompleteField"
				md-input-minlength="2"
				md-input-maxlength="18"
				md-no-cache=true
				md-selected-item="contact.customer"
				md-search-text="searchText"
				md-items="item in querySearch(searchText)"
				md-item-text="item.companyName"
				md-floating-label="Select Reference Company Customer">
					<md-item-template>
						<span md-highlight-text="searchText">{{item.companyName}}</span>
					</md-item-template>
					<div ng-messages="contactform.autocompleteField.$error" ng-if="contactform.autocompleteField.$touched">
						<div ng-message="required">
							You <b>must</b> have a favorite state.
						</div>
						<div ng-message="minlength">
							Your entry is not long enough.
						</div>
						<div ng-message="maxlength">
							Your entry is too long.
						</div>
					</div>
				</md-autocomplete>
			</div>
</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				Name <span style="color: red;">*</span>
			</label> <input name="fname" ng-model="contact.fName" ng-required="true">
			<div ng-messages="contactform.fname.$error"
				ng-if="contactform.fname.$submitted || contactform.fname.$touched">
				<div ng-message="required">Please Enter first Name.</div>
			</div>

			</md-input-container>

			<md-input-container flex> <label>Last
				Name <span style="color: red;">*</span>
			</label> <input name="lname" ng-model="contact.lName" ng-required="true">
			<div ng-messages="contactform.lname.$error"
				ng-if="contactform.lname.$submitted || contactform.lname.$touched">
				<div ng-message="required">Please Enter Last Name.</div>
			</div>

			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Status
				<span style="color: red;">*</span>
			</label> <input name="status" ng-model="contact.status" ng-required="true">
			<div ng-messages="contactform.status.$error"
				ng-if="contactform.status.$submitted || contactform.status.$touched">
				<div ng-message="required">Please Enter Status.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Phone <span
				style="color: red;">*</span></label> <input type="number" name="phone"
				ng-minlength="10" ng-maxlength="11" ng-model="contact.phone"
				ng-required="true">
			<div ng-messages="contactform.phone.$error"
				ng-if="contactform.phone.$submitted || contactform.phone.$touched">
				<div ng-message="required">Please Enter phone Number.</div>
			</div>
			<span class="help-block"style="color: red;"
				ng-show="((contactform.phone.$error.minlength || contactform.phone.$error.maxlength) && contactform.phone.$dirty) ">Mobile
				Number should be 10 digits(Example.:0123456789)</span> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Email <span
				style="color: red;">*</span></label> <input type="email"
				ng-pattern="/^.+@.+\..+$/" name="email" ng-model="contact.email"
				ng-required="true">
			<div ng-messages="contactform.email.$error"
				ng-if="contactform.email.$submitted || contactform.email.$touched">
				<div ng-message="required">Please Enter Email id.</div>
			</div>
			<span class="help-block" style="color: red"
				ng-show="((contactform.email.$error.pattern) && contactform.email.$dirty) ">
				Enter Valid Email Format </span> </md-input-container>
		</div>
		<h4>
			<b>Reference</b>
		</h4>
		<div layout layout-sm="column">
			<md-input-container flex> <label>user Id
				<span style="color: red;">*</span>
			</label> <input name="uid" ng-model="contact.uid" ng-required="true">
			<div ng-messages="contactform.uid.$error"
				ng-if="contactform.uid.$submitted || contactform.uid.$touched">
				<div ng-message="required">Please Enter user id.</div>
			</div>

			</md-input-container>
			<md-input-container flex> <label>Supplier
				<span style="color: red;">*</span>
			</label> <input name="supp" ng-model="contact.supp" ng-required="true">

			<div ng-messages="contactform.supp.$error"
				ng-if="contactform.supp.$submitted || contactform.supp.$touched">
				<div ng-message="required">Please Enter Supplier.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Customer
				<span style="color: red;">*</span>
			</label> <input name="cust" ng-model="contact.cust" ng-required="true">

			<div ng-messages="contactform.cust.$error"
				ng-if="contactform.cust.$submitted || contactform.cust.$touched">
				<div ng-message="required">Please Enter Customer.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Sales </span>
				Partner <span style="color: red;">*</label> <input
				name="salespartner" ng-model="contact.salespartner"
				ng-required="true">

			<div ng-messages="contactform.salespartner.$error"
				ng-if="contactform.salespartner.$submitted || contactform.salespartner.$touched">
				<div ng-message="required">Please Enter Sales Partner.</div>
			</div>
			</md-input-container>
		</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button ng-disabled="contactform.$invalid"
				class="md-raised md-primary" ng-click="addcontact()">Add</md-button>

		</section>
	</div>
</form>
</md-content>