
<md-content layout-padding>
<form name="leadform">

	<div id="addField">
		<div layout layout-sx="column">
			<md-input-container flex> <label>Lead id </label> <input
				ng-model="lead.lid" disabled> </md-input-container>

			<md-input-container flex> <label>Person
				Name  <span style="color: red;">*</span> </label> <input name = "name"  ng-model="lead.name" ng-required="true"> 
			<div ng-messages="leadform.name.$error"
				ng-if="leadform.name.$submitted || leadform.name.$touched">
				<div ng-message="required">Please Enter Employee Name.</div>
			</div>
				
			</md-input-container>
		</div>
		<div layout layout-sx="column">
			<md-input-container flex> <label>Company  <span style="color: red;">*</span>
			</label> <input name="company" ng-model="lead.company" ng-required="true">
				<div ng-messages="leadform.company.$error"
				ng-if="leadform.company.$submitted || leadform.company.$touched">
				<div ng-message="required">Please Enter Company Name.</div>
			</div>
			 </md-input-container>
			<md-input-container flex> <label>Phone  <span style="color: red;">*</span>  </label>
			<input type="number" name="phone" ng-minlength="10" ng-maxlength="11" ng-model="lead.phone" ng-required="true">
			<div ng-messages="leadform.phone.$error"
				ng-if="leadform.phone.$submitted || leadform.phone.$touched">
				<div ng-message="required">Please Enter Phone Name.</div>
			</div>
			<span class="help-block" style="color: red"
				ng-show="((leadform.phone.$error.minlength || leadform.phone.$error.maxlength) && leadform.phone.$dirty) ">Mobile
				Number should be 10 digits(Example.:0123456789)</span>
			</md-input-container>
		</div>
		<div layout layout-sx="column">
			<md-input-container flex> <label>Email  <span style="color: red;">*</span></label>
			<input type="email" name="email" ng-model="lead.email" ng-pattern="/^.+@.+\..+$/" ng-required="true">
			<div ng-messages="leadform.email.$error"
				ng-if="leadform.email.$submitted || leadform.email.$touched">
				<div ng-message="required">Please Enter Email id.</div>
				
				<span class="help-block" style="color: red"
				ng-show="((leadform.email.$error.pattern) && leadform.email.$dirty) ">
				Enter Valid Email Format </span>
			</div>
			 </md-input-container>
			<md-input-container flex> <label>Designation  <span style="color: red;">*</span></label>
			<input name="designation" ng-model="lead.designation" ng-required="true"> 
			<div ng-messages="leadform.designation.$error"
				ng-if="leadform.designation.$submitted || leadform.designation.$touched">
				<div ng-show="leadform.designation.$error.pattern" ng-message="required">Please Enter Designation Name.</div>
			</div>
			
			</md-input-container>
		</div>
		<div> 
			<md-input-container flex> <label>Address  <span style="color: red;">*</span>
			</label> <textarea name ="address"ng-model="lead.address" rows="4" cols="50" ng-required="true">
			</textarea>
			<div ng-messages="leadform.address.$error"
				ng-if="leadform.address.$submitted || leadform.address.$touched">
				<div ng-message="required">Please Enter Address.</div>
			</div>
			</md-input-container>
		</div>

		<section layout="row" layout-sx="column" layout-align="left left">
			<md-button ng-disabled="leadform.$invalid" class="md-raised md-primary" ng-click="addlead()">Add</md-button>

		</section>
	</div>
</form>
</md-content>