
<md-content>

<div >
	<section layout="row" layout-align="start start" flex>
<span hide-sm>
		<md-button ui-sref="crm.lead" ng-click="close()" class="md-primary"
			show-gt-md> Lead </md-button>

		<!-- <md-button ui-sref="crm.customer" ng-click="close()" class="md-primary" show-gt-md>
		Customer </md-button>
		<md-button ui-sref="crm.opportunity" ng-click="close()" class="md-primary" show-gt-md>
		Opportunity </md-button>

		<md-button ui-sref="crm.contacts" ng-click="close()" class="md-primary" show-gt-md>
		Contact </md-button>
		<md-button ui-sref="x" ng-click="close()" class="md-primary" show-gt-md>
		Newslatter </md-button>
		<md-button ui-sref="x" ng-click="close()" class="md-primary" show-gt-md>
		Communication </md-button> --></span><span hide-gt-sm>
		<div class="md-toolbar-tools"  >
				<span flex></span>
				<!--<md-card>-->
				<section layout="row">
					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

				</section>
				<!--</md-card>-->
			</div></span>
	</section>



</div>
</md-content>

		<div >
<section layout="column" layout-align="start start" flex>

			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light"> <!--<h1 class="md-toolbar-tools">Sidenav Right</h1>-->
			</md-toolbar>
			
			
		<md-button ui-sref="crm.lead" ng-click="close()" class="md-primary"
			show-gt-md> Lead </md-button>

		<md-button ui-sref="crm.customer" ng-click="close()" class="md-primary" show-gt-md>
		Customer </md-button>
		<md-button ui-sref="x" ng-click="close()" class="md-primary" show-gt-md>
		Opportunity </md-button>

		<md-button ui-sref="crm.contacts" ng-click="close()" class="md-primary" show-gt-md>
		Contact </md-button>
		<md-button ui-sref="x" ng-click="close()" class="md-primary" show-gt-md>
		Newslatter </md-button>
		<md-button ui-sref="x" ng-click="close()" class="md-primary" show-gt-md>
		Communication </md-button>
			
			
			 </md-sidenav>
	
</section>

</div>


<div ui-view></div>