
<md-content layout-padding>
<form name="contactform">

	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Opportunity
				Id</label> <input ng-model="opportunityL.oid" disabled> </md-input-container>
			<md-input-container flex> <label>Date </label> <input
				ng-model="opportunityL.date" disabled> </md-input-container>
		</div>

		<div layout layout-sm="column">

			<md-input-container flex> <label>from</label> <input
				ng-model="opportunityL.from" disabled> </md-input-container>
			<md-input-container flex> <label>Name</label> <input
				ng-model="opportunityL.name" disabled> </md-input-container>

			<!-- <md-input-container flex> <md-select
				placeholder="Select Lead/C ustomer" id="selectedfrom" ng-model="f" ng-change="getleadcust(f)" >
			<md-option ng-repeat="f in from" > {{f}} </md-option> </md-select></md-input-container>
		
	<md-input-container flex> <md-select
				placeholder="Lead/Customer" id="selectedfrom" ng-model="opportunityL.name"  >
			<md-option ng-repeat="list in leadorcustlist" > {{list.customerName}}{{list.name}} </md-option> </md-select></md-input-container>
		-->
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>description
			</label> <textarea ng-model="opportunityL.description" rows="2" cols="1"> </textarea></md-input-container>
		</div>
		<div layout layout-sm="column">
			<section layout="row" layout-sm="column" layout-align="left left">
				<md-button class="md-raised md-primary"
					ng-click="updateopportunity()">update</md-button>

			</section>
		</div>



		<div>
			<a href='' ng-click='ShowHide()'>Follow up +/-</a>
		</div>
		<div ng-hide="IsHidden">
			<md-data-table-container>
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="Date" order-by="discussion Date"></th>
						<th name="Type" order-by="description Type"></th>
						<th name="previous discussion" order-by="previous discussion"></th>

					</tr>
				</thead>
				<tbody>
					<tr md-auto-select
						ng-repeat="t in opportunityL.tasks | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
						<td width="20%" align="left">{{t.date}}</td>
						<td width="20%" align="left">{{t.type}}</td>
						<td width="60%" align="left">{{t.description}}</td>

					</tr>
				</tbody>

			</table>
			<md-data-table-pagination md-limit="query.limit" md-page="query.page"
				md-total={{opportunityL.tasks.length}} md-trigger="onpagechange"></md-data-table-pagination>
			</md-data-table-container>
		</div>
		<br>
		<br>

		<!-- 	<div layout layout-sm="column">
			<md-input-container flex> <label>Previous
				task </label> <textarea ng-model="leads.task.description" rows="4" cols="1"> </textarea></md-input-container>
		</div> -->


		<div layout layout-sm="column">
			<md-input-container flex> <label>Task
				Id:-</label> <input ng-model="taskobj.id" disabled> </md-input-container>
			<md-input-container flex> <md-select
				placeholder="Task Type" ng-model="taskobj.type"> <md-option
				ng-repeat="type in taskType"> {{type}} </md-option> </md-select></md-input-container>
			<md-input-container flex> <label>Date </label> <input
				ng-model="taskobj.date" disabled> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>description
			</label> <textarea ng-model="taskobj.description" rows="2" cols="1"> </textarea></md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Note </label> <textarea
				ng-model="taskobj.note" rows="4" cols="1"> </textarea></md-input-container>
		</div>
		<div>
			<md-checkbox ng-model="taskobj.status" ng-true-value="'active'" ng-false-value="'inactive'">
			Close </md-checkbox>

		</div>
	</div>
	<div layout layout-sm="column">
		<md-input-container flex>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-click="addupdatetask(opportunityL.id)">Add/Update
			Task</md-button>

		</section>
		</md-input-container>
	</div>
	</div>

</form>
</md-content>