
<md-content layout-padding>
<form name="oppform">

	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Opportunity
				Id</label> <input ng-model="opportunity.oid" disabled> </md-input-container>
			<md-input-container flex> <label>Date </label> <input
				ng-model="opportunity.date" disabled> </md-input-container>
		</div>

		<div layout layout-sm="column">
			<md-input-container flex> <md-select
				name="leadcust" placeholder="Select Lead/Customer" id="selectedfrom"
				ng-model="f" ng-change="getleadcust(f)"  ng-required="true"> <md-option
				ng-repeat="f in from"> {{f}} </md-option> </md-select>
			<div ng-messages="oppform.leadcust.$error"
				ng-if="oppform.leadcust.$submitted || oppform.leadcust.$touched">
				<div ng-message="required">Please select lead/customer Name.</div>
			</div>
			 </md-input-container>
			<md-input-container flex> <md-select name="ldcu"
				placeholder="Lead/Customer" id="selectedfrom"
				ng-model="opportunity.name"  ng-required="true"> <md-option
				ng-repeat="list in leadorcustlist">
			{{list.customerName}}{{list.name}} </md-option> </md-select>
			
			<div ng-messages="oppform.ldcu.$error"
				ng-if="oppform.ldcu.$submitted || oppform.ldcu.$touched">
				<div ng-message="required">Please Select lead/cust Name.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>description
			</label> <textarea  name="description" ng-model="opportunity.description" rows="2" cols="50" ng-required="true"> </textarea>
			<div ng-messages="oppform.description.$error"
				ng-if="oppform.description.$submitted || oppform.description.$touched">
				<div ng-message="required">Please Enter the Description.</div>
			</div>
			
			</md-input-container>
		</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button ng-disabled="oppform.$invalid" class="md-raised md-primary" ng-click="addopportunity()">Add</md-button>

		</section>
	</div>
	</div>
</form>
</md-content>