
<md-content layout-padding> <!-- <h3>
	<u>Customer List</u>
</h3> -->
<div>
	<section layout="row" layout-align="end end" flex>
		<md-button class="md-raised md-primary" ui-sref="crm.addcustomer">ADD
		NEW </md-button>
	</section>
</div>

<div layout layout-sm="column">
	<md-input-container flex> <label>Search</label> <input
		ng-model="searchText"> </md-input-container>
</div>

<div>
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Customer Name" order-by="firstName"></th>
				<th name="Type"></th>
				<th name="Mobile" order-by="mobile"></th>
				<th name="Email"></th>
				<th name="Action"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="customer in customers | orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{customer.isCompany? customer.companyName:
					(customer.firstName + " " + customer.lastName)}}</td>
				<td>{{customer.isCompany?"Firm":"Person"}}</td>
				<td>{{customer.mobile}}</td>
				<td>{{customer.email}}</td>
				<td><section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="crm.addcustomer({selectedCustomerId: customer.id})">
						Edit</md-button>
					</section></td>
				<td>
			</tr>
		</tbody>
	</table>
	<div flex>
			<md-button id="invoiceBtn" class="md-raised md-primary" ng-show="selected.length == 1 && selected[0].isCompany == true "
				ui-sref="crm.listOfContact({selectedCustomerId: selected[0].id})">View
			Contact</md-button>

		<!-- use to show so and po -->
			<md-button id="invoiceBtn" class="md-raised md-primary" ng-show="selected.length == 1"
				ui-sref="crm.customerInvoiceList({selectedCustomerId:  selected[0].id})">Invoice</md-button>

			<md-button id="sOBtn" class="md-raised md-primary" ng-show="selected.length == 1"
				ui-sref="crm.customerSOList({selectedCustomerId:  selected[0].id})">SO
			</md-button>

	</div>

	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{customers.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>

<!-- <div id="display" layout="row" layout-xs="column" ng-hide="true" ng-show="selected.length == 1">

	<md-button id="invoiceBtn" class="md-raised md-primary" ng-click="getInvoiceListByCustId()">Invoice</md-button>

	<md-button id="sOBtn" class="md-raised md-primary" ng-click="getSOListByID()">Sales
	Order</md-button>

</div>
 --></md-content>