

<md-content layout-padding>

<div>
	<md-data-table-container>
	<div >
<section layout="row" layout-align="end end" flex>
	<md-button class="md-raised md-primary"
	ui-sref="crm.addopprtunity">ADD NEW</md-button>
</section>
</div>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
		    	<th name="id" order-by="id"></th>
				<th name="From" order-by="from"></th>
				<th name="Name" order-by="name"></th>
				<th name="View" order-by="view"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="opportunity in opportunitys | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
				<td>{{opportunity.oid}}</td>
				<td>{{opportunity.from}}</td>
				<td>{{opportunity.name}}</td>
				
				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="crm.opportunityView({selectedopportunityNo: opportunity.oid})">View Opportunity</md-button>
					</section>
	     		</td>
			</tr>
		</tbody>
	</table>
 
 <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{opportunitys.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>

<!-- vals: {{customers}}
<md-button ui-sref="customer.list" ng-click="getAllemp()" class="md-primary">
		Customer List in side List view 
	</md-button>-->

</md-content>