<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>

				<section layout="row">

					<md-button class="md-icon-button md-primary" aria-label="Settings">
					<md-icon md-svg-icon="img/icons/menu.svg"></md-icon> </md-button>

					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

				</section>
			</div>

			<div layout="row" layout-align="center end" layout-sm="column">
				<a ui-sref="institute.addInfo">Institute Registration</a> <a
					ui-sref="newUserTeacher">Teacher Registration</a> <a
					ui-sref="newUserStudent">Student Registration</a>
				<!-- <a ui-sref="login">Existing user</a> -->
			</div>

			<!-- Right Navigation Pane -->
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar> <md-content layout-padding>
			<form>
				<md-input-container> <label for="testInput">Test
					input</label> <input type="text" id="testInput" ng-model="data"
					md-sidenav-focus> </md-input-container>
			</form>
			<md-button ng-click="close()" class="md-primary"> Close
			Sidenav Right </md-button>

			<p hide-md show-gt-md>This shows the selected module
				links/actions.</p>
			<md-button ng-click="close()" class="md-primary"> Current
			Module Action 1 </md-button> <md-button ng-click="close()" class="md-primary">
			Current Module Action 2 </md-button> <md-button ng-click="close()"
				class="md-primary"> Current Module Action 3 </md-button> <md-button
				href="#customer.list" ng-click="close()" class="md-primary">
			Customer List </md-button> </md-content> </md-sidenav>

		</section>

	</div>


	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>

	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<form name="userForm">

		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				name</label> <input ng-model="cust.firstName"> </md-input-container>
			<md-input-container flex> <label>Last
				Name</label> <input ng-model="cust.lastName"> </md-input-container>

		</div>

		<p>This is home page. It will show all the basic info, baners,
			links to imp pages, login screen etc.</p>
		<p>This is home page. It will show all the basic info, baners,
			links to imp pages, login screen etc.</p>
		<p>This is home page. It will show all the basic info, baners,
			links to imp pages, login screen etc.</p>
	</form>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<br />
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<p>This is home page. It will show all the basic info, baners,
		links to imp pages, login screen etc.</p>
	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised"> Cancel </md-button>
		<md-button class="md-raised md-primary" ng-click="addCustomer()">
		Submit </md-button>
		<!-- <md-button class="md-raised md-primary" ng-click="loadCustomerList()">Get
		List Temp</md-button> -->
		<!-- <a href="/app/cust/customer.list.html">Customer List</a> -->
		<md-button href="/app/cust/customer.list.html"> Customer
		List </md-button>

	</section>


	<!-- 	
	 <form name="myForm">
      <h3>Upload on form submit</h3>

      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
      <br>
      <button ng-disabled="!myForm.$valid" 
              ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>
 -->



	<h2>Date Picker Test</h2>
	<form name="myForm">
		<md-datepicker name="dateField" ng-model="myDate"
			md-placeholder="Enter date" required></md-datepicker>
		<div class="validation-messages" ng-messages="myForm.dateField.$error">
			<div ng-message="valid">The entered value is not a date!</div>
			<div ng-message="required">This date is required!</div>
			<div ng-message="mindate">Date is too early!</div>
			<div ng-message="maxdate">Date is too late!</div>
			<div ng-message="filtered">Only weekends are allowed!</div>
		</div>
		<md-button class="md-raised md-primary" ng-click="showDateValue()">
		Print Date Value </md-button>

	</form>

	<form name="form">
		<md-input-container> <input type="text"
			id="testInput" ng-model="username"> </md-input-container>

		<md-button class='md-raised md-primary' type="file" ngf-select
			ng-model="file" name="file" accept="image/*" ngf-max-size="2MB"
			required ngf-model-invalid="errorFile">Select Photo </md-button>
		<label>{{file.name}} </label>
		<md-button class="md-raised md-primary" ng-click="submit()">
		Submit </md-button>
	</form>

	<form name="formCsvUpload">
		<div>
			<md-button class='md-raised' type="file" ngf-select
				ng-model="csvFile" name="file2" accept="*.csv" ngf-max-size="2MB"
				required ngf-model-invalid="errorFile">Choose GF Books
			CSV</md-button>
			<label>{{uploadProgressMsg ==
				null?csvFile.name:uploadProgressMsg}} </label>
		</div>
		<br>
		<md-button class="md-raised md-primary" ng-click="uploadBooksCSV()">
		Submit </md-button>
	</form>


</div>
