<md-content ng-hide="loading"> <!-- Top Navigation Pane --> <md-toolbar>
	<div class="md-toolbar-tools">
		<span hide-sm>ProStudy - Where learning meets teaching, self
			study, tutorials and practice!</span><span hide-gt-sm>ProStudy</span>
		<!-- fill up the space between left and right area -->
		<span flex></span>
		<section layout="row">

			<md-button aria-label="Login" ng-hide="curUser !== null"
				ng-show="curUser == null" ng-click="loginClick()"> Login
			<md-tooltip> Login </md-tooltip> </md-button>


			<md-button aria-label="Logout" ng-hide="curUser == null"
				ng-click="signOut()"> Logout <md-tooltip>
			{{ googleUser.getName() + "|" + googleUser.getEmail()}} </md-tooltip> </md-button>

			<md-button class="md-icon-button" aria-label="More"
				ng-click="toggleRight()"> <md-icon
				md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

			<img ng-show="true" ngf-src="googleUser.getImageUrl()" class="thumb">
			<md-button aria-label="Open Settings"
				ng-click="showListBottomSheet($event)"> <md-tooltip>
			{{ googleUser.getName() + "|" + googleUser.getEmail()}} </md-tooltip> <ng-md-icon
				icon="more_vert"></ng-md-icon> </md-button>
		<img ng-show="true" ngf-src="googleUser.getImageUrl()" class=circular>
		</section>
	</div>
	</md-toolbar>

	<div ng-controller="AppCtrl">
		<section layout="row" flex>
			<!-- Left Navigation Pane -->
			<md-sidenav class="md-sidenav-left md-whiteframe-z2"
				md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
			<md-toolbar class="md-theme-indigo">
			<h1 class="md-toolbar-tools">Apps Module</h1>
			</md-toolbar> <md-content layout="column" ng-controller="LeftCtrl"> <md-button
				class="md-primary" ng-click="close()" hide-gt-md> Close
			Sidenav </md-button> <md-button ui-sref="index.home" ng-click="close()"
				class="md-primary" show-gt-md> Home </md-button> <md-button
				ui-sref="index.student"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher'  || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>
			Student </md-button> <md-button ui-sref="index.exam"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md> Exam </md-button>
			<md-button ui-sref="index.institute"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>
			Institute </md-button> <md-button ui-sref="index.report"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'" ng-click="close()"
				class="md-primary" show-gt-md> Report </md-button> <md-button
				ui-sref="index.chapter"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>Chapter
			</md-button> 
			
			   <md-button ui-sref="index.book"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>Book </md-button>
				 
				<md-button ui-sref="index.myBooks" ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || 'Student'"
				ng-click="close()" class="md-primary" show-gt-md> MyBooks </md-button> 
				
				<md-button
				ui-sref="index.syllabus" ng-click="close()" class="md-primary" show-gt-md>Syllabus</md-button>

			<md-button ui-sref="index.blobstore" ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>blobstore</md-button>

			<md-button ui-sref="index.myPracticeExams" ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'" ng-click="close()"
				class="md-primary" show-gt-md> My Practice Exams </md-button> <md-button
				aria-label="Login" ng-hide="curUser == null" ng-click="loginClick()">
			<a ui-sref="index.updatemyprofile">Edit profile </a> </md-button> <md-button
				ui-sref="index.attendance"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>Attendance </md-button> 
			<md-button
				ui-sref="index.certificateMgmt"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>
			Certificate Management </md-button>
				<md-button
				ui-sref="index.admissionMgmt"
				ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'"
				ng-click="close()" class="md-primary" show-gt-md>
			Admission Management </md-button>
			</md-content> </md-sidenav>

			

	<md-content flex layout-padding>
	<div class="md-toolbar-tools" hide-gt-md>
		<div>
			<md-button ng-click="toggleLeft()" class="md-fab md-mini"
				aria-label="Mini FAB" hide-gt-md> <md-icon
				md-svg-src="img/icons/menu.svg"></md-icon> </md-button>
		</div>
	</div>
	<md-card>
	<div layout="column" layout-align="top stretch">
		<!--<div ng-view></div>-->
		<div ui-view>
			<!--This is the center page of all main modules for the index module. -->
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
	</md-card> <!--This is a botton section of the app--> <md-divider></md-divider> <md-card>

	<div layout="row" layout-wrap>
		<div>
			<a>Tihs is link one </a><a>Tihs is link one </a><a>Tihs is link
				one </a><a>Tihs is link one </a><a>Tihs is link one </a><a>Tihs is
				link one </a><a>Tihs is link one </a><a>Tihs is link one </a>
		</div>
		<div>
			<a>Tihs is link two </a><a>Tihs is link two </a><a>Tihs is link
				two </a><a>Tihs is link two </a><a>Tihs is link two </a><a>Tihs is
				link two </a><a>Tihs is link two </a><a>Tihs is link two </a>
		</div>
		<div>
			<a>Tihs is link three </a><a>Tihs is link three </a><a>Tihs is
				link three </a><a>Tihs is link three </a><a>Tihs is link three </a><a>Tihs
				is link three </a><a>Tihs is link three </a><a>Tihs is link three </a>
		</div>
		<div>
			<a>Tihs is link four </a><a>Tihs is link four </a><a>Tihs is link
				four </a><a>Tihs is link four </a>
			<md-button class="md-icon-button md-accent" aria-label="Favorite">
			<md-icon md-font-icon="icon-home" ng-class="font.theme" class="step"></md-icon>
			</md-button>
			<a>Tihs is link four </a><a>Tihs is link four </a><a>Tihs is link
				four </a><a>Tihs is link four </a>
			<md-switch ng-model="isActive" aria-label="Finished?">
			Finished ? </md-switch>
			<md-switch md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
			No Ink Effects </md-switch>
			<md-switch ng-disabled="true" ng-model="isDisabled"
				aria-label="Disabled"> Disabled </md-switch>
		</div>
	</div>
	<div layout="row" layout-sm="column">
		<div flex>
			<md-button class="md-primary"> Click me </md-button>
			<md-button class="md-accent"> or maybe me </md-button>
			<md-button class="md-warn"> Careful </md-button>
			I'm above on mobile, and to the left on larger devices.
		</div>
		<div flex>
			I'm below on mobile, and to the right on larger devices.
			<md-button class="md-primary"> Click me </md-button>
			<md-button class="md-primary md-hue-1"> Click me </md-button>
			<md-button class="md-primary md-hue-2"> Click me </md-button>
		</div>
	</div>
	<div>
		<md-button ng-click="openBottomSheet()"> Open a Bottom
		Sheet! </md-button>
	</div>
	<!--End---This is a botton section of the app--> </md-card> </md-content>

	</section>
	</div>

	</md-content>
