<!DOCTYPE html>
<html lang="en" ng-app="prostudyApp" ng-controller="indexCtr">
<head>
<title>ProStudy App</title>
<meta name="viewport" content="initial-scale=1" />

<link rel="stylesheet" href="/lib/base/css/angular-material.min.css">
<link rel="stylesheet" href="/lib/base/css/googleapi.roboto.css">
<link rel="stylesheet" href="/css/header.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="/lib/base/css/font-awesome.css">
<link rel="stylesheet" href="/lib/base/css/xeditable.css">
<link rel="stylesheet" href="/lib/base/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/base/css/md-data-table.min.css">
<link rel="stylesheet" href="/lib/base/css/textAngular.css">
<link rel="stylesheet" href="/lib/base/css/material-datetimepicker.css">


</head>
<body layout="column" ng-cloak md-theme="{{theme}}">
	<!-- <div layout="column" layout-fill> -->
	<div ng-show="loading">Loading...</div>
	<md-content ng-hide="loading"> <!-- Top Navigation Pane -->
	<md-toolbar>
	<div class="md-toolbar-tools">
	
		<div>
<!-- 	<div style="height: 80px; width:120px;  float: left; margin: 3px;  padding: 3px;">
			<img ng-src="{{logoURL}}" class="md-card-image" alt="Compnay Logo" style=" max-width: 100%;  max-height: 100%;" />
		</div>	
 -->			<img ng-show="institute.logBlobKey" ng-click="show_info()"
				ng-src="{{logoURL}}" class="md-card-image" height="60px"
				width="120px" /> <img ng-hide="institute.logBlobKey"
				ng-click="show_info()" src="img/images/protostar_logo_pix_313_132.jpg"
				height="60px" width="120px">
		</div>
		<span ng-show="curUser==null">ProStudy - Where learning meets
			teaching, self study, tutorials and practice!</span> <span
			ng-show="curUser!=null">{{institute.name}}</span>


		<!-- fill up the space between left and right area -->
		<span flex></span>
		<section layout="row">

			<md-button aria-label="Login" ng-hide="curUser !== null"
				ng-show="curUser == null" ng-click="loginClick()"> Login
			<md-tooltip> Login </md-tooltip> </md-button>

			<md-button aria-label="Logout" ng-hide="curUser == null"
				ng-click="signOut()"> Logout <md-tooltip>
			{{ googleUser.getName() + " | " + googleUser.getEmail()}} </md-tooltip> </md-button>

			<!-- <md-button class="md-icon-button" aria-label="More"
				ng-click="toggleRight()"> <md-icon
				md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>
 -->
			<!-- <md-button aria-label="Open Settings"
				ng-click="showListBottomSheet($event)"> <md-tooltip>
			{{ googleUser.getName() + "|" + googleUser.getEmail()}} </md-tooltip> <ng-md-icon
				icon="more_vert"></ng-md-icon> </md-button> -->
			<img ng-show="true" ng-src="{{imgUrl}}" class=circular>
		</section>
	</div>
	</md-toolbar>

	<div ng-controller="AppCtrl">
		<section layout="row" flex>
			<!-- Left Navigation Pane -->
			<md-sidenav class="md-sidenav-left md-whiteframe-z2"
				md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
			<md-toolbar class="md-theme-indigo">
			<h1 class="md-toolbar-tools">Apps Module</h1>
			</md-toolbar> <md-content layout="column" ng-controller="LeftCtrl">	<!--  <md-button
				class="md-primary" ng-click="close()" hide-gt-md> Close
			Sidenav </md-button> <md-button ui-sref="home" ng-click="close()"
				class="md-primary" show-gt-md> Home </md-button> <md-button ui-sref="setup"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('setup') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Setup </md-button>

			<md-button ui-sref="proadmin"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('proadmin') > -1"
				ng-click="close()" class="md-primary" show-gt-md> Pro
			Admin </md-button> <md-button ui-sref="student"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('student') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Student
			</md-button> <md-button ui-sref="attendance"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('attendance') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Attendance
			</md-button> <md-button ui-sref="exam"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('exam') > -1"
				ng-click="close()" class="md-primary" show-gt-md> Exam </md-button>

			<md-button ui-sref="scheduledExam"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('scheduledExam') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Scheduled
			Exam </md-button> <md-button ui-sref="book"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('book') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Book </md-button> <md-button
				ui-sref="favourite"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('favourite') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Favourite</md-button>

			<md-button ui-sref="report"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('report') > -1"
				ng-click="close()" class="md-primary" show-gt-md> Report
			</md-button> <md-button ui-sref="syllabus"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('syllabus') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Syllabus</md-button>

			<md-button ui-sref="updatemyprofile"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('updatemyprofile') > -1"
				ng-click="close()" ng-hide="curUser == null" class="md-primary"
				show-gt-md>Edit profile </md-button> <md-button
				ui-sref="certificateMgmt"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('certificateMgmt') > -1"
				ng-click="close()" class="md-primary" show-gt-md>
			Certificate Management </md-button> <md-button ui-sref="admissionMgmt"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('admissionMgmt') > -1"
				ng-click="close()" class="md-primary" show-gt-md>
			Admission Management </md-button> <md-button ui-sref="gfe"
				ng-show="curUser.authority.indexOf('admin') > -1 || modules[0].modules.indexOf('gfe') > -1"
				ng-click="close()" class="md-primary" show-gt-md>Google
			Apps Integration</md-button> <md-button ui-sref="gandhifoundation"
				ng-click="close()" class="md-primary" show-gt-md>Gandhi
			Research Foundation </md-button> -->

			<md-button
				ng-repeat="auth in curUser.userAuthMasterEntity.authorizations"
				ui-sref="{{auth.uiStateName}}" ng-click="close()" class="md-primary"
				show-gt-md> <span ng-bind="auth.authDisplayName">
			</span></md-button>
			</md-content> </md-sidenav>

			<!-- ng-show="curUser.role == 'Admin' || curUser.role == 'Teacher' || curUser.role == 'Student'" -->

			<md-content flex layout-padding>
			<div class="md-toolbar-tools" hide-gt-md>
				<div>
					<md-button ng-click="toggleLeft()" class="md-fab md-mini"
						aria-label="Mini FAB" hide-gt-md> <md-icon
						md-svg-src="img/icons/menu.svg"></md-icon> </md-button>
				</div>
			</div>
			<md-card>
			<div layout="column" layout-align="top stretch">
				<!--<div ng-view></div>-->
				<div ui-view>
					<!--This is the center page of all main modules for the index module. -->
				</div>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
			</md-card> <!--This is a botton section of the app--> <md-divider></md-divider>
			<md-card>

			<div layout="row" layout-wrap>
				<div>
					<a>Tihs is link one </a><a>Tihs is link one </a><a>Tihs is link
						one </a><a>Tihs is link one </a><a>Tihs is link one </a><a>Tihs is
						link one </a><a>Tihs is link one </a><a>Tihs is link one </a>
				</div>
				<div>
					<a>Tihs is link two </a><a>Tihs is link two </a><a>Tihs is link
						two </a><a>Tihs is link two </a><a>Tihs is link two </a><a>Tihs is
						link two </a><a>Tihs is link two </a><a>Tihs is link two </a>
				</div>
				<div>
					<a>Tihs is link three </a><a>Tihs is link three </a><a>Tihs is
						link three </a><a>Tihs is link three </a><a>Tihs is link three </a><a>Tihs
						is link three </a><a>Tihs is link three </a><a>Tihs is link three
					</a>
				</div>
				<div>
					<a>Tihs is link four </a><a>Tihs is link four </a><a>Tihs is
						link four </a><a>Tihs is link four </a>
					<md-button class="md-icon-button md-accent" aria-label="Favorite">
					<md-icon md-font-icon="icon-home" ng-class="font.theme"
						class="step"></md-icon> </md-button>
					<a>Tihs is link four </a><a>Tihs is link four </a><a>Tihs is
						link four </a><a>Tihs is link four </a>
					<md-switch ng-model="isActive" aria-label="Finished?">
					Finished ? </md-switch>
					<md-switch md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
					No Ink Effects </md-switch>
					<md-switch ng-disabled="true" ng-model="isDisabled"
						aria-label="Disabled"> Disabled </md-switch>
				</div>
			</div>
			<div layout="row" layout-sm="column">
				<div flex>
					<md-button class="md-primary"> Click me </md-button>
					<md-button class="md-accent"> or maybe me </md-button>
					<md-button class="md-warn"> Careful </md-button>
					I'm above on mobile, and to the left on larger devices.
				</div>
				<div flex>
					I'm below on mobile, and to the right on larger devices.
					<md-button class="md-primary"> Click me </md-button>
					<md-button class="md-primary md-hue-1"> Click me </md-button>
					<md-button class="md-primary md-hue-2"> Click me </md-button>
				</div>
			</div>
			<div>
				<md-button ng-click="openBottomSheet()"> Open a Bottom
				Sheet! </md-button>
			</div>
			<!--End---This is a botton section of the app--> </md-card> </md-content>

		</section>
	</div>

	</md-content>

	<!-- All JS Dependencies -->
	<script src="/lib/base/jquery.min.js"></script>
	<script src="/lib/base/bootstrap.min.js"></script>

	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>
	<!-- <script src="/lib/base/google-plus-signin.js"></script> -->

	<!-- Angular Material Dependencies -->
	<script src="/lib/base/angular.min.js"></script>
	<script src="/lib/base/angular-animate.min.js"></script>
	<script src="/lib/base/angular-route.min.js"></script>
	<script src="/lib/base/angular-aria.min.js"></script>
	<script src="/lib/base/angular-messages.min.js"></script>
	<script src="/lib/base/angular-resource.min.js"></script>
	<script src="/lib/base/angular-material-icons.min.js"></script>

	<script src="/lib/base/angular-material.min.js"></script>
	<script src="/lib/base/md-data-table.min.js"></script>

	<script src="/lib/base/ui-bootstrap-tpls.min.js"></script>
	<script src="/lib/base/angular-ui-router.min.js"></script>
	<script src="/lib/base/xeditable.js"></script>
	<script src="/lib/base/textAngular-rangy.min.js"></script>
	<script src="/lib/base/textAngular-sanitize.min.js"></script>
	<script src="/lib/base/textAngular.min.js"></script>
	<script src="/lib/base/ngStorage.min.js"></script>

	<!-- Angular Material Dependencies for DateTimePicker -->
	<script src="/lib/base/moment-with-locales.min.js"></script>
	<script src="/lib/base/angular-material-datetimepicker.js"></script>


	<script src="/lib/base/google-plus-signin.js"></script>


	<!--<script src="/lib/base/googleapi.client.js"></script>-->
	<script src="https://apis.google.com/js/client.js"></script>


	<!-- App JS Dependencies -->
	<script src="/app/common/common.app.js"></script>

	<!-- Load other view/service/controllers files-->
	<script src="/app/common/app.object.service.js"></script>
	<script src="/app/common/app.localdb.endpoint.service.js"></script>
	<script src="/app/common/app.google.endpoint.service.js"></script>
	<script src="/app/common/app.endpoint.service.js"></script>

	<script src="index.ctr.js"></script>
	<script src="/app/login/js/login_module.ctr.js"></script>
	<script src="/app/login/js/newUser_student.ctr.js"></script>
	<script src="/home.ctr.js"></script>



	<script src="/app/chapter/js/chapter_module.ctr.js"></script>
	<script src="/app/chapter/js/chapter_add.ctr.js"></script>
	<script src="/app/chapter/js/chapter_list.ctr.js"></script>
	<script src="/app/chapter/js/chapter_view.ctr.js"></script>


	<script src="/app/book/js/book_module.ctr.js"></script>
	<script src="/app/book/js/book_add.ctr.js"></script>
	<script src="/app/book/js/book_edit.ctr.js"></script>
	<script src="/app/book/js/book_list.ctr.js"></script>
	<script src="/app/book/js/book_chapterList.ctr.js"></script>
	<script src="/app/book/js/book_viewChapterContent.ctr.js"></script>
	<script src="/app/book/js/book_addComments.ctr.js"></script>
	<script src="/app/book/js/book_viewpdf.ctr.js"></script>


	<script src="/app/book/js/standard_Book.ctr.js"></script>
	<script src="/app/book/js/standard_chapterList.ctr.js"></script>
	<script src="/app/book/js/standard_viewChapterContent.ctr.js"></script>


	<script src="/app/student/js/student_module.ctr.js"></script>
	<script src="/app/student/js/student.list.ctr.js"></script>
	<script src="/app/institute/js/student_view.ctr.js"></script>

	<script src="/app/student/js/student_addpayment.ctr.js"></script>
	<script src="/app/student/js/student_paymentlist.ctr.js"></script>
	<script src="/app/student/js/student_installmentList.ctr.js"></script>
	<script src="/app/student/js/student_installmentedit.ctr.js"></script>

	<script src="/app/student/js/student_scheduleExam.ctr.js"></script>


	<script src="/app/attendance/js/attendance_module.ctr.js"></script>
	<script src="/app/attendance/js/attendance_add.ctr.js"></script>
	<script src="/app/attendance/js/attendance_reportByStudent.ctr.js"></script>
	<script src="/app/attendance/js/attendance_reportBySubjectClass.ctr.js"></script>
	<script src="/app/attendance/js/reportDisplay.ctr.js"></script>

	<script src="/app/question/js/question.ctr.js"></script>

	<script src="/app/exam/js/exam_module.ctr.js"></script>
	<script src="/app/exam/js/questionlist.ctr.js"></script>
	<script src="/app/exam/js/practiceExam_add.ctr.js"></script>
	<script src="/app/exam/js/newQuestion_add.ctr.js"></script>
	<script src="/app/exam/js/question_edit.ctr.js"></script>
	<script src="/app/exam/js/exam_module.ctr.js"></script>
	<script src="/app/exam/js/practiceExamList.ctr.js"></script>
	<script src="/app/exam/js/practiceExamTest.ctr.js"></script>
	<script src="/app/exam/js/practiceExam_edit.ctr.js"></script>
	<script src="/app/exam/js/practiceExamList.ctr.js"></script>
	<script src="/app/exam/js/userQuesAnsView.ctr.js"></script>



	<script src="/app/scheduledQuestion/js/scheduledQuestion_new.ctr.js"></script>
	<script src="/app/scheduledQuestion/js/scheduledQuestion_list.ctr.js"></script>
	<script src="/app/scheduledQuestion/js/scheduledQuestion_edit.ctr.js"></script>


	<script src="/app/scheduledExam/js/scheduledExam_module.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExam_add.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExam_edit.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExam_list.ctr.js"></script>
	<script src="/app/scheduledExam/js/live_scheduledExamlist.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExamTest.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledUserQuesAnsView.ctr.js"></script>
	<script src="/app/scheduledExam/js/schduledExamResult_list.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExam_studentList.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExam_assignStudents.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExam_myScheduledExamList.ctr.js"></script>
	<script src="/app/scheduledExam/js/scheduledExam_addResult.ctr.js"></script>



	<script src="/app/examdemo/js/examdemo_module.ctr.js"></script>
	<script src="/app/examdemo/js/examdemo_science.ctr.js"></script>
	<script src="/app/examdemo/js/examdemo_math.ctr.js"></script>

	<script src="/app/institute/js/institute_module.ctr.js"></script>
	<script src="/app/institute/js/institute_view.ctr.js"></script>
	<script src="/app/institute/js/institute_addInfo.ctr.js"></script>
	<script src="/app/institute/js/institute_addStud.ctr.js"></script>
	<script src="/app/institute/js/institute_student_fillbasics.ctr.js"></script>

	<script src="/app/institute/js/institute.list.ctr.js"></script>
	<script src="/app/institute/js/institute_editUser.ctr.js"></script>
	<script src="/app/institute/js/institute_viewUser.ctr.js"></script>
	<script src="/app/institute/js/institute.list_view.ctr.js"></script>

	<script src="/app/report/js/report_module.ctr.js"></script>
	<script src="/app/report/js/display_report.ctr.js"></script>

	<script src="/app/myprofile/js/myprofile_update.ctr.js"></script>
	<script src="/app/myPracticeExams/js/myPracticeExams_module.ctr.js"></script>
	<script src="/app/favourite/js/favourite_module.ctr.js"></script>
	<script src="/app/favourite/js/myBooks.ctr.js"></script>
	<script src="/app/favourite/js/myPracticeExams.ctr.js"></script>
	<script src="/app/favourite/js/practiceExamResult.ctr.js"></script>

	<script src="/app/test/js/table.demo.data.service.js"></script>
	<script src="/app/demo/js/table.demo.withservice.ctr2.js"></script>

	<script src="/app/syllabus/js/syllabus_module.ctr.js"></script>
	<script src="/app/syllabus/js/syllabus_add.ctr.js"></script>
	<script src="/app/syllabus/js/syllabus_view.ctr.js"></script>
	<script src="/app/syllabus/js/syllabus_list.ctr.js"></script>

	<script src="/app/certificateMgmt/js/certificate_module.ctr.js"></script>
	<script src="/app/certificateMgmt/js/generateTemplate.ctr.js"></script>
	<script src="/app/certificateMgmt/js/generateCertificate.ctr.js"></script>
	<script src="/app/certificateMgmt/js/viewCertificate.ctr.js"></script>

	<!-- <script src="/app/admissionMgmt/js/admission_module.ctr.js"></script>
	<script src="/app/admissionMgmt/js/applicant_add.ctr.js"></script>
	<script src="/app/admissionMgmt/js/applicant_list.ctr.js"></script> -->

	<script src="/app/gfe/js/gfe_module.ctr.js"></script>
	<script src="/app/gfe/js/classroom_list.ctr.js"></script>
	<script src="/app/gfe/js/classroom_list_users.ctr.js"></script>
	<script src="/app/gfe/js/classroom_new_course.ctr.js"></script>
	<script src="/app/gfe/js/classroom_course_edit.ctr.js"></script>
	<script src="/app/gfe/js/classroom_course_view.ctr.js"></script>
	<script src="/app/gfe/js/classroom_new_user.ctr.js"></script>
	<script src="/app/gfe/js/classroom_course_viewUser.ctr.js"></script>
	<script src="/app/gfe/js/directory_new_userAccount.ctr.js"></script>
	<script src="/app/gfe/js/directory_user_list.ctr.js"></script>
	<script src="/app/gfe/js/directory_edit_userAccount.ctr.js"></script>
	<script src="/app/gfe/js/directory_view_userAccount.ctr.js"></script>

	<!-- 	Partner School -->
	<script src="/app/partnerSchool/js/partnerSchool_module.ctr.js"></script>
	<script src="/app/partnerSchool/js/partnerSchool_add.ctr.js"></script>
	<script src="/app/partnerSchool/js/partnerSchool_list.ctr.js"></script>
	<!-- 	Partner School -->

	<!-- Start Init Setup -->
	<script src="/app/initsetup/js/initsetup.ctr.js"></script>

	<!-- End Init Setup -->

	<!-- Start setup Setup -->
	<script src="/app/setup/js/setup_module.ctr.js"></script>
	<script src="/app/institute/js/authority_add.ctr.js"></script>
	<script src="/app/setup/js/authority_view.ctr.js"></script>
	<script src="/app/setup/js/setup_changetheme.js"></script>
	<script src="/app/setup/js/addInstituteUser.ctr.js"></script>
	<script src="/app/setup/js/editInstitute.ctr.js"></script>
	<script src="/app/setup/js/instituteUserList.ctr.js"></script>
	<script src="/app/setup/js/changePlan.ctr.js"></script>
	<script src="/app/setup/js/setLogo.ctr.js"></script>
	<script src="/app/setup/js/manage_user_auth.ctr.js"></script>	
	<!-- End setup Setup -->

	<!-- Start ProAdmin -->
	<script src="/app/proadmin/js/proadmin_module.ctr.js"></script>
	<script src="/app/proadmin/js/manage_auth_master.ctr.js"></script>
	<script src="/app/proadmin/js/manage_institute_auth.ctr.js"></script>
	<!-- End ProAdmin -->

	<!-- Start Gandhi Found. Student -->
	<script src="/app/gandhiFoundation/js/gandhiFoundation_module.ctr.js"></script>
	<script src="/app/gandhiFoundation/js/gfStudent_module.ctr.js"></script>
	<script src="/app/gandhiFoundation/js/gfStudent_add.ctr.js"></script>
	<script src="/app/gandhiFoundation/js/gfStudent_list.ctr.js"></script>
	<script src="/app/gandhiFoundation/js/gfStudent_view.ctr.js"></script>
	<!-- End Gandhi Found. Student  -->

	<!-- Start Gandhi Found. Courier -->
	<script src="/app/gfcourier/js/gfCourier_module.ctr.js"></script>
	<script src="/app/gfcourier/js/gfCourier_add.ctr.js"></script>
	<script src="/app/gfcourier/js/gfCourier_list.ctr.js"></script>
	<script src="/app/gfcourier/js/gfCourier_view.ctr.js"></script>
	
	<script src="/app/gfcourier/js/gfCourier_directAddFromPS.ctr.js"></script>
	<!-- End Gandhi Found. Courier  -->

	<!-- Start Gandhi Found. Book Stock -->
	<script src="/app/gfbookstock/js/gfBookStock_module.ctr.js"></script>
	<script src="/app/gfbookstock/js/gfBook_add.ctr.js"></script>
	<script src="/app/gfbookstock/js/gfBook_list.ctr.js"></script>

	<script src="/app/gfbookstock/js/gfBookStock_add.ctr.js"></script>
	<script src="/app/gfbookstock/js/gfBookStock_list.ctr.js"></script>
	<script src="/app/gfbookstock/js/gfBookStock_view.ctr.js"></script>
	<script src="/app/gfbookstock/js/gfBookStockTransaction_list.ctr.js"></script>
	<!-- End Gandhi Found. Book Stock  -->

	<script src="/app/partnerSchool/js/printBookDetail.ctr.js"></script>

</body>
</html>