
<h3 class="md-headline">Courier Details</h3>

<div layout="column" layout-padding layout-xs="column">

	<form name="gfCourierForm">

		<div layout="row" layout-xs="column">
			<md-datepicker flex ng-model="tempCourier.courierDispatchDate"
				md-placeholder="Select Date" readonly="true"></md-datepicker>


		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <label>Courier
				Type </label> <md-select name="courierType"
				ng-model="tempCourier.courierType " readonly="true"> <md-option
				ng-value="courierType" ng-repeat="courierType in courierTypelist">{{courierType}}</md-option>
			</md-select> </md-input-container>


			<md-input-container flex> <label>Logistics
			</label> <md-select name="logistics" ng-model="tempCourier.logistics "
				readonly="true"> <md-option ng-value="logistics"
				ng-repeat="logistics in logisticsList">{{logistics}}</md-option> </md-select> </md-input-container>

		</div>

		<div layout="row" layout-xs="column" flex>

			<md-input-container flex> <label>School
				/ College / Institute </label> <md-select name="level"
				ng-model="tempCourier.schoolName"> <md-option
				ng-value="schoolName" ng-repeat="schoolName in pSchoolList" ng
				selected="$first">{{schoolName.schoolName}}</md-option> </md-select> </md-input-container>

			<md-input-container flex> <label>Weight

			</label> <input name="weight" ng-model="tempCourier.totalWeight"
				readonly="true"> </md-input-container>
		</div>

		<div layout="row" layout-xs="column" flex>



			<md-input-container flex> <label>From </label> <input
				name="courierFrom" ng-model="tempCourier.courierFrom"
				readonly="true"> </md-input-container>

			<md-input-container flex> <label>To </label> <input
				name="courierTo" ng-model="tempCourier.courierTo" readonly="true">

			</md-input-container>

		</div>
		<h3>Books/Item Details</h3>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Sr_No"></th>
					<th name="Book Name"></th>
					<!-- 					<th name="Auther"></th>
					<th name="Weight"></th>
					<th name="Price"></th>
 -->
					<th name="Qty"></th>

				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in tempCourier.bookLineItemList">

					<td>{{ $index + 1 }}</td>


					<td><ol>
							<li style="list-style-type: none; text-align: left;"
								ng-value="book.id" ng-repeat="book in bookStocks"
								ng-if="book.id==item.id">{{book.bookName}}({{book.bookMedium}})</li>
						</ol></td>

					<td>{{item.bookQty}}</td>



					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><b>Total Weight : {{tempCourier.totalWeight}}</b></td>
					<td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
