
<h3 class="md-headline" ng-hide="tempCourierObj.id">Courier Add</h3>
<h3 class="md-headline" ng-show="tempCourierObj.id">Courier Update</h3>

<div layout="column" layout-padding layout-xs="column">

	<form name="gfCourierForm">

		<div layout="row" layout-xs="column">
			<md-datepicker flex ng-model="tempCourierObj.courierDispatchDate"
				md-placeholder="Select Date"></md-datepicker>


		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <label>Courier
				Type<span style="color: red"
				ng-show="gfCourierForm.courierType.$error.required"
				class="mandatory">*</span>
			</label> <md-select name="courierType" ng-model="tempCourierObj.courierType "
				ng-required="true"> <md-option ng-value="courierType"
				ng-repeat="courierType in courierTypelist">{{courierType}}</md-option>
			</md-select>
			<div ng-messages="gfCourierForm.courierType.$error"
				ng-if="gfCourierForm.courierType.$submitted || gfCourierForm.courierType.$touched">
				<div ng-message="required">Please Select Standards.</div>
			</div>
			</md-input-container>


			<md-input-container flex> <label>Logistics
				<span style="color: red"
				ng-show="gfCourierForm.logistics.$error.required" class="mandatory">*</span>
			</label> <md-select name="logistics" ng-model="tempCourierObj.logistics "
				ng-required="true"> <md-option ng-value="logistics"
				ng-repeat="logistics in logisticsList">{{logistics}}</md-option> </md-select>
			<div ng-messages="gfCourierForm.logistics.$error"
				ng-if="gfCourierForm.logistics.$submitted || gfCourierForm.logistics.$touched">
				<div ng-message="required">Please Select Standards.</div>
			</div>
			</md-input-container>

		</div>

		<div layout="row" layout-xs="column" flex>

			<md-input-container flex> <label>Registration
				ID <span style="color: red"
				ng-show="gfCourierForm.registrationID.$error.required"
				class="mandatory">*</span>
			</label> <md-select name="registrationID"
				ng-model="registrationID1" ng-required="true">
			<md-option ng-value="registrationID"
				ng-repeat="registrationID in pSchoolList">{{registrationID.govRegisterno}}</md-option>
			</md-select>
			<div ng-messages="gfCourierForm.registrationID.$error"
				ng-if="gfCourierForm.registrationID.$submitted || gfCourierForm.registrationID.$touched">
				<div ng-message="required">Please Select Standards.</div>
			</div>
			</md-input-container>


			<md-input-container flex> <label>School
				/ College / Institute<span style="color: red"
				ng-show="gfCourierForm.level.$error.required" class="mandatory">*</span>
			</label> <md-select name="level" ng-model="tempCourierObj.schoolName"
				ng-required="true"> <md-option ng-value="schoolName"
				ng-repeat="schoolName in pSchoolList">{{schoolName.schoolName}}</md-option>
			</md-select>
			<div ng-messages="gfCourierForm.level.$error"
				ng-if="gfCourierForm.level.$submitted || gfCourierForm.level.$touched">
				<div ng-message="required">Please Select School Category.</div>
			</div>
			</md-input-container>
		</div>

		<div layout="row" layout-xs="column" flex>

			<md-input-container flex> <label>From <span
				style="color: red"
				ng-show="gfCourierForm.courierFrom.$error.required"
				class="mandatory">*</span>
			</label> <input name="courierFrom" ng-model="tempCourierObj.courierFrom"
				ng-required="true">
			<div ng-messages="gfCourierForm.courierFrom.$error"
				ng-if="gfCourierForm.courierFrom.$submitted || gfCourierForm.courierFrom.$touched">
				<div ng-message="required">Please Enter From Name.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>To <span
				style="color: red" ng-show="gfCourierForm.courierTo.$error.required"
				class="mandatory">*</span>
			</label> <input name="courierTo" ng-model="tempCourierObj.courierTo"
				ng-required="true">
			<div ng-messages="gfCourierForm.courierTo.$error"
				ng-if="gfCourierForm.courierTo.$submitted || gfCourierForm.courierTo.$touched">
				<div ng-message="required">Please Enter name whome To sent.</div>
			</div>
			</md-input-container>

		</div>


		<h3>Prouct/Item Sold</h3>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Sr_No"></th>
					<th name="Book Name"></th>
<!-- 					<th name="Auther"></th>
					<th name="Weight"></th>
					<th name="Price"></th>
 -->
					<th name="Qty"></th>
					<th name="Actions"></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in tempCourierObj.bookLineItemList">

					<td>{{ item.srNo }}</td>

					<td><md-input-container flex> <md-select
							ng-model="selectedStockItem" placeholder="Item Name"
							ng-change="lineItemStockChange($index, selectedStockItem)">
						<md-option ng-value="item" ng-repeat="item in bookList">{{item.bookName
						}}</md-option> </md-select> </md-input-container></td>

					<td><md-input-container flex> <label>Quantity
						</label> <input ng-model="item.bookQty" ng-blur="checkStock(item,$event)"
							type="number" ng-change="calProductSubTotal()"> </md-input-container></td>


					<td><md-icon md-svg-src="img/icons/remove.svg"
							ng-click="removeItem($index)" class="name"
							style="color: Green; height: 40px; width: 40px"></md-icon></td>
<td></td>
				</tr>
				<tr>
					<td><section layout="row" layout-sm="column"
							layout-align="left left">
							<md-button class="md-raised md-primary" ng-click="addBook()">Add
							Item</md-button>
						</section></td>
					<td></td>
					<td></td><td></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td><td></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<div layout="row" layout-align="center center" layout-xs="column">

	<md-button ng-hide="tempCourierObj.id" class="md-raised md-primary"
		ng-click="addGFCourier()" ng-disabled="gfCourierForm.$invalid">Add
	</md-button>

	<md-button ng-show="tempCourierObjObj.id" class="md-raised md-primary"
		ng-click="addGFCourier()" ng-disabled="gfCourierForm.$invalid">Update
	</md-button>

	<md-button class="md-raised " ng-click="cancelButton()">Cancel</md-button>

</div>





