<!-- 
<div layout="column">
	<div>
		<section layout="row">
		
			<span hide-xs> </span>
			 <span hide-gt-xs>
			<div class="md-toolbar-tools">
				<span flex></span>
				<md-card>
				
				</md-card>
			</div>
			</span>

			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>
			<md-content layout="column"> <md-button
				ui-sref="courierModule.add" ng-click="close()"
				class="md-primary"> ADD Courier </md-button> <md-button
				ui-sref="courierModule.list" ng-click="close()"
				class="md-primary"> Courier List </md-button> </md-content> </md-toolbar> </md-sidenav>
		</section>

	</div>




	<div ui-view>
		<div class="md-toolbar-tools">
			<md-content layout="row" layout-align="center start"> <md-button
				ui-sref="courierModule.add" ng-click="close()"
				class="md-primary" hide-xs> ADD Courier </md-button> <md-button
				ui-sref="courierModule.list" ng-click="close()"
				class="md-primary" hide-xs> Courier List </md-button></md-content>
		</div>
	</div>
</div>
 -->
 
 
 
 <div layout="column">


	<div>

		<section layout="col">
			<md-button class="md-icon-button" aria-label="prev" ng-click="back()">
			<md-tooltip> go back </md-tooltip> <md-icon
				md-svg-icon="img/icons/ic_reply_black_24px.svg"
				aria-label="Prev Week"></md-icon> </md-button>
			<span hide-xs> </span>
			<!--  <span hide-gt-xs> -->
			<div class="md-toolbar-tools">
				<span flex></span>
				<md-card>
				<section layout="row">
					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>
				</section>
				</md-card>
			</div>

			<!-- </span> -->

			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar> <md-content layout="column"> 
			<md-button
				ui-sref="courierModule.add" ng-click="close()"
				class="md-primary" > ADD Courier </md-button> <md-button
				ui-sref="courierModule.list" ng-click="close()"
				class="md-primary" > Courier List </md-button>
				 </md-content></md-sidenav>
		</section>

	</div>

	<div ui-view>

		<div class="md-toolbar-tools">
			<md-content layout="col" layout-align="center start"> 
			<md-button
				ui-sref="courierModule.add" ng-click="close()"
				class="md-primary" hide-xs> ADD Courier </md-button> <md-button
				ui-sref="courierModule.list" ng-click="close()"
				class="md-primary" hide-xs> Courier List </md-button>
				 </md-content>
		</div>




	</div>
</div>
</div>


 