<div id="studentListDiv">
	<h3 class="md-headline">Courier List</h3>

	<div layout="row" layout-align="end end" layout-xs="column">

		<md-button class="md-raised md-primary" ng-click="refresh()">Refresh </md-button>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search
			By Name</label> <input ng-model="searchByName"> </md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Courier
			Type </label> <md-select name="courierType" ng-model="courierType ">
		<md-option ng-value="courierType"
			ng-repeat="courierType in courierTypelist">{{courierType}}</md-option>
		</md-select> </md-input-container>

		<md-input-container flex> <label>Logistics
		</label> <md-select name="logistics" ng-model="logistics ">
		<md-option ng-value="logistics" ng-repeat="logistics in logisticsList">{{logistics}}</md-option>
		</md-select> </md-input-container>
		
		<md-input-container flex> <label>School
				/ College / Institute
			</label> <md-select name="level" ng-model="tempCourierObj.schoolName"> <md-option ng-value="schoolName"
				ng-repeat="schoolName in pSchoolList">{{schoolName.schoolName}}</md-option>
			</md-select>
			
			</md-input-container>
	</div>
	<div>
		<md-data-table-container>
		<table md-data-table md-row-select="selected" class="md-primary"
			md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">

				<tr>
					<th order-by="schoolName" name="School Name"></th>
					<th order-by="logistics" name="Logistics"></th>
					<!-- <th order-by="courierFrom" name="From"></th> -->
					<th order-by="courierDispatchDate" name="Dispatch"></th>
					<th order-by="courierTo" name="To"></th>
					<th order-by="status" name="Status"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="courier in gfCouriertList | orderBy: query.order | filter: logistics | filter: courierType | filter: searchByName | limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{courier.schoolName.schoolName}}</td>
					<td>{{courier.logistics}}</td>
					<!-- <td>{{courier.courierFrom}}</td> -->
					<td>{{courier.courierDispatchDate | formatFullDate}}</td>
					<td>{{courier.courierTo}}</td>
					<td>{{courier.status}}</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{gfCouriertList.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</div>

<div layout="row" layout-align="center center">
	
	<md-button
		ui-sref="courierModule.view({selectedGFCourierID : selected[0].id})"
		ng-show="selected.length == 1" class="md-fab md-primary md-hue-2"
		ng-click=""> <md-icon md-svg-src="img/icons/result.svg"></md-icon>
	<md-tooltip>View </md-tooltip></md-button>
</div>


