<md-content layout-padding>
<form name="ChangeTheme">

	<div>
		<span class="md-title">Change your application theme</span>
	</div>
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	
	<div layout="row" layout-align="left left" layout-wrap flex>
		<md-button ng-repeat="themeName in themeList"
			class="md-raised md-primary md-hue-2"
			ng-click="checkTheme(themeName)"> {{themeName}} </md-button>
	</div>
	
	<md-button class="md-raised md-primary" ng-click="updateTheme()">Update
	Theme</md-button>
</form>
</md-content>




