<div layout="column" layout-padding>
	<h3 class="md-headline">{{institute.name}}</h3>
	<p class="md-subheader">Main Modules and Child Links Access
		Configuration</p>
	<div ng-repeat="auth in authorizationMasterEntity.authorizations">
		<hr>
		<md-checkbox ng-model="auth.selected" ng-true-value="true"
			ng-false-value="false" aria-label="auth"> <b
			ng-bind="auth.authDisplayName"> </b> </md-checkbox>

		<div ng-repeat="subAuth in auth.authorizations">
			<span>&nbsp;&nbsp;&nbsp;&nbsp; <md-checkbox
					ng-disabled="!auth.selected" ng-model="subAuth.selected"
					ng-true-value="true" ng-false-value="false" aria-label="auth">
				{{subAuth.authDisplayName}} </md-checkbox></span>

			<div ng-repeat="thirdLevelSubAuth in subAuth.authorizations">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <md-checkbox
						ng-disabled="!subAuth.selected"
						ng-model="thirdLevelSubAuth.selected" ng-true-value="true"
						ng-false-value="false" aria-label="auth">
					{{thirdLevelSubAuth.authDisplayName}} </md-checkbox></span>
			</div>
		</div>

	</div>
	<div layout="row">
		<md-button ng-click="cancelButton()" class="md-primary md-raised">Cancel</md-button>
		<md-button ng-click="saveAuthorization()" class="md-primary md-raised">Save
		Changes</md-button>
	</div>
</div>


