<div layout="column">

	<section layout="row">
		<!-- View Specific Toolbar-->
		<div flex="30">
			<h3 class="md-toolbar-tools">Exam Section</h3>
		</div>
		<div class="md-toolbar-tools">
			<span flex></span>

			<section layout="row">

				<div hide-sm layout="row" layout-align="end start">
					<md-button ui-sref="exam.addnewquestion" ng-click="close()"
					class="md-primary">
						Add New Question
					</md-button>

					<!-- <md-button ui-sref="userQuesAnsView({selectedExamId:practiceTest.examId})" ng-click="close()"
					class="md-primary">View user Ques-Ans</md-button> -->

					<!-- <md-button ui-sref="examtest" ng-click="close()"
					class="md-primary">Exam </md-button> -->

					<!-- <md-button ui-sref="exam.questionlist" ng-click="close()"
					class="md-primary"> Questions List </md-button>

					<md-button ui-sref="exam.addpracticeexam" ng-click="close()"
					class="md-primary"> Add Practice Exam </md-button>

					<md-button ui-sref="exam.listpracticeexam" ng-click="close()"
					class="md-primary"> List of Practice Exam </md-button>

					<md-button ui-sref="exam.practiceExamResultView" ng-click="close()"
					class="md-primary"> View Practise Exam Result </md-button> -->

					<md-button aria-label="Search" ng-click="showSearch = !showSearch">
						<ng-md-icon icon="search"></ng-md-icon>
					</md-button>

					<md-button aria-label="Open Settings" ng-click="toggleRight()">
						<ng-md-icon icon="more_vert"></ng-md-icon>
					</md-button>

				</div>
			</section>
		</div>
	</section>
	<div ui-view>

		<div layout="column" layout-align="start start">
			<md-button ui-sref="exam.addnewquestion" ng-click="close()"
			class="md-primary">
				Add New Question
			</md-button>
			<md-button ui-sref="exam.questionlist" ng-click="close()"
			class="md-primary">
				Questions List
			</md-button>

			<md-button ui-sref="exam.addpracticeexam" ng-click="close()"
			class="md-primary">
				Add Practice Exam
			</md-button>
			<md-button ui-sref="exam.listpracticeexam" ng-click="close()"
			class="md-primary">
				List of Practice Exam
			</md-button>

			<md-button ui-sref="exam.practiceExamResultView" ng-click="close()"
			class="md-primary">
				View Practise Exam Result
			</md-button>

			<!-- <md-button ui-sref="userQuesAnsView" ng-click="close()"
			class="md-primary">View User Ques-Ans  </md-button> -->

		</div>
	</div>

	<md-sidenav class="md-sidenav-right md-whiteframe-z2"
	md-component-id="right">
		<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Exam Page Sub Menu</h1>

		</md-toolbar>
		<md-content layout-padding>
			<md-button ng-click="close()" class="md-primary">
				Close Sidenav Right
			</md-button>

			<p hide-md show-gt-md></p>

			<md-button ui-sref="exam.addnewquestion" ng-click="close()"
			class="md-primary">
				Add New Question
			</md-button>

			<md-button ui-sref="exam.questionlist" ng-click="close()"
			class="md-primary">
				Questions List
			</md-button>

			<md-button ui-sref="exam.addpracticeexam" ng-click="close()"
			class="md-primary">
				Add Practice Exam
			</md-button>

			<md-button ui-sref="exam.listpracticeexam" ng-click="close()"
			class="md-primary">
				List of Practice Exam
			</md-button>

			<md-button ui-sref="exam.practiceExamResultView" ng-click="close()"
			class="md-primary">
				View Practise Exam Result
			</md-button>

		</md-content>
	</md-sidenav>

	<!-- We'll also add some navigation: -->

</div>
