<div layout="column">
	<div class="md-toolbar-tools">
		<span flex></span>

		<section layout="row">

			<div hide-sm layout="row" layout-align="start start">
				<md-button ui-sref="exam.addnewquestion" ng-click="close()"
					class="md-primary"> Add New Question </md-button>
				<md-button ui-sref="exam.questionlist" ng-click="close()"
					class="md-primary"> Questions List </md-button>

				<md-button ui-sref="exam.addpracticeexam" ng-click="close()"
					class="md-primary"> Add Practice Exam </md-button>
				<md-button ui-sref="exam.listpracticeexam" ng-click="close()"
					class="md-primary"> List of Practice Exam </md-button>

				<md-button ui-sref="exam.practiceExamResultView" ng-click="close()"
					class="md-primary"> View Practise Exam Result </md-button>

			</div>
		</section>
	</div>

	<div ui-view>
		This is a default template for exam module!
		<div layout="column" layout-align="start start">
			<md-button ui-sref="exam.addnewquestion" ng-click="close()"
				class="md-primary"> Add New Question </md-button>
			<md-button ui-sref="exam.questionlist" ng-click="close()"
				class="md-primary"> Questions List </md-button>


			<md-button ui-sref="exam.addpracticeexam" ng-click="close()"
				class="md-primary"> Add Practice Exam </md-button>
			<md-button ui-sref="exam.listpracticeexam" ng-click="close()"
				class="md-primary"> List of Practice Exam </md-button>

			<md-button ui-sref="exam.practiceExamResultView" ng-click="close()"
				class="md-primary"> View Practise Exam Result </md-button>

		</div>
	</div>

	<!-- We'll also add some navigation: -->

</div>
