<section layout="row" layout-sm="column">
	<md-content layout-padding>
	<form name="myExamForm" ng-submit="submitButton()">

		<div layout="row">
			<span flex="50"> <strong>{{currentPage}} Out Of
					{{totalPages}}</strong></span>

			<div layout="row" layout-wrap class="colorNested">
				<div ng-repeat="i in buttonLimit(totalPages) track by $index">
					<md-button class="md-raised md-primary"
						ng-click="onButtonClick($index+1)">Page{{$index+1}}</md-button>
				</div>

			</div>

		</div>

		<div>
			<div layout="row" layout-wrap>
				<div flex="50" ng-repeat="question in array ">
					<div>
						<md-content flex layout-padding>
						<p>
							<b ng-bind-html="+ (question.quesId + 1) +')'+ question.description"></b>
						</p>
						</md-content>
					</div>

					<p>
						<i>{{question.note}}</i>
					</p>
					
					<md-checkbox name="answer" ng-model="selected[question.quesId + question.option1]"  ng-click="toggleSelection(question.quesId,1)">
					{{question.option1 }}</md-checkbox>
					<md-checkbox name="answer" ng-model="selected[question.quesId + question.option2]"  ng-click="toggleSelection(question.quesId,2)">
					{{question.option2 }}</md-checkbox>
					<md-checkbox name="answer" ng-model="selected[question.quesId + question.option3]"  ng-click="toggleSelection(question.quesId,3)">
					{{question.option3 }}</md-checkbox>
					<md-checkbox name="answer" ng-model="selected[question.quesId + question.option4]"  ng-click="toggleSelection(question.quesId,4)">
					{{question.option4 }}</md-checkbox>

				</div>
			</div>

			<div>selected option:{{selection}}</div>
			
			<div>
				<div layout="row">
					<div layout-align="start end" ng-init="isDisabled = false">
						<md-button class="md-raised md-primary"
							ng-disabled="isDisabledPrevious" ng-model="isDisabledPrevious"
							ng-click="onPrevious()"> Previous </md-button>
					</div>

					<div layout-align="start end">
						<md-button class="md-raised md-primary"
							ng-disabled="isDisabledNext" ng-model="isDisabledNext"
							ng-click="onNext()"> Next </md-button>

					</div>
				</div>
			</div>
			<md-button class="md-raised md-primary" ng-click="checkAnswer()">submit</md-button>
		</div>

	</form>
	</md-content>
</section>

