<section layout="row" layout-sm="column" layout-align="center center">

	<!-- <div  style="display: none;" id="questionForm"> -->
	<md-content layout-padding ng-show="is_backend_ready">

		<form name="myExamForm" ng-submit="submitButton()">

			<strong center >Student Information Details:-</strong>

			<div>
				<md-input-container>
					<label>Student Name:</label>
					<input  type="text"  ng-model="exam.name">
				</md-input-container>

				<md-input-container>
					<label>Register number:</label>
					<input  type="number"  ng-model="exam.register_No">
				</md-input-container>

				<md-input-container>
					<label>Branch:</label>
					<input  type="text"  ng-model="exam.branch">
				</md-input-container>
			</div>

			<b>ProtoStar Exam</b>
			<div ng-repeat="q in examQuestions">
				<p>
					<b>{{q.description}}</b>
				</p>
				<p>
					<i>{{q.note}}</i>
				</p>

				<md-input-container>
					<md-checkbox ng-checked="isOptionSelected(q.id.id, 1)" ng-click="toggle(q.id.id, 1)">
						{{q.option1}}
					</md-checkbox>
					<md-checkbox ng-checked="isOptionSelected(q.id.id, 2)" ng-click="toggle(q.id.id, 2)">
						{{q.option2}}
					</md-checkbox>
					<md-checkbox ng-checked="isOptionSelected(q.id.id, 3)" ng-click="toggle(q.id.id, 3)">
						{{q.option3}}
					</md-checkbox>
					<md-checkbox ng-checked="isOptionSelected(q.id.id, 4)" ng-click="toggle(q.id.id, 4)">
						{{q.option4}}
					</md-checkbox>
				</md-input-container>
				<!-- <div>Q ID :{{q.id.id}}</div> -->
			</div>

			<div layout layout-sm="column">

				<md-button class="md-raised md-primary" >submit</md-button>
				<md-button class="md-raised md-primary" 	ng-click="cancelButton()">submit</md-button>
			
			</div>

			<!--
			<div>
			Exam Questions:-{{examQuestions}}
			</div>
			<div>
			User Answers :-{{userQuestionAns}}
			</div>

			<div>
			Result of User Ans :- {{noOfUserCorrectAns}}
			</div>
			<div>
			{{exam}}
			</div>-->

		</form>
	</md-content>
	<!-- </div> -->

</section>

