<h3 class="md-headline">Add Question</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>



<form name="questionForm" ng-model="questionForm"
	ng-submit="questionForm.$valid " novalidate>

	<div>
		<md-radio-group ng-model="isSingleQ"> <md-radio-button
			ng-model="newclass" ng-value=true aria-label="Through Form">
		Through Form </md-radio-button> <md-radio-button ng-model="newclasslist" ng-value=false
			aria-label="Upload Course List"> Upload Question List
		</md-radio-button> </md-radio-group>

	</div>
	<div ng-show=isSingleQ===false>
		<h4>select csv file</h4>
		<md-button class="md-raised md-primary" id="uplodeExcel"
			ng-click="UplodeExcel($event)">Upload QuestionList<md-tooltip>
		Upload QuestionList</md-tooltip> </md-button>
	</div>

<div  ng-show="isSingleQ">
	<div layout="column" layout-xs="column">

		<div layout="row" layout-xs="column" ng-show="!flag">

			<md-input-container flex> <label>Standard<span
				style="color: red" ng-show="questionForm.standard.$error.required"
				class="mandatory">*</span></label> <md-select name="standard"
				ng-model="tempQuestion.standard" ng-change="getDivisionByStandard()"
				ng-required="true"> <md-option ng-value="standard"
				ng-repeat="standard in standards">{{standard}}</md-option> </md-select>
			<div ng-messages="questionForm.standard.$error"
				ng-if="questionForm.standard.$submitted || questionForm.standard.$touched">
				<div ng-message="required">Please Select Standard.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Division<span
				style="color: red" ng-show="questionForm.division.$error.required"
				class="mandatory">*</span></label> <md-select name="division"
				ng-model="tempQuestion.division" ng-change="getSubjectByDivision()"
				ng-required="true"> <md-option ng-value="division"
				ng-repeat="division in divisions track by $index">{{division}}</md-option>
			</md-select>
			<div ng-messages="questionForm.division.$error"
				ng-if="questionForm.division.$submitted || questionForm.division.$touched">
				<div ng-message="required">Please Select Division.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Subject<span
				style="color: red" ng-show="questionForm.subject.$error.required"
				class="mandatory">*</span></label> <md-select name="subject"
				ng-model="tempQuestion.subject" ng-change="" ng-required="true">
			<md-option ng-value="subject"
				ng-repeat="subject in subjects track by $index ">{{subject}}</md-option>
			</md-select>
			<div ng-messages="questionForm.subject.$error"
				ng-if="questionForm.subject.$submitted || questionForm.subject.$touched">
				<div ng-message="required">Please Select Subject.</div>
			</div>
			</md-input-container>

		</div>

		<div layout="row" layout-xs="column" ng-show="flag">

			<md-input-container flex> <label>Standard<span
				style="color: red" ng-show="questionForm.standard.$error.required"
				class="mandatory">*</span></label> <md-select name="standard"
				ng-model="tempQuestion.standard" ng-change="" ng-required="flag">
			<md-option ng-value="standard" ng-repeat="standard in standards">{{standard}}</md-option>
			</md-select>
			<div ng-messages="questionForm.standard.$error"
				ng-if="questionForm.standard.$submitted || questionForm.standard.$touched">
				<div ng-message="required">Please Select Standard.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Division<span
				style="color: red" ng-show="questionForm.division.$error.required"
				class="mandatory">*</span>
			</label> <input name="division" ng-model="tempQuestion.division"
				ng-required="flag">
			<div ng-messages="questionForm.division.$error"
				ng-if="questionForm.division.$submitted || questionForm.division.$touched">
				<div ng-message="required">Please Enter Division.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Subject<span
				style="color: red" ng-show="questionForm.subject.$error.required"
				class="mandatory">*</span>
			</label> <input name="subject" ng-model="tempQuestion.subject"
				ng-required="flag">
			<div ng-messages="questionForm.subject.$error"
				ng-if="questionForm.subject.$submitted || questionForm.subject.$touched">
				<div ng-message="required">Please Enter subject.</div>
			</div>
			</md-input-container>


		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex ng-show="!flag"> <label>Board<span
				style="color: red" ng-show="questionForm.board.$error.required"
				class="mandatory">*</span></label> <md-select name="board"
				ng-model="tempQuestion.board" ng-required="true"> <md-option
				ng-value="board" ng-repeat="board in boards">{{board}}</md-option> </md-select>
			<div ng-messages="questionForm.board.$error"
				ng-if="questionForm.board.$submitted || questionForm.board.$touched">
				<div ng-message="required">Please Select Board.</div>
			</div>
			</md-input-container>

			<md-input-container flex ng-show="flag"> <label>Board<span
				style="color: red" ng-show="questionForm.board.$error.required"
				class="mandatory">*</span>
			</label> <input name="board" ng-model="tempQuestion.board" ng-required="flag">
			<div ng-messages="questionForm.board.$error"
				ng-if="questionForm.board.$submitted || questionForm.board.$touched">
				<div ng-message="required">Please Enter board.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Note</label> <input
				name="note" id="note" ng-model="tempQuestion.note"> </md-input-container>

			<md-input-container flex> <label>Category</label>
			<input name="category" id="note" ng-model="tempQuestion.category">
			</md-input-container>



		</div>


	</div>


	<div layout="row" layout-xs="column">

		<md-input-container flex> <label>Question
			Description:<span style="color: red"
			ng-show="questionForm.description.$error.required" class="mandatory">*</span>
		</label> <text-angular name="description" id="description" ng-required="true"
			ng-model="tempQuestion.description"></text-angular>
		<div ng-messages="questionForm.description.$error"
			ng-if="questionForm.description.$submitted || questionForm.description.$touched ">
			<div ng-message="required">Please Enter Question Description.</div>

		</div>
		</md-input-container>

		<div layout="column" layout-xs="column">
			<p>&nbsp;</p>
			<div>Enter Question Options and Select One Correct Answer .</div>

			<md-input-container flex>
			<div layout="row">
				1.
				<md-checkbox name="answer" ng-true-value="'option1'"
					ng-model="tempQuestion.correctAns"> <label>Option1<span
					style="color: red" ng-show="questionForm.option1.$error.required"
					class="mandatory">*</span>
				</label></md-checkbox>


				<input name="option1" id="option1" ng-required="true"
					ng-model="tempQuestion.option1">
			</div>
			<div ng-messages="questionForm.option1.$error"
				ng-if="questionForm.option1.$submitted || questionForm.option1.$touched">
				<div ng-message="required">Please Enter Option 1.</div>
			</div>
			</md-input-container>

			<md-input-container flex>
			<div layout="row">
				2.
				<md-checkbox name="answer" ng-true-value="'option2'"
					ng-model="tempQuestion.correctAns"> <label>Option2<span
					style="color: red" ng-show="questionForm.option2.$error.required"
					class="mandatory">*</span>
				</label> </md-checkbox>

				<input name="option2" id="option2" ng-required="true"
					ng-model="tempQuestion.option2">
			</div>
			<div ng-messages="questionForm.option2.$error"
				ng-if="questionForm.option2.$submitted || questionForm.option2.$touched">
				<div ng-message="required">Please Enter Option 2.</div>
			</div>
			</md-input-container>

			<md-input-container flex>

			<div layout="row">
				3.
				<md-checkbox name="answer" ng-true-value="'option3'"
					ng-model="tempQuestion.correctAns"> <label>Option3<span
					style="color: red" ng-show="questionForm.option3.$error.required"
					class="mandatory">*</span>
				</label> </md-checkbox>

				<input name="option3" id="option3" ng-required="true"
					ng-model="tempQuestion.option3">
			</div>
			<div ng-messages="questionForm.option3.$error"
				ng-if="questionForm.option3.$submitted || questionForm.option3.$touched">
				<div ng-message="required">Please Enter Option 3.</div>
			</div>
			</md-input-container>

			<md-input-container flex>

			<div layout="row">
				4.
				<md-checkbox name="answer" ng-true-value="'option4'"
					ng-model="tempQuestion.correctAns"> <label>Option4<span
					style="color: red" ng-show="questionForm.option4.$error.required"
					class="mandatory">*</span>
				</label> </md-checkbox>

				<input name="option4" id="option4" ng-required="true"
					ng-model="tempQuestion.option4">
			</div>
			<div ng-messages="questionForm.option4.$error"
				ng-if="questionForm.option4.$submitted || questionForm.option4.$touched">
				<div ng-message="required">Please Enter Option 4.</div>
			</div>
			</md-input-container>
			<div ng-show="tempQuestion.correctAns==false">Select Correct
				Answer.</div>

		</div>

	</div>



	<p>&nbsp;</p>
	<div layout="row" layout-align="center center">

		<md-button class="md-raised md-primary" ng-click="addQuestion()"
			ng-disabled="questionForm.$invalid">Submit</md-button>

		<md-button class="md-raised" ng-click="cancelButton()">Cancel</md-button>

	</div>
</div>
</form>

