<div layout="row" layout-padding>
	<md-content>
	<section>
		<md-subheader class="md-primary">
		<h4 class="md-headline">List of Practice Exam</h4>
		</md-subheader>


		<div layout="column">
			<md-data-table-container>
			<table md-data-table>
				<thead>
					<tr>
						<th name="Exam Id"></th>
						<th name="Exam Title"></th>
						<th name="Created on Date"></th>

					</tr>
				</thead>

				<tbody>
					<tr md-auto-select ng-repeat="test in practiceTest ">
						<td>{{test.examId}}</td>
						<td>{{test.examtitle}}</td>
						<td>{{test.date}}</td>
						<td><a
							ui-sref="exam.practiceexamtest({selectedExamId: test.examId})"><md-button
									class="md-raised md-primary" ng-click="">Start</md-button> </a></td>
									
				<td><a	  ui-sref="exam.addmypracticeexam({selectedMyExamId: test.examId})"><md-button
         class="md-raised md-primary" ng-click="">Add To
        MyPractice Exam </md-button> </a></td>		
				<td><a	ui-sref="exam.addmypracticeexam({selectedMyExamId: test.examId})"><md-button
									class="md-raised md-primary" ng-click="">Add To
								MyPractice Exam </md-button> </a></td>

					</tr>
				</tbody>
			</table>

			</md-data-table-container>
		</div>


	</section>
	</md-content>
</div>
