<md-content>

	<div>
		<div>
			<md-input-container flex>
				<label>Search By Category</label>
				<input ng-model="searchCategory">
			</md-input-container>
		</div>

		<md-data-table-container>
			<table md-data-table md-row-select="selected" md-progress="deferred">
				<thead md-order="query.order" md-trigger="onorderchange">
					<tr>
						<th name="Question Desc"   order-by="description"></th>
						<th name="Category" order-by="category"></th>
						<th name="Option1"  order-by="option1"></th>
						<th name="Option2"  order-by="option2"></th>
						<th name="Option3"  order-by="option3"></th>
						<th name="Option4"  order-by="option4"></th>
						<th numeric name="Answer"  order-by="correctAns"></th>

					</tr>
				</thead>

				<tbody>
					<tr md-auto-select ng-repeat="question in questions | orderBy: query.order | filter: {category: searchCategory} | limitTo: query.limit: (query.page - 1) * query.limit">
						<td ng-bind-html="question.description">
						<div>
							{{question.description}}
						</div>
						</td>
						
						<td>
						<div>
							{{question.category}}
						</div>
						</td>
						<td>
						<div>
							{{question.option1}}
						</div>
						</td>
						
						<td>
						<div >
							{{question.option2}}
						</div>
						</td>
						
						<td>
						<div>
							{{question.option3}}
						</div>
						</td>
						
						<td>
						<div>
							{{question.option4}}
						</div>
						</td>

						<td>
						<div >
							{{question.correctAns}}
						</div>
						</td>

						<td><a
							ui-sref="exam.editquestion({selectedQuestionId: question.id})"><md-button
									class="md-raised md-primary" ng-click="">Edit </md-button> </a></td>
						
					</tr>
				</tbody>
		
			</table>

		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total={{questions.length}} md-trigger="onpagechange"></md-data-table-pagination>

	</div>
		
</md-content>
