<div layout="row" layout-padding>
	<md-content>
	<section>
		<md-subheader class="md-primary">
		<h4 class="md-headline">Edit Question</h4>
		</md-subheader>
		
		<md-content layout-padding>
			<div id="updateQuestion">

				<md-input-container flex>
					<label>Question Description</label>
					<div text-angular="" ng-model="question.description"></div>
				</md-input-container>

				<div layout layout-sm="column">
					<md-input-container flex>
						<label>Note</label>
						<input ng-model="question.note">
					</md-input-container>
			
				</div>

				<div layout layout-sm="column">
					<md-input-container flex>
						<label>Option1</label>
						<input ng-model="question.option1">
						 <md-checkbox  ng-true-value="'option1'"  ng-model="question.correctAns"	ng-click=" ">
					</md-input-container>

					<md-input-container flex>
						<label>Option2</label>
						<input ng-model="question.option2">
						 <md-checkbox  ng-true-value="'option2'"  ng-model="question.correctAns"	ng-click=" ">
					</md-input-container>
				</div>

				<div layout layout-sm="column">
					<md-input-container flex>
						<label>Option3</label>
						<input ng-model="question.option3">
						 <md-checkbox  ng-true-value="'option3'"  ng-model="question.correctAns"	ng-click=" ">
					</md-input-container>

					<md-input-container flex>
						<label>Option4</label>
						<input ng-model="question.option4">
						 <md-checkbox  ng-true-value="'option4'"  ng-model="question.correctAns"	ng-click=" ">
					</md-input-container>
				</div>

				<section layout="row" layout-sm="column" layout-align="center center">
					<md-button class="md-raised md-primary" ng-click="updateQuestion(question)">
						Update Question
					</md-button>
					 <md-button class="md-raised md-primary"ng-click="cancelButton()">
						cancel
					</md-button> 
				</section>
			</div>
		
		
			</div>
</section>
	</md-content>
	</div>
