
<div layout="row" layout-sm="column" layout-wrap>
	<div flex="50" ng-repeat="item in Test.questions">
		<div>
			<md-content flex layout-padding> <b
				ng-bind-html="+ (item.quesId+1) +')'+ item.description"></b> </md-content>
		</div>

		<p>
			<i>{{item.note}}</i>
		</p>

		<div >
			<md-checkbox  ng-checked="isUserSelection($index, 1)">
			{{item.option1}} {{isAnsCorrect($index, 1)?"Correct":""}}</md-checkbox>
			<md-checkbox  ng-checked="isUserSelection($index, 2)">
			{{item.option2}} {{isAnsCorrect($index, 2)?"Correct":""}}</md-checkbox>
			<md-checkbox  ng-checked="isUserSelection($index, 3)">
			{{item.option3}} {{isAnsCorrect($index, 3)?"Correct":""}}</md-checkbox>
			<md-checkbox  ng-checked="isUserSelection($index, 4)">
			{{item.option4}} {{isAnsCorrect($index, 4)?"Correct":""}}</md-checkbox>

			<td>Correct Answer :{{item.correctAns }}</td>
		</div>
	</div>
</div>






<hr>
<hr>
<div ng-repeat="x in Test.questions">

	<td><b ng-bind-html="+ (x.quesId+1) +')'+x.description"></b>
	<p>Correct Answer : {{x.correctAns}}</p></td>

	<tr ng-repeat="result in examResults.userAns ">
		<td>User Answer : {{option.userOption}}</td>
		<br>
	</tr>

	<hr>
</div>

<div ng-repeat="result in examResults.userAns ">

	<td>{{result.userOption}}</td>
	
</div>


<p>Selected Test : {{Test.questions}}</p>
<p>Selected Test ID: {{selectedExamId}}</p>
<p>Correct Ans: {{examResults}}</p>
<p>New result: {{results}}</p>
