<div layout="column">

	<!-- partials/state1.html -->
	<h1>Drive Demo file/Download/Upload Demo</h1>

	<div>

	</div>

	<section layout-sm="column" layout-align="left left">
		<div layout="row">
			<md-button class="md-raised md-primary" ng-click="browseDrivePhotos()">
				Browse Google Photos
			</md-button>
			<md-button class="md-raised md-primary" ng-click="uploadDrivePhotos()">
				Upload To Google Photos
			</md-button>
		</div>
		<div layout="row">
			<md-button class="md-raised md-primary" ng-click="browseDriveDocs()">
				Browse Google Drive Docs
			</md-button>
			<md-button class="md-raised md-primary" ng-click="uploadDriveDocs()">
				Upload To Google Drive Docs
			</md-button>
		</div>	
	</section>

</div>
