<html>
<head>
<title>DropDown</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/lib/base/angular-material.min.css">
<link rel="stylesheet" href="/lib/base/googleapi.roboto.css">

<meta name="viewport" content="initial-scale=1" />

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/xeditable.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/font-awesome.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/jquery.dataTables.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/datatables.bootstrap.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/angular-datatables-main.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.tableTools.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.responsive.css">

<link rel="stylesheet" href="css/dropDown.css">

<meta name="viewport" content="initial-scale=1" />
</head>
<body ng-app="dropDownApp" ng-controller="dropDownCtr" class="md-padding">

	<section layout="row" layout-sm="column" layout-align="center center" >
   
    <div>
    <h1 class="md-title">Pick your pizza below</h1>
    <div layout="row">
      <md-input-container >
       <label>State</label>
        <md-select placeholder="State" ng-model="selectedState" ng-change="getCityList()">
          <md-option ng-repeat="state in states" ng-value="state" >{{state}}</md-option>
        </md-select>
      </md-input-container>
     
      
      
      <md-input-container>
        <md-select placeholder="city" ng-model="option2" ng-change="getCityList()">
          <md-option   ng-value="city" ng-repeat="city in selectedCity" >{{city}}</md-option>
        </md-select>
      </md-input-container>
      
    </div>
 
  </div>
  </section>
  

	<!-- Angular Material Dependencies -->
	<script src="/lib/base/angular.min.js"></script>
	<script src="/lib/base/angular-animate.min.js"></script>
	<script src="/lib/base/angular-route.min.js"></script>
	<script src="/lib/base/angular-aria.min.js"></script>
	<script src="/lib/base/angular-messages.min.js"></script>
	<script src="/lib/base/angular-material.min.js"></script>
	<script src="js/dropDown.ctr.js"></script>
	
<!-- 
	<script>
		/* Init google endpoint API */
		window.onload = function() {
			init();
		};
	</script> -->


</body>
</html>