  .md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
} 

 .inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.firstName {color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.lastName {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.password {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.reenterpassword {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.birthday {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.gender {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.mobile {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.currentemail {color: dodgerblue; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.location {color: dodgerblue; }

.inputdemoIcons md-input-container.md-input-invalid > md-icon.firstName, .inputdemoIcons md-input-container.md-input-invalid > md-icon.lastName,.inputdemoIcons md-input-container.md-input-invalid > md-icon.email,.inputdemoIcons md-input-container.md-input-invalid > md-icon.password,.inputdemoIcons md-input-container.md-input-invalid > md-icon.reenterpassword,.inputdemoIcons md-input-container.md-input-invalid > md-icon.birthday,.inputdemoIcons md-input-container.md-input-invalid > md-icon.gender.inputdemoIcons md-input-container.md-input-invalid > md-icon.mobile,.inputdemoIcons md-input-container.md-input-invalid > md-icon.currentemail,.inputdemoIcons md-input-container.md-input-invalid > md-icon.location {
  color: red; } 