<div id="bookStockListDiv">
	<h3 class="md-headline">Book Stock</h3>

	<div layout="row" layout-align="end end" layout-xs="column"></div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search
			By Name</label> <input ng-model="searchByName"> </md-input-container>
	</div>

	<div>
		<md-data-table-container>
		<table md-data-table md-row-select="selected" class="md-primary"
			md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">

				<tr>
					<th order-by="standard" name="Standard"></th>
					<th order-by="bookName" name="Book Name"></th>
					<th order-by="bookPublication" name="Publication"></th>
					<th order-by="bookQty" name="Quantity"></th>
					<th order-by="medium" name="Medium"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="book in bookStocks | filter : searchByName | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
					<td>{{book.book.standard}}</td>
					<td>{{book.book.bookName}}</td>
					<td>{{book.book.bookPublication}}</td>
					<td>{{book.book.bookQty}}</td>
					<td>{{book.book.bookMedium}}</td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{bookStocks.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</div>
