<div id="studentListDiv">
	<h3 class="md-headline">Book List</h3>

	<div layout="row" layout-align="end end" layout-xs="column">
		
		<md-button class="md-raised md-primary" id="uplodeExcel"
			ng-click="UplodeExcel($event)">Upload Books<md-tooltip>
		Add Bulk Books</md-tooltip> </md-button>

		<md-button class="md-raised md-primary" id="downloadExcel"
			ng-click="downloadData()">Import Books <md-tooltip>Import
		Books</md-tooltip> </md-button>
	</div>



	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Search
			By Name</label> <input ng-model="searchByName"> </md-input-container>

		<div flex>
			<label>Book By Threshold </label>
			<md-checkbox ng-model="threshold" ng-true-value="true"
				ng-false-value="false" id="changer" id="thresholdID"
				ng-change="showThresholdBooks()"> </md-checkbox>
		</div>
	</div>


	<div>
	 <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
          <div class="md-toolbar-tools">
            <span>Books List</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="getGFBookByInstituteId(true)">
              <md-icon>refresh</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        
        <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
          <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'Books' : 'Book'}} selected</span>
          </div>
        </md-toolbar>
		<md-data-table-container>
		
		<md-data-table-container>
		<table md-data-table md-row-select="selected" class="md-primary"
			md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">

				<tr>
				<th order-by="standard" name="Standard"></th>
					<th order-by="bookName" name="Book Name"></th>
					<th order-by="bookAuther" name="Auther"></th>
					<th order-by="weight" name="Weight"></th>
					<th order-by="bookPrice" name="Fees"></th>
					<th order-by="bookQty" name="Quantity"></th>
					
					<th name="Action"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="book in bookStocks | orderBy: query.order | filter: bookName | filter : searchByName | limitTo: query.limit: (query.page - 1) * query.limit">
		
					 <td ng-if="book.bookQty < book.bookThreshold"><b><font color="red">{{book.standard}}</font></b></td>
					<td ng-if="book.bookQty > book.bookThreshold">{{book.standard}}</b></td>
					
 					<td ng-if="book.bookQty < book.bookThreshold"><b><font color="red">{{book.bookName}} ({{book.bookMedium}})</font></b></td>
					<td ng-if="book.bookQty > book.bookThreshold">{{book.bookName}} ({{book.bookMedium}})</b></td>
					
					<td ng-if="book.bookQty < book.bookThreshold"><b><font color="red">{{book.bookAuther}}</font></b></td>
					<td ng-if="book.bookQty > book.bookThreshold">{{book.bookAuther}}</b></td>
					
					<td ng-if="book.bookQty < book.bookThreshold"><b><font color="red">{{book.weight}}</font></b></td>
					<td ng-if="book.bookQty > book.bookThreshold">{{book.weight}}</b></td>
					
					<td ng-if="book.bookQty < book.bookThreshold"><b><font color="red">{{book.bookPrice}}</font></b></td>
					<td ng-if="book.bookQty > book.bookThreshold">{{book.bookPrice}}</b></td>
					
					<td ng-if="book.bookQty < book.bookThreshold"><b><font color="red">{{book.bookQty}}</font></b></td>
					<td ng-if="book.bookQty > book.bookThreshold">{{book.bookQty}}</b></td>
															
					<td><md-button
							ui-sref="bookModule.add({selectedGFBookID : book.id})"
							class="md-fab md-primary md-hue-2" ng-click=""> <md-icon
							md-svg-src="img/icons/edit.svg"></md-icon> <md-tooltip>Edit
						</md-tooltip></md-button></td>

				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{bookStocks.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</div>

