
<md-content layout-padding>
<h3>
	<u>Generate Invoice</u>
</h3>
<div>
	<form ng-submit="$event.preventDefault()" name="invoiceEdit">
		[<span style="color: red;">Field Marked as asterik (*) are
			mandetory</span>]
		<div flex layout="row" layout-xs="column">
			<!-- 			<md-input-container flex> <md-select
				ng-model="invoiceObj.customer" placeholder="Customer Name"
				ng-change="CustomerddlChange($index, selectedcustomerName)">
			<md-option ng-value="cust" ng-repeat="cust in customersforinvoice">{{cust.customerName
			}}</md-option> </md-select> </md-input-container>
 -->
			<span style="color: red;">*</span>

			<md-autocomplete flex required ng-model="invoiceObj.customer"
				md-input-name="autocompleteField" md-input-minlength="2"
				md-input-maxlength="18" md-no-cache=true
				md-selected-item="invoiceObjEdit.customer"
				md-search-text="searchTextInput"
				md-items="item in querySearch(searchTextInput)"
				md-item-text="item.firstName" md-floating-label="Customer Name">
			<md-item-template> <span
				md-highlight-text="searchTextInput">{{item.firstName}}</span> </md-item-template>
			<div ng-messages="invoiceEdit.autocompleteField.$error"
				ng-if="invoiceEdit.autocompleteField.$touched">
				<div ng-message="required">
					You <b>must</b> have to enter Customer Name.
				</div>
				<div ng-message="minlength">Your entry is not long enough.</div>
				<div ng-message="maxlength">Your entry is too long.</div>
			</div>
			</md-autocomplete>


			<md-icon md-svg-src="img/icons/ic_queue_black_24px.svg"
				ng-click="addCustomer()" class="name"
				style="color: Green; height: 40px; width: 40px"></md-icon>

			Due Date:<span style="color: red;">*</span>
			<md-datepicker flex ng-model="invoiceObjEdit.invoiceDueDate"
				md-placeholder="Select Date"
				ng-selected="invoiceObjEdit.invoiceDueDate"></md-datepicker>
		</div>
		<div layout="row" layout-xs="column">

			<md-input-container flex> <md-select
				ng-model="invoiceObjEdit.account" name="account"
				placeholder="Account Name"
				ng-change="AccountNameddlChange($index, selectedAccount)"
				ng-required="true"> <md-option ng-value="Account"
				ng-repeat="Account in accountforinvoice"
				ng-selected="invoiceObjEdit.account.accountName">{{Account.accountName}}</md-option>
			</md-select>

			<div ng-messages="invoiceEdit.account.$error"
				ng-if="invoiceEdit.account.$submitted || invoiceEdit.account.$touched">
				<div ng-message="required">Please Select Account
					(Example.:ABC)</div>
			</div>
			</md-input-container>

			<md-input-container flex> <md-select
				ng-model="invoiceObjEdit.salesOrderId" placeholder="Sales Order No"
				ng-change="SOddlChange($index, selectedSOId)" name="soId">
			<md-option ng-value="SO" ng-repeat="SO in SOforinvoice"
				ng-selected="invoiceObjEdit.salesOrderId.id">{{SO.id }}</md-option> </md-select> </md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex="50"> <label>PO/WO
			</label> <input name="pOrder" ng-model="invoiceObjEdit.pOrder"> </md-input-container>

			<md-input-container flex> <md-select
				ng-model="selectedDiscount" placeholder="Discount"
				ng-change="lineItemDiscountChange($index, selectedDiscount)">
			<md-option ng-value="discount" ng-repeat="discount in discountType"
				ng-selected="invoiceObjEdit.discount">{{discount }}</md-option> </md-select> </md-input-container>

			<md-input-container flex="25"> </label> <input
				ng-model="invoiceObjEdit.discValue" ng-blur="calfinalTotal()"
				name="discAmount"> </md-input-container>
		</div>

		<div layout="row" layout-xs="column">

			<md-input-container flex> <label>Note to
				Customer</label> <textarea ng-model="invoiceObjEdit.noteToCustomer" rows="3"
				cols="1"></textarea> </md-input-container>


		</div>

		<div layout="row" layout-align="center start"
			style="margin-top: 20px; margin-bottom: 20px;">
			<md-divider flex></md-divider>
		</div>

		<h2>Invoice</h2>
		<span style="color: red">{{errorMsg}}</span> <span style="color: red">{{qtyErrorMsg}}</span>
		<span style="color: red">{{qtyErrorMsg1}}</span>

		==================================================================================


		<h3>Services Provided</h3>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Sr_No" order-by="srNo"></th>
					<th name="Service Name" order-by="serviceName"></th>
					<th name="Quantity" order-by="qty"></th>
					<th name="Price" order-by="price"></th>
					<th name="Total" order-by="total"></th>
					<th name="Actions"></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="service in invoiceObjEdit.serviceLineItemList">

					<td>{{ $index+1 }}</td>
					<td><md-input-container flex> <label>Service
							Name </label> <input ng-model="service.serviceName"> </md-input-container></td>

					<td><md-input-container flex> <label>Quantity
						</label> <input ng-model="service.sQty" type="number"
							ng-blur="calServiceSubTotal()"> </md-input-container></td>
					<td><md-input-container flex> <input
							ng-model="service.sPrice" ng-change="calServiceSubTotal()"></md-input-container></td>
					<td><md-input-container flex> <b>{{service.sQty
							* service.sPrice | currency:"":2}} </b></td>
					<td><md-icon
							md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
							ng-click="removeService($index)" class="name"
							style="color: Green; height: 40px; width: 40px"></md-icon></td>

				</tr>
				<tr>
					<td><section layout="row" layout-sm="column"
							layout-align="left left">
							<md-button class="md-raised md-primary" ng-click="addService()">Add
							Service</md-button>
						</section></td>
					<td></td>
					<td></td>
					<td><label><u>Service Total</u> </label></td>
					<td><md-input-container flex> <b>{{invoiceObjEdit.serviceSubTotal | currency:"":2}}</b>
						</md-input-container></td>
				</tr>
				<tr>
					<td>-</td>

				</tr>
			</tbody>
		</table>




		=====================================================================================


		<h3>Prouct/Item Sold</h3>
		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Sr_No" order-by="srNo"></th>
					<th name="Item Name" order-by="itemName"></th>
					<th name="Quantity" order-by="qty"></th>
					<th name="Price" order-by="price"></th>
					<th name="Total" order-by="total"></th>
					<th name="Actions" order-by="total"></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="item in invoiceObjEdit.invoiceLineItemList">

					<td>{{ $index+1 }}</td>

					<td><md-input-container flex> <md-select
							ng-model="selectedStockItem" placeholder="Item Name"
							ng-change="lineItemStockChange($index, selectedStockItem)">
						<md-option ng-value="item" ng-repeat="item in stockforinvoice">{{item.itemName
						}}</md-option> </md-select> </md-input-container></td>

					<td><md-input-container flex> <label>Quantity
						</label> <input ng-model="item.qty" ng-selected="item.qty"
							ng-change="checkStock(item,$event)" type="number"
							ng-blur="calSubTotal()"> </md-input-container></td>
					<td><md-input-container flex> <input
							ng-model="item.price" ng-change="calSubTotal()"></md-input-container></td>
					<td><md-input-container flex> <b>{{item.qty
							* item.price | currency:"":2}} </b></td>
					<td>
						<!-- 						<section layout="row" layout-sm="column">
							<md-button class="md-raised md-primary"
								ng-click="removeItem($index)">Remove Item</md-button>
						</section>
 --> <md-icon md-svg-src="img/icons/ic_delete_forever_black_24px.svg"
							ng-click="removeItem($index)" class="name"
							style="color: Green; height: 40px; width: 40px"></md-icon>
					</td>

				</tr>
				<tr>
					<td><section layout="row" layout-sm="column"
							layout-align="left left">
							<md-button class="md-raised md-primary" ng-click="addItem()">Add
							Item</md-button>
						</section></td>
					<td></td>
					<td></td>
					<td><label><u>Sub Total</u> </label></td>
					<td><md-input-container flex> <b>{{invoiceObjEdit.subTotal | currency:"":2}}</b>
						</md-input-container></td>
				</tr>
				<tr>
					<td><label><u>Tax Details</u> </label></td>
					<td></td>
					<td><md-input-container flex> <md-select
							ng-model="selectedTaxItem" placeholder="Tax Type"
							ng-change="lineItemTaxChange($index, selectedTaxItem)">
						<md-option ng-value="taxValue"
							ng-repeat="taxValue in taxforinvoice"
							ng-selected="taxValue.taxCodeName">{{taxValue.taxCodeName}}</md-option>
						</md-select> </md-input-container></td>
					<td>{{invoiceObjEdit.selectedTaxItem.taxPercenatge}}%</td>
					<td><md-input-container flex> <b>{{invoiceObjEdit.taxTotal | currency:"":2}}</b>
						</md-input-container></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Discount</u> </label></td>
					<td><md-input-container flex> <b>
							{{invoiceObjEdit.discAmount | currency:"":2}}</b> </md-input-container></td>
				</tr>

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label><u>Final Total</u> </label></td>
					<td><md-input-container flex> <b>
							{{invoiceObjEdit.finalTotal | currency:"":2}}</b> </md-input-container></td>
				</tr>
				<tr>
					<td>-</td>

				</tr>
			</tbody>
		</table>
	</form>
</div>
<div layout layout-sm="column">
	<section layout="row" layout-sm="column">
		<md-button class="md-raised md-primary" id="updateInvoice"
			ng-click="updateInvoice()">Update Invoice</md-button>
	</section>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe> </md-content>
