
<md-content layout-padding>
<h3 class="md-title">
	General Configuration Options</u>
</h3>
</md-content>
</br>
<h4 class="md-subhead">Note to Customer</h4>
<hr>
<div>
	<form name="invoiceSettings">

		<md-input-container flex="50" layout="row"> <label>Note
			to Customer</label> <textarea ng-model="settingsObj.noteToCustomer" rows="4"
			cols="1"></textarea> </md-input-container>
	</form>

	<section layout="row" layout-sm="column">
		<md-button class="md-raised md-primary" id="addInvoice"
			ng-click="addInvoiceSettings()">Save Changes </md-button>
	</section>
</div>

