
<div layout="column">
	<div>
		<section layout="row">
			<div class="md-toolbar-tools">
				<md-content layout="row" layout-align="center start"> <md-button
					ui-sref="invoice.add" ng-click="close()" class="md-primary">
				Add Invoice</md-button> </md-content>
				<md-content layout="row" layout-align="center start"> <md-button
					ui-sref="invoice.list" ng-click="close()" class="md-primary">
				Invoice List</md-button> </md-content>
			</div>

			<div class="md-toolbar-tools">
				<span flex></span>
				<md-card>
				<section layout="row">
					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

				</section>
				</md-card>
			</div>


			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>


			</md-toolbar> <md-content layout-padding><!--  <md-button
				ui-sref="customer.add" ng-click="close()" class="md-primary">
			Add Customer </md-button> --></md-content> </md-sidenav>
		</section>

	</div>
	<div>
		<div flex="75"></div>
		<md-button flex="25" layout-align="center end"
			class="md-icon-button md-accent" ui-sref="invoice.settings"
			aria-label="Favorite"> <md-icon
			md-svg-icon="img/icons/ic_home_black_24px.svg"></md-icon> </md-button>
		<md-button flex="25" layout-align="center end"
			class="md-icon-button md-accent" ui-sref="invoice.settings"
			aria-label="Favorite"> <md-icon
			md-svg-icon="img/icons/ic_lock_open_black_24px.svg"></md-icon> </md-button>

		<md-button flex="25" layout-align="center end"
			class="md-icon-button md-accent" ui-sref="invoice.settings"
			aria-label="Favorite"> <md-icon
			md-svg-icon="img/icons/ic_lock_outline_black_24px.svg"></md-icon> </md-button>
		<md-button flex="25" layout-align="center end"
			class="md-icon-button md-accent" ui-sref="invoice.settings"
			aria-label="Favorite"> <md-icon
			md-svg-icon="img/icons/ic_settings_black_24px.svg"></md-icon> </md-button>
	</div>
	<div ui-view></div>
</div>
