<md-content layout-padding>
<div>
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>

<div>
	<md-data-table-container>
		<table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
				<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th name="Sr.No" order-by="sr_No"></th>
				<th name="Invoice Id" order-by="invoiceId"></th>
				<th name="Customer Name" order-by="customerName"></th>
				<th name="Final Total" order-by="finalTotal"></th>

			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="invoice in invoiceData | filter: searchText | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				<!-- <a ng-href="#/invoice.list/{{invoiceId.id}}">{{invoice.finalTotal}}</a> -->
				<td>{{$index+1}}</td>
				<td>{{invoice.invoiceId}}</td>
				<td>{{invoice.customerName.customerName}}</td>
				<td>{{invoice.finalTotal}}</td>
				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="invoice.view({selectedInvoiceNo: invoice.invoiceId})">View Invoice</md-button>
					</section>
					<!--  <a ui-sref="invoice.view({selectedInvoiceNo: invoice.invoiceId})">View Invoice
						</a> -->
				</td>
			</tr>
		</tbody>
	</table>

	<!-- 			<md-data-table-toolbar class="alternate" ng-show="selected.length">
			<div>{{selected.length}} {{selected.length > 1 ? 'billsItem' :
				'items'}} selected</div>
			<div>{{selected}}</div>
			</md-data-table-toolbar> 
 --> <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{invoiceData.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>
</md-content>