
<md-content layout-padding>

<div ng-cloak>
	<h3 class="md-display-10">Users List</h3>
	<md-content> <md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Active"> <md-content class="md-padding">

	<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>


	<div>
		<md-data-table-container>

		<table md-data-table md-row-select="activeselected" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Name" order-by="name"></th>
					<th name="Email" order-by="email"></th>
					<th name="Role" order-by="role"></th>
					<th name="PRN" order-by="prn"></th>
				</tr>
			</thead>

			<tbody>
				<tr md-auto-select
					ng-repeat="user in activeUsers | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
					<td>{{user.firstName}} {{user.lastName}}</td>
					<td>{{user.email_id}}</td>
					<td>{{user.role}}</td>
					<td>{{user.prn}}</td>
					<td>
						<section layout="row" layout-sm="column" >
							<md-button class="md-raised md-primary" ng-hide="businessNo"
								ui-sref="setup.userview({selecteduserNo:user.id})">View
							user</md-button>
							<md-button class="md-raised md-primary" ng-show="businessNo"
								ui-sref="proAdmin.editBusiness.userview({selecteduserNo:user.id})">View
							user </md-button>
						</section>
					</td>
				</tr>
			</tbody>
		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{users.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>
	</div>

	

<div id="changeState" ng-show="activeselected.length == 1">

	<md-button class="md-raised md-primary" 
			ng-click="inactiveUserStatus('active')">Inactive
		</md-button>
		
	<md-button class="md-raised md-primary" ng-model="suspend" value="suspend"
			ng-click="suspendUserStatus('active')">Suspend
		</md-button>
<!--     
     <md-button class="md-primary md-raised" ng-hide="activeselected[0].isGoogleUser" ng-click="changePassword($event)">
      Change Password
    </md-button>
 -->
</div>

</md-content> </md-tab> 
		
<md-tab label="Inactive"> <md-content class="md-padding">
	<!-- 	<h3 class="md-display-10">Day</h3> -->
	<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
	<div>
		<md-data-table-container>

		<table md-data-table md-row-select="inactiveselected" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Name" order-by="name"></th>
					<th name="Email" order-by="email"></th>
					<th name="Role" order-by="role"></th>
					<th name="PRN" order-by="prn"></th>
				</tr>
			</thead>

			<tbody>
				<tr md-auto-select
					ng-repeat="user in inActiveUsers | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
					<td>{{user.firstName}} {{user.lastName}}</td>
					<td>{{user.email_id}}</td>
					<td>{{user.role}}</td>
					<td>{{user.prn}}</td>
					<td>
						<section layout="row" layout-sm="column" >
							<md-button class="md-raised md-primary" ng-hide="businessNo"
								ui-sref="setup.userview({selecteduserNo:user.id})">View
							user</md-button>
							<md-button class="md-raised md-primary" ng-show="businessNo"
								ui-sref="proAdmin.editBusiness.userview({selecteduserNo:user.id})">View
							user </md-button>
						</section>
					</td>
				</tr>
			</tbody>
		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{users.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>
	</div>
	
<div ng-show="inactiveselected.length == 1">

 
 	<!-- <md-button class="md-raised md-primary" 
			ng-click="activeUserStatus('inactive')">Active
		</md-button> -->
		
	<md-button class="md-raised md-primary" ng-model="suspend" value="suspend"
			ng-click="suspendUserStatus('inactive')">Suspend
 		</md-button>

 <!--  <md-button class="md-primary md-raised" ng-hide="inactiveselected[0].isGoogleUser">
      Change Password
    </md-button> -->
    

</div>

</md-content> </md-tab> 
	
	<md-tab label="Suspended"> <md-content class="md-padding">
	<!-- 	<h3 class="md-display-10">Month</h3> -->
	
		<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
	
	<div>
		<md-data-table-container>

		<table md-data-table md-row-select="suspendselected" md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="Name" order-by="name"></th>
					<th name="Email" order-by="email"></th>
					<th name="Role" order-by="role"></th>
					<th name="PRN" order-by="prn"></th>
				</tr>
			</thead>

			<tbody>
				<tr md-auto-select
					ng-repeat="user in suspendedUsers | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
					<td>{{user.firstName}} {{user.lastName}}</td>
					<td>{{user.email_id}}</td>
					<td>{{user.role}}</td>
					<td>{{user.prn}}</td>
					<td>
						<section layout="row" layout-sm="column" >
							<md-button class="md-raised md-primary" ng-hide="businessNo"
								ui-sref="setup.userview({selecteduserNo:user.id})">View
							user</md-button>
							<md-button class="md-raised md-primary" ng-show="businessNo"
								ui-sref="proAdmin.editBusiness.userview({selecteduserNo:user.id})">View
							user </md-button>
						</section>
					</td>
				</tr>
			</tbody>
		</table>

		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{suspendedUsers.length}} md-trigger="onpagechange"></md-data-table-pagination>
		</md-data-table-container>
	</div>

<div ng-show="suspendselected.length == 1">

  	<md-button class="md-raised md-primary" 
			ng-click="activeUserStatus('suspend')">Active
		</md-button>
		
	<md-button class="md-raised md-primary" ng-model="suspend" value="suspend"
			ng-click="inactiveUserStatus('suspend')">Inactive
		</md-button>

 <!--  <md-button class="md-primary md-raised" ng-hide="suspendselected[0].isGoogleUser">
      Change Password
    </md-button> -->
    

   </div>

	</md-content>
</md-tab>

</div></md-content>
