<h3 class="md-headline">Students by Exam</h3>
<div layout="column" layout-padding>
	<md-content>
	<form name="examStudentsForm"></form>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Student
			By Exam </label> <md-select name="examtitle" ng-model="selectedExam">
		<md-option ng-value="exam.id" ng-repeat="exam in scheduledExams">{{exam.examtitle}}</md-option>
		</md-select>
		<div ng-messages="examStudentsForm.examtitle.$error"
			ng-if="examStudentsForm.examtitle.$submitted || examStudentsForm.examtitle.$touched">
			<div ng-message="required">Please Select School Category.</div>
		</div>
		</md-input-container>
	</div>

<md-button  class="md-primary"
		ng-click="getExamOfStudent()">Add</md-button>
		
	<md-data-table-container>
	<table md-data-table
		md-row-select="assignExamToStudentObj.selectedStudents"
		class="md-primary" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">

			<tr>
				
				<th name="Student Name"></th>
				<th name="School Name"></th>
				<th name="PRN"></th>
				<th name="PRN"></th>
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="student in examStudentList1 | orderBy: query.order | filter: examStudentList1.selectedStudents.selectedExam | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>
				<table>
				<tr ng-repeat="stud in student.selectedStudents">
				
					<td>{{stud.firstName}} {{stud.lastName}}</td>
					<td>{{stud.schoolName}}</td>
					<td>{{stud.prn}}</td>
					<td>{{stud.selectedExam}}</td> 
				</tr>
				</table>
				</td>
		</tbody>
	</table>
	</md-data-table-container> <md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{students.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-content>
</div>












<!-- <h3 class="md-headline">Students by Exam</h3>
<div layout="column" layout-padding>
	<md-content>
	<form name="examStudentsForm"></form>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Student
			By Exam </label> <md-select name="examtitle" ng-model="examStudentList1.selectedStudents.selectedExam">
		<md-option ng-value="exam.id" ng-repeat="exam in scheduledExams">{{exam.examtitle}}</md-option>
		</md-select>
		<div ng-messages="examStudentsForm.examtitle.$error"
			ng-if="examStudentsForm.examtitle.$submitted || examStudentsForm.examtitle.$touched">
			<div ng-message="required">Please Select School Category.</div>
		</div>
		</md-input-container>
	</div>

	<md-data-table-container>
	<table md-data-table
		md-row-select="assignExamToStudentObj.selectedStudents"
		class="md-primary" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">

			<tr>
				
				<th name="Student Name"></th>
				<th name="School Name"></th>
				<th name="PRN"></th>
				<th name="PRN"></th>
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="student in examStudentList1 | orderBy: query.order | filter: examStudentList1.selectedStudents.selectedExam | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>
				<table>
				<tr ng-repeat="stud in student.selectedStudents">
				
					<td>{{stud.firstName}} {{stud.lastName}}</td>
					<td>{{stud.schoolName}}</td>
					<td>{{stud.prn}}</td>
					<td>{{stud.selectedExam}}</td> 
				</tr>
				</table>
				</td>
		</tbody>
	</table>
	</md-data-table-container> <md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{students.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-content>
</div>
 -->