<h3 class="md-headline">Add Student Fees</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div layout="column" layout-padding>
	<md-content>
	<section>

		<form name="studentFeesForm" ng-model="studentFeesForm">

			<div layout="column" layout-sm="column">
				
			</div>

			<div layout="row" layout-align="center center" layout-xs="column">

				<md-button class="md-raised md-primary"
				ng-click="scheduleStudentExam()">Submit </md-button>
			</div>	
</div>

</form>

</section>

</md-content>
</div>
