<h3 class="md-headline">Students by Exam</h3>
<div layout="column" layout-padding>
	<md-content>
	<form name="examStudentsForm"></form>
	
	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Student
			By Exam
		</label> <md-select name="examtitle" ng-model="selectedExam">
		<md-option ng-value="exam.id"
			ng-repeat="exam in scheduledExams">{{exam.examtitle}}</md-option>
		</md-select>
		<div ng-messages="examStudentsForm.examtitle.$error"
			ng-if="examStudentsForm.examtitle.$submitted || examStudentsForm.examtitle.$touched">
			<div ng-message="required">Please Select School Category.</div>
		</div>
		</md-input-container>
	</div>
	
	<md-data-table-container>
		<table md-data-table md-row-select="assignExamToStudentObj.selectedStudents" class="md-primary"
			md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">

				<tr>
					<th order-by="firstName" name="firstName"></th>
					<th order-by="email_id" name="Email-ID"></th>
					<th order-by="address" name="Address"></th>
					<th order-by="contact" name="Contact"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="student in students | orderBy: query.order | filter: selectedExam | limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{student.firstName}} {{student.lastName}}</td>
					<td>{{student.email_id}}</td>
					<td>{{student.address}}</td>
					<td>{{student.contact}}</td>

				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{students.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-content>
</div>
