
<div layout="column" ng-controller="studentPageCtr">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>

				<section layout="row">
					<md-button class="md-icon-button md-primary" aria-label="Settings">
					<md-icon md-svg-icon="img/icons/menu.svg"></md-icon></md-button>
					<md-button href="#student.list" ng-click="close()"
						class="md-primary"> student List </md-button>
					<md-button class="md-icon-button md-accent" aria-label="Favorite">
					<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon> </md-button>
					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

				</section>
			</div>

			<!-- Right Navigation Pane -->
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar> <md-content layout-padding>
			<form>
				<md-input-container> <label for="testInput">Test
					input</label> <input type="text" id="testInput" ng-model="data"
					md-sidenav-focus> </md-input-container>
			</form>
			<md-button ng-click="close()" class="md-primary"> Close
			Sidenav Right </md-button>

			<p hide-md show-gt-md>This shows the selected module
				links/actions.</p>
			<md-button ng-click="close()" class="md-primary">Current
			Module Action 1 </md-button> <md-button ng-click="close()" class="md-primary">Current
			Module Action 2 </md-button> <md-button ng-click="close()" class="md-primary">Current
			Module Action 3 </md-button> <md-button href="#student.list" ng-click="close()"
				class="md-primary"> student List </md-button></md-content> </md-sidenav>

		</section>

	</div>

	<form name="userForm">

		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				name</label> <input ng-model="studentVM.firstName"> </md-input-container>
			<md-input-container flex> <label>Last
				Name</label> <input ng-model="studentVM.lastName"> </md-input-container>
			<md-input-container flex> <label> Mobile
				No</label> <input ng-model="studentVM.mobileNo"> </md-input-container>
			<md-input-container flex> <label> Email</label>
			<input ng-model="studentVM.email"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Address
				Line1</label> <input ng-model="studentVM.address.line1"> </md-input-container>
			<md-input-container md-no-float> <input
				ng-model="studentVM.address.line2" placeholder="Address Line2"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>City</label> <input
				ng-model="studentVM.address.city"> </md-input-container>
			<md-input-container flex> <label>State</label> <input
				ng-model="studentVM.address.state"> </md-input-container>
			<md-input-container flex> <label>Postal
				Code</label> <input ng-model="studentVM.address.pin"> </md-input-container>
		</div>

	</form>


	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised">Cancel</md-button>
		<md-button class="md-raised md-primary" ng-click="addStudentToDB()">Submit</md-button>
		
		<!--
		<md-button href="/app/student/student.list.html">student
				List </md-button>-->
		
	</section>

</div>
