<div layout="column" layout-padding>
	<md-content>
	<section>
		<md-subheader class="md-primary">
		<h3 class="md-headline">New Student</h3>
		</md-subheader>
		<form name="userForm">
			<div layout="row" layout-sm="column">
				<div layout="column" flex>
					<md-input-container flex> <label>First
						name</label> <input ng-model="studentVM.firstName"> </md-input-container>
					<md-input-container flex> <label>Last
						Name</label> <input ng-model="studentVM.lastName"> </md-input-container>
					<md-input-container flex> <label>
						Mobile No</label> <input ng-model="studentVM.mobileNo"> </md-input-container>
					<md-input-container flex> <label>
						Email</label> <input ng-model="studentVM.email"> </md-input-container>
				</div>
				<div layout="column" flex>
					<md-input-container flex> <label>City</label>
					<input ng-model="studentVM.address.city"> </md-input-container>
					<md-input-container flex> <label>State</label>
					<input ng-model="studentVM.address.state"> </md-input-container>
					<md-input-container flex> <label>Postal
						Code</label> <input ng-model="studentVM.address.pin"> </md-input-container>


					<md-input-container flex> <md-select
						ng-model="institutes" placeholder="Institute name"> <md-option
						ng-value="institute.name" data-ng-repeat="institute in institutes">{{
					institute.name }}</md-option> </md-select> </md-input-container>
				</div>
				
				
			</div>
			
		 <div layout="row" layout-align="center center">
			    <md-button class="md-raised" ng-click="cancelButton()"> Cancel </md-button>
			    <md-button class="md-raised md-primary" ng-click="addStudentToDB()">Submit </md-button>
	     </div>

		</form>

	</section>



	</md-content>
</div>
