<div layout="column" layout-padding>
	<md-content>
	<section>
		<md-subheader class="md-primary">
		<h3 class="md-headline">New Student</h3>
		</md-subheader>
		<form name="userForm">
			<div layout="row" layout-sm="column">
				<div layout="column" flex>
					<md-input-container flex> <label>First
						name</label> <input ng-model="tempStudent.firstName"> </md-input-container>
					<md-input-container flex> <label>Last
						Name</label> <input ng-model="tempStudent.lastName"> </md-input-container>
					<md-input-container flex> <label>
						Mobile No</label> <input ng-model="tempStudent.phone_no"> </md-input-container>
					<md-input-container flex> <label>
						Email</label> <input ng-model="tempStudent.email"> </md-input-container>
				</div>
				<div layout="column" flex>
					<md-input-container flex> <label>City</label>
					<input ng-model="tempStudent.city"> </md-input-container>
					<md-input-container flex> <label>State</label>
					<input ng-model="tempStudent.state"> </md-input-container>
					<md-input-container flex> <label>Postal
						Code</label> <input ng-model="tempStudent.pin"> </md-input-container>


					<md-input-container flex> <md-select ng-model="institute1" placeholder="Institute name">
					<md-option ng-value="institute.name" ng-repeat="institute in institutes">{{institute.name }}</md-option>
					</md-select> </md-input-container>
				</div>
				
				
			</div>
			
		 <div layout="row" layout-align="center center">
			    <md-button class="md-raised" ng-click="getStudents()"> Cancel </md-button>
			    <md-button class="md-raised md-primary" ng-click="addStudent()">Submit </md-button>
	     </div>

	vals: {{students}}
	<hr>
		</form>

	</section>



	</md-content>
</div>
