
<div layout="column" layout-align="centre centre" layout-xs="column">

	<div layout="row" layout-xs="column">
	
	
		<md-input-container flex> <label>Student
			ID </label> <input name="studID" id="studID" ng-model="student.id" readonly>
		</md-input-container>

		<md-input-container flex> <label>PRN No.</label>
		<input name="prn" id="prn" ng-model="student.prn" readonly> </md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>First
			Name</label> <input name="firstName" id="firstName" ng-model="student.firstName"
			readonly> </md-input-container>

		<md-input-container flex> <label>Last
			Name</label> <input name="lastName" id="lastName" ng-model="student.lastName"
			readonly> </md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Address</label>
		<input name="address" id="address" ng-model="student.address" readonly>
		</md-input-container>

		<md-input-container flex> <label>Contact</label>
		<input name="contact" id="contact" ng-model="student.contact" readonly>
		</md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Email ID</label>
		<input name="email_id" id="email_id" ng-model="student.email_id" readonly>
		</md-input-container>

		<md-input-container flex> <label>Standard</label>
		<input name="standard" id="standard" ng-model="student.standard" readonly>
		</md-input-container>
	</div>

	<div layout="row" layout-xs="column">
		<md-input-container flex> <label>Division</label>
		<input name="division" id="division" ng-model="student.division" readonly>
		</md-input-container>
		
		</div> <div><label>Subjects</label>	<md-checkbox name="subject" ng-repeat="subject in subjects"
				ng-model="checked" ng-checked="checked">
			{{subject.name}}</md-checkbox>			

		</div>

</div>

<div layout="row" layout-align="center center" layout-xs="column">
	<md-button class="md-raised" ng-click="cancel()"> Cancel </md-button>
</div>