<div layout="column" ng-controller="studentListPageCtr">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>

				<section layout="row">
					<md-button class="md-icon-button md-primary" aria-label="Settings">
						<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
					</md-button>
					<md-button href="#student.list" ng-click="close()"
					class="md-primary">
						student List
					</md-button>
					<md-button class="md-icon-button md-accent" aria-label="Favorite">
						<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="More"
					ng-click="toggleRight()">
						<md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon>
					</md-button>

				</section>
			</div>

			<!-- Right Navigation Pane -->
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
			md-component-id="rightListPage">
				<md-toolbar
				class="md-theme-light">
					<h1 class="md-toolbar-tools">StudentList Page Sub Menu</h1>
				</md-toolbar>
				<md-content layout-padding>
					<!--
					<form>
					<md-input-container>
					<label for="testInput">Test
					input</label>
					<input type="text" id="testInput" ng-model="data"
					md-sidenav-focus>
					</md-input-container>
					</form>-->

					<md-button ng-click="close()" class="md-primary">
						Close
						Sidenav Right
					</md-button>

					<p hide-md show-gt-md>
						This shows the selected module
						links/actions.
					</p>
					<md-button ng-click="close()" class="md-primary">
						Current
						Module Action 1
					</md-button>
					<md-button ng-click="close()" class="md-primary">
						Current
						Module Action 2
					</md-button>
					<md-button ng-click="close()" class="md-primary">
						Current
						Module Action 3
					</md-button>
					<md-button href="#student.list" ng-click="close()"
					class="md-primary">
						student List
					</md-button>
				</md-content>
			</md-sidenav>

		</section>

	</div>

	<form name="userForm">

		<p>
			List will be shown here
		</p>
		<div>
			The student list is:
			<li ng-repeat="s in studList">
				{{ s.firstName }}
			</li>
			</ul>

		</div>

	</form>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised">
			Cancel
		</md-button>
		<md-button class="md-raised md-primary" ng-click="addStudent()">
			Submit
		</md-button>
		<!--

		<md-button href="/app/cust/student.list.html">student
		List </md-button>-->

	</section>

</div>
