<h3 class="md-headline">Edit Book</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<form name="BookEditForm" ng-model="BookEditForm"
	ng-submit="BookEditForm.$valid " novalidate >

	<div id="updateBook">

		<div layout="column" layout-align="" layout-xs="column">

			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Book
					Name<span style="color: red"
					ng-show="BookEditForm.book_name.$error.required" class="mandatory">*</span>
				</label> <input name="book_name" ng-model="book[0].book_name"
					ng-required="true">
				<div ng-messages="BookEditForm.book_name.$error"
					ng-if="BookEditForm.book_name.$submitted || BookEditForm.book_name.$touched">
					<div ng-message="required">Please Enter Book name.</div>
				</div>
				</md-input-container>

				<md-input-container flex> <label>Standard</label>
				<input name="standard" id="standard" ng-model="book[0].standard"
					readonly> </md-input-container>

			</div>

			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Author
					<span style="color: red"
					ng-show="BookEditForm.author.$error.required" class="mandatory">*</span>
				</label> <input name="author" ng-model="book[0].author" ng-required="true">
				<div ng-messages="BookEditForm.author.$error"
					ng-if="BookEditForm.author.$submitted || BookEditForm.author.$touched">
					<div ng-message="required">Please Enter Author name.</div>
				</div>
				</md-input-container>

				<md-input-container flex> <label>Division</label>
				<input name="division" id="division" ng-model="book[0].division"
					readonly> </md-input-container>


			</div>

			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Board</label>
				<input name="board" id="board" ng-model="book[0].board" readonly></md-input-container>

				<md-input-container flex> <label>Subject</label>
				<input name="subject" id="subject" ng-model="book[0].subject" readonly>
				</md-input-container>



			</div>

		</div>
	</div>

	<table>
		<tr layout-xs="column">

			<td><label for="aChapters">Available Chapters</label> <select
				size="5" multiple ng-model="available"
				ng-options="chapter as chapter.chapter_name for chapter in existingChapters"
				style="width: 400px"></select></td>

			<td><input id="moveright" type="button" value=">>"
				ng-click="moveItem(available[0], existingChapters,chapters)" /> <input
				id="moverightall" type="button" value="Add All Chapters"
				ng-click="moveAll(existingChapters,chapters)" /> <input
				id="move left" type="button" value="<<"
				ng-click="moveItem(selected[0], chapters,existingChapters)" /> <input
				id="moveleftall" type="button" value="Remove All Chapters"
				ng-click="moveAll(chapters,existingChapters)" /></td>


			<td><label for="sChapters">Already Added Chapters</label> <select
				size="5" multiple ng-model="selected"
				ng-options="chapter as chapter.chapter_name for chapter in chapters"
				style="width: 400px"></select></td>
		</tr>

	</table>


	<p>&nbsp;</p>
	<p>&nbsp;</p>
	

	<div layout="row" layout-sm="column" layout-align="center center">
	
		<md-button class="md-raised md-primary" ng-click="updateBook()"
			ng-disabled="BookEditForm.$invalid"> Update </md-button>
			
		<md-button class="md-raised" ng-click="cancel()"> cancel</md-button>
	</div>
</form>
