<md-content>

<div>
	<h1>Book-IndexChapter:-</h1>


	<div>
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>



	<div class="table-responsive-vertical shadow-z-1">
		<table id="chapterTable" class="table table-hover table-mc-light-blue">
			<thead>
				<tr>
					<th>Chapter Id</th>
					<th>Chapter</th>

				</tr>
			</thead>

			<tbody>

				<tr ng-repeat="chapter in selectedChapter">

					<td>
						<div>{{chapter.id}}</div>

					</td>

					<td ng-click="showChapterContent()"><a href="#"
						ui-sref="book.view({selectedBookId : selectedBookId, selectedChapterId : chapter.id})"><b>{{chapter.chapter_name}}</b></a>
					</td>



				</tr>
			</tbody>
		</table>

		<div layout="row" layout-align="center end">
			<td><md-button class="md-raised md-primary"
					ng-click="addMyBook()">Add To My Books</a></md-button></td>
		</div>
	</div>
</div>


</md-content>
