<md-content>

<div>
 <h1>Book-IndexChapter:-</h1>


	<div>
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
	
	
	SelectedChapter:-{{selectedChapter}}
	<hr>
       <!--   <div  ng-repeat="book in books">
	        <md-input-container> <label>Book Name :-</label> <input
		       name="book_name" id="book_name" ng-model="book.book_name" disabled>
	        </md-input-container>

	       <md-input-container> <label>Author :-</label> <input
	      	name="Author" id="Author" ng-model="book.author" disabled> </md-input-container>
	      </div> -->


	<div class="table-responsive-vertical shadow-z-1">
	<table id="chapterTable" class="table table-hover table-mc-light-blue">
		<thead>
			<tr>
				<th>Chapter Id</th>
				<th>Chapter</th>
	
			</tr>
		</thead>

		<tbody>
		<tr>
		{{selectedBookId}}
		</tr>
			<tr ng-repeat="chapter in selectedChapter" >

                <td>
					 <div>{{chapter.id}}</div>
			
				</td>
				
				
				
				<td  ng-click="showChapterContent()"> <a href="#" ui-sref="book.view({selectedBookId : selectedBookId, selectedChapterId : chapter.id})"><b>{{chapter.chapter_name}}</b></a>
				</td>
				    
			 </tr>
			</tbody>
		 </table>	
		 </div>   
	</div>
	
		
</md-content>
