<div layout="column" layout-padding>
	<md-content>

	<form name="standardForm">
		
		<h2><center><b> Click on Standard Button To View Books </b></center></h2>
		
		<p>&nbsp;</p>
		
		<div align="center" class="table-responsive-vertical shadow-z-1">	
		<md-button
					ng-repeat="standard in stdList track by $index"
					type="button" ng-class="getButtonClass(standard.name)"
					ng-click="getBookByStandard(standard.name)">{{standard.name}}
		</md-button>
		</div>
		
		<p>&nbsp;</p><p>&nbsp;</p>
		
		 <table align="center" class="table table-hover table-mc-light-blue">
		 
		 	<th>BOOK ID</th>
		 	<th>BOOK NAME</th>
		
			<tbody>
		
				<tr ng-repeat="book in stdBooks | filter: searchText">
					<td>{{book.id}}</td>
					<td ng-click="showBookContents()"><a ui-sref="book.standard_chapterList({selectedBookId : book.id})"><b>{{book.book_name}}</b></a></td>
		
				</tr>
				
			</tbody>
		</table>
		
		<div>
		    <md-button class="md-raised" ng-click="cancelButton()">Back</md-button>
		</div>
	
	

	</form>
	</md-content>
</div>
