<div layout="column" layout-padding>
	<md-content>

	<form name="standardForm">
		
		<center><b> Click on Standard Button To View Books </b></center>
		
		
	<div align="center" class="table-responsive-vertical shadow-z-1">
	<md-button type="button" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive5]" ng-click="getBookByStandard(5)"><b>STD 5</b></md-button>
	<md-button type="button" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive6]"  ng-click="getBookByStandard(6)"><b>STD 6</b></md-button>
	<md-button type="button" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive7]"  ng-click="getBookByStandard(7)"><b>STD 7</b></md-button>
	<md-button type="button" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive8]"  ng-click="getBookByStandard(8)"><b>STD 8</b></md-button>
	<md-button type="button" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive9]"  ng-click="getBookByStandard(9)"><b>STD 9</b></md-button>
	<md-button type="button" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive10]"  ng-click="getBookByStandard(10)"><b>STD 10</b></md-button>

				
	     <table align="center" class="table table-hover table-mc-light-blue">
		
			<tbody>
			<tr>	
			   <td>The Books for<b> STD :{{std}}</b></td>
			</tr>
			
				<tr ng-repeat="book in stdBooks | filter: searchText">
					<td ng-click="showBookContents()"><a ui-sref="book.standard_chapterList({selectedBookId : book.id})"><b>{{book.book_name}}</b></a></td>
		
				</tr>
				
			</tbody>
		</table>
		
		<div>
		    <md-button class="md-raised" ng-click="cancelButton()">Back</md-button>
		</div>
	
	</div>

	</form>
	</md-content>
</div>
