<md-content layout-padding>

<div id="viewChapterContent">
	<div layout="column" flex ng-repeat="chapter in chapters">
		<b align="center">{{chapter.chapter_name}}</b>
		<md-content flex layout-padding>
		<p ng-bind-html="chapter.chapter_content" disabled></p>
		</md-content>
	</div>
</div>


<div id="TotalChapters">
	<div layout="column" flex ng-repeat="chapter in chapters">
		<h3 align="center">{{chapter.chapter_name}}</h3>
		<md-content flex layout-padding>
		<p ng-bind-html="chapter.chapter_content"></p>
		</md-content>
	</div>
</div>
<!-- <div>
	<md-button class="md-primary" ng-disabled="isDisabledPrevious"
		ng-model="isDisabledPrevious" ng-click="onPreviousChapter()">Previous Chapter</md-button>

	<md-button class="md-primary" ng-disabled="isDisabledNext"
		ng-model="isDisabledNext"
		ng-click="viewChapterContent({selectedBookId : selectedBookId})">Next Chapter</md-button>
</div> -->
<div>
	<md-button class="md-raised md-primary"
		ui-sref="book.standard_chapterList({selectedBookId : selectedBookId})">Back
	To Chapter-Index</md-button>
</div>


</md-content>



