
<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>
				<section layout="column">
				
					<div layout="row" layout-align="end start">

						<md-button aria-label="Search" ng-click="showSearch = !showSearch">
						<ng-md-icon icon="search"></ng-md-icon> </md-button>

						<md-button aria-label="Open Settings" ng-click="toggleRight()">
						<ng-md-icon icon="more_vert"></ng-md-icon> </md-button>

					</div>
				</section>
			</div>


		<!-- Right Navigation Pane---------------------------------->

			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Student Page Sub Menu</h1>
			</md-toolbar> <md-content layout-padding> <md-button
				ng-click="close()" class="md-primary"> Close Sidenav
			Right </md-button>

			<p hide-md show-gt-md>This shows the selected module
				links/actions.</p>
			<md-button ng-click="close()" class="md-primary"> Current
			Module Action 1 </md-button> <md-button ng-click="close()" class="md-primary">
			Current Module Action 2 </md-button>  </md-content> </md-sidenav>

		</section>
	</div>
<md-content>  
 
  <md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>				
				<th name="Exam ID" order-by="id"></th>
				<th name="Exam Title" order-by="examtitle"></th>
				
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select ng-repeat="exam in exams | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: searchText">
			
			<td>{{exam.id}}</td>
            <td><a ui-sref="exam.practiceexamtest({selectedExamId : exam.id})"><b>{{exam.examtitle}}</b></a></td>  
          	</tr>				
		</tbody>		
	</table>
	
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{exams.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>  
</div>
			
	
</md-content>



			