
<md-content layout-padding>
<form name="documentForm">

	<div id="adddoc">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Employee
				id </label> <input type="text" ng-model="document.empid" 
				ng-change="documentempname(document.empid)"> </md-input-container>
			<md-input-container flex> <label>Employee
				Name </label> <input type="text" ng-model="document.empName" disabled>
			</md-input-container>
		</div>



		<div layout layout-sm="column">
			<md-input-container flex> <label>Document
				Name </label> <input ng-model="document.docname"> </md-input-container>

		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <input type="file" ng-model="document.docfile"
				id="filenm" ><!-- multiple upload>-->
			<span>Add files...</span> </md-input-container>
		</div>
		
		<div>
			<md-input-container flex> <label>Description
			</label> <textarea ng-model="document.docdiscription" rows="4" cols="1"></textarea></md-input-container>
		</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="adddoc()">Add</md-button>

		</section>
	</div>
</form>
</md-content>