
<md-content layout-padding>
<form name="empForm">

	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Employee
				id </label> <input type="text" ng-model="viewsalstruct.empid" disabled
				> </md-input-container>
			<md-input-container flex> <label>Employee
				Name </label> <input type="text" ng-model="viewsalstruct.empName" disabled> </md-input-container>
		</div>
		
		<div>

			<label>Basic &ensp;&ensp;&ensp;&ensp;&ensp;
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 30% </label> <br> <label>HRA
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
				&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 20% </label> <br> <label>City
				Compensatory All.&ensp;&ensp; 30%</label><br> <label>Conveyance
				Rs. &ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp; 800 per month</label> <br>
			<label> Special Allowance Balance</label>
		</div>

	</div>
	<div layout layout-sm="column">

		<table md-data-table md-progress="deferred">
			<thead md-order="query.order" md-trigger="onOrderChange">
				<tr>
					<th name="" order-by=""></th>
					<th name="Yearly" order-by="Yearly"></th>
					<th name="Grand Totals" order-by="Grand Totals"></th>
					<th name="" order-by=""></th>
					<th name="Monthly" order-by="Monthly"></th>
					<th name="" order-by=""></th>
				</tr>
			</thead>

			<tbody style="border: 1px solid red">
				<tr>
					<td>Gross Salary</td>
					<td><md-input-container flex> <label>
							enter salary </label> {{viewsalstruct.grosssal}}
							 </md-input-container></td>
					<td></td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.monthly}}</b>
						</md-input-container></td>
					<td></td>
				</tr>
				<tr>
					<td>Basic</td>
					<td><md-input-container flex> <b>{{viewsalstruct.byearly}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.bmonthly}}</b>
						</md-input-container></td>
					<td></td>
				</tr>
				<tr>
					<td>HRA</td>
					<td><md-input-container flex> <b>{{viewsalstruct.hrayearly}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.hramonthly}}</b>
						</md-input-container></td>
					<td></td>
				</tr>
				<tr>
					<td>City Compensatory All</td>
					<td><md-input-container flex> <b>{{viewsalstruct.ccayearly}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.ccamonthly}}</b>
						</md-input-container></td>
					<td></td>
				</tr>
				<tr>
					<td>Employers Contribution 12% of basic or Rs. 780/- whichever
						is less</td>
					<td><md-input-container flex> <b>{{viewsalstruct.ec12Byearly}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td>_</td>
					<td></td>
				</tr>
				<tr>
					<td>Conveyance</td>
					<td><md-input-container flex> <b>{{viewsalstruct.convyearly}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.convmonthly}}</b>
						</md-input-container></td>
					<td></td>
				</tr>
				<tr>
					<td>Special Allowance</td>
					<td><md-input-container flex> <b>{{viewsalstruct.sayearly}}</b>
						</md-input-container></td>
					<td><md-input-container flex> <b>{{viewsalstruct.grandtotal}}</b>
						</md-input-container></td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.samonthly}}</b>
						</md-input-container></td>
					<td><md-input-container flex> <b>{{viewsalstruct.bgrandtotal}}</b>
						</md-input-container></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Less : Deduction</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>P.F. ( Employees Contribution 12% of Basic or Rs 780/-
						whichever is less</td>
					<td>{{viewsalstruct.pf1}}</td>
					<td></td>
					<td></td>
					<td>_</td>
					<td></td>
				</tr>
				<tr>
					<td>P.F. ( Employers Contribution 12% of Basic or Rs 780/-
						whichever is less</td>
					<td>{{viewsalstruct.pf2}}</td>
					<td></td>
					<td></td>
					<td>_</td>
					<td></td>
				</tr>
									<tr>
					<td>Other 1</td>
					<td><md-input-container flex> <label>
							Discription </label> <input type="text" ng-model="viewsalstruct.ldother1dis"
						ng-change=""></md-input-container></td>
					<td><md-input-container flex> <label>
							Amount </label> <input type="text" ng-model="viewsalstruct.ldother1amt"
						ng-change=""></md-input-container></td>
					<td></td>
					<td>_</td>
					<td></td>
				</tr>
							<tr>
					<td>Other 2</td>
					<td><md-input-container flex> <label>
							Discription </label><input type="text" ng-model="viewsalstruct.ldother2dis"
						ng-change=""></md-input-container></td>
					<td><md-input-container flex> <label>
							Amount </label> <input type="text" ng-model="viewsalstruct.ldother2amt"
						ng-change=""></md-input-container></td>
					<td></td>
					<td>_</td>
					<td></td>
				</tr>
				<tr>
					<td>Professional Tax</td>
					<td><md-input-container flex> <b>{{viewsalstruct.ptaxyearly}}</b>
						</md-input-container></td>
					<td><md-input-container flex> <b>{{viewsalstruct.ptaxgrandtotal}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td>_</td>
				</tr>
				<tr>
					<td>Net Salary Payable</td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.netsalgrandtotal}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>*Additional Performance Bonus</td>
					<td></td>
					<td>{{viewsalstruct.addprobonus}}</md-input-container></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Total Cost to Company (CTC)</td>
					<td></td>
					<td><md-input-container flex> <b>{{viewsalstruct.ctc}}</b>
						</md-input-container></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</div>
	
</form>
</md-content>