<div layout="column">
	<div>
		<section layout="row">

			<md-button ui-sref="hr.employeeadd" ng-click="close()"
				class="md-primary"> Add Employee </md-button>
			<md-button ui-sref="hr.employeelist" ng-click="close()"
				class="md-primary"> employee List </md-button>
			<md-button ui-sref="hr.docuplode" ng-click="close()"
				class="md-primary"> employee Document Uplode </md-button>
			<md-button ui-sref="hr.salarystru" ng-click="close()"
				class="md-primary"> Add Salary Structure </md-button>
			<md-button ui-sref="hr.salslip" ng-click="close()"
				class="md-primary"> Salary Slip </md-button>

		</section>

	</div>
	

	<div ui-view></div>


</div>
