


<div layout-align="start start" flex>
	<md-input-container flex> Week
	No:{{TimesheetEntity.week}} </md-input-container>
	<md-input-container flex>
	<p>
		<b>From Date</b> {{gettoandformDate(0)}}
	</p>
	<p>
		<b>To Date</b> {{gettoandformDate(6)}}
	</p>
	</md-input-container>
</div>
<div layout="row">
	<md-divider></md-divider>
	<div layout-sm="column" layout-align="start start" flex>

		<md-button class="md-icon-button" aria-label="prev"
			ng-click="prevWeek()"> <md-tooltip> Prev
		Week </md-tooltip> <md-icon
			md-svg-icon="img/icons/ic_keyboard_arrow_left_black_24px.svg"
			aria-label="Prev Week"></md-icon> </md-button>

	</div>
	<!-- 	<md-button> <ng-md-icon icon="navigate_next"></ng-md-icon> </md-button> -->
	<md-button class="md-icon-button" aria-label="prev"
		ng-click="nextWeek()"> <md-tooltip> Next Week
	</md-tooltip> <md-icon
		md-svg-icon="img/icons/ic_keyboard_arrow_right_black_24px.svg"
		aria-label="Next Week"></md-icon> </md-button>
</div>

<md-content layout-padding>
<table md-data-table md-progress="deferred">
	<thead md-order="query.order" md-trigger="onOrderChange">
		<tr>
			<th style="width: 50px" name="Task" order-by="task"></th>
			<th style="width: 50px" name="Sunday" order-by="sunday"><b>{{getDispalyDate(0)}}</b></th>
			<th style="width: 50px" name="Monday" order-by="monday"><b>{{getDispalyDate(1)}}</b></th>
			<th style="width: 50px" name="Tuesday" order-by="tuesday"><b>{{getDispalyDate(2)}}</b></th>
			<th style="width: 50px" name="Wenesday" order-by="wenesday"><b>{{getDispalyDate(3)}}</b></th>
			<th style="width: 50px" name="Thesday" order-by="thesday"><b>{{getDispalyDate(4)}}</b></th>
			<th style="width: 50px" name="Friday" order-by="friday"><b>{{getDispalyDate(5)}}</b></th>
			<th style="width: 50px" name="Saturday" order-by="saturday"><b>{{getDispalyDate(6)}}</b></th>
			<th style="width: 50px" name="Total" order-by="total"></th>
			<th style="width: 50px" name="Action" order-by="action"></th>
		</tr>
		</br>
	</thead>

	<tbody>
		<tr ng-repeat="item in TimesheetEntity.task"md-auto-selectorderBy:query.order| limitTo:query.limit: (query.page - 1) * query.limit"">

			<td><md-select placeholder="Task Type" ng-model="item.taskname">
				<md-option ng-repeat="type in taskType"> {{type}} </md-option> </md-select></td>
			<td><md-input-container flex> <label>

				</label> <input type="number" style="width: 50px" ng-model="item.sunday"
					ng-blur="calTotal()"> </md-input-container></td>
			<td><md-input-container flex> <label>

				</label> <input type="number" style="width: 50px" ng-model="item.monday"
					ng-blur="calTotal()"> </md-input-container></td>
			<td><md-input-container flex> <label>

				</label> <input type="number" style="width: 50px" ng-model="item.tuesday"
					ng-blur="calTotal()"> </md-input-container></td>
			<td><md-input-container flex> <label>

				</label> <input type="number" style="width: 50px" ng-model="item.wenesday"
					ng-blur="calTotal()"> </md-input-container></td>
			<td><md-input-container flex> <label>

				</label> <input type="number" style="width: 50px" ng-model="item.thesday"
					ng-blur="calTotal()"> </md-input-container></td>
			<td><md-input-container flex> <label>

				</label> <input type="number" style="width: 50px" ng-model="item.friday"
					ng-blur="calTotal()"> </md-input-container></td>
			<td><md-input-container flex> <label>

				</label> <input type="number" style="width: 50px" ng-model="item.saturday"
					ng-blur="calTotal()"> </md-input-container></td>

			<td><b>{{item.total}}</b></td>


			<td>
				<section layout="row" layout-sm="column">
					<md-button class="md-raised md-primary"
						ng-click="removeItem($index)">Remove Item</md-button>

				</section>

			</td>

		</tr>

		<tr>

			<td><section layout="row" layout-sm="column"
					layout-align="left left">
					<md-button class="md-raised md-primary" ng-click="addItem()">Add
					Item</md-button>

				</section></td>
			<td><b>{{sundaytotal}}</b></td>
			<td><b> {{mondaytotal}}</b></td>
			<td><b>{{tuesdaytotal}}</b></td>
			<td><b>{{wenesdaytotal}}</b></td>
			<td><b>{{thesdaytotal}}</b></td>
			<td><b>{{fridaytotal}}</b></td>
			<td><b>{{saturdaytotal}}</b></td>

			<td><b>Total {{finaltotal}}</b></td>
		</tr>

	</tbody>
</table>








<md-divider></md-divider>

<section layout="row" layout-sm="column" layout-align="left left">
	<md-button class="md-raised md-primary" ng-click="addtimesheet()">Add</md-button>

</section>






</md-content>