<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/stock.css"> 

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/xeditable.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/font-awesome.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/jquery.dataTables.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/datatables.bootstrap.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/angular-datatables-main.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.tableTools.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.responsive.css">
	
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">



	<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
<script src="/lib/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="/lib/datatables-responsive/js/xeditable.js"></script>
<script src="/lib/datatables-responsive/js/jquery.dataTables.js"></script>
<script src="/lib/datatables-responsive/js/angular-datatables.js"></script>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>	
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	<script src="js/stockServices.controller.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	


<meta name="viewport" content="initial-scale=1" />
</head>
<body ng-app="stockApp" ng-controller="stockCtr">

<section layout="row" layout-sm="column" layout-align="center center">

<!-- <div  style="display: none;" id="stockForm"> --> 
		<md-content layout-padding>
		    <form name="myStockForm">
	                <b>stock</b>
	                
	              <!-- <md-input-container flex>   
						<div class="form-group" style="display: none;">
							<label for="id">ID:</label> <input type="text"
								class="form-control" id="id" ng-model="addStock.id">
					 </md-input-container> -->
					 	
				<md-input-container flex> 
				                        <label>Sr No</label> <input ng-model="addStock.sr_No">
                </md-input-container>
               
				<md-input-container flex>
				                        <label>Item Name</label><input ng-model="addStock.item_Name"> 
				</md-input-container>
				<md-input-container flex>
				                        <label>Categories</label><input ng-model="addStock.categories"> 
				</md-input-container>
				<md-input-container flex>
				                        <label>Qty</label><input ng-model="addStock.qty"> 
				</md-input-container>
				<md-input-container flex>
				                        <label>Price</label><input ng-model="addStock.price"> 
				</md-input-container>
				<md-input-container flex>
				                        <label>Notes</label><input ng-model="addStock.notes"> 
				</md-input-container>
				
				
	          <md-button class="md-raised" ng-click="addStockServices()">submit</md-button>
              <md-button class="md-raised" ng-click="loadGetStockList()">List of Stock</md-button>

		   </form>
		</md-content>
		<!-- </div> -->
</section>
		
		

		<div ng-controller="AngularWayChangeDataCtrl as showCase">
				<form class="form-inline" ng-submit="showCase.addStocked()">
					<table datatable="ng" dt-options="showCase.dtOptions"
						dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
						<thead>
							<tr>
								<th>
									<div class="form-group">
										<label> <input class="form-control" type="number"
											name="id" ng-model="showCase.stock2Add.id" value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="sr_No" ng-model="showCase.stock2Add.sr_No"
											value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="item_Name" ng-model="showCase.stock2Add.item_Name"
											value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="categories" ng-model="showCase.stock2Add.categories"
											value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="qty" ng-model="showCase.stock2Add.qty"
											value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="price" ng-model="showCase.stock2Add.price"
											value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="notes" ng-model="showCase.stock2Add.notes"
											value="">
										</label>
									</div>
								</th>
								
								<th>
									<div class="form-group">
										<button type="submit" class="btn btn-success">
											<i class="fa fa-plus"></i>
										</button>
									</div>
								</th>
							</tr>
							<tr>
							     <th>ID</th>
								<th>Sr No</th>
								<th>Item Name</th>
								<th>Categories</th>
								<th>Qty</th>
								<th>Price</th>
								<th>Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="stock in showCase.stocks">
								<td>{{ stock.id }}</td>
								<td>{{ stock.sr_No }}</td>
								<td>{{ stock.item_Name }}</td>
								<td>{{ stock.categories }}</td>
								<td>{{ stock.qty }}</td>
								<td>{{ stock.price }}</td>
								<td>{{ stock.notes }}</td>
								
								<td>
									<button type="button" ng-click="showCase.modifyStock($index)"
										class="btn btn-warning">
										<i class="fa fa-edit"></i>
									</button>
									<button type="button" ng-click="showCase.removeStock($index)"
										class="btn btn-danger">
										<i class="fa fa-trash-o"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			
</body>
</html>