

<div layout-"column"  layout-align="space-around center">

	<div>
		From date :
		<md-datepicker name="dateField" ng-model="fromDate"
			md-placeholder="Enter date" required></md-datepicker>
	</div>

	<div>
		To date :
		<md-datepicker name="dateField" ng-model="toDate"
			md-placeholder="Enter date" required></md-datepicker>
	</div>
</div>



<md-input-container flex> <md-select
	ng-model="selectedInstitute" placeholder="Select Institute" ng-change="getInstituteStudents()">
<md-option ng-value="institute" ng-repeat="institute in instituteList">{{institute}}</md-option>
</md-select> </md-input-container>

<md-input-container flex> <md-select
	ng-model="selectedStudent" placeholder="Select Student"> <md-option
	 ng-value="student" ng-repeat="student in studentList">{{student.firstName}}{{student.lastName}}</md-option>
</md-select> </md-input-container>



<div layout="row" layout-align="center center">
	<md-button class="md-raised md-primary" ng-click="">Get
	Report</md-button>
</div>


<div layout="row" layout-align="center center">
	<div id="piechart" style="width: 900px; height: 500px;"></div>

</div>

{{studentList}}

