<h3 class="md-headline">Attendance Report-Class</h3>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	
<div layout="column" layout-padding>
	
		<form name="attendanceReportClassForm"
			ng-model="attendanceReportClassForm">

			<div layout="column">

				<md-input-container> <label>Standard<span
					style="color: red"
					ng-show="attendanceReportClassForm.standard.$error.required"
					class="mandatory">*</span></label> <md-select name="standard"
					ng-model="selectedStandard" ng-change="getDivisionByStandard()"
					ng-required="true"> <md-option ng-value="standard"
					ng-repeat="standard in standards">{{standard}}</md-option> </md-select>
				<div ng-messages="attendanceReportClassForm.standard.$error"
					ng-if="attendanceReportClassForm.standard.$submitted || attendanceReportClassForm.standard.$touched">
					<div ng-message="required">Please Select Standard.</div>
				</div>
				</md-input-container>

				<md-input-container> <label>Division<span
					style="color: red"
					ng-show="attendanceReportClassForm.division.$error.required"
					class="mandatory">*</span></label> <md-select name="division"
					ng-model="selectedDivision" ng-change="getSubjectByDivision()"
					ng-required="true"> <md-option ng-value="division"
					ng-repeat="division in divisions">{{division}}</md-option> </md-select>
				<div ng-messages="attendanceReportClassForm.division.$error"
					ng-if="attendanceReportClassForm.division.$submitted || attendanceReportClassForm.division.$touched">
					<div ng-message="required">Please Select Division.</div>
				</div>
				</md-input-container>

				<md-input-container> <label>Subject<span
					style="color: red"
					ng-show="attendanceReportClassForm.subject.$error.required"
					class="mandatory">*</span></label> <md-select name="subject"
					ng-model="selectedSubject" ng-change="getAttendanceByClass()"
					ng-required="true"> <md-option ng-value="subject"
					ng-repeat="subject in subjects track by $index"">{{subject}}</md-option>
				</md-select>
				<div ng-messages="attendanceReportClassForm.subject.$error"
					ng-if="attendanceReportClassForm.subject.$submitted || attendanceReportClassForm.subject.$touched">
					<div ng-message="required">Please Select Subject.</div>
				</div>
				</md-input-container>


			</div>


			<p>&nbsp;</p>
			<p>&nbsp;</p>

			<div>

				<md-data-table-container>
				<table md-data-table class="md-primary" md-progress="deferred">
					<thead md-order="query.order" md-trigger="onorderchange">
						<tr>
							<th order-by="firstName" name="Name" unit=""></th>
							<th order-by="attendance" name="Attendance"></th>


						</tr>
					</thead>
					<tbody>
						<tr md-auto-select
							ng-repeat="item in newList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
							<td>{{item.firstName}} {{item.lastName}}</td>
							<td>{{item.attendance}}</td>

						</tr>
					</tbody>
				</table>
				</md-data-table-container>

				<md-data-table-pagination md-limit="query.limit"
					md-page="query.page" md-total={{newStudList.length}}
					md-trigger="onpagechange"></md-data-table-pagination>
			</div>



			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>



			<div layout="row" layout-align="center center">
				<md-button class="md-raised md-primary"
					ng-disabled="attendanceReportClassForm.$invalid"
					ng-click="getNewDataFromServer()">Get Report</md-button>
			</div>


			<div layout="row" layout-align="center center">
				<div id="piechart" style="width: 900px; height: 500px;"></div>

			</div>
		</form>
	
</div>

