<div layout="row" layout-align="end start">
	<h4>
		<b>{{date | date:'yyyy-MM-dd'}}</b>
	</h4>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div layout-align="center center" layout-sm="column">

	<md-input-container flex> <md-select
		ng-model="selectedInstitute" placeholder="Institute"> <md-option
		ng-value="institute" ng-repeat="institute in instituteList">{{institute}}</md-option>
	</md-select> </md-input-container>


	<md-input-container flex> <md-select
		ng-model="selectedClass" placeholder="Class" ng-change="">
	<md-option ng-value="class" ng-repeat="class in standards">{{class}}</md-option>
	</md-select> </md-input-container>

	<md-input-container flex> <md-select
		ng-model="selectedSubject" placeholder="Subject"> <md-option>English</md-option>
	<md-option>Maths</md-option> <md-option>Electronics</md-option> <md-option>Physics</md-option>
	<md-option>Chemistry</md-option> </md-select> </md-input-container>


</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div layout="row" layout-align="center center">
	<md-button class="md-raised md-primary"
		ng-click="showselectedStudent()">Get Attendance Record</md-button>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div layout="row" layout-sm="column" layout-align="center center" layout-sm="column">
	<md-button
		ng-repeat="attendanceRecord in attendanceRecordList track by $index"
		type="button" class="md-raised md-primary"
		ng-click="toggleAttendance($index)">{{attendanceRecord.studID}}</md-button>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<div layout="row" layout-align="center center" layout-sm="column">
	<md-button class="md-raised md-primary" ng-click="submitAttendance()">Save Class Attendance</md-button>
	<md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
</div>

