<h3 class="md-headline">Attendance Report-Student</h3>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	
<div layout="column" layout-padding>
	
		<form name="attendanceReportStudentForm"
			ng-model="attendanceReportStudentForm">

			<!-- <div layout="column" layout-align="center center" layout-sm="column">

				<div>
					From date :
					<md-datepicker name="dateField" ng-model="fromDate"
						md-placeholder="Enter date" required></md-datepicker>
				</div>

				<div>
					To date :
					<md-datepicker name="dateField" ng-model="toDate"
						md-placeholder="Enter date" required></md-datepicker>
				</div>
			</div>
 -->
			<div layout="column">
				<md-input-container> <label>Standard<span
					style="color: red"
					ng-show="attendanceReportStudentForm.standard.$error.required"
					class="mandatory">*</span></label> <md-select name="standard"
					ng-model="selectedStandard" ng-change="getDivisionByStandard()"
					ng-required="true"> <md-option ng-value="standard"
					ng-repeat="standard in standards">{{standard}}</md-option> </md-select>
				<div ng-messages="attendanceReportStudentForm.standard.$error"
					ng-if="attendanceReportStudentForm.standard.$submitted || attendanceReportStudentForm.standard.$touched">
					<div ng-message="required">Please Select Standard.</div>
				</div>
				</md-input-container>

				<md-input-container> <label>Division<span
					style="color: red"
					ng-show="attendanceReportStudentForm.division.$error.required"
					class="mandatory">*</span></label> <md-select name="division"
					ng-model="selectedDivision" ng-change="getSubjectByDivision()"
					ng-required="true"> <md-option ng-value="division"
					ng-repeat="division in divisions">{{division}}</md-option> </md-select>
				<div ng-messages="attendanceReportStudentForm.division.$error"
					ng-if="attendanceReportStudentForm.division.$submitted || attendanceReportStudentForm.division.$touched">
					<div ng-message="required">Please Select Division.</div>
				</div>
				</md-input-container>

				<md-input-container> <label>Subject<span
					style="color: red"
					ng-show="attendanceReportStudentForm.subject.$error.required"
					class="mandatory">*</span></label> <md-select name="subject"
					ng-model="selectedSubject" ng-change="getSelectedStudents()"
					ng-required="true"> <md-option ng-value="subject"
					ng-repeat="subject in subjects track by $index"">{{subject}}</md-option>
				</md-select>
				<div ng-messages="attendanceReportStudentForm.subject.$error"
					ng-if="attendanceReportStudentForm.subject.$submitted || attendanceReportStudentForm.subject.$touched">
					<div ng-message="required">Please Select Subject.</div>
				</div>
				</md-input-container>

				<md-input-container> <label>Select Student<span
					style="color: red"
					ng-show="attendanceReportStudentForm.student.$error.required"
					class="mandatory">*</span></label><md-select name="student"
					ng-model="selectedStud"
					ng-change="getStudent()" ng-required="true"> <md-option ng-value="student"
					ng-repeat="student in newList">{{student.firstName}} {{student.lastName}}</md-option>
				</md-select> <div ng-messages="attendanceReportStudentForm.student.$error"
					ng-if="attendanceReportStudentForm.student.$submitted || attendanceReportStudentForm.student.$touched">
					<div ng-message="required">Please Select Student.</div>
				</div></md-input-container> 
				
			 

			</div>

			<p>&nbsp;</p>
			<p>&nbsp;</p>


			<div>

				<md-data-table-container>
				<table md-data-table class="md-primary" md-progress="deferred">
					<thead md-order="query.order" md-trigger="onorderchange">
						<tr>
							<th order-by="firstName" name="Name" unit=""></th>
							<th order-by="attendance" name="Attendance"></th>


						</tr>
					</thead>
					<tbody>
						<tr md-auto-select
							ng-repeat="item in newSelectedStudent | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
							<td>{{item.firstName}} {{item.lastName}}</td>
							<td>{{item.attendance}}</td>

						</tr>
					</tbody>
				</table>
				</md-data-table-container>

				<md-data-table-pagination md-limit="query.limit"
					md-page="query.page" md-total={{newSelectedStudent.length}}
					md-trigger="onpagechange"></md-data-table-pagination>
			</div>


			<p>&nbsp;</p>
			<p>&nbsp;</p>

			<div layout="row" layout-align="center center">
				<md-button class="md-raised md-primary"
					ng-click="getNewDataFromServer()"
					ng-disabled="attendanceReportStudentForm.$invalid">Get
				Report</md-button>
			</div>




			<div layout="row" layout-align="center center">
				<div id="piechart" style="width: 900px; height: 500px;"></div>

			</div>

		</form>
	
</div>

