<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>

					<div layout="row" layout-align="end start" >
				
					<md-button aria-label="Open Settings" ng-click="toggleRight()">
					<ng-md-icon icon="more_vert"></ng-md-icon> </md-button>
					</div>
					
				
			</div>

			<!-- Right Navigation Pane -->
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Student Page Sub Menu</h1>
			</md-toolbar> <md-content layout-padding> <md-button
				ng-click="close()" class="md-primary"> Close Sidenav
			Right </md-button>

			<p hide-md show-gt-md>This shows the selected module
				links/actions.</p>
			 <md-button ui-sref="certificateMgmt.generateTemplate"
				ng-click="close()" class="md-primary">  Generate Template
			</md-button> 
			<!-- <md-button ui-sref="certificateMgmt.generateCertificate"
				ng-click="close()" class="md-primary">  Generate Certificate
			</md-button>  -->
			<md-button ui-sref="certificateMgmt.viewCertificate"
				ng-click="close()" class="md-primary">  View Certificates
			</md-button>
			</md-content> </md-sidenav>

		</section>

	</div>

	<div ui-view>

		<div layout="column" layout-align="start start">
			<md-button ui-sref="certificateMgmt.generateTemplate" ng-click="close()"
				class="md-primary" hide-xs> Generate Template </md-button>
			<!-- <md-button ui-sref="certificateMgmt.generateCertificate"
				ng-click="close()" class="md-primary">  Generate Certificate
			</md-button>  -->
			<md-button ui-sref="certificateMgmt.viewCertificate"
				ng-click="close()" class="md-primary" hide-xs>  View Certificates
			</md-button> 

		</div>
	</div>
	<!-- We'll also add some navigation: -->

</div>
