<style>
#myDiv {
	border: 20px solid gold;
	background-color: #4a4a4a;
	font-style: italic;
}
</style>

<md-button class="md-icon-button md-accent"
	ng-click="printCertificate('myDiv')" aria-label="Favorite">
<md-icon md-svg-icon="img/icons/print.svg"></md-icon> </md-button>

<md-button class="md-raised md-primary" ng-click="addCertificate()">Save</md-button>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div id="myDiv" layout="column">

	<h1 align="center">
		<font face="Monotype Corsiva" size="20" color="green"> This
			document certifies that </font>
	</h1>

	<p align="center">
		<font size="30" color="red"><strong>{{firstName}}
				{{lastName}}</strong></font>
	</p>

	<p align="center">
		<font face="Monotype Corsiva" size="7" color="green">successfully
			passed the {{selectedExam}} exam with the score {{selectedScore}}.</font>
	</p>

	<p>&nbsp;</p>



	<p>&nbsp;</p>
	<p align="right">
		<font face="Monotype Corsiva" size="7" color="green">Vice
			President</font>
	</p>

</div>

<iframe name="print_frame" width="0" height="0" frameborder="0"
	src="about:blank"></iframe>


