<md-data-table-toolbar ng-show="!selected.length">
			<h2 class="md-title">Student List</h2>
		</md-data-table-toolbar>

 <div>
	<md-data-table-container>
			<table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th order-by="Name" name="Name" unit=""></th>
				<th order-by="email_id" name="Email-ID"></th>
				<th order-by="address" name="Address"></th>
				<th order-by="contact" name="Contact"></th>
			
				
			</tr>
		</thead>    
		<tbody>
		<tr md-auto-select  ng-repeat="student in students | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
			
				<td>{{student.firstName}} {{student.lastName}}</td>
				<td>{{student.email_id}}</td>
				<td>{{student.address}}</td>
				<td>{{student.contact}}</td>
				<td><a ui-sref="certificateMgmt.generateTemplate({selectedStudID:student.id, selectedfirstName:student.firstName, selectedlastName:student.lastName})">
					<md-button class="md-raised md-primary" ng-click="">Generate Certificate</md-button> </a></td>
			</tr>
		</tbody>
	</table>
	</md-data-table-container> 
	<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total={{students.length}} md-trigger="onpagechange"></md-data-table-pagination>
</div>


 