
<div>
<md-input-container flex> <label>Search By
	Exam</label> <input ng-model="searchCategory"> </md-input-container>
</div>	
	
	
<div>
	<md-data-table-container>
	<table md-data-table class="md-primary" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
				<th order-by="id" name="Certificate ID" unit=""></th>
				<th order-by="exam" name="Exam Name" unit=""></th>
				<th order-by="firstName" name="Name" unit=""></th>

			</tr>
		</thead>
		<tbody>
			<tr md-auto-select
				ng-repeat="certificate in certificates  | filter: {exam: searchCategory} | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{certificate.id}}</td>
				<td>{{certificate.exam}}</td>
				<td>{{certificate.firstName}} {{certificate.lastName}}</td>
				<td><a
					ui-sref="certificateMgmt.generateTemplate({selectedStudID:certificate.studID, selectedfirstName:certificate.firstName, selectedlastName:certificate.lastName, selectedExam:certificate.exam, selectedScore:certificate.score})">
						<md-button class="md-raised md-primary" ng-click="">View</md-button>
				</a></td>
			</tr>
		</tbody>
	</table>
	</md-data-table-container>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{certificates.length}} md-trigger="onpagechange"></md-data-table-pagination>
</div>
