<div ng-show="loading">Loading...</div>
<div ng-hide="loading">

	<md-data-table-toolbar ng-show="!selected.length">
	<h3 class="md-headline">Courses List</h3>
	</md-data-table-toolbar>
	<div>
		<md-input-container flex> <label>Search
			Course By Name</label> <input ng-model="searchName"> </md-input-container>
	</div>
	<md-data-table-toolbar class="alternate" ng-show="selected.length">
	<div>{{selected.length}} {{selected.length > 1 ? 'Courses' :
		'Course'}} selected</div>
	</md-data-table-toolbar>
	<div>
		<md-data-table-container>
		<table md-data-table class="md-primary" md-row-select="selected"
			md-progress="deferred">
			<thead md-order="query.order" md-trigger="onorderchange">
				<tr>
					<th order-by="name" name="Name" unit=""></th>
					<th order-by="courseState" name="CourseState"></th>
					<th order-by="enrollmentCode" name="Enrollment Code"></th>
					<th order-by="creationTime" name="Creation DateTime"></th>
				</tr>
			</thead>
			<tbody>
				<tr md-auto-select
					ng-repeat="course in classroomCourses | orderBy: query.order | filter: {name: searchName}| limitTo: query.limit: (query.page - 1) * query.limit">

					<td>{{course.name}}</td>
					<td>{{course.courseState}}</td>
					<td>{{course.enrollmentCode}}</td>
					<td>{{course.creationTime}}</td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page"
			md-total={{classroomCourses.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</div>
</div>


<div ng-show="selected.length == 1">

	<div layout="row" layout-align="centre centre" layout-xs="column">
		<md-button
			ui-sref="gfe.classroomCourseView({selectedCourseId: selected[0].id})"
			class="md-raised md-primary"> View Course </md-button>
		<md-button
			ui-sref="gfe.classroomCourseEdit({selectedCourseId: selected[0].id})"
			class="md-raised md-primary">Edit Course </md-button>

		<md-button class="md-raised md-primary"
			ng-click="deleteCourse(selected[0].id)"> Delete Course </md-button>

		<md-button class="md-primary" ng-href="{{selected[0].alternateLink}}"
			target="_blank">Goto Actual Classroom Page</md-button>
	</div>
	<div layout="row" layout-align="centre centre" layout-xs="column">
		<md-button
			ui-sref="gfe.classroomCourseAddNewUser({selectedCourseId: selected[0].id, userType : 'Teacher',courseName:selected[0].name})"
			class="md-raised md-primary"> Add Class Teacher </md-button>
		<md-button
			ui-sref="gfe.classroomCourseAddNewUser({selectedCourseId: selected[0].id, userType : 'Student',courseName:selected[0].name})"
			class="md-raised md-primary"> Add Class Student </md-button>

		<md-button
			ui-sref="gfe.classroomCourseUserList({selectedCourseId: selected[0].id, userType : 'Teacher',courseName:selected[0].name})"
			class="md-raised md-primary"> View Class Teachers </md-button>
		<md-button
			ui-sref="gfe.classroomCourseUserList({selectedCourseId: selected[0].id, userType: 'Student',courseName:selected[0].name})"
			class="md-raised md-primary"> View Class Students </md-button>
	</div>
</div>

