<h3 class="md-headline">View Course: {{tempCourse.name}}</h3>
<p>&nbsp;</p>
<!-- <div ng-show="loading">Please Wait, Course Loading...</div> -->
<div ng-hide="loading">
	<form name="viewCourseForm" ng-model="viewCourseForm">

		<div layout="column" layout-align="" layout-xs="column">

			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Course
					Name </label> <input name="name" id="name" ng-model="tempCourse.name"
					ng-required="true" readonly> </md-input-container>

				<md-input-container flex> <label>Section</label>
				<input name="section" ng-model="tempCourse.section" id="section"
					ng-required="true" readonly> </md-input-container>
			</div>
			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Description
					Heading </label> <input name="descriptionHeading" id="descriptionHeading"
					ng-model="tempCourse.descriptionHeading" ng-required="true" readonly>
				</md-input-container>

				<md-input-container flex> <label>Description</label>
				<input name="description" ng-model="tempCourse.description"
					id="description" ng-required="true" readonly> </md-input-container>
			</div>
			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Room </label>
				<input name="room" id="room" ng-model="tempCourse.room"
					ng-required="true" readonly> </md-input-container>

				<md-input-container flex> <label>Owner
					Id</label> <input name="ownerId" ng-model="tempCourse.ownerId" id="ownerId"
					ng-required="true" readonly> </md-input-container>
			</div>
			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Enrollment
					Code </label> <input name="enrollmentCode" id="enrollmentCode"
					ng-model="tempCourse.enrollmentCode" ng-required="true" readonly> </md-input-container>

				<md-input-container flex> <label>Course
					State</label> <md-select ng-model="tempCourse.courseState" > <md-option
					ng-value="courseState" ng-repeat="courseState in courseStateList">{{courseState}}</md-option>
				</md-select> </md-input-container>


			</div>
			<div layout="row" layout-align="centre centre" layout-xs="column">
				<md-input-container flex> <label>Alternate
					Link </label> <input name="alternateLink"
					ng-model="tempCourse.alternateLink" ng-required="true" readonly> </md-input-container>
			</div>
		</div>

		<div layout="row" layout-align="center center">
			<md-button class="md-raised md-accent" ng-click="cancelButton()">
			Back </md-button>
		</div>

	</form>
</div>

