<h3 class="md-headline">Edit Course: {{tempCourse.name}}</h3>
<p>&nbsp;</p>

<div ng-show="updating">Please Wait, ...</div>
<div ng-hide="loading">


<form name="updateCourseForm" ng-model="updateCourseForm">

	 <div layout="column" layout-align="" layout-xs="column">

		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>Course
				Name </label> <input name="name" id="name" ng-model="tempCourse.name"
				ng-required="true">
				<div ng-messages="updateCourseForm.name.$error"
				ng-if="updateCourseForm.name.$submitted || updateCourseForm.name.$touched">
				<div ng-message="required">Course Name should not empty.</div>				
			</div> </md-input-container>

			<md-input-container flex> <label>Section</label>
			<input name="section" ng-model="tempCourse.section" id="section"> </md-input-container>
		</div>
		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>Description
				Heading </label> <input name="descriptionHeading" id="descriptionHeading"
				ng-model="tempCourse.descriptionHeading">
			</md-input-container>

			<md-input-container flex> <label>Description</label>
			<input name="description" ng-model="tempCourse.description"
				id="description" > </md-input-container>
		</div>
		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>Room </label> <input
				name="room" id="room" ng-model="tempCourse.room" >
			</md-input-container>

			<md-input-container flex> <label>Owner
				Id</label> <input name="ownerId" ng-model="tempCourse.ownerId" id="ownerId"
				readonly> </md-input-container>
		</div>
		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>Enrollment
				Code </label> <input name="enrollmentCode" id="enrollmentCode"
				ng-model="tempCourse.enrollmentCode" ng-required="true" readonly> </md-input-container>

			<md-input-container flex> <label>Course
				State</label> <md-select ng-model="tempCourse.courseState"> <md-option
				ng-value="courseState" ng-repeat="courseState in courseStateList">{{courseState}}</md-option>
			</md-select> </md-input-container>


		</div>
		<div layout="row" layout-align="centre centre" layout-xs="column">
			<md-input-container flex> <label>Alternate
				Link </label> <input name="alternateLink"
				ng-model="tempCourse.alternateLink" readonly> </md-input-container>
		</div>
	</div>

	<div layout="row" layout-align="center center">
		<md-button class="md-raised md-primary" ng-click="updateCourse($event)">Update Course </md-button>
	<md-button class="md-raised md-accent" ng-click="cancelButton()"> Cancel </md-button>
	</div> 

</form>
</div>

