<div ng-show="loading">Please Wait, {{userType}} Loading...</div>
<div ng-hide="loading">

<h3 class="md-headline">View {{userType}} of {{courseName}} </h3>
<p>&nbsp;</p>


<form name="newCourseForm" ng-model="newCourseForm">

	<div layout="column" layout-align="" layout-xs="column">
		<div layout="row" layout-align="centre centre" layout-xs="column">
			<md-input-container flex> <label>Course Name</label>
			<input name="courseName" id="courseName" ng-model="courseName"
				ng-required="true" readonly> </md-input-container>

			<md-input-container flex> <label>UserId</label>
			<input name="userId" id="userId" ng-model="user.userId"
				ng-required="true" readonly> </md-input-container>
		</div>
		<div layout="row" layout-align="centre centre" layout-xs="column">
			<md-input-container flex> <label>First
				Name </label> <input name="givenName" id="givenName"
				ng-model="user.profile.name.givenName" ng-required="true" readonly>
			</md-input-container>

			<md-input-container flex> <label>Last
				Name </label> <input name="familyName" id="familyName"
				ng-model="user.profile.name.familyName" ng-required="true" readonly>
			</md-input-container>
		</div>

		<div layout="row" layout-align="centre centre" layout-xs="column">

			<md-input-container flex> <label>Email-Id
			</label> <input type="email" name="emailAddress" id="emailAddress"
				ng-model="user.profile.emailAddress" ng-required="true" readonly>
			</md-input-container>


			<md-input-container flex> <md-select
				ng-model="user.profile.permissions[0].permission" > <md-option
				ng-value="perm" ng-repeat="perm in permissionList" >{{perm}}</md-option>
			</md-select> <label>Permissions </label> </md-input-container>
		</div>
	</div>
	<div layout="row" layout-align="center center">		
		<md-button class="md-raised md-accent" ng-click="cancelButton()"> Back </md-button>
	</div>

</form>
</div>

