
<div ng-show="creating">Please wait, new user account creating...</div>

<div ng-hide="creating">
	<h3 class="md-headline">New User Account</h3>
	<p>&nbsp;</p>
	<p>&nbsp;</p>


	<form name="newUserAccountForm" ng-model="newUserAccountForm">
	
		<div layout="column" layout-align="" layout-xs="column">

			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>First
					Name </label> <input name="givenName" id="givenName"
					ng-model="tempUser.name.givenName" ng-required="true">
				<div ng-messages="newUserAccountForm.givenName.$error"
					ng-if="newUserAccountForm.givenName.$submitted || newUserAccountForm.givenName.$touched">
					<div ng-message="required">Please Enter Your First Name.</div>
				</div>
				</md-input-container>

				<md-input-container flex> <label>Last
					Name </label> <input name="familyName" id="familyName"
					ng-model="tempUser.name.familyName" ng-required="true">
				<div ng-messages="newUserAccountForm.familyName.$error"
					ng-if="newUserAccountForm.familyName.$submitted || newUserAccountForm.familyName.$touched">
					<div ng-message="required">Please Enter Your Last Name.</div>
				</div>
				</md-input-container>


			</div>
			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>
					Primary Email-id<span style="color: red"
					ng-show="newUserAccountForm.primaryEmail.$error.required"
					class="mandatory">*</span>
				</label> <input name="primaryEmail" ng-pattern="/^[a-zA-Z0-9]*$/"
					ng-model="tempUser.primaryEmail" ng-required="true">
				<div ng-messages="newUserAccountForm.primaryEmail.$error"
					ng-if="newUserAccountForm.primaryEmail.$submitted || newUserAccountForm.primaryEmail.$touched">
					<div ng-message="required">Email-Id should not Empty.</div>
					<div ng-message="pattern">Email-Id should only contain
						Alphanumeric, Not Symbols.</div>
				</div>
				</md-input-container>

				<md-input-container flex>@{{currentUserDomain}}
				</md-input-container>


			</div>
			<div layout="row" layout-align="centre centre" layout-xs="column">

				<md-input-container flex> <label>Password<span
					style="color: red"
					ng-show="newUserAccountForm.password.$error.required"
					class="mandatory">*</span>
				</label> <input name="password" type="password" id="password"
					ng-model="tempUser.password" ng-minlength="8" ng-required="true"
					ng-blur="checkConfirmPassword(tempUser.password, confirmpassword)">
				<div ng-messages="newUserAccountForm.password.$error"
					ng-if="newUserAccountForm.password.$submitted || newUserAccountForm.password.$touched">
					<div ng-message="required">Please Enter Password.</div>

					<span
						ng-show="((newUserAccountForm.password.$error.minlength) && newUserAccountForm.password.$dirty) ">
						Password should greater than 8 characters.</span>
				</div>
				</md-input-container>

				<md-input-container flex> <label>Confirm
					Password<span style="color: red"
					ng-show="newUserAccountForm.Confirmpassword.$error.required"
					class="mandatory">*</span>
				</label> <input name="Confirmpassword" id="Confirmpassword" type="password"
					ng-model="confirmpassword" ng-required="true"
					ng-blur="checkConfirmPassword(tempUser.password,confirmpassword)">

				<div ng-messages="newUserAccountForm.Confirmpassword.$error"
					ng-if="newUserAccountForm.Confirmpassword.$submitted || newUserAccountForm.Confirmpassword.$touched">
					<div ng-message="required">Please Enter Confirm Password.</div>
				</div>
				<span style="color: red" id="err" ng-show="confirmpassword">{{checkConfirmPassword(tempUser.password,confirmpassword)}}</span>
				</md-input-container>
			</div>

		</div>

		<div layout="row" layout-align="center center">
			<md-button class="md-raised md-primary"
				ng-click="createNewUserAccount(tempUser)"
				ng-disabled="newUserAccountForm.$invalid">Add New Course
			</md-button>
			<md-button class="md-raised md-accent" ng-click="cancelButton()()">
			Cancel </md-button>

		</div>

	</form>
</div>

