<div ng-hide="authorized">
<span>Authorize access to Classroom API</span>
<md-button  class="md-raised md-primary" ng-click="handleAuthClick(event)">
			Authorize API Access
		</md-button>
		</div>
	<div ng-hide="!authorized">
		
		
		<div layout="column">

		<section layout="row">
			<!-- View Specific Toolbar-->
		
			<div class="md-toolbar-tools">
				<!--<md-card>-->
				<span flex></span>
				<section layout="row">
					<div hide-sm layout="row" layout-align="end start">						
						<md-button class="md-icon-button md-accent" aria-label="Favorite">
							<md-icon md-svg-icon="img/icons/print.svg"></md-icon>
						</md-button>						
					</div>
					<md-button aria-label="Open Settings" ng-click="toggleRight()">
						<ng-md-icon icon="more_vert"></ng-md-icon>
					</md-button>
				</section>
				<!--</md-card>-->
			</div><!-- Right Navigation Pane -->
			<md-sidenav class="md-sidenav-right md-whiteframe-z2"
			md-component-id="right">
				<md-toolbar
				class="md-theme-light">
					<h1 class="md-toolbar-tools">Student Page Sub Menu</h1>
				</md-toolbar>
				<md-content layout-padding layout="column">
					<form>
						<md-input-container>
							<label for="testInput">Test
								input</label>
							<input type="text" id="testInput" ng-model="data"
							md-sidenav-focus>
						</md-input-container>
					</form>
					<md-button ng-click="close()" class="md-primary">
						Close
						Sidenav Right
					</md-button>

					<p hide-md show-gt-md>
						This shows the selected module
						links/actions.
					</p>
					<md-button ng-click="close()" class="md-primary">
						Current
						Module Action 1
					</md-button>
					<md-button ng-click="close()" class="md-primary">
						Current Module Action 2
					</md-button>
					
					<md-button ui-sref="gfe.classroomCourseList" ng-click="close()"
				class="md-primary" hide-xs>Courses/Classes List</md-button>

			<md-button ui-sref="gfe.classroomNewCourse" ng-click="close()"
				class="md-primary" hide-xs>Add New Course</md-button>
				
			<md-button ui-sref="gfe.directoryNewUser" ng-click="close()"
				class="md-primary" hide-xs>Directory New User</md-button>
					
				</md-content>
			</md-sidenav>
		</section>

	<div ui-view>
		This is a default template for gfe module!
	</div>
	<!-- We'll also add some navigation: -->

	<div layout="column" layout-align="start start">

			<md-button ui-sref="gfe.classroomCourseList" ng-click="close()"
				class="md-primary" hide-xs>Courses/Classes List</md-button>

			<md-button ui-sref="gfe.classroomNewCourse" ng-click="close()"
				class="md-primary" hide-xs>Add New Course</md-button>
				
			<md-button ui-sref="gfe.directoryNewUser" ng-click="close()"
				class="md-primary" hide-xs>Directory New User</md-button>

		</div>
	
</div>
		
	</div>


