<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/xeditable.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/font-awesome.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/jquery.dataTables.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/datatables.bootstrap.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/angular-datatables-main.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.tableTools.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.responsive.css">
	
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

<link rel="stylesheet" href="css/tax.css"> 

<meta name="viewport" content="initial-scale=1" />
</head>
<body ng-app="taxApp" ng-controller="taxCtr">

<section layout="row" layout-sm="column" layout-align="center center">

<!-- <div  style="display: none;" id="taxForm"> --> 
		<md-content layout-padding>
		    <form name="mytaxForm">
	                <b>Tax</b>
				<md-input-container flex> 
				                        <label>Code Name</label> <input ng-model="addTax.code_Name">
                </md-input-container>
               
				<md-input-container flex>
				                        <label>Tax Rate</label><input ng-model="addTax.tax_Rate"> 
				</md-input-container>
				
	          <md-button class="md-raised" ng-click="addTaxServices()">submit</md-button>
              <md-button class="md-raised" ng-click="loadGetTaxList()">List of Tax</md-button>

		   </form>
		</md-content>
<!-- </div> -->
				
</section>

<div ng-controller="editTaxTableController"  id="tableTax">
<section layout="row" layout-sm="column" layout-align="center center">

				<form editable-form name="tableform" onaftersave="saveTable()"
					oncancel="cancel()">
					<div>
						<span class="title">Editable Table</span>
					</div>
					<!-- table -->
					<table class="table table-bordered table-hover table-condensed">
						<tr style="font-weight: bold">
							<td>Code Name</td>
							<td>Tax Rate</td>
							<td></td>
						</tr>
						
						
						<tr>
						    <td>
								<!-- editable username (text with validation) --> <span
								editable-text="taxes.code_Name" e-form="tableform"
								onbeforesave="checkName($data, taxes.id)"> {{taxes.code_Name||
									'empty' }} </span>
							</td>
							 <td>
								<!-- editable username (text with validation) --> <span
								editable-text="taxes.tax_Rate" e-form="tableform"
								onbeforesave="checkName($data, taxes.id)"> {{taxes.tax_Rate||
									'empty' }} </span>
							</td>
							
							<td><button type="button" ng-show="tableform.$visible"
									ng-click="deleteUser(taxes.id))"
									class="btn btn-danger pull-right">Delete</button>
							</td>
					  </tr>
						
						
					</table>

					<!-- buttons -->
					<div class="btn-edit">
						<button type="button" class="btn btn-default"
							ng-show="!tableform.$visible" ng-click="tableform.$show()">edit</button>
					</div>
					
		<div class="btn-form" ng-show="tableform.$visible">
						
			<button type="submit" ng-disabled="tableform.$waiting"class="btn btn-primary">save</button>
		    <button type="button" ng-click="addNewTax()" class="btn btn-primary">Add New Tax</button>
		 <button type="button" ng-disabled="tableform.$waiting"ng-click="tableform.$cancel()"  class="btn btn-primary pull-right">cancel</button>
		</div>

			</form>
	</section>
	
	
	
	<section layout="row" layout-sm="column" layout-align="center center">
	<div ng-controller="EditableTableCtrl">
  <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">

    <!-- table -->
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:40%">Name</td>
        <td style="width:30%">Status</td>
        <td style="width:30%">Group</td>
        <td style="width:30%"><span ng-show="tableform.$visible">Action</span></td>
      </tr>
      <tr ng-repeat="user in users | filter:filterUser">
        <td>
          <!-- editable username (text with validation) -->
          <span editable-text="user.name" e-form="tableform" onbeforesave="checkName($data, user.id)">
            {{ user.name || 'empty' }}
          </span>
        </td>
        <td>
          <!-- editable status (select-local) -->
          <span editable-select="user.status" e-form="tableform" e-ng-options="s.value as s.text for s in statuses">
            {{ showStatus(user) }}
          </span>
        </td>
        <td>
          <!-- editable group (select-remote) -->
          <span editable-select="user.group" e-form="tableform" onshow="loadGroups()" e-ng-options="g.id as g.text for g in groups">
            {{ showGroup(user) }}
          </span>
        </td>
        <td><button type="button" ng-show="tableform.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">Del</button></td>
      </tr>
    </table>

    <!-- buttons -->
    <div class="btn-edit">
      <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
        edit
      </button>
    </div>
    <div class="btn-form" ng-show="tableform.$visible">
      <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-default pull-right">add row</button>
      <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
      <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
    </div> 
    
  </form>
</div>
  </section>
</div>
		
		


	<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
<script src="/lib/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="/lib/datatables-responsive/js/xeditable.js"></script>
<script src="/lib/datatables-responsive/js/jquery.dataTables.js"></script>
<script src="/lib/datatables-responsive/js/angular-datatables.js"></script>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>	
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	<script src="js/taxServices.controller.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	

	
</body>
</html>