<div layout="row" layout-padding>
	<md-content>
	<section>
		<md-subheader class="md-primary">
		<h3 class="md-headline">View Syllabus</h3>
		</md-subheader>


		<div layout="column">
			<div layout="row" >
			
			
				<label> Board</label>
				<md-input-container flex> <md-select
					ng-model="syllabus1" placeholder="Select" ng-change="getBoard(syllabus1)"  > <md-option
					ng-value="item.board" ng-repeat="item in syllabus | unique:'board'">{{item.board}}
				</md-option> </md-select> </md-input-container>


				<label> Standard</label>

				<md-input-container flex> <md-select 
					ng-model="syllabus2" placeholder="Select" ng-change="getStandard(syllabus1,syllabus2)"   > <md-option
					ng-value="item"
					ng-repeat="item in standardsList track by $index ">
				{{item}} </md-option> </md-select> </md-input-container>

				<label> Subject</label>
				<md-input-container flex> <md-select
					ng-model="syllabus3" placeholder="Select" ng-change="getSubject(syllabus1,syllabus2,syllabus3)" > <md-option
					ng-value="item"
					ng-repeat="item in subjectList track by $index ">{{item}}
				</md-option> </md-select> </md-input-container>

				<label> Chapter</label>
				<md-input-container flex> <md-select
					ng-model="syllabus4" placeholder="Select" ng-change="getChapter(syllabus1,syllabus2,syllabus3,syllabus4)"> <md-option
					ng-value="item"
					ng-repeat="item in chapterList track by $index  ">{{item}}
				</md-option> </md-select> </md-input-container>

			</div>
			<br>
			<p>
		
				<b ng-bind-html="chapterContentList"></b>
			</p>

		</div>


	</section>
	</md-content>
</div>
