
<div layout="row" layout-padding>
	<md-content>
	<section>
		<md-subheader class="md-primary">
		<h3 class="md-headline">View Syllabus</h3>
		</md-subheader>

		<!-- <div layout="row" layout-align="center end"> -->
		<div layout="row">

			<label> Board</label>
			<md-input-container flex> <md-select
				ng-model="syllabus1" placeholder="Select"> <md-option
				ng-value="item" ng-repeat="item in syllabus">{{item.board}}</md-option>
			</md-select> </md-input-container>

			<label> Standard</label>
			<md-input-container flex> <md-select
				ng-model="syllabus2" placeholder="Select"> <md-option
				ng-value="item" ng-repeat="item in syllabus">{{item.standard}}
			</md-option> </md-select> </md-input-container>

			<label> Subject</label>
			<md-input-container flex> <md-select
				ng-model="syllabus3" placeholder="Select"> <md-option
				ng-value="item" ng-repeat="item in syllabus">{{item.subject}}
			</md-option> </md-select> </md-input-container>

			<label> Chapter</label>
			<md-input-container flex> <md-select
				ng-model="syllabus4" placeholder="Select"> <md-option
				ng-value="item" ng-repeat="item in syllabus">{{item.chapter}}
			</md-option> </md-select> </md-input-container>

		</div>
		<div>
			<div ng-bind-html="syllabus4.chapterContent"></div>
		</div>

	</section>
	</md-content>
</div>
