<div>
<md-input-container>
				<label>Board</label>
				<input name="board" id="board"  ng-model="tempSyllabus.board">
</md-input-container>
			
<md-input-container>
				<label>Standard</label>
				<input name="standard" id="standard"  ng-model="tempSyllabus.standard">
</md-input-container>
			
<md-input-container>
				<label>Subject</label>
				<input name="subject" id="subject"  ng-model="tempSyllabus.subject">
</md-input-container>
			
<md-input-container>
				<label>Chapter Name</label>
				<input name="chapter" id="chapter"  ng-model="tempSyllabus.chapter">
</md-input-container>

 <div layout="column" flex>
 			
			<text-angular name="chapterContent" id="chapterContent"  ng-model="tempSyllabus.chapterContent"></text-angular>
			<label>Chapter Content :</label>
			<div layout="row" layout-align="center center">
			<md-button class="md-raised md-primary" ng-click="addSyllabus()">Add Syllabus</md-button>
			</div>
</div>
</div>
	