
<md-content layout-padding>

<div id="stockTable">
<!-- 	<div id="anotherStock">
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="addAnotherStock()">Add
			Item</md-button>

		</section>
	</div>
 -->	
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Item ID" order-by="itemId"></th>
				<th name="Item Name" order-by="itemName"></th>
				<th name="Category" order-by="category"></th>
				<th name="Quantity" order-by="qty"></th>
				<th name="Price" order-by="price"></th>
				<th name="Threshold" order-by="thresholdValue"></th>
				<th name="Notes" order-by="notes"></th>

			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="stocks in stockData | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">

				<td>{{stocks.itemId}}</td>
				<td>{{stocks.itemName}}</td>
				<td>{{stocks.category}}</td>
				<td>{{stocks.qty}}</td>
				<td>{{stocks.price}}</td>
				<td>{{stocks.thresholdValue}}</td>
				<td>{{stocks.notes}}</td>
				<td>
			</tr>
		</tbody>
	</table>
	<!-- 		<md-data-table-toolbar class="alternate" ng-show="selected.length">
			<div>
				{{selected.length}} {{selected.length > 1 ? 'stockData' : 'stock'}} selected
			</div>
			<div>
				{{selected}}
			</div>
		</md-data-table-toolbar>
 --> <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{stockData.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>

<div id="update">
	<section layout="layout-sm=row">
		<md-input-container flex> <label>Item Id
		</label> <input ng-model="selected[0].itemId"> </md-input-container>
		<md-input-container flex> <label>Item
			Name </label> <input ng-model="selected[0].itemName"> </md-input-container>

		<md-input-container flex> <label>Category
		</label> <input ng-model="selected[0].category"> </md-input-container>
		<md-input-container flex> <label>Quantity
		</label> <input ng-model="selected[0].qty"> </md-input-container>

		<md-input-container flex> <label>Price </label> <input
			ng-model="selected[0].price"> </md-input-container>
		<md-input-container flex> <label>Notes </label> <input
			ng-model="selected[0].notes"> </md-input-container>

	</section>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button class="md-raised md-primary" ng-click="updateStock()">Update</md-button>
	</section>

</div>


</md-content>
===============================================================================================================================
<div>
  <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
</div>