
<div layout="column">
	<div>
		<section layout="row">
			<div class="md-toolbar-tools">
				<md-content layout="row" layout-align="center start"> <md-button
					ui-sref="stock.stockItemAdd" ng-click="close()" class="md-primary">
				Add Stock</md-button> </md-content>
				<md-content layout="row" layout-align="center start"> <md-button
					ui-sref="stock.stockItemList" ng-click="close()" class="md-primary">
				Stock List</md-button> </md-content>
				
				<md-content layout="row" layout-align="center start"> <md-button
					ui-sref="stock.warehouseAdd" ng-click="close()" class="md-primary">
				Add Warehouse</md-button> </md-content>
				<md-content layout="row" layout-align="center start"> <md-button
					ui-sref="stock.warehouseList" ng-click="close()" class="md-primary">
				Warehouse List</md-button> </md-content>
				
				<md-button ui-sref="stock.reportByTaxPaid" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 15px; width: 15px"></md-icon>
						Tax Paid
					</md-button>
					
					<md-button ui-sref="stock.reportByTaxRecived" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg" class="name" style="color: Green; height: 15px; width: 15px"></md-icon>
						Tax Collection
					</md-button>
			</div>

			<div class="md-toolbar-tools">
				<span flex></span>
				<md-card>
				<section layout="row">
					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>

				</section>
				</md-card>
			</div>

		
				<!-- Right Navigation Pane --> 
		 <md-sidenav class="md-sidenav-right md-whiteframe-z2"
			md-component-id="right">
				<md-toolbar
				class="md-theme-light">
					<!--<h1 class="md-toolbar-tools">Sidenav Right</h1>-->
				</md-toolbar>
				<md-content layout-padding>

					<md-button flex ui-sref="stock.taxadd" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_queue_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 20px; width: 20px"></md-icon>
						Add Tax
					</md-button>
					<md-button flex ui-sref="stock.taxlist" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_view_list_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 20px; width: 20px"></md-icon>
						Tax List
					</md-button>
					<h3><md-icon md-svg-src="img/icons/ic_receipt_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 20px; width: 20px"></md-icon><u>Reports</u></h3>
						<md-button ui-sref="stock.reportByThreshold" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 15px; width: 15px"></md-icon>
						Stock By Threshold
					</md-button>
					
					<md-button ui-sref="stock.reportByWarehouse" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 15px; width: 15px"></md-icon>
						Stock By Warehouse
					</md-button>
					
					<md-button ui-sref="stock.reportByTaxPaid" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 15px; width: 15px"></md-icon>
						Tax Paid
					</md-button>
					
					<md-button ui-sref="stock.reportByTaxRecived" ng-click="close()"
					class="md-primary"><md-icon md-svg-src="img/icons/ic_trending_flat_black_24px.svg" ui-sref="warehouse.add" class="name" style="color: Green; height: 15px; width: 15px"></md-icon>
						Tax Collection
					</md-button>
				</md-content>
			</md-sidenav>

		</section>

	</div>
	<div ui-view></div>
</div>
