
<md-content layout-padding>
<h3>
	<u>Warehouse List</u>
</h3>
<div layout layout-sm="column">
	<md-input-container flex> <label>Search</label> <input
		ng-model="searchText"> </md-input-container>
</div>

<div>
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Warehouse Name" order-by="warehouseName"></th>
				<th name="Description" order-by="description"></th>
				<th name="Address1" order-by="address1"></th>
				<th name="PIN" order-by="pin"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="warehouse in warehouses | orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{warehouse.warehouseName}}</td>
				<td>{{warehouse.description}}</td>
				<td>{{warehouse.address1}}</td>
				<td>{{warehouse.pin}}</td>
				<td><section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="stock.warehouseAdd({selectedWarehouseId: warehouse.id})">
						Edit</md-button>
					</section></td>

<!-- 				<td><section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="stock.warehouseEdit({selectedWarehouseId: warehouse.id})">
						Edit</md-button>
					</section></td>
 -->				<td>
			</tr>
		</tbody>
	</table>
	<!-- 		<md-data-table-toolbar class="alternate" ng-show="selected.length">
			<div>
				{{selected.length}} {{selected.length > 1 ? 'stockData' : 'stock'}} selected
			</div>
			<div>
				{{selected}}
			</div>
		</md-data-table-toolbar>
 --> <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{warehouses.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>

</md-content>