<div layout="column">
	<md-content>
	
		<md-subheader class="md-primary">
		<h3 class="md-headline">My-Profile : </h3>
		</md-subheader>


<form name="myProfileForm" >
    	<div layout="row" layout-sm="column">
    	

<div layout="column">
			
			<div >
				<md-input-container flex>
				<label>Name </label><input type="text" ng-model="curUser.name" /></md-input-container>
			</div>

			<div >
				<md-input-container flex>
				<label>Email-id </label><input type="text" ng-model="curUser.email_id" /></md-input-container>
			</div>
			
			<div >
				<md-input-container flex>
				<label>Address </label><input type="text" ng-model="curUser.address" /></md-input-container>
			</div>
			
			<div >
				<md-input-container flex>
				<label>Contact </label><input type="text" ng-model="curUser.contact" /></md-input-container>
			</div>

			<md-input-container flex><md-button class="md-raised md-primary" ng-hide="edit"
				ng-click="update()">Save</md-button></md-input-container>

			<!-- <div>
			     <md-button class="md-raised"  ng-show="edit" ng-click="cancelButton()">Cancel</md-button>
			    <md-button class="md-raised md-primary" ng-show="edit" ng-click="update(stud)"> SAVE</md-button>
			</div> -->
				
				
			</div>	
			
			<div layout="column" flex>
			       <span></span>
			       <span></span>
			       <span></span>
			       <span></span>
			       <span></span>
		     </div>
	  </div>
	</form>
	
	
  
  </md-content>
</div>
				


			