<div layout="column">
	<md-content>

	<div layout="column" layout-align="center center">
		<md-subheader class="md-primary">
		<h3 class="md-headline">My Profile</h3>
		</md-subheader>
	</div>


	<form name="myProfileForm">


<div layout="row" layout-align="center center" layout-sm="column">
		<div layout="column" layout-align="center center" >

			<div>
				<md-input-container flex> <label>First Name </label>
				<input type="text" ng-model="curUser.firstName" readonly /></md-input-container>
			</div>

			<div>
				<md-input-container flex> <label>Last Name </label>
				<input type="text" ng-model="curUser.lastName" readonly /></md-input-container>
			</div>
			
			<div>
				<md-input-container flex> <label>Email-id
				</label>
				<input type="text" ng-model="curUser.email_id" readonly /></md-input-container>
			</div>
		</div>
		

		<div layout="column" layout-align="center center">
			<div>
				<md-input-container flex> <label>Address
				</label> <input type="text" ng-model="curUser.address" /></md-input-container>
			</div>

			<div>
				<md-input-container flex> <label>Contact
				</label>
				<input type="text" ng-model="curUser.contact" /></md-input-container>
			</div>
			
			<div>
				<md-input-container flex> <label>Gender
				</label>
				<input type="text" ng-model="curUser.gender" readonly /></md-input-container>
			</div>
		</div>
</div>	

			<div flex=30 layout="column" layout-align="center center" layout-sm="column">
				<md-input-container flex> <label>Institute
				</label>
				<input type="text" ng-model="curUser.firstName" /></md-input-container>
			</div>	
				
			<div layout="column" layout-align="center center">
			<md-input-container flex>
			<md-button class="md-raised md-primary" ng-hide="edit"
				ng-click="update()">Save</md-button></md-input-container>
			</div>

			<div layout="column" flex>
				<span></span> <span></span> <span></span> <span></span> <span></span>
			</div>
		


	</form>



	</md-content>
</div>



