<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Amclin App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<body ng-app="myapp">
	<div id="header"></div>
	<div class="container">
		<h3>New Patient Page</h3>
		<div ng-controller="MyController">
			<div id="formDiv">
				<form role="form" visible="true">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="fname">First Name:</label> <input type="text"
									class="form-control" id="fname" ng-model="fname">
							</div>
							<div class="form-group">
								<label for="lname">Last Name:</label> <input type="text"
									class="form-control" id="lname" ng-model="lname">
							</div>

							<div class="form-group">
								<label for="age">Age:</label> <input type="text"
									class="form-control" id="age" ng-model="age">
							</div>
							<label for="sex">Sex:</label>
							<div class="radio">
								<label><input type="radio" name="role"
									ng-model="formdata" value="Male"> Male </label> <label>
									<input type="radio" name="role" ng-model="formdata"
									value="Female"> Female
								</label><br />
								<!-- 							<tt>Role = {{formdata.role | json}}</tt> -->
								<br />
							</div>

							<div class="form-group">
								<label for="occupation">Occupation:</label> <input type="text"
									class="form-control" id="occupation" ng-model="occupation">
							</div>

							<div class="form-group">
								<label for="addr1">Address Line1:</label> <input type="text"
									class="form-control" id="addr1" ng-model="addr1">
							</div>

							<div class="form-group">
								<label for="addr2">Address Line2:</label> <input type="text"
									class="form-control" id="addr2" ng-model="addr2">
							</div>
							<div class="form-group">
								<label for="city">City:</label> <input type="text"
									class="form-control" id="city" ng-model="city">
							</div>

							<div class="form-group">
								<label for="pin">PIN:</label> <input type="text"
									class="form-control" id="pin" ng-model="pin">
							</div>

						</div>
						<div class="col-sm-4"></div>
						<div class="col-sm-4" offset="MD_2">
							<div class="form-group">
								<label for="firstvisit">Date of First Visit:</label> <input
									type="text" class="form-control" id="firstvisit"
									ng-model="firstvisit">
							</div>

							<div class="form-group">
								<label for="clinicalnote">Clinical Note:</label> <input
									type="text" class="form-control" id="clinicalnote"
									ng-model="clinicalnote">
							</div>

							<div class="form-group">
								<label for="followup">Follow Up:</label> <input type="text"
									class="form-control" id="followup" ng-model="followup">
							</div>

							<div class="form-group">
								<label for="observations">Observations:</label> <input
									type="text" class="form-control" id="observations"
									ng-model="observations">
							</div>

							<div class="form-group">
								<label for="provdig">Provisional Diagnosis:</label> <input
									type="text" class="form-control" id="provdig"
									ng-model="provdig">
							</div>

							<div class="form-group">
								<label for="investigationreport">Investigations With
									Report:</label> <input type="text" class="form-control"
									id="investigationreport" ng-model="investigationreport">
							</div>

							<div class="form-group">
								<label for="digeval">Diagnosis After Evaluation:</label> <input
									type="text" class="form-control" id="digeval"
									ng-model="digeval">
							</div>

							<div class="form-group">
								<label for="advice">Advice:</label> <input type="text"
									class="form-control" id="advice" ng-model="advice">
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-default"
						ng-click="clickDiv.cancelBtn()">Cancel</button>
					<button type="submit" class="btn btn-primary"
						ng-click="clickDiv.savePatient()">Submit</button>
				</form>
			</div>
			<PanelFooter>
			<div class="col-sm-12">
				<div id="actionMsgDiv" class="panel panel-success hidden">
					<div class="panel-heading">Patient Added Successfully.</div>
					<div class="panel-body">

						<button type="submit" class="btn btn-primary"
							ng-click="clickDiv.addPatient()">Add Patient</button>
						<button type="submit" class="btn btn-primary"
							ng-click="clickDiv.cancelBtn()">Cancel</button>
					</div>
				</div>

			</div>
			</PanelFooter>
		</div>
	</div>


	<script>
		angular
				.module("myapp", [])
				.controller(
						"MyController",
						function($scope) {

							//Initialize ends
							$scope.clickDiv = {};

							/* 							$scope.loadFeeds = function() {
							 alert('loadFeeds called.');
							 }
							 */
							$scope.clickDiv.savePatient = function() {
								gapi.client.patientservice
										.savePatient(
												{
													"firstName" : $scope.fname,
													"lastName" : $scope.lname,
													"age" : $scope.age,
													"sex" : $scope.formdata,
													"occupation" : $scope.occupation,
													"addressLine1" : $scope.addr1,
													"addressLine2" : $scope.addr2,
													"city" : $scope.city,
													"pin" : $scope.pin,
													"dateofvisit" : $scope.firstvisit,
													"clinical_note" : $scope.clinicalnote,
													"follo_up" : $scope.followup,
													"observation" : $scope.observations,
													"provisional_dignosis" : $scope.provdig,
													"investigation_report" : $scope.investigationreport,
													"digno_after_investigation" : $scope.digeval,
													"advice" : $scope.advice
												}).execute(
												function(resp) {
													//alert(resp.data);
													//$scope.serMsg = resp.data;
													$("#formDiv").addClass(
															'hidden');
													$("#actionMsgDiv")
															.removeClass(
																	'hidden');
												});
							}

							$scope.clickDiv.addPatient = function() {
								$scope.fname = "";
								$scope.lname = "";
								$scope.age = "";
								/* $scope.sex=""; */
								$scope.occupation = "";
								$scope.addr1 = "";
								$scope.addr2 = "";
								$scope.city = "";
								$scope.pin = "";
								$scope.firstvisit = "";
								$scope.clinicalnote = "";
								$scope.followup = "";
								$scope.observations = "";
								$scope.provdig = "";
								$scope.investigationreport = "";
								$scope.digeval = "";
								$scope.advice = "";
								$("#formDiv").removeClass('hidden');
								$("#actionMsgDiv").addClass('hidden');
							}

							$scope.clickDiv.cancelBtn = function() 
							{
								document.location = '/index.html';
							}

						});
	</script>

	<script>
		function init() {

			var apiRoot = '//' + window.location.host + '/_ah/api';

			// Loads the OAuth and helloworld APIs asynchronously, and triggers login
			// when they have completed.
			var apisToLoad;

			var callback = function() {
				//alert("Inside callback111 : apiRoot: " + apiRoot);
			};

			apisToLoad = 2; // must match number of calls to gapi.client.load()
			gapi.client.load('myhelloservice', 'v0.1', callback, apiRoot);
			gapi.client.load('patientservice', 'v0.1', callback, apiRoot);
		}
	</script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<script>
		$(function() {
			$("#header").load("header.html");
			$("#footer").load("footer.html");
		});
	</script>
	<!--Remaining section-->
	<div id="footer"></div>
</body>
</html>