<!DOCTYPE html>
<html>
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<!-- Datatable -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script	src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script	src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!-- Datatable -->

<!-- jQuery library -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="/js/RegistrationService.controller.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>

<title>Registration</title>

</head>
<body ng-app="amclinapp">
	<div id="header"></div>

	<div class="container">

		<h3>Amclin EHR</h3>
		<div class="row">
			<div class="col-sm-6">

				<div ng-controller="MyController">
					<div id="formDiv">
						<form role="form">
						<div class="form-group" style="display:none">
								<label for="id">ID:</label> <input type="text"
									class="form-control" id="id" ng-model="person.id">
							</div>
							<div class="form-group">
								<label for="fname">First Name:</label> <input type="text"
									class="form-control" id="fname" ng-model="person.firstName">
							</div>

							<div class="form-group">
								<label for="lname">Last Name:</label> <input type="text"
									class="form-control" id="lname" ng-model="person.lastName">
							</div>

							<div class="form-group">
								<label for="email">Email:</label> <input type="email"
									class="form-control" id="emailid" ng-model="person.emailID">
							</div>

							<div class="form-group">
								<label for="number">Number:</label> <input type=""
									class="form-control" id="number" ng-model="person.mobileNumber">
							</div>

							<button type="submit" class="btn btn-primary"
								ng-click="clickDiv.saveRegiUser()">Submit</button>

						</form>

						<div id="listofpatient">
							<table id="regiDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
									<th>firstName</th>
									<th>lastName</th>
									<th>emailID</th>
									<th>mobileNumber</th>
								</thead>
							</table>
<!-- 							<form role="form">
								<button type="button" class="btn btn-primary"
									ng-click="addNewUser()">Add New Servicing</button>
							</form> -->
						</div>
					</div>
					<!-- 			<h1>Server Says--: {{items[0].firstName}}</h1> -->

					<div id="main" class="hidden">
						<PanelFooter>
						<div class="col-sm-12">
							<div class="panel panel-success ">
								<div id="actionMsgDivR" class="panel-heading hidden">Registration
									Successful.</div>
								<div id="actionMsgDivU" class=" panel-heading hidden">Update
									Successful.</div>
								<div class="panel-body">

									<button type="submit" class="btn btn-primary"
										ng-click="clickDiv.addPatient()">New Registration</button>
									<button type="submit" class="btn btn-primary"
										ng-click="clickDiv.cancelBtn()">Home</button>
								</div>
							</div>
						</div>
						</PanelFooter>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function seletctUser(id,fname, lname, emailid, number) {
			alert("Inside Select User");
			document.getElementById("id").value = id;
			document.getElementById("fname").value = fname;
			document.getElementById("lname").value = lname;
			document.getElementById("emailid").value = emailid;
			document.getElementById("number").value = number;
		}

		$(document).ready(function() {
			$('#regiDataTable').dataTable();
		});

		$(function() {
			$("#header").load("header.html");
			$("#footer").load("footer.html");
		});
	</script>

	<!--Remaining section-->
	<div id="footer"></div>
</body>
</html>