<!DOCTYPE html>
<html lang="en-US">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="myapp">

	<div ng-controller="MyController">
        <h1>Server Msg1: {{serMsg}}</h1>
		<form role="form">
			<div class="form-group">
				<label for="fname">First Name:</label> <input type="text"
					class="form-control" id="fname" ng-model="fname">
			</div>
			<div class="form-group">
				<label for="lname">Last Name:</label> <input type="text"
					class="form-control" id="lname" ng-model="lname">
			</div>
			<div class="form-group">
				<label for="city">City1:</label> <input type="text"
					class="form-control" id="city" ng-model="city">
			</div>

			
			<button type="submit" class="btn btn-default"
				ng-click="clickDiv.savePatient()">Submit</button>
				
				
			<button type="submit" class="btn btn-default"
				ng-click="clickDivlist.getAllPatientst()">Submit</button>
				
		</form>


	</div>

	<script>
		angular.module("myapp", []).controller("MyController",
				function($scope) {
					//$scope.serMsg = "";
					$scope.clickDiv = {};
					
					$scope.clickDiv.doClick = function() {
						gapi.client.myhelloservice.say2Hi({
							'myName2' : $scope.name
						}).execute(function(resp) {
							alert(resp.data);
							//$scope.serMsg = resp.data;							
						});
					};
					
					$scope.clickDiv.savePatient = function() {
						gapi.client.patientservice.savePatient({
							 "firstName": $scope.fname,
							 "lastName": $scope.lname,
							 "city": $scope.city
						}).execute(function(resp) {
							alert(resp.data);
							$scope.serMsg = resp.data;								
						});
					}
					
					
					
					$scope.clickDivlist.getAllPatientst = function() {
						gapi.client.patientservice.getAllPatients({
							/*  "firstName": $scope.fname,
							 "lastName": $scope.lname,
							 "city": $scope.city */
						}).execute(function(resp) {
							alert(resp.data);
							$scope.serMsg = resp.data;								
						});
					}
					
				});
	</script>

	<script>
		function init() {

			//http%3A%2F%2Flocalhost%3A8888%2F_ah%2Fapi#p/myhelloservice/v0.1/myhelloservice.say2Hi?myName2=Ganesh+L1&_h=2&

			var apiRoot = '//' + window.location.host + '/_ah/api';

			// Loads the OAuth and helloworld APIs asynchronously, and triggers login
			// when they have completed.
			var apisToLoad;

			var callback = function() {
				//alert("Inside callback111 : apiRoot: " + apiRoot);
				//myhelloservice.say2Hi("Ravi").execute();
				/* gapi.client.myhelloservice.say2Hi({
					'myName2' : "Ravi"
				}).execute(function(resp) {
					alert(resp.data);
				}); */
			};

			apisToLoad = 3; // must match number of calls to gapi.client.load()
			gapi.client.load('myhelloservice', 'v0.1', callback, apiRoot);
			gapi.client.load('patientservice', 'v0.1', callback, apiRoot);
			
			gapi.client.load('getAllPatientst', 'v0.1', callback, apiRoot);
		}
	</script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>

	<script>
		
	</script>

</body>
</html>