
<md-content layout-padding>
<form name="AccountTypeForm">

	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Account
				Name </label> <input name="AccountName" ng-model="accounttype.accountName"
				ng-required="true">

			<div ng-messages="AccountTypeForm.AccountName.$error"
				ng-if="AccountTypeForm.AccountName.$submitted || AccountTypeForm.AccountName.$touched">
				<div ng-message="required">Please Enter Asset Name.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Description
			</label> <input type="text" name="Description"
				ng-model="accounttype.description" ng-required="true">
			<div ng-messages="AccountTypeForm.Description.$error"
				ng-if="AccountTypeForm.Description.$submitted || AccountTypeForm.Description.$touched">
				<div ng-message="required">Please Enter category.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Max
				User </label> <input type="text" name="Maxuser"
				ng-model="accounttype.maxuser" ng-required="true">
			<div ng-messages="AccountTypeForm.Maxuser.$error"
				ng-if="AccountTypeForm.Maxuser.$submitted || AccountTypeForm.Maxuser.$touched">
				<div ng-message="required">Please Enter the max user.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Payment
				Description </label> <input type="text" name="PaymentDesc"
				ng-model="accounttype.paymentDesc" ng-required="true">

			<div ng-messages="AccountTypeForm.PaymentDesc.$error"
				ng-if="AccountTypeForm.PaymentDesc.$submitted || AccountTypeForm.PaymentDesc.$touched">
				<div ng-message="required">Please Enter PaymentDesc.</div>
			</div>
			</md-input-container>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-disabled="AccountTypeForm.$invalid" ng-click="updateAccountType()">Update</md-button>

		</section>
	</div>
</form>
</md-content>