
<md-content layout-padding>
<form name="journalEntryForm">


[<span style="color: red;">Field Marked as asterik (*) are
		mandetory</span>]
	<div layout layout-sm="column">		
		<md-input-container flex> <label>Account
			Name <span style="color: red;">*</span>
		</label> <input ng-model="journal.accountName" name="name" ng-required="true"
			minlength="3">

		<div ng-messages="journalEntryForm.name.$error"
			ng-if="journalEntryForm.name.$submitted || journalEntryForm.name.$touched">
			<div ng-message="required">Please Enter Valid Account Name</div>
			<div ng-message="minlength">Please Enter more thar 3 character</div>
		</div>
		</md-input-container>
	</div>
	
	<div layout layout-sm="column">		
		<md-input-container flex> <label>Account
			Name <span style="color: red;">*</span>
		</label> <input ng-model="journal.description" name="description" ng-required="true">

		<div ng-messages="journalEntryForm.name.$error"
			ng-if="journalEntryForm.description.$submitted || journalEntryForm.description.$touched">
			<div ng-message="required">Please Enter Valid Description</div>
			<div ng-message="minlength">Please Enter more thar 3 character</div>
		</div>
		</md-input-container>
	</div>
	
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-disabled="journalEntryForm.$invalid" ng-click="addAccountType()">Add Journal Entry</md-button>

		</section>

</form>
</md-content>