
<md-content layout-padding>
<form name="assetForm">

	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Asset
				id</label> <input ng-model="asset.id" ng-required="true" disabled> </md-input-container>
			<md-input-container flex> <label>Asset
				Name </label> <input name="AssetName" ng-model="asset.assetName"
				ng-required="true" disabled>

			<div ng-messages="assetForm.AssetName.$error"
				ng-if="assetForm.AssetName.$submitted || assetForm.AssetName.$touched">
				<div ng-message="required">Please Enter Asset Name.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>category
			</label> <input type="text" name="category" ng-model="asset.category"
				ng-required="true" disabled>
			<div ng-messages="assetForm.category.$error"
				ng-if="assetForm.category.$submitted || assetForm.category.$touched">
				<div ng-message="required">Please Enter category.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-sm="column">

			<md-input-container flex> <label>value </label>
			<input type="text" name="value" ng-model="asset.value"
				ng-required="true" disabled>
			<div ng-messages="assetForm.value.$error"
				ng-if="assetForm.value.$submitted || assetForm.value.$touched">
				<div ng-message="required">Please Enter the value.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>purchase
				date</label> <input type="text" name="purchasedate"
				ng-model="asset.purchasedate" ng-required="true" disabled>

			<div ng-messages="assetForm.purchasedate.$error"
				ng-if="assetForm.purchasedate.$submitted || assetForm.purchasedate.$touched">
				<div ng-message="required">Please Enter purchase date.</div>
			</div>
			</md-input-container>
			<md-input-container flex> <label> Expiry
				date </label> <input type="text" name="Expirydate"
				ng-model="asset.expirydate" ng-required="true" disabled>
			<div ng-messages="assetForm.Expirydate.$error"
				ng-if="assetForm.Expirydate.$submitted || assetForm.Expirydate.$touched">
				<div ng-message="required">Please Enter Expiry date.</div>
			</div>
			</md-input-container>
		</div>

		<!-- ---------Assigned Asset------------- -->
		<div>
			<b>Assigned Asset </b>
		</div>
		<div>
			<md-data-table-container>
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="Asset Name" order-by="assetName"></th>
						<th name="User Name" order-by="userName"></th>
						<th name="Assign Date" order-by="assignDate"></th>
						<th name="Release Asset" order-by="releaseAsset"></th>
					</tr>
				</thead>
				<tbody>
					<tr md-auto-select
						ng-repeat="at in activeassetdetail | filter : { status : 'active' }  | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit ">
						<td width="20%" align="left">{{at.assetEntity.assetName}}</td>
						<td width="20%" align="left">{{at.userEntity.firstName}}
							{{at.userEntity.lastName}}</td>
						<td width="20%" align="left">{{at.assignDate}}</td>
						<td width="20%" align="left"><md-button
								class="md-icon-button" aria-label="prev"
								ng-click="releaseAsset(at.id)"> <md-tooltip>
							Release the Asset </md-tooltip> <md-icon
								md-svg-icon="img/icons/ic_lock_open_black_24px.svg"></md-icon>
							</md-button></td>
					</tr>
				</tbody>

			</table>
			<md-data-table-pagination md-limit="query.limit" md-page="query.page"
				md-total={{assetdetail.length}} md-trigger="onpagechange"></md-data-table-pagination>
			</md-data-table-container>
		</div>


		<!-- ----------------------------------------------------------------------------------------- -->
		<div>
			<a href='' ng-click='ShowHide()'>History +/-</a>
		</div>
		<div ng-hide="IsHidden">
			<md-data-table-container>
			<table md-data-table md-progress="deferred">
				<thead md-order="query.order" md-trigger="onOrderChange">
					<tr>
						<th name="Asset Name" order-by="assetName"></th>
						<th name="User Name" order-by="userName"></th>
						<th name="Assign Date" order-by="assignDate"></th>
						<th name="Release Date" order-by="releaseDate"></th>
					</tr>
				</thead>
				<tbody>
					<tr md-auto-select
						ng-repeat="t in assetdetail | filter: { status : 'inactive' } | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
						<td width="20%" align="left">{{t.assetEntity.assetName}}</td>
						<td width="20%" align="left">{{t.userEntity.firstName}}
							{{t.userEntity.lastName}}</td>
						<td width="20%" align="left">{{t.assignDate}}</td>
						<td width="20%" align="left">{{t.releaseDate}}</td>
					</tr>
				</tbody>

			</table>
			<md-data-table-pagination md-limit="query.limit" md-page="query.page"
				md-total={{assetdetail.length}} md-trigger="onpagechange"></md-data-table-pagination>
			</md-data-table-container>
		</div>




		<!-- ----------------------------------------------------------------------------------------- -->

		<div layout layout-sm="column">

			<md-input-container flex> <md-select
				name="selecteduser" placeholder="User" ng-model="user"
				ng-required="true"><!-- ng-change="CustomerddlChange($index, selectedcustomerName)" ng-change="getuser(user)"-->
			<md-option value={{list.id}} ng-repeat="list in emps">
			{{list.firstName}} </md-option> </md-select>


			<div ng-messages="asset.selecteduser.$error"
				ng-if="asset.selecteduser.$submitted || asset.selecteduser.$touched">
				<div ng-message="required">select user.</div>
			</div>
			</md-input-container>
		</div>

		<div>
			<md-checkbox ng-model="Assignasset.status" ng-true-value="'active'"
				ng-false-value="'inactive'"> Acive User </md-checkbox>

		</div>

		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-disabled="assetForm.$invalid" ng-click="AssignAsset()">Assign</md-button>

		</section>
	</div>
</form>
</md-content>