<div layout="column" layout-padding>
	<md-content>
		
	<form name="chapterForm">
	  <div layout="row" layout-sm="column">
					
		<div layout="column" flex>
		

		<!-- 	<md-input-container>
				<label>Chapter No :-</label>
				<input type="number" name="id" id="id"  ng-model="tempChapter.id">
			</md-input-container> -->
			
			<md-input-container>
				<label>Chapter Id :-</label>
				<input type="number" name="chapterId" id="chapterId"  ng-model="tempChapter.chapterId">
			</md-input-container>
			
			<md-input-container>
				<label>Chapter :-</label>
				<input name="chapter_name" id="chapter_name"  ng-model="tempChapter.chapter_name">
			</md-input-container>

			<md-input-container>
				<label>Chapter Content</label>
				<text-angular name="chapter_content" id="chapter_content"  ng-model="tempChapter.chapter_content"></text-angular>
			</md-input-container>

			<md-input-container>
				<label>Board</label>
				<input name="board" id="board" ng-required="true" ng-model="tempChapter.board">
			</md-input-container>

			<md-input-container>
				<label>Student Class</label>
				<input name="student_class" id="student_class" ng-model="tempChapter.student_class">
			</md-input-container>

			<md-input-container>
				<label>Subject</label>
				<input  name="subject" id="subject"   ng-model="tempChapter.subject">
			</md-input-container>
			
		
					</div>
				</div>

			</form>
			
		</section>

		<section layout="row" layout-sm="column" layout-align="left left">
			
			<md-button class="md-raised md-primary" ng-click="addChapter()">Submit</md-button>
			<md-button class="md-raised" ng-click="cancelButton()">Cancel</md-button>

		</section>
	</md-content>
</div>
