<h3 class="md-headline">Add Chapters</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<form name="chapterForm" ng-model="chapterForm">

	<div layout="column" layout-xs="column">

		<div layout="row" layout-xs="column" >

			<md-input-container flex> <label>Standard<span
				style="color: red" ng-show="chapterForm.standard.$error.required"
				class="mandatory">*</span></label> <md-select name="standard"
				ng-model="tempChapter.standard" ng-change="getDivisionByStandard()"
				ng-required="true"> <md-option ng-value="standard"
				ng-repeat="standard in standards">{{standard}}</md-option> </md-select>
			<div ng-messages="chapterForm.standard.$error"
				ng-if="chapterForm.standard.$submitted || chapterForm.standard.$touched">
				<div ng-message="required">Please Select Standard.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Division<span
				style="color: red" ng-show="chapterForm.division.$error.required"
				class="mandatory">*</span></label> <md-select name="division"
				ng-model="tempChapter.division" ng-change="getSubjectByDivision()"
				ng-required="true"> <md-option ng-value="division"
				ng-repeat="division in divisions">{{division}}</md-option> </md-select>
			<div ng-messages="chapterForm.division.$error"
				ng-if="chapterForm.division.$submitted || chapterForm.division.$touched">
				<div ng-message="required">Please Select Division.</div>
			</div>
			</md-input-container flex>

			<md-input-container flex> <label>Subject<span
				style="color: red" ng-show="chapterForm.subject.$error.required"
				class="mandatory">*</span></label> <md-select name="subject"
				ng-model="tempChapter.subject" ng-change="" ng-required="true">
			<md-option ng-value="subject"
				ng-repeat="subject in subjects track by $index ">{{subject}}</md-option>
			</md-select>
			<div ng-messages="chapterForm.subject.$error"
				ng-if="chapterForm.subject.$submitted || chapterForm.subject.$touched">
				<div ng-message="required">Please Select Subject.</div>
			</div>
			</md-input-container>
			
		</div>
		
		<div layout="row" layout-xs="column" flex>

			<md-input-container flex> <label>Board<span
				style="color: red" ng-show="chapterForm.board.$error.required"
				class="mandatory">*</span></label> <md-select name="board"
				ng-model="tempChapter.board" "
						ng-required="true">
			<md-option ng-value="board" ng-repeat="board in boards">{{board}}</md-option>
			</md-select>
			<div ng-messages="chapterForm.board.$error"
				ng-if="chapterForm.board.$submitted || chapterForm.board.$touched">
				<div ng-message="required">Please Select Board.</div>
			</div>
			</md-input-container>

			<md-input-container flex> <label>Chapter
				Name<span style="color: red"
				ng-show="chapterForm.chapter_name.$error.required" class="mandatory">*</span>
			</label> <input name="chapter_name" id="chapter_name" ng-required="true"
				ng-model="tempChapter.chapter_name">
			<div ng-messages="chapterForm.chapter_name.$error"
				ng-if="chapterForm.chapter_name.$submitted || chapterForm.chapter_name.$touched">
				<div ng-message="required">Please Enter Book name.</div>
			</div>
			</md-input-container>
		</div>

			<md-input-container flex> <label>Chapter
				Content<span style="color: red"
				ng-show="chapterForm.chapter_content.$error.required"
				class="mandatory">*</span>
			</label> <text-angular name="chapter_content" id="chapter_content"
				ng-required="true" ng-model="tempChapter.chapter_content"></text-angular>
			<div ng-messages="chapterForm.chapter_content.$error"
				ng-if="chapterForm.chapter_content.$submitted || chapterForm.chapter_content.$touched">
				<div ng-message="required">Please enter instructions.</div>
			</div>
			</md-input-container>


	</div>

	<div layout="row" layout-align="center center">

		<md-button class="md-raised md-primary" ng-click="addChapter()"
			ng-disabled="chapterForm.$invalid">Submit</md-button>
		<md-button class="md-raised" ng-click="cancelButton()">Cancel</md-button>

	</div>

</form>
