<md-content layout-padding>
<form>


	<div layout="row" layout-align="center center">

		<md-input-container flex> <label>Enter
			Chapter No :</label> <input ng-model="searchText.id"> </md-input-container>


	</div>

	<div layout="row" layout-align="center center" layout-sm="column">
		<td><md-button class="md-raised md-primary"
				ng-click="clicked=true">View Chapter Details</md-button></td>
		<td><md-button class="md-raised" ng-click="cancelButton()">Cancel</md-button></td>

	</div>

	<div custom-select="chapter in chapters | filter: { state: $searchTerm }">

		<div class="pull-left">
			<strong>{{ chapter.id}}</strong><br /></div>
		<div class="clearfix"></div>
	</div>


	<div ng-show="clicked">


		<div layout="row" layout-sm="column">

			<div layout="column" flex ng-repeat="chapter in chapters | filter:searchText">


				<md-input-container>
				          <label>Chapter No :-</label> <input name="id" id="id" ng-model="chapter.id" disabled>
                </md-input-container>
                
                	<md-input-container>
				          <label>Chapter Name :-</label> <input name="chapter_name" id="chapter_name" ng-model="chapter.chapter_name" disabled>
                </md-input-container>

			

				<md-input-container> 
				     <label>Chapter Content
				     <p ng-bind-html="chapter.chapter_content"></p> </label>
				</md-input-container>


				<md-input-container>
				        <label>Board</label>
				        <input name="board" id="board" ng-required="true" ng-model="chapter.board" disabled>
				</md-input-container>

				<md-input-container>
				     <label>Student Class</label> 
				     <input name="student_class" id="student_class" ng-required="true" ng-model="chapter.student_class" disabled>
				</md-input-container>

				<md-input-container>
				    <label>Subject</label> <input name="subject" id="subject" ng-model="chapter.subject" disabled>
				</md-input-container>

			

			</div>
		</div>
	</div>



</form>
</md-content>



