
<div layout="column">
	<div>
		<section layout="row">
			<!-- View Specific Toolbar-->
			<div class="md-toolbar-tools">
				<span flex></span>

					<div layout="row" layout-align="end start" >
				
				
					<md-button aria-label="Open Settings" ng-click="toggleRight()">
					<ng-md-icon icon="more_vert"></ng-md-icon> </md-button>
					</div>
					
				
			</div>

			<!-- Right Navigation Pane -->
				<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right" layout="column"> <md-toolbar
				class="md-theme-light">
			<h1 class="md-toolbar-tools">Chapter Page Sub Menu</h1>
			</md-toolbar> <md-content layout-padding> <md-button
				ng-click="close()" class="md-primary"> Close Sidenav
			Right </md-button>
			
			<div layout="column">
			 <md-button ui-sref="chapter.add"
				ng-click="close()" class="md-primary">  Chapter ADD
			</md-button> 
			
			<md-button ui-sref="chapter.edit"
				ng-click="close()" class="md-primary">  Chapter List
			</md-button>
			</div>
			</md-content> </md-sidenav>

		</section>

	</div>

	<div ui-view>

		<div layout="column" layout-align="start start">
			<md-button ui-sref="chapter.add"
				ng-click="close()" class="md-primary" hide-xs>  Chapter ADD
			</md-button> 
			
			<md-button ui-sref="chapter.edit"
				ng-click="close()" class="md-primary" hide-xs>  Chapter List
			</md-button>

		</div>
	</div>
	<!-- We'll also add some navigation: -->

</div>
