<h3 class="md-headline">Chapter List</h3>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div>
	
	<md-content> <md-input-container flex>
	<label>Search By Chapter name</label> <input ng-model="searchCategory">
	</md-input-container>
	 <md-data-table-container>
	 
	<table md-data-table  md-progress="deferred">
		<thead md-order="query.order" md-trigger="onorderchange">
			<tr>
			
				<th name="Chapter Name" order-by="chapter_name"></th>
				<th name="Board" order-by="board"></th>
				<th name="Standard" order-by="standard"></th>
				<th name="Subject" order-by="subject"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="chapter in chapters  | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: {chapter_name: searchCategory}  ">

			
				<td>
					{{chapter.chapter_name}}
				</td>

				<td>
					{{chapter.board}}
				</td>

				<td>
					{{chapter.standard}}
				</td>

				<td>
					{{chapter.subject}}
				</td>

				<td><a ui-sref="chapter.edit({selectedChapterId: chapter.id})"><md-button 
						ng-hide="editingData[chapter.id]" ng-click="modify(chapter)"><md-icon md-svg-src="img/icons/edit.svg"></md-icon> <md-tooltip>Edit </md-tooltip></md-button></a>

				</td>

				
			</tr>
		</tbody>

	</table>
	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{chapters.length}} md-trigger="onpagechange"></md-data-table-pagination>

	</md-data-table-container>
</div>

