
<md-content layout-padding>
<form name="leadform">

	<div id="addField">
		Organization id={{BNo}}

		<div flex-xs flex="50">
			<md-checkbox ng-model="user.isGoogleUser" ng-true-value="true"
				ng-false-value="false"> Is Google User </md-checkbox>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>Enter
				Email id/User Name <span style="color: red;">*</span> </label> <input ng-model="user.email_id"> </md-input-container>
			<md-input-container flex ng-hide="user.isGoogleUser">
			<label>Enter Password </label> <input type="password"
				ng-model="user.password"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				Name <span style="color: red;">*</span> </label> <input ng-model="user.firstName"> </md-input-container>
			<md-input-container flex> <label>Last
				Name <span style="color: red;">*</span> </label> <input ng-model="user.lastName"> </md-input-container>
		</div>
		<b>Authority</b><br> <br>
		<div layout layout-sm="column">

			<div ng-repeat="item in items">
				<div class="action-checkbox">
					<input id="{{item}}" type="checkbox" value="{{item}}"
						ng-checked="selection.indexOf(item) > -1"
						ng-click="toggleSelection(item)" /> <label for="{{item}}"></label>
					{{item}}
				</div>

			</div>
			<br> <br>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="adduser()">Add</md-button>
		</section>
	</div>
</form>
</md-content>