

<md-content layout-padding>

<div>
	<md-data-table-container>
	<div layout-sm="column" layout-align="start start" flex>

		<md-button class="md-icon-button" aria-label="prev"
			ng-click="back()"> <md-tooltip> get back to Business list</md-tooltip> <md-icon
			md-svg-icon="img/icons/ic_reply_black_24px.svg"
			aria-label="Prev Week"></md-icon> </md-button>

	</div>
	<div>
		<section layout="row" layout-align="center center" flex>
			<b><label>{{businessName}}</label></b></section>
		<section layout="row" layout-align="end end" flex>
			<md-button class="md-raised md-primary" ui-sref="probusiness.adduser({BNo:businessNo})">Add
			New User</md-button>
		</section>
	</div>

	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="First Name" order-by="fName"></th>
				<th name="Last Name" order-by="lName"></th>
				<th name="Email" order-by="email"></th>
				<th name="Edit" order-by="Edit"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="user in userlist | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit"">
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.email_id}}</td>

				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="probusiness.userview({selecteduserNo:user.id})">View
						user</md-button>
					</section>
				</td>
			</tr>
		</tbody>
	</table>

	<md-data-table-pagination md-limit="query.limit" md-page="query.page"
		md-total={{userlist.length}} md-trigger="onpagechange"></md-data-table-pagination>
	</md-data-table-container>
</div>

<!-- vals: {{customers}}
<md-button ui-sref="customer.list" ng-click="getAllemp()" class="md-primary">
		Customer List in side List view 
	</md-button>--> </md-content>