
<md-content layout-padding>

<div ng-cloak>
<div layout="row" layout-align="end end" layout-sm="column">
						<a ui-sref="newBusinessAccount">New Business Registration</a>
</div>
	<h3 class="md-display-10">Business</h3>
	<md-content> <md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Active"> <md-content class="md-padding">

	<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>



	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
		    	<th name="Business Name" order-by="BusinessName"></th>
				<th name="Date Registered" order-by="registerDate"></th>
				<th name="Number of Users" order-by="noofuser"></th>
				
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="user in activeBusiness | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{user.businessName}}</td>
				<td>{{user.registerDate}}</td>
				<td>{{user.totalUser}}</td>
				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="proAdmin.editBusiness({businessNo:user.id,businessName:user.businessName})">Edit Business</md-button>
					</section>
	     		</td>
			</tr>
		</tbody>
	</table>
 
 <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{businesslist.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>


<div id="changeState" ng-show="selected.length == 1">

	<md-button class="md-raised md-primary" 
			ng-click="inactiveUserStatus()">Inactive
		</md-button>
		
	<md-button class="md-raised md-primary" ng-model="suspend" value="suspend"
			ng-click="suspendUserStatus()">Suspend
		</md-button>
  
</div>
		</md-content> </md-tab> 


		

	
	
	
	
	
	<md-tab label="Inactive"> <md-content class="md-padding">
	<!-- 	<h3 class="md-display-10">Day</h3> -->
	<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>

	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
		    	<th name="Business Name" order-by="BusinessName"></th>
				<th name="Date Registered" order-by="registerDate"></th>
				<th name="Number of Users" order-by="noofuser"></th>
				
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="user in inActiveBusiness | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{user.businessName}}</td>
				<td>{{user.registerDate}}</td>
				<td>{{user.totalUser}}</td>
				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="probusiness.editBusiness({businessNo:user.id,businessName:user.businessName})">Edit Business</md-button>
					</section>
	     		</td>
			</tr>
		</tbody>
	</table>
 
 <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{businesslist.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>

	
<div ng-show="selected.length == 1">
 
 	<md-button class="md-raised md-primary" 
			ng-click="activeUserStatus()">Active
		</md-button>
		
	<md-button class="md-raised md-primary" ng-model="suspend" value="suspend"
			ng-click="suspendUserStatus()">Suspend
 		</md-button>    

</div>
		
</md-content> </md-tab> 

	

	
	
	<md-tab label="Suspended"> <md-content class="md-padding">
	<!-- 	<h3 class="md-display-10">Month</h3> -->
	
		<div layout layout-sm="column">
		<md-input-container flex> <label>Search</label> <input
			ng-model="searchText"> </md-input-container>
	</div>
	

	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
		    	<th name="Business Name" order-by="BusinessName"></th>
				<th name="Date Registered" order-by="registerDate"></th>
				<th name="Number of Users" order-by="noofuser"></th>
				
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="user in suspendedBusiness | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{user.businessName}}</td>
				<td>{{user.registerDate}}</td>
				<td>{{user.totalUser}}</td>
				<td>
					<section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="probusiness.editBusiness({businessNo:user.id,businessName:user.businessName})">Edit Business</md-button>
					</section>
	     		</td>
			</tr>
		</tbody>
	</table>
 
 <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{businesslist.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>


<div ng-show="selected.length == 1">
 
  	<md-button class="md-raised md-primary" 
			ng-click="activeUserStatus()">Active
		</md-button>
		
	<md-button class="md-raised md-primary" ng-model="suspend" value="suspend"
			ng-click="inactiveUserStatus()">Inactive
		</md-button>

   </div>

	</md-content>
</md-tab>

</div></md-content>
 