<div layout="column">


	<div>

		<section layout="row">
		<span hide-xs> 
			<div class="md-toolbar-tools">
			<md-content layout="row" layout-align="center start">
			<!-- 	<md-button ui-sref="setup.user"
				ng-click="close()" class="md-primary" show-gt-md> User </md-button>

			<md-button ui-sref="setup.printheaderfooter" ng-click="close()"
				class="md-primary" show-gt-md> Print Header/Footer </md-button> -->
				<md-button ui-sref="probusiness.editBusiness.useradd({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md> Add User </md-button>
				<md-button ui-sref="probusiness.editBusiness.businesssetup({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md>Edit Business  </md-button>
				 <md-button ui-sref="probusiness.editBusiness.userlist({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md> Userlist </md-button>
 				<md-button ui-sref="probusiness.editBusiness.changeplan({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md>Change Plan</md-button>
			</md-content>
			</div>
		</span>
		<!--  <span hide-gt-xs> -->
			<div class="md-toolbar-tools">
				<span flex></span>
				<md-card>
				<section layout="row">
					<md-button class="md-icon-button" aria-label="More"
						ng-click="toggleRight()"> <md-icon
						md-svg-icon="img/icons/more_vert.svg"></md-icon> </md-button>
				</section>
				</md-card>
			</div>
		<!-- </span> -->

		<md-sidenav class="md-sidenav-right md-whiteframe-z2"
				md-component-id="right"> <md-toolbar class="md-theme-light">
					<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar> 
			<md-content layout="column"> 
			<md-button ui-sref="setup.useradd({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md> Add User </md-button>
				<md-button ui-sref="setup.businesssetup({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md>Edit Business  </md-button>
				 <md-button ui-sref="setup.userlist({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md> Userlist </md-button>
 				<md-button ui-sref="setup.changeplan({businessNo:businessNo})"
				ng-click="close()" class="md-primary" show-gt-md>Change Plan</md-button>
			</md-content> 
		</md-sidenav>
		</section>

	</div>




	<div ui-view></div>
</div>
