
<md-content layout-padding>
<form name="leadform">

<div layout-sm="column" layout-align="start start" flex>

		<md-button class="md-icon-button" aria-label="prev"
			ng-click="back()"> <md-tooltip> get back to user list</md-tooltip> <md-icon
			md-svg-icon="img/icons/ic_reply_black_24px.svg"
			aria-label="Prev Week"></md-icon> </md-button>

	</div>
<div>
		<section layout="row" layout-align="center center" flex>
			<b><label>User Information</label></b></section><br><br>
			</div>

	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>User Id
			</label> <input ng-model="userL.id" disabled> </md-input-container>

			<md-input-container flex> <label>Enter
				Email id </label> <input ng-model="userL.email_id" disabled> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				Name </label> <input ng-model="userL.firstName"> </md-input-container>
			<md-input-container flex> <label>Last
				Name </label> <input ng-model="userL.lastName"> </md-input-container>
		</div>


		<div layout layout-sm="column" layout-align="end end">
			<a href='' ng-click='ShowHide()'>Change Password +/-</a><br>
			<br>
		</div>
		<div layout layout-sm="column" ng-hide="IsHidden">
			<md-input-container flex> <label
				style="color: blue">Enter New Password </label> <input
				type="password" style="color: red" ng-model="userL.password"></md-input-container>
		</div>
		<b>Authority given==={{userL.authority}}</b><br> <br>
		<div layout layout-sm="column">

			<div ng-repeat="item in items">
				<div class="action-checkbox">
			
					<input id="{{item}}" type="checkbox" value="{{item}}"
						ng-checked="selection.indexOf(item) > -1"
						ng-click="toggleSelection(item)" /> <label for="{{item}}"></label>
					{{item}}
					
				</div>

			</div>
			<br> <br>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="updateuser()">Update</md-button>

		</section>
	</div>
</form>
</md-content>