
<md-content layout-padding>
<h3>
	<u>Customer Add</u>
</h3>
<form name="custForm" data-ng-submit="addCustomer()">

	<div layout layout-sm="column">
		<md-input-container flex> <label>Person
			Name <span style="color: red;">*</span></label> <input name="name" ng-model="cust.customerName"
			ng-required="true">
		<div ng-messages="custForm.name.$error"
			ng-if="custForm.name.$submitted || custForm.name.$touched">
			<div ng-message="required">Please Enter Customer Name</div>
		</div>

		</md-input-container>
	</div>

	<div layout layout-sm="column">

		<md-input-container flex> <label>Mobile <span style="color: red;">*</span></label>
		<input name="mobile" ng-model="cust.mobile" ng-required="true">
		<div ng-messages="custForm.mobile.$error"
			ng-if="custForm.mobile.$submitted || custForm.mobile.$touched">
			<div ng-message="required">Please Enter Mobile Number.</div>
		</div>

		</md-input-container>
	</div>

	<div layout layout-sm="column">
		<md-input-container flex> <label>Email <span style="color: red;">*</span></label> <input
			type="email" name="email" ng-model="cust.email" ng-required="true" ng-pattern="/^.+@.+\..+$/">
		<div ng-messages="custForm.email.$error"
			ng-if="custForm.email.$submitted || custForm.email.$touched">
			<div ng-message="required">Please Enter Email id.</div>
		</div>
		</md-input-container>
	</div>


	<div layout layout-sm="column">
		<md-input-container flex> <label>Address <span style="color: red;">*</span>
		</label> <textarea name="address" ng-model="cust.address" ng-required="true"></textarea>
		<div ng-messages="custForm.address.$error"
			ng-if="custForm.address.$submitted || custForm.address.$touched">
			<div ng-message="required">Please Enter Address</div>
		</div>
		</md-input-container>
	</div>

	<section layout="row" layout-sm="column" layout-align="left left">
		<md-button ng-disabled="custForm.$invalid"
			class="md-raised md-primary" type="submit">Add</md-button>
	</section>

[<span style="color: red;">Field Marked as asterik (*) are mandetory</span>]
	<div></div>
</form>

<h3>File Upload:</h3>
Select a file to upload: <br />
<form action="FileUploadServlet" method="post"
	enctype="multipart/form-data">
	<input type="file" name="file" size="50" /> <br /> <input
		type="submit" value="Upload File" />
</form>
</md-content>

<form action="UploadDownloadFileServlet" method="post"
	enctype="multipart/form-data">

	Select File to Upload:<input type="file" name="fileName"> <br>

	<input type="submit" value="Upload">

</form>

