
<md-content layout-padding>
<h3>
	<u>Customer List</u>
</h3>
<!-- <div>
	<section layout="row" layout-align="end end" flex>
		<md-button class="md-raised md-primary" ng-click="back()">ADD
		NEW</md-button>
	</section>
</div>
 -->
<div layout layout-sm="column">
	<md-input-container flex> <label>Search</label> <input
		ng-model="searchText"> </md-input-container>
</div>

<div>
	<md-data-table-container>
	<table md-data-table md-row-select="selected" md-progress="deferred">
		<thead md-order="query.order" md-trigger="onOrderChange">
			<tr>
				<th name="Customer Name" order-by="firstName"></th>
				<th name="Mobile" order-by="mobile"></th>
				<th name="Email" order-by="email"></th>
				<th name="Address" order-by="customerAddress"></th>
				<th name="Action"></th>
			</tr>
		</thead>

		<tbody>
			<tr md-auto-select
				ng-repeat="customer in customers | orderBy: query.order | filter: searchText | limitTo: query.limit: (query.page - 1) * query.limit">
				<td>{{customer.firstName}}</td>
				<td>{{customer.mobile}}</td>
				<td>{{customer.email}}</td>
				<td>{{customer.address}}</td>
				<td><section layout="row" layout-sm="column">
						<md-button class="md-raised md-primary"
							ui-sref="customer.edit({selectedCustomerId: customer.id})">
						Edit</md-button>
					</section></td>
				<td>
			</tr>
		</tbody>
	</table>
	<!-- 		<md-data-table-toolbar class="alternate" ng-show="selected.length">
			<div>
				{{selected.length}} {{selected.length > 1 ? 'stockData' : 'stock'}} selected
			</div>
			<div>
				{{selected}}
			</div>
		</md-data-table-toolbar>
 --> <md-data-table-pagination md-limit="query.limit"
		md-page="query.page" md-total={{customers.length}}
		md-trigger="onpagechange"></md-data-table-pagination> </md-data-table-container>
</div>

<div layout="row" layout-xs="column">

	<md-button id="invoiceBtn" class="md-raised md-primary" type="submit" ng-click="userInvoices">Invoice</md-button>

	<md-button id="pOBtn" class="md-raised md-primary" type="submit" ng-click="userPO">Purchase
	Orders</md-button>

	<md-button id="sOBtn" class="md-raised md-primary" type="submit" ng-click="userSO">Sales
	Order</md-button>

</div>
</md-content>