	<md-content layout-padding>
	<form name="userForm">
		
		<div id="addField">
			<div layout layout-sm="column">
				<!-- 				<md-input-container flex> <label>Customer
					ID </label> <input ng-model="cust.cust_id"> </md-input-container>
 -->
				<md-input-container flex> <label>Customer
					Name </label> <input ng-model="cust.cust_Name"> </md-input-container>
			</div>
			<div layout layout-sm="column">
				<md-input-container flex> <label>Mobile
					No. </label> <input ng-model="cust.mobile"> </md-input-container>

				<md-input-container flex> <label> Email</label>
				<input ng-model="cust.email"> </md-input-container>
			</div>
			<div>
				<md-input-container flex> <label>Address
				</label> <textarea ng-model="cust.address" rows="4" cols="1"></textarea></md-input-container>
			</div>
			<!-- <div layout layout-sm="column">
				<md-input-container flex> <label>City</label> <input
					ng-model="cust.address.city"> </md-input-container>
				<md-input-container flex> <label>State</label>
				<input ng-model="cust.address.state"> </md-input-container>
				<md-input-container flex> <label>Postal
					Code</label> <input ng-model="cust.address.pin"> </md-input-container>
			</div> -->
			<section layout="row" layout-sm="column" layout-align="left left">
				<md-button class="md-raised md-primary" ng-click="addCustomer()">Add</md-button>
<!-- 				<md-button class="md-raised md-primary" ng-click="loadCustList()">Get
				List</md-button> -->
			</section>
		</div>
	</form>
	</md-content>