
<md-content layout-padding> class="md-icon-float md-block">
<div id="addField">
	<div layout layout-sm="column">
		<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
		<md-input-container flex> <label>Internet
		</label> <input ng-model="internet.internetName"
			placeholder="Internet Name (required)" ng-required="true"> </md-input-container>
	</div>
	<div layout layout-sm="column">
		<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
		<md-input-container flex> <label>Plan </label> <input
			ng-model="internet.plan" placeholder="Plan (required)"
			ng-required="true"> </md-input-container>
	</div>
	<div layout layout-sm="column">
		<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
		<md-input-container flex> <label> Cost</label> <input
			ng-model="internet.cost" placeholder="Cost (required)"
			ng-required="true"> </md-input-container>
	</div>
	<div>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="addInternet()">Add</md-button>
		</section>
	</div>

	<div layout layout-sm="column">
		<md-input-container flex> <label>Search </label>
		<input ng-model="textForSearch"> </md-input-container>
		
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="searchRecord(textForSearch)">Search by Plan</md-button>
		</section>
	</div>
	<div>	
		<md-input-container flex> <label>Search </label>
		<input ng-model="cost"> </md-input-container>
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="searchByCost(cost)">Search by Cost<md-button>
		</section>
	</div>
</md-content>
