<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Demo Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/xeditable.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/font-awesome.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/jquery.dataTables.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/datatables.bootstrap.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/angular-datatables-main.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.tableTools.css">
<link rel="stylesheet"
	href="/lib/datatables-responsive/css/dataTables.responsive.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
	
<script src="/lib/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="/lib/datatables-responsive/js/xeditable.js"></script>
<script src="/lib/datatables-responsive/js/jquery.dataTables.js"></script>
<script src="/lib/datatables-responsive/js/angular-datatables.js"></script>
<link rel="stylesheet" href="css/customer.css">
<script src="js/customer111.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
</head>

<body ng-app="myapp" ng-controller="editableController">
	<div id="header"></div>
	<div class="container">
		<h3>Demo of Angular Editable Components and Data Table</h3>
		<p>Welcome to Protostar!</p>


		<div>
			<div ng-controller="AngularWayChangeDataCtrl as showCase">
				<form class="form-inline" ng-submit="showCase.addPerson()">
					<table datatable="ng" dt-options="showCase.dtOptions"
						dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
						<thead>
							<tr>
								<th>
									<div class="form-group">
										<label> <input class="form-control" type="number"
											name="id" ng-model="showCase.person2Add.id" value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="firstName" ng-model="showCase.person2Add.firstName"
											value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<label> <input type="text" class="form-control"
											name="lastName" ng-model="showCase.person2Add.lastName"
											value="">
										</label>
									</div>
								</th>
								<th>
									<div class="form-group">
										<button type="submit" class="btn btn-success">
											<i class="fa fa-plus"></i>
										</button>
									</div>
								</th>
							</tr>
							<tr>
								<th>ID</th>
								<th>FirstName</th>
								<th>LastName</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="person in showCase.persons">
								<td>{{ person.id }}</td>
								<td>{{ person.firstName }}</td>
								<td>{{ person.lastName }}</td>
								<td>
									<button type="button" ng-click="showCase.modifyPerson($index)"
										class="btn btn-warning">
										<i class="fa fa-edit"></i>
									</button>
									<button type="button" ng-click="showCase.removePerson($index)"
										class="btn btn-danger">
										<i class="fa fa-trash-o"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<!-- end outer div. i am at the end -->
		</div>

	</div>


	<script>
		$(function() {
			$("#header").load("/header.html");
			$("#footer").load("/footer.html");
		});
	</script>

	<!--Remaining section-->
	<div id="footer"></div>
</body>
</html>