<html lang="en" ng-app="customerApp" ng-controller="customerCtr">
<head>
<link rel="stylesheet" href="/lib/base/angular-material.min.css">
<link rel="stylesheet" href="/lib/base/googleapi.roboto.css">
<link rel="stylesheet" href="css/customer.css">
<meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column">


	<div layout="column">

		<md-content layout-padding>
		<form name="userForm">

			<div layout layout-sm="column">
				<md-input-container flex> <label>First
					name</label> <input ng-model="cust.firstName"> </md-input-container>
				<md-input-container flex> <label>Last
					Name</label> <input ng-model="cust.lastName"> </md-input-container>
				<md-input-container flex> <label>
					Mobile No</label> <input ng-model="cust.mobileNo"> </md-input-container>
				<md-input-container flex> <label> Email</label>
				<input ng-model="cust.email"> </md-input-container>
			</div>
			<div layout layout-sm="column">
				<md-input-container flex> <label>Address
					Line1</label> <input ng-model="cust.address.line1"> </md-input-container>
				<md-input-container md-no-float> <input
					ng-model="cust.address.line2" placeholder="Address Line2">
				</md-input-container>
			</div>
			<div layout layout-sm="column">
				<md-input-container flex> <label>City</label> <input
					ng-model="cust.address.city"> </md-input-container>
				<md-input-container flex> <label>State</label>
				<input ng-model="cust.address.state"> </md-input-container>
				<md-input-container flex> <label>Postal
					Code</label> <input ng-model="cust.address.pin"> </md-input-container>
			</div>

		</form>


		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised">Cancel</md-button>
			<md-button class="md-raised md-primary" ng-click="addCustomer()">Submit</md-button>
			<md-button class="md-raised md-primary" ng-click="loadCustomerList()">Get
			List Temp</md-button>
		</section>

		</md-content>


	</div>


	<!-- Angular Material Dependencies -->
	<script src="/lib/base/angular.min.js"></script>
	<script src="/lib/base/angular-animate.min.js"></script>
	<script src="/lib/base/angular-route.min.js"></script>
	<script src="/lib/base/angular-aria.min.js"></script>
	<script src="/lib/base/angular-messages.min.js"></script>
	<script src="/lib/base/angular-material.min.js"></script>
	<script src="js/customer.ctr.js"></script>
	<script src="/lib/base/googleapi.client.js" ></script>
	<script>
	/* Init google endpoint API */
		window.onload = function() {
		  init(); 
		};
	</script>


</body>
</html>