
<md-content layout-padding>
<h3>
	<u>Add Tax</u>
</h3>
<form name="userForm">
	<div id="addField">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Code Name
			</label> <input ng-model="tax.taxCodeName"> </md-input-container>
			<md-input-container flex> <label>Tax Rate
				 </label> <input ng-model="tax.taxPercenatge"> </md-input-container>
		</div>
		
		<section layout="row" layout-sm="column" layout-align="left left">
			<md-button class="md-raised md-primary" ng-click="addTax()">Submit</md-button>
			<md-button class="md-raised md-primary"
				ng-click="">Cancel</md-button>
		</section>
	</div>
</form>
</md-content>