
<md-content layout-padding>
<h3>
	<u>Add Tax</u>
</h3>
<form name="taxForm">
	<div>
		<div layout="row" layout-xs="column">
			<md-input-container flex> <label>Code
				Name <span style="color: red;">*</span>
			</label> <input name="taxName" ng-model="tax.taxCodeName"
				ng-pattern="/^[a-zA-Z]*$/" ng-required="true">
			<div ng-messages="taxForm.taxName.$error"
				ng-if="taxForm.taxName.$submitted || taxForm.taxName.$touched">
				<div ng-message="required">Please Enter Tax Name(Example.:LBT)</div>

				<span class="help-block"
					ng-show="((taxForm.taxName.$error.pattern) &&  taxForm.taxName.$dirty) ">Tax
					Name should be text only.(Example.:abc)</span>
			</div>
			</md-input-container>
			<md-input-container flex> <label>Tax
				Rate <span style="color: red;">*</span>
			</label> <input type="number" name="taxPercenatge"
				ng-model="tax.taxPercenatge" ng-maxlength="2" ng-required="true">
			<div ng-messages="taxForm.taxPercenatge.$error"
				ng-if="taxForm.taxPercenatge.$submitted || taxForm.taxPercenatge.$touched">
				<div ng-message="required">Please Enter Tax in
					Percentage(Example.:12)</div>


				<span class="help-block"
					ng-show="((taxForm.taxPercenatge.$error.minlength || taxForm.taxPercenatge.$error.maxlength) && taxForm.taxPercenatge.$dirty) ">Tax
					Percenatge should be 2 digits only(Example.:01)</span>
			</div>
			</md-input-container>
		</div>

		
			<section layout="row" layout-sm="column" layout-align="left left">
				<md-button class="md-raised md-primary"
					ng-disabled="taxForm.$invalid" ng-click="addTax()">Submit</md-button>
			</section>
		</div>
</form>
</md-content>